{%- case displayAccountStyle -%}
  {%- when 'sidebar' -%}
	<div class="account-wrapper">
      {% if customer  %}
      	<a class="account-trigger cdz-top-link" data-role="cdz-sidebar-trigger" data-sidebar="utilies-account">
            <span class="text-underlink">{{ customer.first_name }}</span>
            <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
        </a>      
      {% else %}
          <a class="account-trigger cdz-top-link" data-role="cdz-sidebar-trigger" data-sidebar="utilies-account">
            <span class="text-underlink">{{ 'general.header.title_top_account' | t }}</span>
            <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
          </a>
      {% endif %}
          <div data-role="utilies-section" class="utilies-section utilies-account" id="utilies-account" data-cdzwidget='{"codazon.sideBar" : {"side" : "right", "section" : "account"}}'>
            {% include 'login-form'%}
          </div>
    </div>
  {%- when 'dropdown' -%}
	<div class="account-wrapper">
      <div class="cdz-dropdown"  data-role="cdz-dropdown"  data-cdzwidget='{"codazon.dropDown" : {"show" : "no", "section":"header-account-dropdown"}}'>
          {% if customer  %}
          <a class="account-trigger cdz-top-link" data-role="cdz-dd-trigger">
              <span class="text-underlink">{{ customer.first_name }}</span>
              <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
          </a>      
        {% else %}
            <a class="account-trigger cdz-top-link" data-role="cdz-dd-trigger">
              <span class="text-underlink">{{ 'general.header.title_top_account' | t }}</span>
              <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
            </a>
        {% endif %}	
          <div class="cdz-dd-content" data-role="cdz-dd-content" >
              {% include 'login-form'%}
          </div>
      </div>
   </div>
  {%- when 'popup' -%}
	<div class="account-wrapper">
      {% if customer  %}
      	<a class="account-trigger cdz-top-link" data-role="cdz-popup-trigger" data-popup="popup-account">
            <span class="text-underlink">{{ customer.first_name }}</span>
            <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
        </a>      
      {% else %}
          <a class="account-trigger cdz-top-link" data-role="cdz-popup-trigger" data-popup="popup-account">
            <span class="text-underlink">{{ 'general.header.title_top_account' | t }}</span>
            <span class="text-uppercase">{{ 'general.header.title_bottom_account' | t }}</span>
          </a>
      {% endif %}
      <div data-role="cdz-popup-section" class="cdz-popup popup-account" id="popup-account"  data-cdzwidget='{"codazon.cdzPopUp" : {"overrideOthers" : "false", "section" : "account"}}'>
        {% include 'login-form'%}
      </div>
    </div>
{%- endcase -%}