<div class="item post-item mb-1">
	<div class="post-top">
		<a href="{{article.url}}">
			<amp-img src="{% comment ls-rpl %}{{ article.image | img_url: amp_blog_thumbnail_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: article.image, img_url: amp_blog_thumbnail_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" 
				width="{{ amp_blog_thumbnail_width }}"
				height="{{ amp_blog_thumbnail_height }}"
				layout="responsive">
				<noscript>
				  <img src="{% comment ls-rpl %}{{ article.image | img_url: amp_blog_thumbnail_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: article.image, img_url: amp_blog_thumbnail_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{{ shop.name | escape }}">
				</noscript>	
			</amp-img>
		</a>
	</div>
	<div class="post-bottom cdz-box" style="border-radius:0 0 5px 5px">
		{%-  if amp_blog_cate -%}
		<div class="post-category mb-1">
			<a class="post-category-link" href="{{blogs[amp_blog_cate_blogs].url}}">{{amp_blog_cate_blogs}}</a>
		</div>
		{%-  endif -%}
		<div class="post-title mb-1">
			<a href="{{article.url}}" class="post-item-link h4" title="{{article.title}}">{{ article.title }}</a>
		</div>
		{%-  if amp_blog_author -%}
		<div class="post-author text-uppercase mb-1">
			{{ article.author }}
		</div>
		{%-  endif -%}
		{%-  if amp_blog_enable_short_description -%}
			<div class="clearfix post-desc mb-1">
			  {{ article.excerpt | strip_html | truncate: amp_blog_short_description_length  }}
			</div>	
		{%-  endif -%}
		<div class="post-footer d-flex justify-content-between">
			{%-  if amp_blog_readmore -%}
				<a class="more-link" href="{{article.url}}">{{ 'blogs.article.read_more' | t }}</a>
			{%-  endif -%}
			{%-  if amp_blog_date -%}
				<div class="post-date">
					<time datetime="{{ article.published_at | date: amp_blog_date_format }}">{{ article.published_at | date: amp_blog_date_format }}</time>
				</div>
			{%-  endif -%}
		</div>
	</div>
</div>