<div class="toolbar d-flex align-self-center mb-4 p-2">
  {% unless collection.all_tags.size == 0 %}
  <div class="filters-toolbar__item-child">
	{% include 'amp-collection-filter' %}
	<button class="filter-toogle" on="tap:sidebar-filter-amp.toggle"><i aria-hidden="true" class="d-inline-block mr-1">{% include 'icon-filter' %}</i>{{ 'collections.general.filter' | t }}</button>
	</div>
  {% endunless %}
  <div class="col filters-toolbar__item-child">
    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
    <label class="second_color select-label d-inline" for="SortBy">{{ 'collections.sorting.title' | t }}</label>
    {% if current_tags %}
    {% assign tagUrl = current_tags | handleize %}
    {% assign tagUrl = tagUrl | prepend: '/' %}
    {% else %}
    {% assign tagUrl = '' %}
    {% endif %}
    {% if collection.handle %}
    {% capture collection_url %}/collections/{{ collection.handle }}{% endcapture %}
    {% comment %}Good for automatic type collections{% endcomment %}
    {% elsif collection.current_type %}
    {% assign collection_url = collection.current_type | url_for_type | sort_by: collection.sort_by  %}
    {% comment %}Good for automatic vendor collections{% endcomment %}
    {% elsif collection.current_vendor %}
    {% assign collection_url = collection.current_vendor | url_for_vendor %}
    {% endif %}
    <div class="filters-toolbar__input-wrapper select-group d-inline">
      <select name="sort_by" id="SortBy"
              class="filters-toolbar__input p-1" on="change:AMP.navigateTo(url=event.value)">
        {%- for option in collection.sort_options -%}
        <option {% if collection.handle %}value="{{ collection_url }}{{ tagUrl | append: "?view=amp-collection&sort_by=" | append:  option.value }}"{% elsif collection.current_vendor %}value="{{ collection_url | append: "?view=amp-collection&sort_by=" | append:  option.value  }}" value="{{ option.value }}"{% endif %}{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  <span class="ml-auto second_color font-weight-bold align-self-center filters-toolbar__product-count">{{ 'collections.general.amp_product' | t: count: collection.products_count }}</span>
</div>