<amp-sidebar id="sidebar-filter-amp" class="ampstart-sidebar collection-filter" layout="nodisplay" side="left">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" on="tap:sidebar-filter-amp.close" tabindex="0" class="ampstart-filter-trigger items-start p-3">
		<i aria-hidden="true">{% include 'icon-close' %}</i>
	</div>
  </div>
  <ul class="px-3 list-unstyled">
	<h2 class="px-3">{{ filter_title }}</h2>
	{%- if section.blocks.size > 0 -%}
	<li class="block-content sidebar-content pl-3">
		{%- if current_tags -%}
			<div class="filter-current mb-3">
				<span class="block-subtitle d-block text-uppercase h4 mb-1">{{ "collections.filters.current_shopby" | t }}</span>
				<div class="filter-current-content mb-2" style="background: #f0f0f0;">
                  {% for tag in collection.all_tags %}
					{% for curtag in current_tags %}				
					   {% if curtag == tag %}
							{%- assign tagNameCur = tag | append: '<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"/></svg>' -%}
						   <p class="item p-2 mb-0">{{ tagNameCur | link_to_remove_tag: tag }}</p>
					   {% endif %}
					{% endfor %}
				  {% endfor %}
				</div>
				<div class="block-actions filter-actions">
				  <a class="btn-primary filter-clear btn" href="{% if collection.handle == 'all' %}/collections/all?view=amp-collection{% elsif  collection.current_vendor %}{{ collection.current_vendor | url_for_vendor | append: '?view=amp-collection' }}{% else%}{{ collection.url | append: '?view=amp-collection' }}{% endif %}">{{ 'collections.general.clear_all' | t }}</a>
				</div>
			</div>          
		{%- endif -%}
		<amp-accordion id="amp-filter-sidebar" layout="container" disable-session-states="" class="ampstart-dropdown filter-sidebar-dropdown" animate>
		{%- for block in section.blocks -%}
			{% assign filter_group_tag = block.settings.filter_group_tag | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
			{%-assign filter_display_type = block.settings.filter_display_type -%}
			{%-assign listColor = settings.swatch_option_color | downcase | replace: ' ', ''| split: ',' -%}
			{%- if filter_group_tag.size > 0 -%}
				{%- assign filter_group_title = block.settings.filter_group_title -%}
				{% assign filter_multi_select = block.settings.filter_multi_select %}    
				{% assign value_tag = "" %}
				{%- for ta in filter_group_tag -%}
					{%- assign tagD = ta | strip -%}
					{% for tagA in collection.all_tags %}
						{%- if tagA == ta -%}
						  {% assign value_tag = value_tag | append: "," | append:  ta | append: "," %}
						  {% assign value_tag = value_tag | split: ',' | uniq | join: ',' %}
						{%- endif -%}
					{% endfor %}
					
				{%- endfor -%}
				{% assign value_arr = value_tag  | replace_first: ',', ''  | split: ',' | uniq | join: ',' %}
				{% if value_arr != '' %}
					{% assign value_arr = value_arr | split: ',' %}
					{%- capture tag_list -%}
					{%- for t in value_arr -%}  
						{%- assign tagValueD = t | strip | downcase -%}
						{%- assign currentTag = current_tags | downcase | handleize -%}	
						{%- assign tag = t | handleize %}										
						{%- assign tagName = t | strip | capitalize -%}
						{%- if filter_display_type == 'color' -%}
							{%- for colors in listColor -%}
							  {%-assign color = colors | split: ':' -%}
							  {%-assign tagRS = tagValueD | replace: ' ', '' -%}
							  {%-assign colorName = color[0] | replace: ' ', '' -%}
							  {%- if colorName == tagRS -%}
								{%- if color[1] contains "url" -%}
									{%- capture cdzColorOption -%}style = 'background-image: {{color[1]}}'{%- endcapture -%}
								 {%- else -%}
									{%- capture cdzColorOption -%}style = 'background-color: {{color[1]}}'{%- endcapture -%}
								 {%- endif -%}
								 {%- break -%}
							  {%- endif -%}
							{%- endfor -%}
						{%- endif -%}
						{%- if current_tags contains t -%}
							<li class="item active {% if filter_display_type == 'color' %}item-color{% endif %}" {% if filter_display_type == 'color' %}{{cdzColorOption}}{% endif %}>{{ t | link_to_remove_tag: t }}</li>
						{%- else -%}
								<li class="item {% if filter_display_type == 'color' %}item-color{% endif %}" {% if filter_display_type == 'color' %}{{cdzColorOption}}{% endif %}>
								{%- if filter_multi_select -%}
									{{ t | link_to_add_tag: t }}
								{%- else -%}
									{{ t | link_to_tag: t }}
								{%- endif -%}
								</li>
						{%- endif -%}
					{%- endfor -%}
					{%- endcapture -%}
					<section {% if forloop.first == true %} expanded {% endif %}>
						<h4 class="filter-options-title text-uppercase py-2">{{ filter_group_title }}<span class="btn-toogle-nav">{% include 'icon-down' %}</span></h4>
						<div class="filter-options-content my-2">							
						<ul class="{% unless filter_display_type == 'color' %}px-4{% endunless %}">		
							{{ tag_list }}
						</ul>
						</div>
					</section>	
				{% endif %}
			{%- endif %}
		{%- endfor -%}
		</amp-accordion>
	</li>
	{%- endif -%}
  </ul>
</amp-sidebar>