{%- comment %}<locksmith:6e08>{% endcomment -%}
  {%- assign locksmith_3e34_product__available = false %}{% assign locksmith_3e34_product__first_available_variant = nil %}{% assign locksmith_3e34_product__selected_variant = nil %}{% assign locksmith_3e34_product__selected_or_first_available_variant = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_3e34_product__available == false and variant.available %}{% assign locksmith_3e34_product__available = true %}{% endif %}{% if locksmith_3e34_product__first_available_variant == nil and variant.available %}{% assign locksmith_3e34_product__first_available_variant = variant %}{% endif %}{% if locksmith_3e34_product__selected_variant == nil and variant.selected %}{% assign locksmith_3e34_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_3e34_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% endfor %}{% if locksmith_3e34_product__selected_or_first_available_variant == nil %}{% assign locksmith_3e34_product__selected_or_first_available_variant = locksmith_3e34_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:6e08>{% endcomment -%}

{%- assign current_variant = locksmith_3e34_product__selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}
<div class="container">
  <div class="col-12">
      <div class="section-header section-header--breadcrumb mt-4 mb-4">
      {% include 'breadcrumb' %}
     </div>
  </div>
</div>
<div class="container">
  <div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  <div class="product-single mb-4 p-3 p-sm-4" style="box-shadow:0 1px 3px #e1e1e1; border-radius: 5px; background-color: #fff">  
    <div class="row">
      <div class="col-12">
        <script id="addCartProduct" type="text/plain" target="amp-script">
          const btn = document.getElementById('addToCartProduct');
          btn.addEventListener('click', () => {
            const quantity = document.getElementById('quantity').value;
            const url = btn.getAttribute('data-url');
            const data = btn.value.split('/');
            var addData = {
                    'id': data[1], 
                    'quantity': data[0]
                    };
                fetch(url + '/cart/add.js', {
                body: JSON.stringify(addData),
                credentials: 'same-origin',
                  headers: {
                  'Content-Type': 'application/json',
                    'X-Requested-With':'xmlhttprequest' 
                  },
                  method: 'POST'
                }).then(function(response) {
                return response.json();
                }).then(function(json) {
                  if ( json.status == '422' || json.status == 'bad_request' ){
                    var para = document.createElement("span");
                    var node = document.createTextNode('Oops! '+ json.description);
                    para.appendChild(node);
                    var element = document.getElementById("alertAMPCart");
                    var container = document.getElementById("popUpCart");
                    element.classList.add("error_color");
                    element.appendChild(para);
                    container.classList.add("active");
                  } else {
                    var mess_success = {{ 'cart.general.mess_success' | t | json }};
                    var para = document.createElement("span");
                    var node = document.createTextNode(json.title + ' ' + mess_success);
                    para.appendChild(node);
                    var element = document.getElementById("alertAMPCart");
                    var container = document.getElementById("popUpCart");
                    element.appendChild(para);
                    container.classList.add("active");
                    /*update item count on header*/
                      fetch(url + '/cart.json', {
                      credentials: 'same-origin',
                      headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With':'xmlhttprequest'
                      },
                      method: 'POST'
                      }).then(function(response) {
                      return response.json();
                      }).then(function(json) {
                      AMP.setState({
                        totalItems: {
                        item_count: json.item_count
                        }
                      });
                      }).catch(function(err) {
                      /* uh oh, we have error. */
                      console.error(err)
                      });
                  }
                }).catch(function(err) {
                  console.error(err)
                });
          });
          const btnClose = document.getElementById('ampBtnClose');
          btnClose.addEventListener('click', () => {
            var container = document.getElementById("popUpCart");
            document.getElementById("alertAMPCart").innerHTML = '';
            container.classList.remove("active");
          });
          const btnContinue = document.getElementById('ampBtnContinue');
          btnContinue.addEventListener('click', () => {
            var container = document.getElementById("popUpCart");
            document.getElementById("alertAMPCart").innerHTML = '';
            container.classList.remove("active");
          });
        </script> 
        <amp-script layout="container" script="addCartProduct">
        <div id="popUpCart" class="popup-cart popup-topdown p-3 text-center">
          <div class="popup-content">
            <p class="d-flex mb-2"><a class="ml-auto position-relative" aria-hidden="true" role="button" tabindex="0" id="ampBtnClose"><span class="mask-close" style="position:absolute; width:100%;height:100%;z-index:1;"></span>{% include 'icon-close' %}</a></p>
            <h4 id="alertAMPCart" class="second_color messageCart">
            </h4>
            <div class="d-flex justify-content-center">
              <a class="btn btn-secondary mx-2" href="/cart">{{ 'general.header.title_cart' | t }}</a>
              <button id="ampBtnContinue" data-close-popupamp class="btn btn-primary mx-2" role="button" tabindex="0">{{ 'cart.general.continue_shopping' | t }}</button>
            </div>
          </div>
        </div>
        <div class="product-main pb-3">
        {%- assign featured_media = locksmith_3e34_product__selected_or_first_available_variant.featured_media | default: product.featured_media -%}
        {% if product.media.size > 1 %}
          <amp-carousel id="carousel" lightbox
            width="687"
            height="687"
            layout="responsive"
            type="slides"
            {% if product.options_with_values.size > 0 and current_variant.featured_image.position != null %}
              {% unless option.name == 'Title' %}
                slide="{{current_variant.featured_image.position | minus: 1}}"
                [slide]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].position"
              {% endunless %}
            {% endif %}
            on="slideChange:
                    carouselSelector.toggle(index=event.index, value=true),
                    carouselPreview.goToSlide(index=event.index)
            ">
            {%- for media in product.media -%}
              <amp-img
                     src="{% comment ls-rpl %}{{media | img_url: '687x687'}}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: media, img_url: '687x687' -%}{%- endcapture -%}{{LS_IMG_URL}}{% comment /ls-rpl %}{% endcomment %}"
                     width="687"
                     height="687" layout="responsive"
                      alt="a sample image" ></amp-img>
            {%- endfor -%}
          </amp-carousel>
          <amp-selector id="carouselSelector"
            on="select:carousel.goToSlide(index=event.targetOption)"
            layout="container" class="pt-3">
            <amp-carousel id="carouselPreview"
              class="carousel-preview"
              height="93"
              layout="fixed-height"
              type="carousel">
              {%- for media in product.media -%}
                <amp-img option="{{forloop.index0}}"
                src="{% comment ls-rpl %}{{media | img_url: '90x90'}}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: media, img_url: '90x90' -%}{%- endcapture -%}{{LS_IMG_URL}}{% comment /ls-rpl %}{% endcomment %}"
                width="90"
                height="90"
                alt="a sample image"
                {% if product.options_with_values.size > 0 and current_variant.featured_image.position != null %}
                {% if option.name != 'Title' %}
                    {% if current_variant.featured_image.position == forloop.index %}selected{% endif %}
                  {% else %}
                    {% if forloop.first %}selected{% endif %}
                {% endif %}
                {% else %}
                  {% if forloop.first %}selected{% endif %}
                {% endif %}
                ></amp-img>
              {%- endfor -%}
            </amp-carousel>
          </amp-selector>

        {%- endif -%}
      </div>
      <div class="col-sm-6 product-info-main">
        <h1 class="page-title h2 second_color">{{product.title}}</h1>
        <div class="product-vender second_color h6">
          <span itemprop="brand">{{ product.vendor }}</span>
        </div>
        <div class="product-info-stock-sku mb-3">
          <div class="product-sku"><strong class="second_color"><ls-static-445191>SKU:</ls-static-445191> </strong><span {% if product.options_with_values.size > 0 %}[text]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].sku == null ? 'unavailable' : variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].sku"{% endif %}>{{current_variant.sku}}</span></div>
          <div class="product-stock">
            <span class="{% if locksmith_3e34_product__available %}available{% else %}out-of-stock{% endif %}">{% if locksmith_3e34_product__available %}{{ 'products.product.product_stock' | t }}{% else %}{{ 'products.product.product_outofstock' | t }}{% endif %}</span>
          </div>
        </div>
        <div class="product-price pb-3">
          <div class="regular-price mr-3">
            <label class="visually-hidden"><ls-static-31290>Regular price:</ls-static-31290></label>
            <span class="third_color h1" [text]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].price == null ? 'unavailable' : variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].price">{{ current_variant.price | money }}</span>
          </div>
          <div class="{% if current_variant.compare_at_price == null %}visually-hidden{% else %}sale-price{% endif %}" [class]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].compareAtPriceRaw == null ? 'visually-hidden' : (variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].priceRaw > variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].compareAtPriceRaw ? 'visually-hidden' : 'sale-price')">
            <label class="visually-hidden"><ls-static-358910>Sale Price:</ls-static-358910></label>
            <span class="third_color h2" [text]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].compareAtPrice == null ? 'unavailable' : variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].compareAtPrice">{{ current_variant.compare_at_price | money }}</span>
          </div>
        </div>
    
          {%-assign listType = settings.swatch_option_type | downcase | replace: ' ', ''| split: ',' -%}
          {%-assign listColor = settings.swatch_option_color | downcase | replace: ' ', ''| split: ',' -%}
           {%- for option in product.options_with_values -%}
            {%- unless option.name == 'Title' -%}
              <div class="label-header"><label class="mb-3 second_color" for="{{ option.name }}">{{ option.name }}: </label><span [text]='opt{{forloop.index}}.selectedOpt'>{% for value in option.values %}{%- comment %}<locksmith:d8fa>{% endcomment -%}{%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}{%- comment %}</locksmith:d8fa>{% endcomment -%}{% if option.selected_value == value %} {{value}}{% endif %}{% endfor %}</span>
              </div>
              <amp-selector class="mb-4 pt-1"
                layout="container"
                [selected]="product.options_with_values.selected_value"
                on="select:AMP.setState({
                            opt{{forloop.index}}: {
                              selectedOpt: event.targetOption
                            }
                          })">
                {%- for types in listType -%}
                  {%-assign type = types | split: ':' -%}
                  {%-assign optionName = option.name | downcase -%}
                  {%- if optionName == type[0] -%}
                    {%- if type[1] == 'color' or type[1] == 'Color' -%}
                      <ul class="list-unstyled m-0 color">
                        {% for value in option.values %}
                           {%- comment %}<locksmith:8f05>{% endcomment -%}
                             {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                           {%- comment %}</locksmith:8f05>{% endcomment -%}
                           <li>
                            <div class="square {{ value | downcase | replace: ' ', '_' }}" option="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %} style="{%- for colors in listColor -%}
                              {%-assign color = colors | split: ':' -%}
                              {%- if color[1] contains "url" -%}
                                {%- capture cdzColorOption -%}background-image: {{color[1]}}; background-size: 20px;{%- endcapture -%}
                               {%- else -%}
                                {%- capture cdzColorOption -%}background-color: {{color[1]}}{%- endcapture -%}
                              {%- endif -%}
                              {%-assign valueColor = value | downcase | replace : ' ', '' -%}
                              {%- if color[0] == valueColor -%}
                                {{cdzColorOption}}
                                {%- break -%}
                              {%- endif -%}
                            {%- endfor -%}">{{ value }}</div>
                           </li>
                      {% endfor %}
                      </ul>
                      {%- break -%}
                    {%- else -%}
                      <ul class="list-unstyled m-0">
                        {% for value in option.values %}
                           {%- comment %}<locksmith:b37d>{% endcomment -%}
                             {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                           {%- comment %}</locksmith:b37d>{% endcomment -%}
                           <li>
                            <div class="square {{ value | downcase | replace: ' ', '_' }}" option="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</div>
                           </li>
                      {% endfor %}
                      </ul>
                      {%- break -%}
                    {%- endif- %}
                  {%- else -%}
                    <ul class="list-unstyled m-0">
                      {% for value in option.values %}
                         {%- comment %}<locksmith:0e2d>{% endcomment -%}
                           {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                         {%- comment %}</locksmith:0e2d>{% endcomment -%}
                         <li>
                          <div class="square {{ value | downcase | replace: ' ', '_' }}" option="{{ value | escape }}" {% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</div>
                          
                         </li>
                    {% endfor %}
                    </ul>
                    {%- break -%}
                  {%- endif- %}
                {%- endfor -%}
              </amp-selector>
              {%- endunless -%}
          {%- endfor -%}
      <div class="product-cart">
        <input type="hidden" id="variantId" name="id" value="{{ current_variant.id }}" [value]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].id"/>
        <div class="qty-box mb-3">
          <amp-state id="count">
            <script type="application/json">
              1
            </script>
          </amp-state>
          <label class="mt-2 mr-3 second_color">{{ 'cart.label.qty' | t }}</label>
          <div class="cart-qty">
            <input min="1" max="1000" class="qty input-text" type="number" id="quantity" name="quantity" value="1" [value]="count" inputmode="numeric" size="4" pattern="[0-9]*" on="input-debounced:AMP.setState({ count: event.value }) "/>
          </div>
        </div>
             <button id="addToCartProduct" role="button" class="p-3 btn-primary" [class]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].available == 'true' ? 'p-3 btn-primary' : 'unavailable btn-primary p-3'" value="1/{{ current_variant.id }}" {% if product.variants.size == 1 %}[value]="count+'/'+{{ current_variant.id }}"{% else %}[value]="count+'/'+variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].id"{% endif %} data-url="{{shop.url}}">
              <span [text]="variants[opt1.selectedOpt+opt2.selectedOpt+opt3.selectedOpt].available == 'true' ? '{{ 'cart.general.btn_addcart' | t }}' : 'Unavailable'">{{ 'cart.general.btn_addcart' | t }}</span></button>
              
      </div>
      </div>
        

        </amp-script>
      </div>
    </div>
  </div>
</div>
{% unless product == empty %}
          <amp-state id="variants">
              <script type="application/json">
              {
                {%- comment %}<locksmith:b283>{% endcomment -%}
                  {%- assign locksmith_033f_forloop__size = 0 %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_033f_forloop__size = locksmith_033f_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_033f_forloop__index = nil -%}
                {%- comment %}</locksmith:b283>{% endcomment -%}
                {% for variant in product.variants %}
                  {%- comment %}<locksmith:d433>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_033f_forloop__index == nil %}{% assign locksmith_033f_forloop__index = 1 %}{% assign locksmith_033f_forloop__index0 = 0 %}{% else %}{% assign locksmith_033f_forloop__index = locksmith_033f_forloop__index | plus: 1 %}{% assign locksmith_033f_forloop__index0 = locksmith_033f_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_033f_forloop__index == 1 %}{% assign locksmith_033f_forloop__first = true %}{% else %}{% assign locksmith_033f_forloop__first = false %}{% endif %}{% if locksmith_033f_forloop__index == locksmith_033f_forloop__size %}{% assign locksmith_033f_forloop__last = true %}{% else %}{% assign locksmith_033f_forloop__last = false %}{% endif %}{% assign locksmith_033f_forloop__rindex = locksmith_033f_forloop__size | minus: locksmith_033f_forloop__index | minus: 1 %}{% assign locksmith_033f_forloop__rindex0 = locksmith_033f_forloop__size | minus: locksmith_033f_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:d433>{% endcomment -%}
                  "{{variant.option1}}{{variant.option2}}{{variant.option3}}": {"id": "{{variant.id}}","title": "{{variant.title}}","sku": "{{variant.sku}}","price": {{variant.price | money | json | replace: '\u003cspan class=\"money\"\u003e', '' | replace: '\u003c\/span\u003e', ''}},"priceRaw": "{{variant.price}}","compareAtPrice": {{variant.compare_at_price | money | json | replace: '\u003cspan class=\"money\"\u003e', '' | replace: '\u003c\/span\u003e', ''}},"compareAtPriceRaw": "{{variant.compare_at_price}}","featured_image": "{% comment ls-rpl %}{{variant.featured_image.src | img_url}}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: variant.featured_image.src, img_url -%}{%- endcapture -%}{{LS_IMG_URL}}{% comment /ls-rpl %}{% endcomment %}", "available": "{{variant.available}}", "position": "{{variant.featured_image.position | minus: 1}}", "inventoryQuantity": "{{variant.inventory_quantity}}"}
                  {%- if locksmith_033f_forloop__last != true -%}
                  ,
                  {%- endif -%}
                    {%- endfor -%}}
              </script>
          </amp-state>
          <amp-state id="opt1">
              <script type="application/json">
              {"selectedOpt":"
              {%- for value in product.options_with_values[0].values -%}
                {%- if product.options_with_values[0].selected_value == value -%}{{value}}{%- endif -%}
              {%- endfor -%}"}
              </script>
          </amp-state>
          <amp-state id="opt2">
              <script type="application/json">
              {"selectedOpt":"
              {%- for value in product.options_with_values[1].values -%}
                {%- if product.options_with_values[1].selected_value == value -%}{{value}}{%- endif -%}
              {%- endfor -%}"}
              </script>
          </amp-state>
          <amp-state id="opt3">
              <script type="application/json">
              {"selectedOpt":"
              {%- for value in product.options_with_values[2].values -%}
                {%- if product.options_with_values[2].selected_value == value -%}{{value}}{%- endif -%}
              {%- endfor -%}"}
              </script>
          </amp-state>
{% endunless %}
</div>
{% include 'amp-related-product.liquid' %}
<div class="container mb-4">
<div class="product-tabs  mb-4 p-3 p-sm-4" style="box-shadow:0 1px 3px #e1e1e1; border-radius: 5px; background-color: #fff">
      <amp-accordion id="amp-product-tab" disable-session-states>
        <section expanded id="section1">
          <h3 class="tab-title pt-1 pb-1 pr-3 pl-3 mb-2">{{ 'products.product.description' | t }}
          <i class="icon-arrow" aria-hidden="true">{% include 'icon-down-arrow' %}</i>
        </h3>
          <div class="product-description rte pb-3 tab-content">
            {% if settings.amp_description == "description" %}
              {{ product.description }}
            {% elsif setting.amp_description == "metafield_description" %}
            {%- unless product.metafields.codazon.cdz_description == blank -%}
              {{ product.metafields.codazon.cdz_description }}
            {%- endunless -%}
            {%- else -%}
              {%- if product.metafields.codazon.cdz_description == blank -%}
                {{ product.description }}
              {% else %}
                {{ product.metafields.codazon.cdz_description }}
              {%- endif -%}
            {% endif %}
          </div>
        </section>
        {%- unless settings.amp_product_custom_tab01_title == blank -%}
        <section id="section2">
          <h3 class="tab-title pt-1 pb-1 pr-3 pl-3 mb-2">{{settings.amp_product_custom_tab01_title}}
            <i class="icon-arrow" aria-hidden="true">{% include 'icon-down-arrow' %}</i>
          </h3>
          <div class="pb-3 tab-content">{{settings.amp_product_custom_tab01_content}}</div>
        </section>
        {%- endunless -%}
        {%- unless product.metafields.codazon.cdz_custom_tab02_title == blank -%}
        <section id="section3">
          <h3 class="tab-title pt-1 pb-1 pr-3 pl-3 mb-2">{{ product.metafields.codazon.cdz_custom_tab02_title }}
            <i class="icon-arrow" aria-hidden="true">{% include 'icon-down-arrow' %}</i>
          </h3>
          <div class="pb-3 tab-content">{{ product.metafields.codazon.cdz_custom_tab02 }}</div>
        </section>
        {%- endunless -%}
      </amp-accordion>
    </div>
</div>
{% include 'amp-upsell-product.liquid' %}
