<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar nav-sidebar px3 " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start py-3 px-4">
		<i aria-hidden="true">{% include 'icon-close' %}</i>
	</div>
  </div>
  
  <nav>
    <ul>
		<li class="item level0 py-3 px-4">
			<a class="menu-link" href="{{ shop.url }}"><span>{{ 'general.header.amp_menu_goto' | t }}</span></a>
		</li>
      {% for link in linklists[linklist].links %}
      	<li class="item level0 py-3 px-4">
			<a class="menu-link" href="{%- case link.type -%}
										  {%- when 'product_link' -%}
											{{ link.url | append: '?view=amp-product' }}
										  {%- when 'collection_link' -%}
											{{ link.url | append: '?view=amp-collection' }}
										  {%- when 'catalog_link' -%}
											{{ link.url | append: '?view=amp-collection' }}
										  {%- when 'frontpage_link' -%}
											{{ shop.url | append: '/pages/amp-home-page' }}
										  {%- else -%}
											{{ link.url }}
										{%- endcase -%}"><span>{{ link.title }}</span></a>
			{%- if link.links != blank -%}
				<div class="d-flex align-items-center justify-content-center btn-toogle-nav" role="button" tabindex="0" on="tap:amp-nav-sidebar-{{forloop.index}}.toggle">{% include 'icon-down' %}</div>
          		<amp-accordion id="amp-nav-sidebar-{{forloop.index}}" layout="container" disable-session-states="" class="ampstart-dropdown nav-sidebar-dropdown">
                  <section>
					<h2 hidden></h2>
					<div class="groupmenu-drop-wrapper">
                    <ul class="list-unstyled cat-tree groupmenu-drop">
                      {% for child_link in link.links %}  
                        <li class="mb-3 level1 item nav-{{forloop.index}} {% if child_link.active %} active {% if child_link.child_active %}child-active{% endif %}{% endif %}{% if child_link.links != blank %} parent {% endif %}">
                          <a class="menu-link" href= "{%- case child_link.type -%}
										  {%- when 'product_link' -%}
											{{ child_link.url | append: '?view=amp-product' }}
										  {%- when 'collection_link' -%}
											{{ child_link.url | append: '?view=amp-collection' }}
										  {%- when 'catalog_link' -%}
											{{ child_link.url | append: '?view=amp-collection' }}
										  {%- when 'frontpage_link' -%}
											{{ shop.url | append: '/pages/amp-home-page' }}
										  {%- else -%}
											{{ child_link.url }}
										{%- endcase -%}"><span>{{ child_link.title }}</span></a>
                          {% if child_link.links != blank %}
                            <ul class="list-unstyled cat-tree child">
                            {% for grandchild_link in child_link.links %}  
                            <li class="level2 item nav-{{forloop.index}} {% if grandchild_link.active %} active {% if grandchild_link.child_active %}child-active{% endif %}{% endif %}"
                            ><a class="menu-link" href= "{%- case grandchild_link.type -%}
										  {%- when 'product_link' -%}
											{{ grandchild_link.url | append: '?view=amp-product' }}
										  {%- when 'collection_link' -%}
											{{ grandchild_link.url | append: '?view=amp-collection' }}
										  {%- when 'catalog_link' -%}
											{{ grandchild_link.url | append: '?view=amp-collection' }}
										  {%- when 'frontpage_link' -%}
											{{ shop.url | append: '/pages/amp-home-page' }}
										  {%- else -%}
											{{ grandchild_link.url }}
										{%- endcase -%}"><span>{{ grandchild_link.title }}</span></a></li>
                            {% endfor %}
                            </ul>
                          {% endif %}   
                        </li>
                      {% endfor %}
                      </ul>
					</div>
				  </section>
                </amp-accordion>
			{%- endif -%} 
      	</li>
      {%- endfor -%}
    </ul>
  </nav>
</amp-sidebar>
<!-- End Sidebar -->