{% if enable_sidebarblog_cate and sidebarblog_cate != blank %}
<div class="block block-categories">
	<div class="block-title">
		<strong>{{ 'blogs.sidebar.categories' | t }}</strong>
	</div>
	<div class="block-content">
		<ul class="blog-categories">
		{% for link in linklists[sidebarblog_cate].links %}
		<li class="item level1 nav-{{forloop.index}}{% if link.links != blank %} parent {% endif %}">
		<a class="menu-link" href="{{ link.url }}"><span>{{ link.title }}</span><span>{% if blogs[link.handle] == blank %}(0){% else %}({{blogs[link.handle].articles_count}}){% endif %}</span></a>
		{% if link.links != blank %}
		  <ul class="cat-tree child">
			{% for child_link in link.links %}  
			<li class="level2 item nav-{{forloop.index}}{% if child_link.links != blank %} parent {% endif %}">
			<a class="menu-link" href= "{{ child_link.url }}"><span>{{ child_link.title }}</span><span>{% if blogs[child_link.handle] == blank %}(0){% else %}({{blogs[child_link.handle].articles_count}}){% endif %}</span></a>
			{% if child_link.links != blank %}
			  <ul class="cat-tree child">
			  {% for grandchild_link in child_link.links %}  
				<li class="level3 item nav-{{forloop.index}}"
				><a class="menu-link" href= "{{ grandchild_link.url }}"><span>{{ grandchild_link.title }}</span><span>{% if blogs[grandchild_link.handle] == blank %}(0){% else %}({{blogs[grandchild_link.handle].articles_count}}){% endif %}</span></a></li>
			  {% endfor %}
			  </ul>
			{% endif %}   
			</li>
			{% endfor %}
		  </ul> 
		{% endif %} 
		</li>
		{% endfor %}
	</ul>

	</div>
</div>
{% endif %}
{% if enable_sidebarblog_tags %}
{% if blog.all_tags.size > 0 %}
<div class="block block-tags">
	<div class="block-title">
		<strong>{{ 'blogs.article.tags' | t }}</strong>
	</div>
	<div class="block-content">
		<ul class="blog-tags">
			{% for tag in blog.all_tags %}
				{% if current_tags contains tag %}
				<li>{% comment ls-rpl %}{{ tag }}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: blog -%}{%- endcapture -%}{{ LS_TAG }}{% comment /ls-rpl %}{% endcomment %}</li>
				{% else %}
				<li>{% comment ls-rpl %}{{ tag | link_to_tag: tag }}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: blog -%}{%- endcapture -%}{{ LS_TAG | link_to_tag: tag }}{% comment /ls-rpl %}{% endcomment %}</li>
				{% endif %}
			{% endfor %}
		</ul>
		
	</div>
</div>
{% endif %}

{% endif %}

{% if enable_sidebarblog_recent and blogs[blog.handle].articles != blank %}
<div class="block block-recent">
	<div class="block-title">
		<strong>{{ 'blogs.sidebar.recent_articles' | t }}</strong>
	</div>
	<div class="block-content">
		{% for article in blogs[blog.handle].articles limit:6 %}
		  {%- comment %}<locksmith:929c>{% endcomment -%}
		    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: article, subject_parent: blogs[blog.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
		  {%- comment %}</locksmith:929c>{% endcomment -%}
		  <div class="item">
			<a href="{{ article.url }}">{{ article.title }}</a>
			<br>
			<time pubdate datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}">
			  <em class="text-note">{{ article.published_at | date: format: 'date' }}</em>
			</time>
		  </div>
		{% endfor %}
	</div>
</div>
{% endif %}
