{%- comment %}<locksmith:957f>{% endcomment -%}
  {%- assign locksmith_f041_product__available = false %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_f041_product__available == false and variant.available %}{% assign locksmith_f041_product__available = true %}{% endif %}{% endfor -%}
{%- comment %}</locksmith:957f>{% endcomment -%}

<form method="post" enctype="multipart/form-data" id="AddToCartForm-{{ forloop.index0 }}">
	<div class="hide clearfix"> 
		<select name="id" id="productSelect-{{ forloop.index0 }}">
		{% for variant in product.variants %}
		  {%- comment %}<locksmith:425b>{% endcomment -%}
		    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
		  {%- comment %}</locksmith:425b>{% endcomment -%}
		  {% if variant.available %}
			<option value="{{ variant.id }}">
			  {{ variant.title }} - {{ variant.price | money_with_currency }}
			</option>
		  {% else %}
			<option disabled="disabled">
			  {{ variant.title }} <ls-static-87883>- sold out</ls-static-87883>
			</option>
		  {% endif %}
		{% endfor %}
		</select>
	</div>
 {% comment %}
  		{% unless product.options.size == 1 and product.options[0] == 'Title' %}
          {% for option in product.options_with_values %}
          <div class="selector-wrapper js product-form__item">
            <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
              {% for value in option.values %}
              {%- comment %}<locksmith:70e8>{% endcomment -%}
                {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: value, subject_parent: option, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
              {%- comment %}</locksmith:70e8>{% endcomment -%}
              <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          {% endfor %}
         {% endunless %}
  
  <div class="product-form__item product-form__item--submit">
              <button type="submit " name="add" id="AddToCart-{{ locksmith_f041_product__available }}" {% unless locksmith_f041_product__available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless locksmith_f041_product__available %}
                    sold out
                  {% else %}
                    add to cart
                  {% endunless %}
                </span>
              </button>
            </div>
 {% endcomment %}
 
  
  
	<input type="number" name="quantity" min="1" max="500" value="1">
  	<div class="status-cart">
    {% if locksmith_f041_product__available %}
		{% if product.variants.size == 1 %}
		<button class="btn-cart" type="submit" data-cdzwidget='{"codazon.cdzMiniCart" : {"show" : "no"}}'>
		  <ls-static-497462>add to cart</ls-static-497462>
		</button>
		{% else %}
		<button class="btn-cart select-option" data-url="{{ product.url }}" type="button"  data-cdzwidget='{"codazon.cdzMiniCart" : {"show" : "no"}}'>
		  <ls-static-731177>add to cart</ls-static-731177>
		</button>
		{% endif %}
    {% else %}
		<button class="btn-cart disabled" disabled="disabled" type="button" data-cdzwidget='{"codazon.cdzMiniCart" : {"show" : "no"}}'>
			  <ls-static-497040>add to cart</ls-static-497040>
		</button>
    {% endif %}
  </div>
</form>