{%- assign block_custom_class = block.settings.block_custom_class -%}
{%- assign facebook_account_link = block.settings.facebook_account_link -%}
{%- assign facebook_width = block.settings.facebook_width -%}
{%- assign facebook_height = block.settings.facebook_height -%}
<div class="cdz-facebook {{block_custom_class}}">
	<div class="cdz-block-title {% unless list_alignment == blank %} text-{{list_alignment}}{% endunless %} block-title-{{title_text_align}}">
		<p class="b-title h2"><span>{{ block.settings.block_title | escape }}</span></p>
		<p class="title-desc"><span>{{ block.settings.block_sub_title | escape }}</span></p>
	</div>
	<div class="facebook-wrapper" data-role="codazon-facebook">
		<div class="fb-page" data-href="{{facebook_account_link}}" data-width="{{facebook_width}}" data-height="{{facebook_height}}"data-hide-cover="false" data-show-facepile="true"></div>
	</div>
</div>