{%- assign grid_alignment = block.settings.grid_alignment -%}
{%- assign enable_hover_thumbnail = block.settings.enable_hover_thumbnail -%}
{%- assign enable_product_label = block.settings.enable_product_label -%}
{%- assign enable_product_name = block.settings.enable_product_name -%}
{%- assign enable_price = block.settings.enable_price -%}
{%- assign enable_sku = block.settings.enable_sku -%}
{%- assign enable_vendor = block.settings.enable_vendor -%}
{%- assign enable_addto_cart = block.settings.enable_addto_cart -%}
{%- assign enable_quickshop = block.settings.enable_quickshop -%}
{%- assign enable_addto_compare = block.settings.enable_addto_compare -%}
{%- assign enable_addto_wishlist = block.settings.enable_addto_wishlist -%}
{%- assign enable_review = block.settings.enable_review -%}
{%- assign enable_quantity_product = block.settings.enable_quantity_product -%}
{%- assign enable_short_description = block.settings.enable_short_description -%}
{%- assign enable_variant_product = block.settings.enable_variant_product -%}
{%- assign show_product_text_align = block.settings.text_align -%}
{%- assign class_sameheight = block.settings.class_sameheight -%}
{%- assign thumbnail_width = '320' -%}
{%- unless block.settings.thumbnail_width == blank -%}
	{%- assign thumbnail_width = block.settings.thumbnail_width -%}
{%- endunless -%}
{%- assign thumbnail_height = '320' -%}
{%- unless block.settings.thumbnail_height == blank -%}
	{%- assign thumbnail_height = block.settings.thumbnail_height -%}
{%- endunless -%}
{%- assign short_description_length = '150' -%}
{%- unless block.settings.short_description_length == blank -%}
	{%- assign short_description_length = block.settings.short_description_length -%}
{%- endunless -%}
{%- assign show_prostyle = block.settings.show_prostyle -%}
{%- assign slider_collection = block.settings.slider_collection -%}
{%- assign special_product = block.settings.special_product -%}
{%- assign show_special_product = block.settings.show_special_product -%}
{%- if show_special_product == blank -%}
	{%- assign show_special_product = false %}
{%- endif -%}
{%- assign products_count = '8' -%}
{%- unless block.settings.products_count == blank -%}
	{%- assign products_count = block.settings.products_count -%}
{%- endunless -%}
{%- assign items_slider = '4' -%}
{%- unless block.settings.items_slider == blank -%}
	{%- assign items_slider = block.settings.items_slider -%}
{%- endunless -%}
{%- assign items_1900 = '4' -%}
{%- unless block.settings.items_1900 == blank -%}
	{%- assign items_1900 = block.settings.items_1900 -%}
{%- endunless -%}
{%- assign items_1600 = '4' -%}
{%- unless block.settings.items_1600 == blank -%}
	{%- assign items_1600 = block.settings.items_1600 -%}
{%- endunless -%}
{%- assign items_1440 = '4' -%}
{%- unless block.settings.items_1440 == blank -%}
	{%- assign items_1440 = block.settings.items_1440 -%}
{%- endunless -%}
{%- assign items_1280 = '4' -%}
{%- unless block.settings.items_1280 == blank -%}
	{%- assign items_1280 = block.settings.items_1280 -%}
{%- endunless -%}
{%- assign items_980 = '3' -%}
{%- unless block.settings.items_980 == blank -%}
	{%- assign items_980 = block.settings.items_980 -%}
{%- endunless -%}
{%- assign items_768 = '2' -%}
{%- unless block.settings.items_768 == blank -%}
	{%- assign items_768 = block.settings.items_768 -%}
{%- endunless -%}
{%- assign items_480 = '2' -%}
{%- unless block.settings.items_480 == blank -%}
	{%- assign items_480 = block.settings.items_480 -%}
{%- endunless -%}
{%- assign items_320 = '2' -%}
{%- unless block.settings.items_320 == blank -%}
	{%- assign items_320 = block.settings.items_320 -%}
{%- endunless -%}
{%- assign items_0 = '2' -%}
{%- unless block.settings.items_0 == blank -%}
	{%- assign items_0 = block.settings.items_0 -%}
{%- endunless -%}
{%- assign items_margin = '20' -%}
{%- unless block.settings.items_margin == blank -%}
	{%- assign items_margin = block.settings.items_margin -%}
{%- endunless -%}
{%- assign show_slider = block.settings.show_slider -%}
{%- assign slider_dots = block.settings.slider_dots -%}
{%- assign slider_nav = block.settings.slider_nav -%}
{%- assign total_rows = block.settings.total_rows -%}
{%- capture data-owlslider -%}
	{ "items": {{items_slider}}, "items_1900": {{items_1900}}, "items_1600": {{items_1600}}, "items_1440": {{items_1440}}, "items_1280": {{items_1280}}, "items_980": {{items_980}}, "items_768": {{items_768}}, "items_480": {{items_480}}, "items_320": {{items_320}}, "items_0": {{items_0}}, "margin": {{items_margin}}, "nav": {{slider_nav}}, "dots": {{slider_dots}}, "rtl": {{settings.enable_rtl_layout}}}
{%- endcapture -%}
{%- case show_prostyle -%}
  {%- when '01' -%}
	{% assign productstyle = 'product-grid-style-01' %}
	{% assign grid_item = 'product-grid-style-01' %}
  {%- when '02' -%}
	{% assign productstyle = 'product-grid-style-02' %}
	{% assign grid_item = 'product-grid-style-02' %}
  {%- when '03' -%}
	{% assign productstyle = 'product-grid-style-03' %}
	{% assign grid_item = 'product-grid-style-03' %}
  {%- when '04' -%}
	{% assign productstyle = 'product-grid-style-04' %}
	{% assign grid_item = 'product-grid-style-04' %}
  {%- when '05' -%}
	{% assign productstyle = 'product-grid-style-05' %}
	{% assign grid_item = 'product-grid-style-05' %}
  {%- when '06' -%}
	{% assign productstyle = 'product-grid-style-06' %}
	{% assign grid_item = 'product-grid-style-06' %}
  {%- when '07' -%}
	{% assign productstyle = 'product-grid-style-07' %}
	{% assign grid_item = 'product-grid-style-07' %}
  {%- when '08' -%}
	{% assign productstyle = 'product-grid-style-08' %}
	{% assign grid_item = 'product-grid-style-08' %}
  {%- when '09' -%}
	{% assign productstyle = 'product-grid-style-09' %}
	{% assign grid_item = 'product-grid-style-09' %}
  {%- when '10' -%}
	{% assign productstyle = 'product-grid-style-10' %}
	{% assign grid_item = 'product-grid-style-10' %}
  {%- when '11' -%}
	{% assign productstyle = 'product-grid-style-11' %}
	{% assign grid_item = 'product-grid-style-11' %}
  {%- when '12' -%}
	{% assign productstyle = 'product-grid-style-12' %}
	{% assign grid_item = 'product-grid-style-12' %}
  {%- when '13' -%}
	{% assign productstyle = 'product-grid-style-13' %}
	{% assign grid_item = 'product-grid-style-13' %}
  {%- when '14' -%}
	{% assign productstyle = 'product-grid-style-14' %}
	{% assign grid_item = 'product-grid-style-14' %}
  {%- when '15' -%}
	{% assign productstyle = 'product-grid-style-15' %}
	{% assign grid_item = 'product-grid-style-15' %}
  {%- when '16' -%}
	{% assign productstyle = 'product-grid-style-16' %}
	{% assign grid_item = 'product-grid-style-16' %}
  {%- when '17' -%}
	{% assign productstyle = 'product-grid-style-17' %}
	{% assign grid_item = 'product-grid-style-17' %}
{%- endcase -%}
<div class="block-products {{block_custom_class}}{% unless grid_alignment == blank %} text-{{grid_alignment}}{% endunless %}">
<div class="block-products-wrapper">
	{%- unless block.settings.block_title == blank and block.settings.block_sub_title == blank -%}
		<div class="cdz-block-title block-title-{{title_text_align}}">
			{%- unless block.settings.block_title == blank -%}
				<p class="b-title h2"><span>{{ block.settings.block_title | escape }}</span></p>
			{%- endunless -%}
			{%- unless block.settings.block_sub_title == blank -%}
				<p class="title-desc"><span>{{ block.settings.block_sub_title | escape }}</span></p>
			{%- endunless -%}
		</div>
	{%- endunless -%}
	{%- if show_special_product == true -%}
		<div class="products items product-items clearfix {{productstyle}}">
			{% if all_products[special_product] == blank %}
				<div class="item">
					<div class="product-miniature">
						<div class="product-item {% if show_product_text_align == 'center' %} text-center {% elsif show_product_text_align == 'left' %} text-left {% else %} text-right {% endif %}">
							{%- assign img_size = thumbnail_width | append: 'x' | append: thumbnail_height -%}
							{%- assign img_ratio = thumbnail_width | times: 1.0 | divided_by: thumbnail_height -%}
							<div class="product-item-top">
								<div class="photo product-item-photo">
									<a href="#" class="product-image-container">
										<span class="product-image-wrapper" style="padding-bottom: 100%">
											<img class="product-image-photo responsive-image__image lazyload"
											    src="{{ 'loading-image.gif' | asset_url }}"
											    data-src="{% comment ls-rpl %}{{ product.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ product.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
										</span>
									</a>
								</div>
							</div>
							<div class="product-item-bottom">
								<div class="product name product-item-name">
									<a class="product-item-link" href="#"><ls-static-124280>Product Name</ls-static-124280></a>
								</div>
								
								<div class="product description product-item-description">
									<div class="product-description rte" itemprop="description">
										<ls-static-718877>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</ls-static-718877>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
			{% assign product = all_products[special_product] %}
			<div class="item">
				{% include grid_item with product, thumbnail_width, thumbnail_height, enable_hover_thumbnail, enable_product_label, enable_product_name, enable_price, enable_sku, enable_vendor, enable_addto_cart, enable_quickshop, enable_addto_compare, enable_addto_wishlist, enable_review, enable_quantity_product, enable_variant_product, enable_short_description, short_description_length, show_product_text_align %}
			</div>
			{% endif %}
		</div>
	{%- else -%}
	{% include 'grid_style' with id: block.id %}
	<div class="{%- if show_slider ==  '1' -%}no-loaded{%- endif -%}">
		{%- if show_slider ==  '1' -%}
			<div class='brand-loader double-bounce-spinner'>
				<div class='double-bounce1'></div>
				<div class='double-bounce2'></div>
			</div>
		{%- endif -%}
		<div class="style-{{block.id}} products product-items {% if show_slider ==  '0' %} no_slider flex-grid{% elsif show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %} {{productstyle}}" {% if show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-owlslider}}}' {% endif %} data-sameheight="{{class_sameheight}}">
			{%- if collections[slider_collection].products == blank -%}
				{%- for i in (1..products_count) -%}
					{%- assign product = blank -%}
					{%- assign modulo = forloop.index | modulo: total_rows -%}
					  {%- if total_rows >  1 and show_slider ==  '1' -%}
						{%- if modulo == 1 -%}
							<div class="items">
						{%- endif -%}
					  {%- endif -%}
						<div class="item">
							<div class="product-miniature">
								<div class="product-item {% if show_product_text_align == 'center' %} text-center {% elsif show_product_text_align == 'left' %} text-left {% else %} text-right {% endif %}">
									{%- assign img_size = thumbnail_width | append: 'x' | append: thumbnail_height -%}
									{%- assign img_ratio = thumbnail_width | times: 1.0 | divided_by: thumbnail_height -%}
									<div class="product-item-top">
										<div class="photo product-item-photo">
											<a href="#" class="product-image-container">
												<span class="product-image-wrapper" style="padding-bottom: 100%">
													<img class="product-image-photo responsive-image__image lazyload"
													    src="{{ 'loading-image.gif' | asset_url }}"
													    data-src="{% comment ls-rpl %}{{ product.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
													    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
													    data-sizes="{{img_size}}"
													    tabindex="-1"
													    alt="{% comment ls-rpl %}{{ product.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
												</span>
											</a>
										</div>
									</div>
									<div class="product-item-bottom">
										<div class="product name product-item-name">
											<a class="product-item-link" href="#"><ls-static-984140>Product Name</ls-static-984140></a>
										</div>
										<div class="product-price">
											<div class="price">
												<span class="product-single__price price-box money">
													23.99$
												</span>
											</div>
										</div>
										<div class="product description product-item-description">
											<div class="product-description rte" itemprop="description">
												<ls-static-917717>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</ls-static-917717>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					  {%- if total_rows >  1 and show_slider ==  '1' -%}
						{%- if modulo == 0 or forloop.last -%}
						  </div>
						  {%- endif -%}
					  {%- endif -%}
				{%- endfor -%}
			{%- else -%}
				{%- assign order_by = block.settings.order_by -%}
				{%- assign order = block.settings.order -%}
				{%- if order == 'asc' -%}
				{%- assign products = collections[slider_collection].products | sort: order_by -%}
				{%- else -%}
				{%- assign products = collections[slider_collection].products | sort: order_by | reverse -%}
				{%- endif -%}
				{%- comment %}<locksmith:7a87>{% endcomment -%}
				  {%- assign locksmith_2050_forloop__size = 0 %}{%- for product in products limit: products_count -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_2050_forloop__size = locksmith_2050_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_2050_forloop__index = nil -%}
				{%- comment %}</locksmith:7a87>{% endcomment -%}
				{%- for product in products limit: products_count -%}
				{%- comment %}<locksmith:0024>{% endcomment -%}
				  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_2050_forloop__index == nil %}{% assign locksmith_2050_forloop__index = 1 %}{% assign locksmith_2050_forloop__index0 = 0 %}{% else %}{% assign locksmith_2050_forloop__index = locksmith_2050_forloop__index | plus: 1 %}{% assign locksmith_2050_forloop__index0 = locksmith_2050_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_2050_forloop__index == 1 %}{% assign locksmith_2050_forloop__first = true %}{% else %}{% assign locksmith_2050_forloop__first = false %}{% endif %}{% if locksmith_2050_forloop__index == locksmith_2050_forloop__size %}{% assign locksmith_2050_forloop__last = true %}{% else %}{% assign locksmith_2050_forloop__last = false %}{% endif %}{% assign locksmith_2050_forloop__rindex = locksmith_2050_forloop__size | minus: locksmith_2050_forloop__index | minus: 1 %}{% assign locksmith_2050_forloop__rindex0 = locksmith_2050_forloop__size | minus: locksmith_2050_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:0024>{% endcomment -%}
				{%- assign modulo = locksmith_2050_forloop__index | modulo: total_rows -%}
				{%- if total_rows >  1 and show_slider ==  '1' -%}
					{%- if modulo == 1 -%}
						<div class="items">
					{%- endif -%}
				{%- endif -%}
					<div class="item">
						{% include grid_item with product, thumbnail_width, thumbnail_height, enable_hover_thumbnail, enable_product_label, enable_product_name, enable_price, enable_sku, enable_vendor, enable_addto_cart, enable_quickshop, enable_addto_compare, enable_addto_wishlist, enable_review, enable_quantity_product, enable_variant_product, enable_short_description, short_description_length, show_product_text_align %}
					</div>
				{%- if total_rows >  1 and show_slider ==  '1' -%}
					{%- if modulo == 0 or locksmith_2050_forloop__last -%}
					  </div>
					  {%- endif -%}
				{%- endif -%}
				{%- endfor -%}
			{%- endif -%}
		</div>
	</div>	
	{%- endif -%}
</div>
</div>