<div class="products items product-items clearfix product-grid-style-{{styles_product_grid}}" data-column="{{column_layout}}">
	<ul class="flex-grid">
  {% for product in collection.products %}
		{%- comment %}<locksmith:a55d>{% endcomment -%}
		  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collection, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
		{%- comment %}</locksmith:a55d>{% endcomment -%}
		{%- case styles_product_grid -%}
		  {%- when '01' -%}
			{% include 'product-grid-style-01' %}
		  {%- when '02' -%}
			{% include 'product-grid-style-02' %}
		  {%- when '03' -%}
			{% include 'product-grid-style-03' %}
		  {%- when '04' -%}
			{% include 'product-grid-style-04' %}
		  {%- when '05' -%}
			{% include 'product-grid-style-05' %}
		  {%- when '06' -%}
			{% include 'product-grid-style-06' %}
		  {%- when '07' -%}
			{% include 'product-grid-style-07' %}
		  {%- when '08' -%}
			{% include 'product-grid-style-08' %}
		  {%- when '09' -%}
			{% include 'product-grid-style-09' %}
		  {%- when '10' -%}
			{% include 'product-grid-style-10' %}
		  {%- when '11' -%}
			{% include 'product-grid-style-11' %}
		  {%- when '12' -%}
			{% include 'product-grid-style-12' %}
		  {%- when '13' -%}
			{% include 'product-grid-style-13' %}
		  {%- when '14' -%}
			{% include 'product-grid-style-14' %}
		  {%- when '15' -%}
			{% include 'product-grid-style-15' %}
		  {%- when '16' -%}
			{% include 'product-grid-style-16' %}
		  {%- when '17' -%}
			{% include 'product-grid-style-17' %}
		{%- endcase -%}	
	  
  {% else %}

	{% if shop.products_count == 0 %}
	  <div class="grid__item">
		<div class="helper-section">
		  <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
			{% for i in (1..8) %}
			  <div class="grid__item one-half post-large--one-quarter">
				<a href="/admin/products" class="grid-link">
				  <span class="grid-link__image grid-link__image--product">
					<span class="grid-link__image-centered">
					  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
					  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
					</span>
				  </span>
				  <p class="grid-link__title">{{ 'home_page.onboarding.product_title' | t }}</p>
				  <p class="grid-link__meta">
					<strong>$19.99</strong>
				  </p>
				</a>
			  </div>
			{% endfor %}
		  </div>
		</div>
	  </div>
	{% else %}
	  <div class="message info empty">
		<p><em>{{ 'collections.general.no_matches' | t }}</em></p>
	  </div>
	{% endif %}

  {% endfor %}
	</ul>
  </div>