{% paginate collection.products by product_item_per_page %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="container">
   <div class="row">
     <div class="col-12">
      	<div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
       </div>
	 </div>
     {% if collection.description != blank %}
      <div class="rte rte--header col-12">
        {{ collection.description }}
      </div>
  	{% endif %}
	
	
	{% if enable_tagsfilter or enable_filter_category or enable_filter_vendor %}
		{% if filter_display == 'filter_right' or filter_display == 'filter_left' %}
			<div class="col-md-3 sidebarFilter sidebar d-none d-md-block {% if filter_display == 'filter_right' %}col-right order-md-2{% else %} col-left {% endif %}" data-cdzwidget='{"codazon.cdzToogleLeft" : {}}' >
				{% if enable_filter_category %}
					{% include 'filter-sidebar-category' with display_category %}
				{% endif %}
			   {% if enable_filter_vendor %}
					{% include 'filter-sidebar-vendor' %}
				{% endif %}
			   {% if enable_tagsfilter  %}
				{% include 'filter-sidebar' %}
				{% endif %}
			</div>
		{% else %}
			<div class="filter-1col toogle-wrapper-ltr" data-role='toogleWrapper' data-cdzwidget='{"codazon.cdzToogleLeft" : {}}'>
				<button type="button" class="btn btn-filter toggle-btn-ltr" data-action='toogleClick'>
					<i class="fa fa-filter" aria-hidden="true"></i>{{ 'collections.general.filter' | t }}
				</button>
				<div class="block-filter-wrapper toogle-content-ltr" data-role='toogleContent'>
					<a class="closeFilter btn-close" data-action='cdz-toogle-close'></a>
					<div class="block-filter-inner scrollbar">
						{% if enable_filter_category %}
							{% include 'filter-sidebar-category' with display_category %}
						{% endif %}
					   {% if enable_filter_vendor %}
							{% include 'filter-sidebar-vendor' %}
						{% endif %}
					   {% if enable_tagsfilter  %}
						{% include 'filter-sidebar' %}
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
     
	{% endif %}
     
	<div class="{% if filter_display == 'filter_right' or filter_display == 'filter_left' %} col-md-9 {% else %} col-12 {% endif %}">
		<div class="main clearfix" id="collection-filter">
          {% if collection.products_count > 0 %}
		  <div class="toolbar">
            {% if section.settings.enable_collection_sorting %}
              {% include 'collection-sorting' %}
            {% endif %}
            
              <div class="collection-layout d-none d-md-block" data-cdzwidget='{"codazon.cdzCollectionLayout" : {"column_pc" : "{{column_layout}}","column_tablet" : "{{column_layout_tablet}}","column_mb" : "{{column_layout_mb}}"}}'>
			  {% if section.settings.enable_column_layout %}
                <span class="collection-layout-title">{{ 'collections.general.columns' | t }}</span>
                <a class="collection-layout-button pointer" data-collection-layout="list">1</a>
                <a class="collection-layout-button pointer" data-collection-layout="grid-2">2</a>
                <a class="collection-layout-button pointer" data-collection-layout="grid-3">3</a>
                <a class="collection-layout-button pointer active" data-collection-layout="grid-4">4</a>
                <a class="collection-layout-button pointer hide-for-custom" data-collection-layout="grid-5">5</a>
                <a class="collection-layout-button pointer hide-for-custom" data-collection-layout="grid-6">6</a>
				{% endif %}
              </div>
          </div>
		  {% endif %}
		
        {% include 'collection-content' %}
		
		{% if paginate.pages > 1 %}
          {% include 'pagination-custom' %}
        {% endif %}
		
		</div>

	 </div>
  </div>
  </div>
  </div>
{% endpaginate %}