{%- assign handles = crosssell_product | split: ',' -%}
{%- assign crosssellHandles = crosssell_product | split: ',' -%}

{%- assign handles = blank -%}
{%- capture productHandles -%}
	{%- for rtHandle in crosssellHandles -%}
		{%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
			{{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
{%- endcapture -%}
{%- assign handles = productHandles | split: ',' -%}

{%- case crosssell_show_prostyle -%}
	{%- when '0' -%}
		{%- assign productstyle = 'product-grid-style-01' -%}
		{%- assign grid_item = 'product-grid-style-01' -%}
	{%- when '1' -%}
		{%- assign productstyle = 'product-grid-style-02' -%}
		{%- assign grid_item = 'product-grid-style-02' -%}
	{%- when '2' -%}
		{%- assign productstyle = 'product-grid-style-03' -%}
		{%- assign grid_item = 'product-grid-style-03' -%}
	{%- when '3' -%}
		{%- assign productstyle = 'product-grid-style-04' -%}
		{%- assign grid_item = 'product-grid-style-04' -%}
	{%- when '4' -%}
		{%- assign productstyle = 'product-grid-style-05' -%}
		{%- assign grid_item = 'product-grid-style-05' -%}
	{%- when '5' -%}
		{%- assign productstyle = 'product-grid-style-06' -%}
		{%- assign grid_item = 'product-grid-style-06' -%}
	{%- when '6' -%}
		{%- assign productstyle = 'product-grid-style-07' -%}
		{%- assign grid_item = 'product-grid-style-07' -%}
	{%- when '7' -%}
		{%- assign productstyle = 'product-grid-style-08' -%}
		{%- assign grid_item = 'product-grid-style-08' -%}
	{%- when '8' -%}
		{%- assign productstyle = 'product-grid-style-09' -%}
		{%- assign grid_item = 'product-grid-style-09' -%}
	{%- when '9' -%}
		{%- assign productstyle = 'product-grid-style-10' -%}
		{%- assign grid_item = 'product-grid-style-10' -%}
	{%- when '10' -%}
		{%- assign productstyle = 'product-grid-style-11' -%}
		{%- assign grid_item = 'product-grid-style-11' -%}
	{%- when '11' -%}
		{%- assign productstyle = 'product-grid-style-12' -%}
		{%- assign grid_item = 'product-grid-style-12' -%}
	{%- when '12' -%}
		{%- assign productstyle = 'product-grid-style-13' -%}
		{%- assign grid_item = 'product-grid-style-13' -%}
	{%- when '13' -%}
		{%- assign productstyle = 'product-grid-style-14' -%}
		{%- assign grid_item = 'product-grid-style-14' -%}
{%- endcase -%}
{%- unless handles == blank -%}
<div class="crosssell-products cdzbox nav_style01">
		<div class="section-header section-header--small">
			<h2 class="section-header__title">
			  {{ crosssell_title }}
			</h2>
		</div>
		<div class="products items product-items {{productstyle}} {% if crosssell_show_slider ==  '0' %} no_slider flex-grid{% elsif crosssell_show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if crosssell_show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-crosssell-products}}}' {% endif %} data-sameheight=".product-item-bottom">
		  {%- for handle in handles limit: crosssell_products_count -%}
		  {%- assign crosssellPoduct = all_products[handle] -%}
		  {%- assign modulo = forloop.index | modulo: crosssell_total_rows -%}
		  {%- if crosssell_total_rows >  1 and crosssell_show_slider ==  '1' -%}
			{%- if modulo == 1 -%}
				<div class="items">
			{%- endif -%}
		  {%- endif -%}
		  <div class="item" {{ block.shopify_attributes }}>
			{% include grid_item with product: crosssellPoduct, thumbnail_width: crosssell_thumbnail_width, thumbnail_height: crosssell_thumbnail_height, enable_hover_thumbnail: true, enable_product_label: true, enable_product_name: true, enable_price: true, enable_sku: false, enable_vendor: false, enable_addto_cart: true, enable_quickshop: true, enable_addto_compare: true, enable_addto_wishlist: true, enable_review: true, enable_quantity_product: false, enable_variant_product: true, enable_short_description: false, short_description_length: 150, show_product_text_align: crosssell_product_text_align -%}
		  </div>
		  {%- if crosssell_total_rows >  1 and crosssell_show_slider ==  '1' -%}
			{%- if modulo == 0 or forloop.last -%}
			  </div>
			  {%- endif -%}
		  {%- endif -%}
		  {%- endfor -%}
		</div>
</div>
{%- endunless -%}
	{%- style -%}
	{%- if crosssell_show_slider ==  '0' -%}
		.crosssell-products .no_slider.flex-grid{
			display: flex;
			display: -ms-flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-align: stretch;
			-webkit-align-items: stretch;
			-moz-align-items: stretch;
			-ms-align-items: stretch;
			-o-align-items: stretch;
			align-items: stretch;
		}
		@media (min-width: 1900px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_1900}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1600px) and (max-width: 1900px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_1600}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1440px) and (max-width: 1600px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_1440}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1280px) and (max-width: 1440px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_1280}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 980px) and (max-width: 1280px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_980}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 768px) and (max-width: 980px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_768}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 480px) and (max-width: 768px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_480}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 320px) and (max-width: 480px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_320}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (max-width: 320px){
			.crosssell-products .grid__item{
				width: calc(100% / {{items_0}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
	{%- endif -%}
	
{%- endstyle -%}