{%- assign clowTagD = t | downcase -%}
{%- assign clowTag = t | strip | downcase -%}
{%- assign ctagU = t | strip | upcase -%}
{%- assign ctagUF = clowTag | strip | capitalize -%}
{%- assign ctagCa = clowTag | strip | camelcase -%}
{%- assign color_img = clowTag | append: '.png' | asset_url -%}
{%- assign style = 'background-color: ' | append: tag | downcase | append: '; ' -%}
{%- if current_tags contains tag or current_tags contains t or current_tags contains clowTagD or current_tags contains clowTag or current_tags contains clowTagU or current_tags contains clowTagUF  -%}
<div value="{{ tag | escape }}" class="active swatch-element swatch-tag">
 	<label style="{{ style }}" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ tag }}">
		{{ t | link_to_remove_tag: t }}
    </label>
  </div>
{%- else -%}
<div value="{{ tag | escape }}" class="swatch-element swatch-tag">
 	<label style="{{ style }}" data-toggle="tooltip" data-placement="top"  data-html="true" title="{{ tag }}">
		
      	{%- if filter_multi_select -%}
        	{{ tag | link_to_add_tag: tag }}
        {%- else -%}
        	{{ tag | link_to_tag: tag }}
        {%- endif -%}
    </label>
  </div>
{%- endif -%}
