{%- if section.blocks.size > 0 -%}
<div class="block block-layered-nav left-layered-nav">
	<div class="block-layered-nav-inner">
		<div class="block-title sidebar-title">
			<strong>
				<span>
				  {{ filter_title }}
				</span>
			</strong>
		</div>
		<div class="block-content sidebar-content">
			{% if current_tags %}
				<div class="filter-current">
					<span class="block-subtitle filter-current-subtitle">{{ "collections.filters.current_shopby" | t }}</span>
					<div class="filter-current-content">
					  <ul class="items">
						{% for tag in collection.all_tags %}
						  {% if current_tags contains tag %}
							  <li class="item">{% comment ls-rpl %}{{ tag | link_to_remove_tag: tag }}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: collection -%}{%- endcapture -%}{{ LS_TAG | link_to_remove_tag: tag }}{% comment /ls-rpl %}{% endcomment %}</li>
						  {% endif %}
						{% endfor %}
					  </ul>
					</div>
					<div class="block-actions filter-actions">
					  <a class="action clear filter-clear btn" href="{% if collection.handle == 'all' %}/collections/all{% elsif  collection.current_vendor %}{{ collection.current_vendor | url_for_vendor }}{% else%}{{ collection.url }}{% endif %}">{{ 'collections.general.clear_all' | t }}</a>
					</div>
				</div>          
			{% endif %}
			{%- for block in section.blocks -%}
				{% assign filter_group_tag = block.settings.filter_group_tag | replace: '  ', '' | replace: ' ,', ',' | replace: ', ', ',' | split: ',' %}
				{%- if filter_group_tag.size > 0 -%}
					{%- assign filter_group_title = block.settings.filter_group_title -%}
					{% assign filter_display_type = block.settings.filter_display_type %}
					{% assign filter_multi_select = block.settings.filter_multi_select %}    
					<div class="filter-options-item" id="filter-options-item{{ forloop.index }}">
						<div class="filter-options-title active" id="filter-options-title{{ forloop.index }}">
							{{ filter_group_title }}
						</div>
						<div class="filter-options-content" id="filter-options-content{{ forloop.index }}">
							{% assign value_tag = "" %}
							{%- for ta in filter_group_tag -%}
								{%- assign tagD = ta | strip | downcase -%}
								{%- assign tag = tagD | handleize %}
								{%- assign tagU = ta | strip | upcase -%}
								{%- assign tagUF = tag | strip | capitalize -%}
								{%- assign tagCa = tag | strip | camelcase -%}		  
								{%- if collection.all_tags contains ta or collection.all_tags contains tag or collection.all_tags contains tagU or collection.all_tags contains tagUF or collection.all_tags contains tagCa -%}
									{% assign value_tag = value_tag | append: "," | append:  ta | append: "," %}
									{% assign value_tag = value_tag | split: ',' | uniq | join: ',' %}
								{%- endif -%}
							{%- endfor -%}
							{% assign value_arr = value_tag  | replace_first: ',', ''  | split: ',' | uniq | join: ',' %}
							{% if value_arr != '' %}
								{% assign value_arr = value_arr | split: ',' %}
								{%- capture tag_list -%}
								{%- for t in value_arr -%}                    
									{%- assign tagD = t | strip | downcase -%}
									{%- assign tag = tagD | handleize %}
									{%- assign tagU = t | strip | upcase -%}
									{%- assign tagUF = tag | strip | capitalize -%}
									{%- assign tagCa = tag | strip | camelcase -%}	
									{%- case filter_display_type -%}
										{%- when 'checkbox' -%}
											{%- if current_tags contains t or current_tags contains tag or current_tags contains tagU or current_tags contains tagUF or current_tags contains tagCa -%}
												<li class="item item-checkbox active">{{ '<span class="fa fa-check-square-o"></span>' | append: t | link_to_remove_tag: t }}</li>
											{%- else -%}
												<li class="item item-checkbox">
													{%- if filter_multi_select -%}
													{{ '<span class="fa fa-square-o"></span>' | append: t | link_to_add_tag: tag }}
													{%- else -%}
													{{ '<span class="fa fa-square-o"></span>' | append: t | link_to_tag: tag }}
													{%- endif -%}
												</li>
											{%- endif -%}
										{%- when 'links' -%}
											{%- if current_tags contains t or current_tags contains tag or current_tags contains tagU or current_tags contains tagUF or current_tags contains tagCa -%}
												<li class="item item-link active">{{ t | link_to_remove_tag: t }}</li>
											{%- else -%}
												<li class="item item-link">
												{%- if filter_multi_select -%}
													{{ t | link_to_add_tag: tag }}
												{%- else -%}
													{{ t | link_to_tag: tag }}
												{%- endif -%}
												</li>
											{%- endif -%}
										{%- when 'text' -%}
											{%- if current_tags contains t or current_tags contains tag or current_tags contains tagU or current_tags contains tagUF or current_tags contains tagCa -%}
												<li class="item item-text active">{{ t | link_to_remove_tag: t }}</li>
											{%- else -%}
												<li class="item item-text">
												{%- if filter_multi_select -%}
													{{ t | link_to_add_tag: tag }}
												{%- else -%}
													{{ t | link_to_tag: tag }}
												{%- endif -%}
												</li>
											{%- endif -%}
										{%- when 'select' -%}
											{%- if filter_multi_select -%}
												{{ t | link_to_add_tag: tag }}
											{%- else -%}
												{{ t | link_to_tag: tag }}
											{%- endif -%}
											{% capture new_url_add %}
												{%- if filter_multi_select -%}
													{{ t | link_to_add_tag: tag | split: 'href="' | last | split: '"' | first }}
												{%- else -%}
													{{ t | link_to_tag: tag | split: 'href="' | last | split: '"' | first }}
												{%- endif -%}
											{% endcapture %} 
											{% capture new_url_remove %}{{ t | link_to_remove_tag: t | split: 'href="' | last | split: '"' | first }}{% endcapture %}   
											{%- if current_tags contains t or current_tags contains tag or current_tags contains tagU or current_tags contains tagUF or current_tags contains tagCa -%}
												<option selected value="{{ new_url_remove }}">{{ t }}</option>
											{% else %}
												<option value="{{ new_url_add }}">{{ t }}</option>
											{% endif %}
										{%- when 'color' -%}
											{% include 'filter-sidebar-color' %}
									{%- endcase -%}
								{%- endfor -%}
								{%- endcapture -%}
								<ul>					
									{%- if filter_display_type == 'select' -%}
										{% if collection.handle %}
											{% capture collection_url %}/collections/{{ collection.handle }}{% unless collection.sort_by == blank %}?sort_by={{ collection.sort_by }}{% endunless %}{% endcapture %}
											{% comment %}Good for automatic type collections{% endcomment %}
										{% elsif collection.current_type %}
											{% assign collection_url = collection.current_type | url_for_type | sort_by: collection.sort_by  %}
											{% comment %}Good for automatic vendor collections{% endcomment %}
										{% elsif collection.current_vendor %}
											{% assign collection_url = collection.current_vendor | url_for_vendor | sort_by: collection.sort_by %}
										{% endif %}
										<a class="hide action-filter-select" data-role="action-filter-select" href=""></a>
										{%- if filter_multi_select -%}
											<select class="filter-select multi-filter-select" id="filter-select" multiple>
												{{ tag_list }}
											</select>
										{%- else -%}
											<select class="filter-select" id="filter-select">
											  <option value="{{ collection_url }}">{{ 'collections.filters.select_tag' | t }}</option>
												{{ tag_list }}
											</select>
										{%- endif -%}
									{%- elsif filter_display_type == 'color' -%}
										<div class="swatch swatch-color clearfix">
											{{ tag_list }}
										</div>
									{%- else -%}
										{{ tag_list }}
									{%- endif %}
								</ul>
							{% else %}
								{{ 'collections.filters.no_filters' | t }}								
							{% endif %}
						</div>
					</div>
				{%- endif %}
			{%- endfor -%}
		</div>
	</div>
</div>
	
{% endif %}