{% comment %}
  List out your main-menu linklist (default)

  More info on linklists:
    - http://docs.shopify.com/themes/liquid-variables/linklists
{% endcomment %}
<div class="block block-category" data-cdzwidget='{"codazon.cdzToogleCate" : {}}'>
  <div class="block-title">
      <strong>
        <span>
          {%- assign filter_category_title = section.settings.filter_category_title | downcase -%}
          {{ filter_category_title }}
        </span>
      </strong>
  </div>
  <div class="block-content">
  	<ul class="site-nav">
     {% for link in display_category.links %}
      {% if link.links != blank %}
      {% assign parent_index = forloop.index %}
        <li class="item item-level0 parent site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
          aria-haspopup="true">
          <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title | escape }}              
          </a>
          <span class="dropdown-toggle"></span>
          <ul id="MenuParent-{{ parent_index }}" class="groupmenu-drop {% if link.levels == 2 %}level1 site-nav--has-grandchildren{% endif %}">
            {% for childlink in link.links %}
              {% if childlink.links != blank %}
              {% assign child_index = forloop.index %}
                <li class="item parent iem-level1 site-nav--has-dropdown site-nav--has-dropdown-grandchild {% if childlink.active %}site-nav--active{% endif %}">
                  <a href="{{ childlink.url }}" class="site-nav__link">
                      {{ childlink.title | escape }}                      
                  </a>
                  <span class="dropdown-toggle"></span>
                  <ul id="MenuChildren-{{ parent_index }}-{{ child_index }}" class="groupmenu-drop site-nav__dropdown-grandchild">
                    {% for grandchildlink in childlink.links %}
                      <li class="item {% if grandchildlink.active %} site-nav--active{% endif %}">
                        <a 
                          href="{{ grandchildlink.url }}"
                          class="site-nav__link"
                          data-meganav-type="child"
                          {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}
                          tabindex="-1">
                            {{ grandchildlink.title | escape }}
                          </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="item {% if childlink.active %} site-nav--active{% endif %}">
                  <a
                    href="{{ childlink.url }}"
                    class="site-nav__link"
                    data-meganav-type="child"
                    {% if childlink.active %}aria-current="page"{% endif %}
                    tabindex="-1">
                      {{ childlink.title | escape }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="item item-level0 {% if link.active %} site-nav--active{% endif %}">
          <a
            href="{{ link.url }}"
            class="site-nav__link"
            data-meganav-type="child"
            {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
              {{ link.title | escape }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  </div>
</div>
