<div class="footer-minicart d-none d-md-block" id="cdz-footer-minicart" data-role="cart-inner" data-block="minicartpro" data-cdzwidget='{"codazon.flyingCart" : {}}'>
    <div class="footer-cart-inner">
        <a class="cart-trigger" id="cdz-footerCart-trigger" data-role="cdz-footerCart-trigger">
			{%- if cart.item_count > 0 -%}
				<span class="summary-count-label" data-role="cart-count" style="display: inline;">
					{{ cart.item_count }}<span> {{ 'cart.general.mess_cart' | t }}</span>
				</span>
				<span class="proccessing-label" data-role="cart-processing" style="display: none;">
					 <span>{{ 'cart.general.proccess_cart'|t }}</span>
				</span>
			{%- else -%}
				<span class="summary-count-label" data-role="cart-count" style="display: inline;">
						<span>{{ 'cart.general.empty'|t }}</span>
				</span>
			{%- endif -%}
        </a>
        <div class="block-minicartpro" data-role="cdz-footerCart-content">
            <div id="minicartpro-content-wrapper">
				<div class="block-content">
				<div class="" data-role="flying-destination"></div>
					{%- if cart.item_count > 0 -%}
					<div class="cart-items cart-inner-left">
						<div class="minicart-items-wrapper section-content">
							<div data-action="scroll" class="section-content-inner">
								<ol class="mini-products-list">
								  {%- for item in cart.items -%}
								  <li class="item product-item" data-role="detail-item">
                                    <div class="product-item-left" data-role="detail-trigger">
                                      <a href="javascript:void(0);" class="product-image" alt="{{ item.title | escape }}">
                                        {% comment ls-rpl %}{%- assign img_url = item.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: item.image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
                                                  <img class="product-image lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
                                                  src="{% comment ls-rpl %}{{ item.image | img_url: '50x50' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: item.image, img_url: '50x50' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
                                                  data-src="{{ img_url }}"
                                                  data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
                                                  data-aspectratio="{{ item.image.aspect_ratio }}"
                                                  data-sizes="auto">
                                      </a>
                                      <strong>{{ item.quantity }}</strong>
                                    </div>
									<div class="product-item-right product-details" data-role="detail-target">
                                      <div class="qty-update-wrapper" data-role="qty-update">
                                        <form method="post" enctype="multipart/form-data">
                                          <input class="item-qty cart-item-qty" data-role="item-quantity" type="number" name="quantity" line="{{forloop.index}}" value="{{ item.quantity }}" min="0">
                                          <button class="btn-update-qty" data-role="btn-update-item">{{ 'cart.general.update'|t }}</button>
                                        </form>
                                      </div>
                                        <a class="cart-close btn-remove" data-role="btn-remove-item" line="{{forloop.index}}" href="javascript:void(0);" title="{{ 'cart.general.remove'|t|escape }}">{{ 'cart.general.remove'|t|escape }}</a>
                                      	<a class="cart-edit" href="{{ item.url }}" title="{{ 'cart.general.edit_item'|t|escape }}">{{ 'cart.general.edit_item'|t|escape }}</a>
									</div>
								  </li>
								  {%- endfor -%}
								</ol>
							</div>
						</div>
					</div>
					<div class="cart-inner-right row">
						<div class="minicartpro-summary col-md-8">
							<strong class="subtitle">
								<span class="">{{ 'cart.general.cart_summary' | t }}</span>
								<a class="action viewcart" href="/cart" title="View and Edit Cart">
									<span data-bind="i18n: 'View and Edit Cart'">{{ 'cart.general.view_edit' | t }}</span>
								</a>
							</strong>
							<div class="section-content">                
								<div class="total-qty">
									<span class="label"><span data-bind="i18n: 'Total Quantity'">{{ 'cart.general.total_qty' | t }}</span></span>
									<span class="amount"><span data-bind="text: getCartParam('summary_count')">{{ cart.item_count }}</span></span>
								</div>
								<div class="subtotal">
									<span class="label">{{ 'cart.general.subtotal' | t }}</span>
									<span class="price">{{ cart.original_total_price | money  }}</span>
								</div>
							</div>
						</div>
						<div class="minicartpro-actions text-center col-md-4">
							<div class="actions">
								<div class="primary">
									<div class="actions">
									  <button type="button" title="{{ 'cart.general.checkout'|t }}" data-title-trans="cart.general.checkout" data-title-default="{{ 'cart.general.checkout' | t }}" class="button checkout-btn trigger-checkout" onclick="window.location.href = '/checkout';"><span><span><span class="brackets" data-trans-key="cart.general.checkout">{{ 'cart.general.checkout' | t }}</span></span></span></button>
									</div>
								</div>
							</div>							
						</div>
					</div>
					{%- else -%}
					<div class="cart-empty-wrapper cart-items cart-inner-left row">
						<div class="minicartpro-summary col-md-12">
							<span>{{ 'cart.general.empty'|t }}</span>
						</div>	
					</div>
					{%- endif -%}
				</div>
            </div>
        </div>
    </div>
</div>