{%- comment %}<locksmith:28b2>{% endcomment -%}
  {%- assign locksmith_ddd2_product__first_available_variant = nil %}{% assign locksmith_ddd2_product__selected_variant = nil %}{% assign locksmith_ddd2_product__selected_or_first_available_variant = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_ddd2_product__first_available_variant == nil and variant.available %}{% assign locksmith_ddd2_product__first_available_variant = variant %}{% endif %}{% if locksmith_ddd2_product__selected_variant == nil and variant.selected %}{% assign locksmith_ddd2_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_ddd2_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% endfor %}{% if locksmith_ddd2_product__selected_or_first_available_variant == nil %}{% assign locksmith_ddd2_product__selected_or_first_available_variant = locksmith_ddd2_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:28b2>{% endcomment -%}

{%- assign w_770 = thumbnail_width | append: 'x' -%}
{%- assign w_660 = thumbnail_width | append: 'x' -%}
{%- assign w_470 = thumbnail_width | append: 'x' -%}
{%- assign w_360 = thumbnail_width | append: 'x' -%}
{%- assign w_280 = thumbnail_width | append: 'x' -%}
{%- assign w_220 = 'medium' -%}
{%- assign w_180 = 'medium' -%}
{%- if thumbnail_width >= 770 -%}
	{%- assign w_770 = '770x' -%}
{%- elsif thumbnail_width >= 660 -%}
	{%- assign w_660 = '660x' -%}
{%- elsif thumbnail_width >= 470 -%}
	{%- assign w_470 = '470x' -%}
{%- elsif thumbnail_width >= 360 -%}
	{%- assign w_360 = '360x' -%}
{%- elsif thumbnail_width >= 280 -%}
	{%- assign w_280 = 'medium' -%}
{%- else -%}
	{%- assign w_220 = 'medium' -%}
{%- endif -%}
{%- assign img_size = thumbnail_width | append: 'x' | append: thumbnail_height -%}
		{%- assign img_ratio = thumbnail_width | times: 1.0 | divided_by: thumbnail_height -%}
	    {%- assign featured_image = locksmith_ddd2_product__selected_or_first_available_variant.featured_image | default: product.featured_image -%}
		{%- unless product.featured_image == blank -%}
		    <a href="{{ product.url | within: collection }}" class="product-image-container">
		    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
		    		{%- if enable_variant_product -%}
				    	{%- for image in product.images -%}
						    {%- comment %}<locksmith:5282>{% endcomment -%}
						      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
						    {%- comment %}</locksmith:5282>{% endcomment -%}
						    <img class="product-image-photo responsive-image__image lazyautosizes lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}"
						    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
           					data-srcset="{% comment ls-rpl %}{{ image | img_url: w_180 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_180 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 180w, {% comment ls-rpl %}{{ image | img_url: w_220 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_220 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 220w, {% comment ls-rpl %}{{ image | img_url: w_280 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_280 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 280w, {% comment ls-rpl %}{{ image | img_url: w_360 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_360 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 360w, {% comment ls-rpl %}{{ image | img_url: w_470 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_470 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 470w, {% comment ls-rpl %}{{ image | img_url: w_600 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_600 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 600w, {% comment ls-rpl %}{{ image | img_url: w_770 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: w_770 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 770w"  
            				data-src="{% comment ls-rpl %}{{ image | img_url: '360x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: '360x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
						    data-aspectratio="{{ image.aspect_ratio }}"
						    data-sizes="220px"
						    tabindex="-50"
						    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
					    {%- endfor -%}
					{%- else -%}
					    <img class="product-image-photo responsive-image__image lazyautosizes lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}"
					    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
       					data-srcset="{% comment ls-rpl %}{{ product.featured_image | img_url: w_180 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_180 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 180w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_220 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_220 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 220w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_280 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_280 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 280w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_360 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_360 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 360w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_470 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_470 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 470w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_600 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_600 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 600w, {% comment ls-rpl %}{{ product.featured_image | img_url: w_770 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: w_770 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 770w"  
        				data-src="{% comment ls-rpl %}{{ product.featured_image | img_url: '360x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: '360x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
					    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
					    data-sizes="220px"
					    tabindex="-50"
					    alt="{% comment ls-rpl %}{{ product.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
					{%- endif -%}
					{%- if enable_hover_thumbnail == true -%}
						{% if  product.images.size > 1 %}
							<img class="product-image-photo responsive-image__image lazyautosizes lazyload hovered-img"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
	       					data-srcset="{% comment ls-rpl %}{{ product.images[1] | img_url: w_180 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_180 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 180w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_220 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_220 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 220w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_280 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_280 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 280w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_360 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_360 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 360w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_470 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_470 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 470w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_600 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_600 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 600w, {% comment ls-rpl %}{{ product.images[1] | img_url: w_770 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: w_770 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 770w" 
	        				data-src="{% comment ls-rpl %}{{ product.images[1] | img_url: '360x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: '360x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
						    data-aspectratio="{{ product.images[1].aspect_ratio }}"
						    data-sizes="220px"
						    tabindex="-50"
						    alt="{% comment ls-rpl %}{{ product.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						{%- else -%}
							<img class="product-image-photo responsive-image__image lazyautosizes lazyload hovered-img" 
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
	       					data-srcset="{% comment ls-rpl %}{{ product.images.last | img_url: w_180 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_180 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 180w, {% comment ls-rpl %}{{ product.images.last | img_url: w_220 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_220 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 220w, {% comment ls-rpl %}{{ product.images.last | img_url: w_280 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_280 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 280w, {% comment ls-rpl %}{{ product.images.last | img_url: w_360 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_360 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 360w, {% comment ls-rpl %}{{ product.images.last | img_url: w_470 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_470 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 470w, {% comment ls-rpl %}{{ product.images.last | img_url: w_600 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_600 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 600w, {% comment ls-rpl %}{{ product.images.last | img_url: w_770 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: w_770 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %} 770w"  
	        				data-src="{% comment ls-rpl %}{{ product.images.last | img_url: '360x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: '360x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
						    data-aspectratio="{{ product.images.last.aspect_ratio }}"
						    data-sizes="220px"
						    tabindex="-50"
						    alt="{% comment ls-rpl %}{{ product.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						{%- endif -%}
					{%- endif -%}
				</span>
			</a>
		{%- endunless -%}
		{%- if product.featured_image == blank -%}
			<a href="{{ product.url | within: collection }}" class="product-image-container">
				<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
					<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
				    class="product-image-photo responsive-image__image lazyload"
				    src="{{ 'loading-image.gif' | asset_url }}"
				    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
				    data-aspectratio="{{ featured_image.aspect_ratio }}"
				    data-sizes="{{img_size}}"
				    tabindex="-50"
				    alt="{% comment ls-rpl %}{{ pfeatured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: pfeatured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
					
				</span>
			</a>
		{%- endif -%} 
	 	 <noscript>
			<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
	  	</noscript>