<script id="content-compare" type="text/tmpl-script">
<div class="comparison">
<div class="table-wrapper">
		<div id="cdzcompare-messages"></div>
<% if (compareItem.length > 0) { %>
		<table class="data table table-comparison">
			<tbody>
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.label_product' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
						<td class="first compare-option-item-<%- index %>">
							<a href="<%- element.href %>" class="product-image"><img class="product-image-photo" src="<%- element.featured_image %>" style="width: 100px; height: 100px;"/></a>
							<div class="product-name"><a href="<%- element.href %>"><%- element.title %></a></div>
							<span class="remove" data-action="rm-compare-item" data-index="<%- index %>">{{'products.product.remove' | t}}</span>
							<div class="add-to-cart"><button class="addcart-cp" data-action="addcart-cp" data-index="<%- index %>" data-form="compare-form-<%- index %>" data-handle="<%- element.handle %>">add To Cart</button></div>
						</td>
					<% }) %>
				</tr>
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.vender' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
						<td>
							<div class="product-vendor">
								<span><%= element.vendor %></span>
							 </div>
						</td>
					<% }) %>
				</tr>
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.sku' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
						<td class="compare-option-item-<%- index %>">
							<div class="product-sku">
								<span><%= element.sku %></span>
							 </div>
						</td>
					<% }) %>
				</tr>
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.price' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
						<td class="compare-option-item-<%- index %>">
							<div class="product-price">
								<span class="product-single__price price price-box">
								  <span class="money"><%= Shopify.formatMoney(element.currentVariant.price, Currency.moneyFormats[shopCurrency].money_format) %></span>
								</span>

								<% if (element.compare_at_price_max > element.currentVariant.price) { %>
								  <s class="product-single__sale-price price">
									<span class="money"><%= Shopify.formatMoney(element.compare_at_price_max, Currency.moneyFormats[shopCurrency].money_format) %></span>
								  </s>
								<% } else { %>
								  <s class="product-single__sale-price price hide">
									<span class="money"><%= Shopify.formatMoney(element.compare_at_price_max, Currency.moneyFormats[shopCurrency].money_format) %></span>
								  </s>
								 <% } %>
							</div>
						</td>
						
					<% }) %>
				</tr>
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.options' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
					<td>
						<div class="product-options compare-option-item-<%- index %>" id="compare-option-item-<%- index %>" data-cdzwidget='{"codazon.cdzCompareOption" : {"handle" : "<%- element.handle %>","wrap" : "#compare-option-item-<%- index %>"}}'>
							<form method="post" enctype="multipart/form-data" id="compare-form-<%- index %>" data-item-index="<%- index %>">								
								
							   <% _.each(element.options, function(e, index) { %>
								<div class="product-option-wrapper" >
										<div class="variant-type-image js hide" value="<%- e.name %>" index="<%- index %>">
										 <% var values = []; %>
											<% _.each(element.variants, function(h) { %>
												<% var value = h.options[index] %>
												<% var va = values.includes(value) %>
												<% if  (!va) {
														values.push(value); 
														values = values.join();
														
														values = values.split(","); 
														if (h.featured_image == null) {
															var bkg_image = "" ;
														} else {
															var bkg_image = h.featured_image.src ; }%>
													<label value="<%- value %>" data-url="<%- bkg_image %>">
													</label>
												<% } %>
											<% }); %>
										</div>
										<div class="product-option" data-id="product-option-<%- index %>" data-index="<%- index %>"></div>

								</div>
								<% }); %>
							   
								<input type="hidden" name="id" value="<%- element.currentVariant.id %>">
								<input type="hidden" name="quantity" value="<%- element.qtyInPut %>">
							</form>
						</div>
					 </td>
					 <% }) %>
				</tr>
				
				<tr>
					<th scope="row" class="cell tb-product"><span>{{'products.product.description' | t}}</span></th>
					<% _.each(compareItem, function(element, index) { %>
						<td>
							<div class="product-description">
								<span><%= element.description %></span>
							 </div>
						</td>
					<% }) %>
				</tr>
			</tbody>
		</table>

<% } else { %>
	<div class="compare-wrapper"><p>{{ 'compare.general.compare_noItem' | t }}</p></div>
</div>
</div>
<% } %>
</script>
<script data-id="content-option-cp" type="text/tmpl-script">
<% switch (typeVariant) { 
	case 'text': %>
    	<div class="label-header <% if ( valueVariant.length < 2 ) { %> hide <% } %>">
          <span class="label-name ">
                <%- nameVariant  %>:
          </span>
           <span class="label-value" data-variant-value>
               <%- valueVariant[0].value %>
          </span>
        </div>
    	<div class="swatch swatch-text clearfix <% if ( valueVariant.length < 2 ) { %> hide <% } %>" data-index="<%- option_index %>">
    	<% _.each(valueVariant, function(element, index) { %>
            <div name=<%- option_index %> value="<%- element.value %>" class="swatch-element <%- element.value %> available <% if ( index == '0' ) { %> selected <% } %> ">
                <input class="<% if ( index == '0' ) { %> checked <% } %>" type="radio" name="option-<%- option_index %>" value="<%- element.value %>" />
                <label for="swatch-<%- option_index %>-<%- element.value %>">
                  <%- element.value %>
                </label>
              </div>
         <% }); %>
         </div>
    <% break;
    case 'color': %>
    	<div class="label-header <% if ( valueVariant.length < 2 ) { %> hide <% } %>">
          <span class="label-name ">
                <%- nameVariant  %>:
          </span>
           <span class="label-value" data-variant-value>
               <%- valueVariant[0].value %>
          </span>
        </div>
    	<div class="swatch swatch-color clearfix <% if ( valueVariant.length < 2 ) { %> hide <% } %>" data-index="<%- option_index %>">
    	<% _.each(valueVariant, function(element, index) { %>
            <div name=<%- option_index %> value="<%- element.value %>" class="swatch-element <%- element.value %> available <% if ( index == '0' ) { %> selected <% } %> ">
                <input class="<% if ( index == '0' ) { %> checked <% } %>" type="radio" name="option-<%- option_index %>" value="<%- element.value %>" />
                <label data-toggle="tooltip" data-placement="top" data-html="true" title="<div class='swatch-option-tooltip'><span class='swatch-option-img' style='background-color: <%- element.value %>; width: 130px; height: 130px; display: block;'></span><span class='swatch-option-text'><%- element.value %></span></div>" style="background-color: <%- element.value %>;">
                  <%- element.value %>
                </label>
                
              </div>
         <% }); %>
         </div>
    <% break; 
    case 'image': %>
   		<div class="label-header <% if ( valueVariant.length < 2 ) { %> hide <% } %>">
          <span class="label-name ">
                <%- nameVariant  %>:
          </span>
           <span class="label-value" data-variant-value>
                <%- valueVariant[0].value %>
          </span>
        </div>
    	<div class="swatch swatch-image clearfix <% if ( valueVariant.length < 2 ) { %> hide <% } %>" data-index="<%- option_index %>">
    	<% _.each(valueVariant, function(element, index) { %>
            <div name=<%- option_index %> value="<%- element.value %>" class="swatch-element <%- element.value %> available <% if ( index == '0' ) { %> selected <% } %> ">
                <input class="<% if ( index == '0' ) { %> checked <% } %>" type="radio" name="option-<%- option_index %>" value="<%- element.value %>" />
                <% if (element.url == "") { %>
                    <label>                  
                      <img src="//cdn.shopify.com/s/assets/no-image-50-3d8cc48bd078edcd544c8d60f929ed2d8800a3fc52e0f602e84b1767e392bfcd_50x.gif" />
                    </label>  
                <% } else { %>
					<label data-toggle="tooltip" data-placement="top" data-html="true" title="<div class='swatch-option-tooltip'><span class='swatch-option-img'><img src='<%- element.url %>'/></span><span class='swatch-option-text'><%- element.value %></span></div>">                  
                      <img src="<%- element.url %>"/>
                    </label> 
                <% } %>
                               
              </div>
         <% }); %>
         </div>
    <% break; 
    default : %>
    	<div class="label-header <% if ( valueVariant.length < 2 ) { %> hide <% } %>">
          <span class="label-name ">
                <%- nameVariant  %>:
          </span>
           <span class="label-value" data-variant-value>
                <%- valueVariant[0].value %>
          </span>
        </div>
    	<div class="selector-wrapper js product-form__item <% if ( valueVariant.length < 2 ) { %> hide <% } %>">
		  <input class="checked" type="radio" value="<%- valueVariant[0].value %>"/>
          <select class="single-option-selector product-form__input" data-index="option<%- option_index %>" name="<%- option_index %>">            
            <% _.each(valueVariant, function(element, index) { %>
               <option value="<%- element.value %>"<% if ( index == '0' ) { %> selected="selected" <% } %>><%- element.value %></option>
             <% }); %>
          </select>
        </div>
<% } %>
</script>
