{%- comment %}<locksmith:906a>{% endcomment -%}
  {%- assign locksmith_fb1e_product__first_available_variant = nil %}{% assign locksmith_fb1e_product__selected_variant = nil %}{% assign locksmith_fb1e_product__selected_or_first_available_variant = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_fb1e_product__first_available_variant == nil and variant.available %}{% assign locksmith_fb1e_product__first_available_variant = variant %}{% endif %}{% if locksmith_fb1e_product__selected_variant == nil and variant.selected %}{% assign locksmith_fb1e_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_fb1e_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% endfor %}{% if locksmith_fb1e_product__selected_or_first_available_variant == nil %}{% assign locksmith_fb1e_product__selected_or_first_available_variant = locksmith_fb1e_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:906a>{% endcomment -%}

<div class="grid product-media row" data-cdzwidget = '{"codazon.cdzProductMedia": {{data-cdzproductmedia}}}' data-product-id="{{section.id}}">
  {% if product_viewmore == 'vertical' %}
  <div class="view-more ver-viewmore col-md-3 col-lg-2">
    <ul class="view-more-list list-unstyled">
      {%- for media in product.media -%}
        {% assign featured_image = locksmith_fb1e_product__selected_or_first_available_variant.featured_image | default: product.featured_image %}
        {%- assign image = media.preview_image -%}
        <li  data-item="{{forloop.index }}" class="{% if forloop.first == true %}first {% endif %}{% if featured_image == image %}selected-thumb{% endif %}{% unless media.media_type == 'image' %} hide-fullscreen{% endunless %}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-role="thumb-item">
         <img src="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" style="width: 100%" class="vm-image">
          {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
            <div class="product-single__thumbnail-badge">
              {% include 'icon-video-badge-full-color' %}
            </div>
          {%- endif -%}
          {%- if media.media_type == 'model' -%}
            <div class="product-single__thumbnail-badge">
              {% include 'icon-3d-badge-full-color' %}
            </div>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="{% if product_viewmore == 'horizontal' %} col-sm-12 hoz-main-image{% else %} col-md-9 col-lg-10{% endif %}">
    <div class="product-main-image nav_style01">
      {% if section.settings.enable_product_label %}
        {% include 'product-label' %}
      {% endif %}
      {% assign featured_image = locksmith_fb1e_product__selected_or_first_available_variant.featured_image | default: product.featured_image %}
      {%- assign featured_media = locksmith_fb1e_product__selected_or_first_available_variant.featured_media | default: product.featured_media -%}
            {%- assign img_size = product_img_width | append: 'x' | append: product_img_height -%}
            {% capture image_size %}{{ product_img_height }}x{{ product_img_height }}{% endcapture %}
                  <div class="product-photo">
                      {% if product.media.size > 0 %}
                        {%- for media in product.media -%}
                          {%- case media.media_type -%}
                            {%- when 'image' -%}
                            {%- assign image = media -%}
                                {% comment ls-rpl %}{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
                                {%- assign img_size = product_img_width | append: 'x' | append: product_img_height -%}
                                <div class="gallery-image product-single__image-wrapper {% if featured_image == image %} show{% endif %} {% if forloop.first == true %}item-image{% endif %}" data-image-id="{{ image.id }}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-item="{{forloop.index }}" data-src="{% comment ls-rpl %}{{ image.src | img_url: 'large' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
                                    <a class="main-link" href="{% comment ls-rpl %}{{ image.src | img_url : 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url : 'master' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" ><img src="{% comment ls-rpl %}{{ image.src | img_url: img_size}}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL}}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" style="width: 100%" class="product-image"></a>
                                    <div class="magnify"></div>
                                </div>
                          {% when 'external_video' %}
                            {%- assign image = media.preview_image -%}
                                <div class="gallery-image product-single__media external_video {% if forloop.first == true %}item-image{% endif %}" data-product-media-type-video data-enable-video-looping="true" data-video-id="{{ media.external_id }}" data-media-id="product-template-{{media.id}}" data-image-id="{{ image.id }}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-item="{{forloop.index }}" data-src="{% comment ls-rpl %}{{ image.src | img_url: 'large' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%;">
                                  {{ media | external_video_tag }}
                                </div>
                              {% when 'video' %}
                            {%- assign image = media.preview_image -%}
                                <div class="gallery-image {% if forloop.first == true %}item-image{% endif %} product-single__media video product-single__media--video product-single__media--{{ media.id }}" data-product-media-type-video data-enable-video-looping="true" data-media-id="product-template-{{media.id}}" data-image-id="{{ image.id }}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-item="{{forloop.index }}" data-src="{% comment ls-rpl %}{{ image.src | img_url: 'large' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
                                  {{ media | video_tag: class: 'media-video', image_size: image_size }}
                                 
                                </div>
                              {% when 'model' %}
                            {%- assign image = media.preview_image -%}
                                <div class="3d gallery-image {% if forloop.first == true %}item-image{% endif %} product-single__media model"  data-image-id="{{ image.id }}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-item="{{forloop.index }}" data-src="{% comment ls-rpl %}{{ image.src | img_url: 'large' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-product-media-type-model data-product-single-media-wrapper data-media-id="{{section.id}}-{{media.id}}">
                                  {{ media | model_viewer_tag: image_size: '530x530', reveal: 'interaction', toggleable: true, data-model-id: media.id }}
                                </div>
                        {%- endcase -%}
          {% endfor %}
        {% else %}
          <img class="img-responsive" src="{% comment ls-rpl %}{{ featured_image | img_url: '600x600' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: '600x600' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
        {% endif %}
        </div>
        {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
        {%- if first_3d_model -%}
        <button
                aria-label="{{ 'products.product.view_in_space_label' | t }}"
                class="hide product-single__view-in-space"
                data-shopify-xr
                data-shopify-model3d-id="{{ first_3d_model.id }}"
                data-shopify-title="{{ product.title | escape }}"
                data-shopify-xr-hidden
                >
          {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
        </button>
        {%- endif -%}
      
                
      <noscript>
        <img class="img-responsive" src="{% comment ls-rpl %}{{ featured_image | img_url: '600x600' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: '600x600' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
      </noscript>
      {% if product.images.size > 0 %}
        <div class="full-image"><span class="lg-fullscreen lg-icon"></span></div>
      {% endif %}
               
    </div>
  </div>
  {% if product_viewmore == 'horizontal' %}
  <div class="view-more hoz-viewmore col-sm-12">
    <ul class="view-more-list list-unstyled">
      {%- for media in product.media -%}
        {% assign featured_image = locksmith_fb1e_product__selected_or_first_available_variant.featured_image | default: product.featured_image %}
        {%- assign image = media.preview_image -%}
        <li  data-item="{{forloop.index }}" class="{% if forloop.first == true %}first {% endif %}{% if featured_image == image %}selected-thumb{% endif %}{% unless media.media_type == 'image' %} hide-fullscreen{% endunless %}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-role="thumb-item">
         <img src="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" style="width: 100%" class="vm-image">
          {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
            <div class="product-single__thumbnail-badge">
              {% include 'icon-video-badge-full-color' %}
            </div>
          {%- endif -%}
          {%- if media.media_type == 'model' -%}
            <div class="product-single__thumbnail-badge">
              {% include 'icon-3d-badge-full-color' %}
            </div>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>