{%- case displaycartStyle -%}
  {%- when 'sidebar' -%}
	
		<div class="minicart-wrapper">
          	<a class="action showcart cdz-top-link" data-action="cdz-action-minicart" data-role="cdz-sidebar-trigger" data-sidebar="utilies-minicart" 
               class="{% if cart.item_count <= 0 %} no-count{% endif %}">
              	<span class="text">{{ 'general.header.title_cart' | t }}</span>
				<span class="counter qty {% if cart.item_count <= 0 %}empty{% endif %}">{{ cart.item_count }}</span>
              	<span class="cart-subtotal">{{ cart.original_total_price | money  }}</span>
			</a>
			<div data-role="utilies-section" class="utilies-section utilies-minicart" id="utilies-minicart" data-cdzwidget='{"codazon.sideBar" : {"side" : "right", "section" : "minicart"}}'>
				{% include 'item-cart' %}
			</div>
			
		</div>
	
  {%- when 'dropdown' -%}

    <div class="minicart-wrapper">
      <div class="cdz-dropdown"  data-role="cdz-dropdown"  data-cdzwidget='{"codazon.dropDown" : {"show" : "no", "section":"header-cart-dropdown"}}'>
          <a class="action showcart cdz-top-link {% if cart.item_count <= 0 %} no-count{% endif %}" data-action="cdz-action-minicart" data-role="cdz-dd-trigger">
              	<span class="text">{{ 'general.header.title_cart' | t }}</span>
				<span class="counter qty {% if cart.item_count <= 0 %}empty{% endif %}">{{ cart.item_count }}</span>
              	<span class="cart-subtotal">{{ cart.original_total_price | money  }}</span>
			</a>
          <div class="cdz-dd-content" data-role="cdz-dd-content" >
              {% include 'item-cart' %}
          </div>
      </div>
    </div>

  {%- when 'popup' -%}

		<div class="minicart-wrapper">
			<a class="action showcart cdz-top-link" data-action="cdz-action-minicart" data-role="cdz-popup-trigger" data-popup="popup-minicart" 
               class="{% if cart.item_count <= 0 %} no-count{% endif %}">
              	<span class="text">{{ 'general.header.title_cart' | t }}</span>
				<span class="counter qty {% if cart.item_count <= 0 %}empty{% endif %}">{{ cart.item_count }}</span>
              	<span class="cart-subtotal">{{ cart.original_total_price | money  }}</span>
			</a>
			<div data-role="cdz-popup-section" class="cdz-popup popup-minicart" id="popup-minicart"  data-cdzwidget='{"codazon.cdzPopUp" : {"overrideOthers" : "false", "section" : "minicart"}}'>
				{% include 'item-cart' %}
			</div>
		</div>
{%- endcase -%}