<div class="form-vertical post-large--hide large--hide medium--hide">
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {%- if form.posted_successfully? -%}
      <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {%- else -%}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <div class="input-group-btn actions">
          {%- if newsletter_mailchimp -%}
          	<a target="_blank" class="btn subscribe" href='{{ newsletter_mailchimp_link }}'>{{ 'general.newsletter_form.submit' | t }}</a>
          {%- else -%}          	
          	<button type="submit" class="btn subscribe" name="commit" id="subscribe">{{ 'general.newsletter_form.submit' | t }}</button>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  {%- endform -%}
</div>

