{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.
  The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

  Basic Pagination Usage:
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>

  Replace Text:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - index#pagination
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}
{% comment %}
{% if enable_ajax_loading %}
	<div id="infinite-scroll-catePape" class="infinite-scroll text-center clearfix">
		{% if paginate.next %}
		<a class="btn-next" href="{{ paginate.next.url }}">Loading More</a>
		{% endif %}  
		<div class="double-bounce-spinner btn-loader" data-role="loader">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
{% else %}
	<div class="toolbar toolbar-products toolbar-bottom text-center clearfix">
	<ul class="pagination pagination-custom">
	  {% if paginate.previous %}
		<li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">&larr;</a></li>
	  {% else %}
		<li class="disabled"><span>&larr;</span></li>
	  {% endif %}

	  {% for part in paginate.parts %}
		{% if part.is_link %}
		  <li>
			<a href="{{ part.url }}" title="">{{ part.title }}</a>
		  </li>
		{% else %}
		  {% if part.title == paginate.current_page %}
			<li class="active"><span>{{ part.title }}</span></li>
		  {% else %}
			<li><span>{{ part.title }}</span></li>
		  {% endif %}
		{% endif %}
	  {% endfor %}

	  {% if paginate.next %}
		<li class="pages-item-next"><a class="next" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">&rarr;</a></li>
	  {% else %}
		<li class="disabled"><span>&rarr;</span></li>
	  {% endif %}
	</ul>
	</div>
{% endif %}
{% endcomment %}

{% if enable_ajax_loading %}
	<div id="infinite-scroll-catePape" class="infinite-scroll text-center clearfix" data-cdzwidget='{"codazon.productInfinitScroll" : {"pagination" : "#infinite-scroll-catePape", "container" : ".products.items.product-items .flex-grid", "method" : "{{ type_ajaxloading }}" }}'>
		{% if paginate.next %}
		<a class="btn-next" href="{{ paginate.next.url }}">{{ 'collections.general.load_more' | t }}</a>
		{% endif %}  
		<div class="double-bounce-spinner btn-loader" data-role="loader">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
{% else %}
	<div class="toolbar toolbar-products toolbar-bottom text-center clearfix">
	<ul class="pagination pagination-custom">
	  {% if paginate.previous %}
		<li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">&larr;</a></li>
	  {% else %}
		<li class="disabled"><span>&larr;</span></li>
	  {% endif %}

	  {% for part in paginate.parts %}
		{% if part.is_link %}
		  <li>
			<a href="{{ part.url }}" title="">{{ part.title }}</a>
		  </li>
		{% else %}
		  {% if part.title == paginate.current_page %}
			<li class="active"><span>{{ part.title }}</span></li>
		  {% else %}
			<li><span>{{ part.title }}</span></li>
		  {% endif %}
		{% endif %}
	  {% endfor %}

	  {% if paginate.next %}
		<li class="pages-item-next"><a class="next" href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">&rarr;</a></li>
	  {% else %}
		<li class="disabled"><span>&rarr;</span></li>
	  {% endif %}
	</ul>
	</div>
{% endif %}