{% unless product.metafields.codazon.cdz_deal_start_date == blank and product.metafields.codazon.cdz_deal_end_date == blank %}
{% assign countdown_start_time =  "now" | date: "%Y-%m-%dT%H:%M:%SZ" %}
{% assign countdown_time =  "now" | date: "%Y-%m-%dT%H:%M:%SZ" %}
{% unless product.metafields.codazon.cdz_deal_start_date == blank %}
	{% assign countdown_start_time = product.metafields.codazon.cdz_deal_start_date %}
{% endunless %}
{% unless product.metafields.codazon.cdz_deal_end_date == blank %}
	{% assign countdown_time = product.metafields.codazon.cdz_deal_end_date %}
{% endunless %}
{% assign countdown_time_now = "now" | date: "%Y-%m-%dT%H:%M:%SZ" %}
<div class="cdz-product-deal" data-cdzwidget = '{"codazon.cdzProductDeal": {"dealStartDate":"{{ countdown_start_time }}","dealEndDate":"{{ countdown_time }}", "dealNowDate": "{{countdown_time_now}}"}}' data-role="cdz-countdown">
	<p class="h4">{{ 'products.product.countdown_title' | t }}</p>
	<div class="clockdiv">
		<div class="clock-days">
			<span class="days"></span>
			<div class="smalltext">{{ 'products.product.countdown_days' | t }}</div>
		</div>
		<div class="clock-hours">
			<span class="hours"></span>
			<div class="smalltext">{{ 'products.product.countdown_hours' | t }}</div>
		</div>
		<div class="clock-minutes">
			<span class="minutes"></span>
			<div class="smalltext">{{ 'products.product.countdown_minutes' | t }}</div>
		</div>
		<div class="clock-seconds">
			<span class="seconds"></span>
			<div class="smalltext">{{ 'products.product.countdown_seconds' | t }}</div>
		</div>
	</div>
</div>
{% endunless %}
