{%- comment %}<locksmith:5fce>{% endcomment -%}
  {%- assign locksmith_ab61_product__available = false %}{% assign locksmith_ab61_product__first_available_variant = nil %}{% assign locksmith_ab61_product__selected_variant = nil %}{% assign locksmith_ab61_product__selected_or_first_available_variant = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_ab61_product__available == false and variant.available %}{% assign locksmith_ab61_product__available = true %}{% endif %}{% if locksmith_ab61_product__first_available_variant == nil and variant.available %}{% assign locksmith_ab61_product__first_available_variant = variant %}{% endif %}{% if locksmith_ab61_product__selected_variant == nil and variant.selected %}{% assign locksmith_ab61_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_ab61_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% endfor %}{% if locksmith_ab61_product__selected_or_first_available_variant == nil %}{% assign locksmith_ab61_product__selected_or_first_available_variant = locksmith_ab61_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:5fce>{% endcomment -%}

{%- assign sold_out = true -%}
{%- assign sold_out_text = 'products.product.sold_out' | t -%}
{%- if locksmith_ab61_product__available -%}
  {%- assign sold_out = false -%}
{%- endif -%}
{%- assign label_sale_type = settings.label_sale_type -%}
{%- assign label_sale_text = settings.label_sale_text -%}
{%- assign label_sale_color = settings.label_sale_color -%}
{%- assign label_sale_background = settings.label_sale_background -%}
{%- assign label_sale_enable = settings.label_sale_enable -%}
{%- assign label_sale_image = settings.label_sale_image -%}
{%- assign label_new_text = settings.label_new_text -%}
{%- assign label_new_type = settings.label_new_type -%}
{%- assign label_new_color = settings.label_new_color -%}
{%- assign label_new_background = settings.label_new_background -%}
{%- assign label_new_enable = settings.label_new_enable -%}
{%- assign label_new_image = settings.label_new_image -%}
{%- assign label_new_enddays = settings.label_new_enddays | plus: 1 -%}
{%- assign label_tag01_text = settings.label_tag01_text -%}
{%- assign label_tag01_type = settings.label_tag01_type -%}
{%- assign label_tag01_color = settings.label_tag01_color -%}
{%- assign label_tag01_background = settings.label_tag01_background -%}
{%- assign label_tag01_enable = settings.label_tag01_enable -%}
{%- assign label_tag01_image = settings.label_tag01_image -%}
{%- assign label_tag01_text_tag = settings.label_tag01_text_tag -%}
{%- assign label_tag02_text = settings.label_tag02_text -%}
{%- assign label_tag02_type = settings.label_tag02_type -%}
{%- assign label_tag02_color = settings.label_tag02_color -%}
{%- assign label_tag02_background = settings.label_tag02_background -%}
{%- assign label_tag02_enable = settings.label_tag02_enable -%}
{%- assign label_tag02_image = settings.label_tag02_image -%}
{%- assign label_tag02_text_tag = settings.label_tag02_text_tag -%}
{%- assign label_tag03_text = settings.label_tag03_text -%}
{%- assign label_tag03_type = settings.label_tag03_type -%}
{%- assign label_tag03_color = settings.label_tag03_color -%}
{%- assign label_tag03_background = settings.label_tag03_background -%}
{%- assign label_tag03_enable = settings.label_tag03_enable -%}
{%- assign label_tag03_image = settings.label_tag03_image -%}
{%- assign label_tag03_text_tag = settings.label_tag03_text_tag -%}

<ul class="cdz-product-labels">
	{%- if label_sale_enable == true -%}
		{%- assign sale_text = 'products.product.sale' | t -%}
		  <li class="label-item sale {% if locksmith_ab61_product__selected_or_first_available_variant.compare_at_price == blank or locksmith_ab61_product__selected_or_first_available_variant.price > locksmith_ab61_product__selected_or_first_available_variant.compare_at_price %} hide{% endif %}" {% unless label_sale_type == 'image' %}style="color:{{label_sale_color}}; background-color:{{label_sale_background}}"{% endunless %} {{locksmith_ab61_product__selected_or_first_available_variant.price}} {{locksmith_ab61_product__selected_or_first_available_variant.compare_at_price}}>
			{%- assign sale_precent = '0' -%}
			{%- if locksmith_ab61_product__selected_or_first_available_variant.compare_at_price > locksmith_ab61_product__selected_or_first_available_variant.price -%}
				{%- assign sale_precent = locksmith_ab61_product__selected_or_first_available_variant.compare_at_price | minus: locksmith_ab61_product__selected_or_first_available_variant.price | times: 100.0 | divided_by: locksmith_ab61_product__selected_or_first_available_variant.compare_at_price | round: 0 -%}
			{%- endif -%}
				{%- if label_sale_type == 'text' -%}
					<span class="sale-text">{{label_sale_text | replace: '[sale_percent]', sale_precent }}</span>
				{%- elsif  label_sale_type == 'percent' -%} 
					<span>{{sale_precent}}</span>
				{%- else -%}
					<img src="{% comment ls-rpl %}{{label_sale_image | img_url }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: label_sale_image, img_url -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="max-width: 70px"/>
				{%- endif -%} 
		  </li>
	{%- endif -%}
	{%- if label_new_enable == true -%}
		{%- assign pubDate = product.published_at | date: '%s' -%}
		{%- assign nowDate = 'now' | date: '%s' -%}
		{%- assign times = nowDate | minus: pubDate -%}
		{%- assign days = times | divided_by: 86400 -%}
		{%- if days <= label_new_enddays -%}
		<li class="label-item new" {% unless label_new_type == 'image' %}style="color:{{label_new_color}}; background-color:{{label_new_background}}"{% endunless %}>
			{%- if label_new_type == 'text' -%}
				<span>{{label_new_text}}</span>
			{%- else -%}
				<img src="{% comment ls-rpl %}{{label_new_image | img_url }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: label_new_image, img_url -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="max-width: 70px"/>
			{%- endif -%}
		</li>
		{%- endif -%}
	{%- endif -%}
	{%- if label_tag01_enable == true -%}
		{%- if product.tags contains label_tag01_text_tag -%}
		<li class="label-item tag01" {% unless label_tag01_type == 'image' %}style="color:{{label_tag01_color}}; background-color:{{label_tag01_background}}"{% endunless %}>
			{%- if label_tag01_type == 'text' -%}
				<span>{{label_tag01_text}}</span>
			{%- else -%}
				<img src="{% comment ls-rpl %}{{label_tag01_image | img_url }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: label_tag01_image, img_url -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="max-width: 70px"/>
			{%- endif -%}
		</li>
		{%- endif -%}
	{%- endif -%}
	{%- if label_tag02_enable == true -%}
		{%- if product.tags contains label_tag02_text_tag -%}
		<li class="label-item tag01" {% unless label_tag02_type == 'image' %}style="color:{{label_tag02_color}}; background-color:{{label_tag02_background}}"{% endunless %}>
			{%- if label_tag02_type == 'text' -%}
				<span>{{label_tag02_text}}</span>
			{%- else -%}
				<img src="{% comment ls-rpl %}{{label_tag02_image | img_url }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: label_tag02_image, img_url -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="max-width: 70px"/>
			{%- endif -%}
		</li>
		{%- endif -%}
	{%- endif -%}
	{%- if label_tag03_enable == true -%}
		{%- if product.tags contains label_tag03_text_tag -%}
		<li class="label-item tag01" {% unless label_tag03_type == 'image' %}style="color:{{label_tag03_color}}; background-color:{{label_tag03_background}}"{% endunless %}>
			{%- if label_tag03_type == 'text' -%}
				<span>{{label_tag03_text}}</span>
			{%- else -%}
				<img src="{% comment ls-rpl %}{{label_tag03_image | img_url }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: label_tag03_image, img_url -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" style="max-width: 70px"/>
			{%- endif -%}
		</li>
		{%- endif -%}
	{%- endif -%}
</ul>