{%- comment %}<locksmith:ab4c>{% endcomment -%}
  {%- assign locksmith_b4d1_product__has_only_default_variant = false %}{% assign _variants_count = 0 %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% assign _variants_count = _variants_count | plus: 1 %}{% endfor %}{% if _variants_count == 1 %}{% assign locksmith_b4d1_product__has_only_default_variant = true %}{% endif -%}
{%- comment %}</locksmith:ab4c>{% endcomment -%}

{%- unless available -%}
    {%- if variant.title -%}
      {%- assign available = variant.available -%}
    {%- else -%}
      {%- assign available = true -%}
    {%- endif -%}
{%- endunless -%}
{%- if variant.unit_price -%}
  {%- assign unitPrice = variant.unit_price | money -%}
{%- else -%}
  {%- assign unitPrice = '0' | money -%}
{%- endif -%}

  <span class="product-unit-price{% unless available and variant.unit_price_measurement %} hide{% endunless %}{% if wrapper_class != blank %} {{ wrapper_class }}{% endif %}" data-unit-price-container>
    {%- capture unit_price_separator -%}
      <span aria-hidden="true">/</span>
    {%- endcapture -%}
    {%- capture unit_price_base_unit -%}
      <span data-unit-price-base-unit>
        {%- if available and variant.unit_price_measurement -%}
          {%- if variant.unit_price_measurement.reference_value != 1 -%}
            {{- variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ variant.unit_price_measurement.reference_unit }}
        {%- endif -%}
      </span>
    {%- endcapture -%}
    <span class="label">{{ 'products.product.unit_price_label' | t }}</span>
    <span data-unit-price>{{ unitPrice }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
  </span>

{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
	<div class="product-single__policies{% if locksmith_b4d1_product__has_only_default_variant and enable_quantity_product == false %} product__policies--no-dropdowns{% endif %} rte">
	  {%- if shop.taxes_included -%}
		{{ 'products.general.include_taxes' | t }}
	  {%- endif -%}
	  {%- if shop.shipping_policy.body != blank -%}
		{{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
	  {%- endif -%}
	</div>
  {%- endif -%}