{%- comment %}<locksmith:8db9>{% endcomment -%}
  {%- assign locksmith_25dd_product__available = false %}{% assign locksmith_25dd_product__first_available_variant = nil %}{% assign locksmith_25dd_product__selected_variant = nil %}{% assign locksmith_25dd_product__selected_or_first_available_variant = nil %}{% assign locksmith_25dd_product__price = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_25dd_product__available == false and variant.available %}{% assign locksmith_25dd_product__available = true %}{% endif %}{% if locksmith_25dd_product__first_available_variant == nil and variant.available %}{% assign locksmith_25dd_product__first_available_variant = variant %}{% endif %}{% if locksmith_25dd_product__selected_variant == nil and variant.selected %}{% assign locksmith_25dd_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_25dd_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% if locksmith_25dd_product__price == nil %}{% assign locksmith_25dd_product__price = variant.price %}{% endif %}{% endfor %}{% if locksmith_25dd_product__selected_or_first_available_variant == nil %}{% assign locksmith_25dd_product__selected_or_first_available_variant = locksmith_25dd_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:8db9>{% endcomment -%}

<div class="product-miniature" {% unless product.variants.size == 1 or enable_variant_product == false %} data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ product.handle }}","wrap" : "#product-item-{{ forloop.index }}"}}' {% endunless %}>
<div class="product-item {% if show_product_text_align == 'center' %} text-center {% elsif show_product_text_align == 'left' %} text-left {% else %} text-right {% endif %}">
  <div class="product-item-top">
	<div class="photo product-item-photo">
		{%- if enable_product_label -%}
			{%- include 'product-label' with product -%}
		{%- endif -%}
		{%- assign img_size = thumbnail_width | append: 'x' | append: thumbnail_height -%}
		{%- assign img_ratio = thumbnail_width | times: 1.0 | divided_by: thumbnail_height -%}
	    {%- assign featured_image = locksmith_25dd_product__selected_or_first_available_variant.featured_image | default: product.featured_image -%}
		{%- unless product.featured_image == blank -%}
		    <a href="{{ product.url | within: collection }}" class="product-image-container">
		    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
		    		{%- if enable_variant_product -%}
				    	{%- for image in product.images -%}
						    {%- comment %}<locksmith:ae9e>{% endcomment -%}
						      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
						    {%- comment %}</locksmith:ae9e>{% endcomment -%}
						    <img class="product-image-photo lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}" 
						    data-src="{% comment ls-rpl %}{{ image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" 
						    data-aspectratio="{{ image.aspect_ratio }}"
						    data-sizes="{{img_size}}"
						    tabindex="-1"
						    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
					    {%- endfor -%}
					{%- else -%}
					    <img class="product-image-photo lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}" 
					    data-src="{% comment ls-rpl %}{{ product.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" 
					    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
					    data-sizes="{{img_size}}"
					    tabindex="-1"
					    alt="{% comment ls-rpl %}{{ product.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
					{%- endif -%}
					{%- if enable_hover_thumbnail == true -%}
						{% if  product.images.size > 1 %}
							<img class="product-image-photo lazyload hovered-img" 
						    data-src="{% comment ls-rpl %}{{ product.images[1] | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images[1], img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" 
						    data-aspectratio="{{ product.images[1].aspect_ratio }}"
						    data-sizes="{{img_size}}"
						    tabindex="-1"
						    alt="{% comment ls-rpl %}{{ product.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						{%- else -%}
							<img class="product-image-photo lazyload hovered-img" 
						    data-src="{% comment ls-rpl %}{{ product.images.last | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.images.last, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" 
						    data-aspectratio="{{ product.images.last.aspect_ratio }}"
						    data-sizes="{{img_size}}"
						    tabindex="-1"
						    alt="{% comment ls-rpl %}{{ product.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: product.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						{%- endif -%}
					{%- endif -%}
				</span>
			</a>
		{%- endunless -%}
		{%- if product.featured_image == blank -%}
			<a href="{{ product.url | within: collection }}" class="product-image-container">
				<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
					<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
				    class="product-image-photo lazyload" 
				    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-widths="['150,{{ thumbnail_width }}']"
				    data-aspectratio="{{ featured_image.aspect_ratio }}"
				    data-sizes="{{img_size}}"
				    tabindex="-1"
				    alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
					
				</span>
			</a>
		{%- endif -%} 
	 	 <noscript>
			<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
	  	</noscript>
	{% if enable_quickshop %}
	<a class="qs-button " href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="{{ 'products.general.quickshop' | t }}" data-role="cdz-popup-trigger" data-popup="popup-quickshop" data-qsurl='{{product.url}}'><span><span>{{ 'products.general.quickshop' | t }}</span></span></a>
	{% endif %}
	</div>	
  </div>
  <div class="product-item-bottom">
    {% if enable_product_name %}
    <div class="product name product-item-name">
		<a class="product-item-link" href="{{ product.url | within: collection }}">{{ product.title }}</a>
	</div>
	{% endif %}
	{% if enable_sku %}
		<div class="product-sku">{{product.variants[0].sku}}</div>
	{% endif %}
	{% if enable_vendor %}
		<div class="product-vendor">{{ product.vendor }}</div>
	{% endif %}
	{% include 'product-reviews' %}
	{%- if enable_price -%}
    <div class="product-price">
		<div class="price">
			{% assign variant = locksmith_25dd_product__selected_or_first_available_variant %}
			<div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span class="product-single__price price-box" itemprop="price" content="{{ locksmith_25dd_product__price | divided_by: 100.00 }}">
              {{ variant.price | money }}
            </span>
			  <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
			  <s class="product-single__sale-price {% if variant.compare_at_price < variant.price %}hide{% endif %}">
				{{ variant.compare_at_price | money }}
			  </s>			
			{% include 'product-unit-price', variant: variant, wrapper_class: 'h5 d-block' %}
          </div>
        </div>
    </div>
	{%- endif -%}

    <form method="post" enctype="multipart/form-data"  data-form="cdz-mini-cart">
      	{% if enable_variant_product %}
          <div class="product-options">
              <input type="hidden" name="id" value="{{ locksmith_25dd_product__selected_or_first_available_variant.id }}">
              {%- unless product.variants.size == 1 -%}
	              {%- for option in product.options_with_values -%}
	                  {% include 'swatch-option' with option.name, option_index : forloop.index0 %}
	              {%- endfor -%}
				  {% assign data_stock = "" %}
					{% for variant in product.variants %}
						{%- comment %}<locksmith:c291>{% endcomment -%}
						  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
						{%- comment %}</locksmith:c291>{% endcomment -%}
						{% assign data_stock = data_stock | append: "," | append:  variant.id | append: ":" | append: variant.inventory_quantity %}
					{% endfor %}
				  {% assign data_stock = data_stock  | replace_first: ',', '' %}
					 <label class="cdz-stock-qty d-none" data-stock-product="{{ data_stock }}">
					  </label>
              {%- endunless -%}
          </div>
      	{% else %}
      		<div class="hide clearfix"> 
              <select name="id">
              {% for variant in product.variants %}
                {%- comment %}<locksmith:5338>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:5338>{% endcomment -%}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }} - {{ variant.price | money_with_currency }}
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} <ls-static-346874>- sold out</ls-static-346874>
                  </option>
                {% endif %}
              {% endfor %}
              </select>
          </div>
      	{% endif %}
      	<div class="qty-box {% if enable_quantity_product == false %}hide{% endif %}">
			<div class="cart-qty">
				<div class="qty-ctl">
					<button title="Decrease" type="button" data-role="change_cart_qty" class="decrease" data-qty="-1"></button>
				</div>
				<input class="qty input-text qty" type="text" name="quantity" value="1">
				<div class="qty-ctl">
					<button title="Increase" type="button" data-role="change_cart_qty" data-qty="1" class="increase"></button>
				</div>
			</div>
		</div>
		{% if enable_short_description %}
			<div class="product description product-item-description">
				<div class="product-description rte" itemprop="description">
					
                  {{ product.description | strip_html | truncate: short_description_length }}
                </div>
			</div>
		{% endif %}

    </form>
  </div>
  {% if enable_addto_cart or enable_addto_wishlist or enable_addto_compare %}
  <div class="product-item-inner">
	  <div class="product actions product-item-actions">
		  {% if enable_addto_cart %}
		  <div class="actions-primary">
			{%- if locksmith_25dd_product__available -%}
				{%- if locksmith_25dd_product__selected_or_first_available_variant.inventory_quantity > 0 -%}
					<button class="btn-cart {% if enable_variant_product == false and product.variants.size > 1 %}select-option{% endif %}" title="{{ 'cart.general.btn_addcart' | t }}" href="javascript:void(0)"  type="button" data-addCart data-cartHandle="{{ product.handle }}" {% if enable_variant_product == false and product.variants.size > 1 %} data-url="{{ product.url }}"{% endif %}>
					  <span>{{ 'cart.general.btn_addcart' | t }}</span>
					</button>
				{%- else -%}
					<button class="btn-cart {% if enable_variant_product == false and product.variants.size > 1 %}select-option{% endif %}" title="{{ 'cart.general.btn_preorder' | t }}" href="javascript:void(0)"  type="button" data-addCart data-cartHandle="{{ product.handle }}" {% if enable_variant_product == false and product.variants.size > 1 %}data-url="{{ product.url }}"{% endif %}>
						<span>{{ 'cart.general.btn_preorder' | t }}</span>
					</button>
				{%- endif -%}
			{%- else -%}
				<button class="btn-cart disabled" disabled="disabled" type="button">
					  {{ 'cart.general.btn_sold_out' | t }}
				</button>
			{%- endif -%}
		  </div>
		  {% endif %}
		  <div class="actions-secondary">
				{% if enable_addto_wishlist %}
				<a class="action towishlist " href="javascript:void(0);" data-title="{{ product.title }}"  data-post="{{ product.handle }}" data-action="add-to-wishlist" title="{{ 'wishlist.general.add_wishlist' | t }}">
				  <span>{{ 'wishlist.general.add_wishlist' | t }}</span>
				</a>
				{% endif %}
				{% if enable_addto_compare %}
				<a class="action tocompare" href="javascript:void(0);" data-title="{{ product.title }}"  data-post="{{ product.handle }}" data-action="add-to-compare" title="{{ 'compare.general.add_compare' | t }}">
				  <span>{{ 'compare.general.add_compare' | t }}</span>
				</a>
				{% endif %}
		  </div>
	  </div>
  </div>    	   
  {% endif %}
</div>
</div>
