{%- if enable_review -%}
<div class="product-reviews-summary">	
	{%- assign product__reviews-count = 0 -%}
	{%- if product.metafields.spr.reviews -%}
		{%- capture review_data -%}{{ product.metafields.spr.reviews }}{%- endcapture -%}
		  {%- if review_data contains '"votes"' -%}
			  {%- assign keyword = '"votes"' -%}
		  {%- else  -%}
			  {%- assign keyword = '"reviewCount"' -%}
		  {%- endif -%}
		  {%- assign rd_a1 = review_data | split: keyword -%} 
		  {%- assign rd_a2 = rd_a1[1] | split: ":" -%}
		  {%- assign rd_a3 = rd_a2[1] | split: '"' -%}
		  {%- assign product__reviews-count = rd_a3[1] | plus: 1 | minus: 1 -%}
		<a href="{{ product.url | within: collection }}#reviews" class="" data-role="cdz-reviews"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		<span class="review-count">({{product__reviews-count}})</span></a>
	{%- else -%}
		<a href="{{ product.url | within: collection }}#reviews" class="" data-role="cdz-reviews"><span class="spr-badge review-empty" data-id="{{ product.id }}"><span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i><i class="spr-icon spr-icon-star-empty"></i></span></span></a>
	{%- endif -%} 
</div>
{%- endif -%}