{%- if section.settings.product_related_show_collection == '1' -%}
	{%- assign cListId = blank -%}
	{%- assign currentProductId = product.id -%}
	{%- assign currentProductType = product.type -%}
	{%- for collection in product.collections -%}
          {%- comment %}<locksmith:e1e8>{% endcomment -%}
            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
          {%- comment %}</locksmith:e1e8>{% endcomment -%}
          {%- for product in collections[collection.handle].products -%}
            {%- comment %}<locksmith:cb62>{% endcomment -%}
              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
            {%- comment %}</locksmith:cb62>{% endcomment -%}
            {%- unless cListId contains product.id or product.id == currentProductId or product.type != currentProductType -%}
              {%- assign cListId = cListId | append: product.id | append: ',' -%}
			  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
            {% endunless %}
          {%- endfor -%}
		  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
		{%- endfor -%}
	{%- unless cListId == blank -%}
	{% assign enable_variant_product = true %}
		<div class="related-products-list nav_style02"  data-cdzwidget = '{"codazon.cdzRelatedProduct": ""}'>
			<div class="cdz-block-title">
				<p class="b-title h4">
				  {{ related_title }}
				</p>
				<div class="block-actions">
					{{ 'products.general.related_head' | t }} <a href="javascript:void(0);" class="action select" role="select-all-related">{{ 'products.general.related_select' | t }}</a>
				</div>
			</div>
			<div class="products items product-items">
			  {% assign limit = related_products_count | times: 1 %}
	          {% assign count = 1 %}
	    	  {%- assign cListId = blank -%}
	    	  {%- assign currentProductId = product.id -%}
	    	  {%- assign currentProductType = product.type -%}
			  {%- comment %}<locksmith:d521>{% endcomment -%}
			    {%- assign locksmith_770d_forloop__size = 0 %}{%- for collection in product.collections -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_770d_forloop__size = locksmith_770d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_770d_forloop__index = nil -%}
			  {%- comment %}</locksmith:d521>{% endcomment -%}
			  {%- for collection in product.collections -%}
	          	{%- comment %}<locksmith:2fa3>{% endcomment -%}
	          	  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_770d_forloop__index == nil %}{% assign locksmith_770d_forloop__index = 1 %}{% assign locksmith_770d_forloop__index0 = 0 %}{% else %}{% assign locksmith_770d_forloop__index = locksmith_770d_forloop__index | plus: 1 %}{% assign locksmith_770d_forloop__index0 = locksmith_770d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_770d_forloop__index == 1 %}{% assign locksmith_770d_forloop__first = true %}{% else %}{% assign locksmith_770d_forloop__first = false %}{% endif %}{% if locksmith_770d_forloop__index == locksmith_770d_forloop__size %}{% assign locksmith_770d_forloop__last = true %}{% else %}{% assign locksmith_770d_forloop__last = false %}{% endif %}{% assign locksmith_770d_forloop__rindex = locksmith_770d_forloop__size | minus: locksmith_770d_forloop__index | minus: 1 %}{% assign locksmith_770d_forloop__rindex0 = locksmith_770d_forloop__size | minus: locksmith_770d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	          	{%- comment %}</locksmith:2fa3>{% endcomment -%}
	          	{%- if count > limit -%}{%- break -%}{%- endif -%}
		  		{%- comment %}<locksmith:96ad>{% endcomment -%}
		  		  {%- assign locksmith_b81b_forloop__size = 0 %}{%- for product in collections[collection.handle].products -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_b81b_forloop__size = locksmith_b81b_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_b81b_forloop__index = nil -%}
		  		{%- comment %}</locksmith:96ad>{% endcomment -%}
		  		{%- for product in collections[collection.handle].products -%}
	      			{%- comment %}<locksmith:0e0f>{% endcomment -%}
	      			  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% assign __relatedProduct = relatedProduct %}{% assign relatedProduct = product %}{% assign locksmith_4139_relatedProduct__available = false %}{% assign locksmith_4139_relatedProduct__has_only_default_variant = false %}{% assign _variants_count = 0 %}{% assign locksmith_4139_relatedProduct__first_available_variant = nil %}{% assign locksmith_4139_relatedProduct__selected_variant = nil %}{% assign locksmith_4139_relatedProduct__selected_or_first_available_variant = nil %}{% assign locksmith_4139_relatedProduct__price = nil %}{% assign locksmith_4139_relatedProduct__compare_at_price = nil %}{% assign locksmith_4139_relatedProduct__compare_at_price_max = nil %}{% for variant in relatedProduct.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_4139_relatedProduct__available == false and variant.available %}{% assign locksmith_4139_relatedProduct__available = true %}{% endif %}{% assign _variants_count = _variants_count | plus: 1 %}{% if locksmith_4139_relatedProduct__first_available_variant == nil and variant.available %}{% assign locksmith_4139_relatedProduct__first_available_variant = variant %}{% endif %}{% if locksmith_4139_relatedProduct__selected_variant == nil and variant.selected %}{% assign locksmith_4139_relatedProduct__selected_variant = variant %}{% endif %}{% if variant == relatedProduct.selected_or_first_available_variant %}{% assign locksmith_4139_relatedProduct__selected_or_first_available_variant = relatedProduct.selected_or_first_available_variant %}{% endif %}{% if locksmith_4139_relatedProduct__price == nil %}{% assign locksmith_4139_relatedProduct__price = variant.price %}{% endif %}{% if locksmith_4139_relatedProduct__compare_at_price == nil %}{% assign locksmith_4139_relatedProduct__compare_at_price = variant.compare_at_price %}{% endif %}{% if locksmith_4139_relatedProduct__compare_at_price_max == nil or locksmith_4139_relatedProduct__compare_at_price_max < variant.compare_at_price %}{% assign locksmith_4139_relatedProduct__compare_at_price_max = variant.compare_at_price %}{% endif %}{% endfor %}{% if _variants_count == 1 %}{% assign locksmith_4139_relatedProduct__has_only_default_variant = true %}{% endif %}{% if locksmith_4139_relatedProduct__selected_or_first_available_variant == nil %}{% assign locksmith_4139_relatedProduct__selected_or_first_available_variant = locksmith_4139_relatedProduct__first_available_variant %}{% endif %}{% assign relatedProduct = __relatedProduct %}{% if locksmith_b81b_forloop__index == nil %}{% assign locksmith_b81b_forloop__index = 1 %}{% assign locksmith_b81b_forloop__index0 = 0 %}{% else %}{% assign locksmith_b81b_forloop__index = locksmith_b81b_forloop__index | plus: 1 %}{% assign locksmith_b81b_forloop__index0 = locksmith_b81b_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_b81b_forloop__index == 1 %}{% assign locksmith_b81b_forloop__first = true %}{% else %}{% assign locksmith_b81b_forloop__first = false %}{% endif %}{% if locksmith_b81b_forloop__index == locksmith_b81b_forloop__size %}{% assign locksmith_b81b_forloop__last = true %}{% else %}{% assign locksmith_b81b_forloop__last = false %}{% endif %}{% assign locksmith_b81b_forloop__rindex = locksmith_b81b_forloop__size | minus: locksmith_b81b_forloop__index | minus: 1 %}{% assign locksmith_b81b_forloop__rindex0 = locksmith_b81b_forloop__size | minus: locksmith_b81b_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	      			{%- comment %}</locksmith:0e0f>{% endcomment -%}
	      			{%- if count > limit -%}{%- break -%}{%- endif -%}
	          		{%- if cListId contains product.id or product.id == currentProductId or product.type != currentProductType -%}
	          			{%- continue -%}
	         		{%- else -%}
	            		{%- assign cListId = cListId | append: product.id | append: ',' -%}
			  			{% assign relatedProduct = product %}
						  {% assign modulo = locksmith_b81b_forloop__index | modulo: related_total_rows %}
						  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
							{% if modulo == 1 %}
								<div class="items">
							{% endif %}
						  {% endif %}
						  <div class="item" {% if locksmith_4139_relatedProduct__has_only_default_variant or relatedProduct.variants.size == 1  %} data-related="" {% endif %} {{ block.shopify_attributes }} {{ block.shopify_attributes }}>
							<div class="product-item flex-grid" data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ relatedProduct.handle }}","wrap" : "#product-item-{{ locksmith_b81b_forloop__index }}"}}'>
								<div class="product-item-left  flex-grid">
									{% if locksmith_4139_relatedProduct__available %}
										{% if locksmith_4139_relatedProduct__has_only_default_variant or relatedProduct.variants.size == 1  %}
										<div class="field choice related" data-action="relatedProduct"><span type="checkbox" name="{{relatedProduct.title}}" value="{{relatedProduct.handle}}"></span></div>
										{% endif %}
									{% endif %}
									<div class="photo product-item-photo">
										{% assign img_size = related_thumbnail_width | append: 'x' | append: related_thumbnail_height %}
										{% assign img_ratio = related_thumbnail_width | times: 1.0 | divided_by: related_thumbnail_height %}
										{% assign featured_image = locksmith_4139_relatedProduct__selected_or_first_available_variant.featured_image | default: relatedProduct.featured_image %}
										{%- unless relatedProduct.featured_image == blank -%}
										    <a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
										    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
										    		{%- if enable_variant_product -%}
												    	{%- for image in relatedProduct.images -%}
														    {%- comment %}<locksmith:b399>{% endcomment -%}
														      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
														    {%- comment %}</locksmith:b399>{% endcomment -%}
														    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}"
														    data-src="{% comment ls-rpl %}{{ image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ image.aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
													    {%- endfor -%}
													{%- else -%}
													    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}"
													    data-src="{% comment ls-rpl %}{{ relatedProduct.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
													    data-aspectratio="{{ relatedProduct.featured_image.aspect_ratio }}"
													    data-sizes="{{img_size}}"
													    tabindex="-1"
													    alt="{% comment ls-rpl %}{{ relatedProduct.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
													{%- endif -%}
													{%- if enable_hover_thumbnail == true -%}
														{% if  relatedProduct.images.size > 1 %}
															<img class="product-image-photo responsive-image__image lazyload hovered-img"
														    data-src="{% comment ls-rpl %}{{ relatedProduct.images[1] | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images[1], img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ relatedProduct.images[1].aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ relatedProduct.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
														{%- else -%}
															<img class="product-image-photo responsive-image__image lazyload hovered-img"
														    data-src="{% comment ls-rpl %}{{ relatedProduct.images.last | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images.last, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ relatedProduct.images.last.aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ relatedProduct.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
														{%- endif -%}
													{%- endif -%}
												</span>
											</a>
										{%- endunless -%}
										{%- if relatedProduct.featured_image == blank -%}
											<a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
												<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
													<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
												    class="product-image-photo responsive-image__image lazyload"
												    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
												    data-aspectratio="{{ featured_image.aspect_ratio }}"
												    data-sizes="{{img_size}}"
												    tabindex="-1"
												    alt="{% comment ls-rpl %}{{ pfeatured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: pfeatured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
												</span>
											</a>
										{%- endif -%} 
									 	 <noscript>
											<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
									  	</noscript>
									</div>
								</div>
								<div class="product-item-right">
									<div class="product-name">
										<a class="product-item-link" href="{{ relatedProduct.url | within: collection }}">{{ relatedProduct.title }}</a>
									</div>
									<div class="product-price">
										<div class="price">
										<div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
											<span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
											<span class="product-single__price" itemprop="price" content="{{ locksmith_4139_relatedProduct__price | divided_by: 100.00 }}">
											  {{ locksmith_4139_relatedProduct__price | money }}
											</span>

											{% if locksmith_4139_relatedProduct__compare_at_price > locksmith_4139_relatedProduct__price %}
											  <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
											  <s class="product-sale-price">
												{{ locksmith_4139_relatedProduct__compare_at_price_max | money }}
											  </s>
											{% else %}
											  <span class="visually-hidden" aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
											  <s class="product-sale-price hide">
												{{ locksmith_4139_relatedProduct__compare_at_price_max | money }}
											  </s>
											{% endif %}
										  </div>
										</div>
									</div>
									<form method="post" enctype="multipart/form-data" data-form="cdz-mini-cart">
										<div class="hide clearfix"> 
										  <select name="id">
										  {% for variant in relatedProduct.variants %}
											{%- comment %}<locksmith:a0bd>{% endcomment -%}
											  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
											{%- comment %}</locksmith:a0bd>{% endcomment -%}
											{% if variant.available %}
											  <option value="{{ variant.id }}">
												{{ variant.title }} - {{ variant.price | money_with_currency }}
											  </option>
											{% else %}
											  <option disabled="disabled">
												{{ variant.title }} <ls-static-646088>- sold out</ls-static-646088>
											  </option>
											{% endif %}
										  {% endfor %}
										  </select>
										</div>
									</form>
								</div>
							</div>
						  </div>
						  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
							{% if modulo == 0 or locksmith_b81b_forloop__last %}
							  </div>
							  {% endif %}
						  {% endif %}
						  {%- assign count = count | plus: 1 -%}
              		{%- endif -%}
		  		{%- endfor -%}
			  {% endfor %}
			</div>
		</div>
	{%- endunless -%}
{%- elsif section.settings.product_related_show_collection == '2' -%}
	{%- assign relatedHandles = related_product | split: ',' -%}
	{%- assign handles = blank -%}
	{%- capture productHandles -%}
		{%- for rtHandle in relatedHandles -%}
			{%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
				{{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{%- assign handles = productHandles | split: ',' -%}

	{% unless handles == blank %}
	{% assign enable_variant_product = true %}
		<div class="related-products-list nav_style02"  data-cdzwidget = '{"codazon.cdzRelatedProduct": ""}'>
			<div class="cdz-block-title">
				<p class="b-title h4">
				  {{ related_title }}
				</p>
				<div class="block-actions">
					{{ 'products.general.related_head' | t }} <a href="javascript:void(0);" class="action select" role="select-all-related">{{ 'products.general.related_select' | t }}</a>
				</div>
			</div>
			<div class="products items product-items">
			  {% for handle in handles limit: related_products_count %}
			  {% assign relatedProduct = all_products[handle] %}
			  {% assign modulo = forloop.index | modulo: related_total_rows %}
			  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
				{% if modulo == 1 %}
					<div class="items">
				{% endif %}
			  {% endif %}
			  <div class="item" {% if relatedProduct.has_only_default_variant or relatedProduct.variants.size == 1  %} data-related="" {% endif %} {{ block.shopify_attributes }} {{ block.shopify_attributes }}>
				<div class="product-item flex-grid" data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ relatedProduct.handle }}","wrap" : "#product-item-{{ forloop.index }}"}}'>
					<div class="product-item-left  flex-grid">
						{% if relatedProduct.available %}
							{% if relatedProduct.has_only_default_variant or relatedProduct.variants.size == 1  %}
							<div class="field choice related" data-action="relatedProduct"><span type="checkbox" name="{{relatedProduct.title}}" value="{{relatedProduct.handle}}"></span></div>
							{% endif %}
						{% endif %}
						<div class="photo product-item-photo">
							{% assign img_size = related_thumbnail_width | append: 'x' | append: related_thumbnail_height %}
							{% assign img_ratio = related_thumbnail_width | times: 1.0 | divided_by: related_thumbnail_height %}
							{% assign featured_image = relatedProduct.selected_or_first_available_variant.featured_image | default: relatedProduct.featured_image %}
							{%- unless relatedProduct.featured_image == blank -%}
							    <a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
							    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
							    		{%- if enable_variant_product -%}
									    	{%- for image in relatedProduct.images -%}
											    {%- comment %}<locksmith:b783>{% endcomment -%}
											      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
											    {%- comment %}</locksmith:b783>{% endcomment -%}
											    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}"
											    data-src="{% comment ls-rpl %}{{ image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ image.aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
										    {%- endfor -%}
										{%- else -%}
										    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}"
										    data-src="{% comment ls-rpl %}{{ relatedProduct.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
										    data-aspectratio="{{ relatedProduct.featured_image.aspect_ratio }}"
										    data-sizes="{{img_size}}"
										    tabindex="-1"
										    alt="{% comment ls-rpl %}{{ relatedProduct.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
										{%- endif -%}
										{%- if enable_hover_thumbnail == true -%}
											{% if  relatedProduct.images.size > 1 %}
												<img class="product-image-photo responsive-image__image lazyload hovered-img"
											    data-src="{% comment ls-rpl %}{{ relatedProduct.images[1] | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images[1], img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ relatedProduct.images[1].aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ relatedProduct.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
											{%- else -%}
												<img class="product-image-photo responsive-image__image lazyload hovered-img"
											    data-src="{% comment ls-rpl %}{{ relatedProduct.images.last | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images.last, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ relatedProduct.images.last.aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ relatedProduct.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
											{%- endif -%}
										{%- endif -%}
									</span>
								</a>
							{%- endunless -%}
							{%- if relatedProduct.featured_image == blank -%}
								<a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
									<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
										<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
									    class="product-image-photo responsive-image__image lazyload"
									    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
									    data-aspectratio="{{ featured_image.aspect_ratio }}"
									    data-sizes="{{img_size}}"
									    tabindex="-1"
									    alt="{% comment ls-rpl %}{{ pfeatured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: pfeatured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
									</span>
								</a>
							{%- endif -%} 
						 	 <noscript>
								<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						  	</noscript>
						</div>
					</div>
					<div class="product-item-right">
						<div class="product-name">
							<a class="product-item-link" href="{{ relatedProduct.url | within: collection }}">{{ relatedProduct.title }}</a>
						</div>
						<div class="product-price">
							<div class="price">
							<div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
								<span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
								<span class="product-single__price" itemprop="price" content="{{ relatedProduct.price | divided_by: 100.00 }}">
								  {{ relatedProduct.price | money }}
								</span>

								{% if relatedProduct.compare_at_price > relatedProduct.price %}
								  <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
								  <s class="product-sale-price">
									{{ relatedProduct.compare_at_price_max | money }}
								  </s>
								{% else %}
								  <span class="visually-hidden" aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
								  <s class="product-sale-price hide">
									{{ relatedProduct.compare_at_price_max | money }}
								  </s>
								{% endif %}
							  </div>
							</div>
						</div>
						<form method="post" enctype="multipart/form-data" data-form="cdz-mini-cart">
							<div class="hide clearfix"> 
							  <select name="id">
							  {% for variant in relatedProduct.variants %}
								{%- comment %}<locksmith:a6c1>{% endcomment -%}
								  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
								{%- comment %}</locksmith:a6c1>{% endcomment -%}
								{% if variant.available %}
								  <option value="{{ variant.id }}">
									{{ variant.title }} - {{ variant.price | money_with_currency }}
								  </option>
								{% else %}
								  <option disabled="disabled">
									{{ variant.title }} <ls-static-246094>- sold out</ls-static-246094>
								  </option>
								{% endif %}
							  {% endfor %}
							  </select>
							</div>
						</form>
					</div>
				</div>
			  </div>
			  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
				{% if modulo == 0 or forloop.last %}
				  </div>
				  {% endif %}
			  {% endif %}
			  {% endfor %}
			</div>
		</div>
	{% endunless %}
{%- else -%}
	{%- assign relatedHandles = related_product | split: ',' -%}
	{%- assign handles = blank -%}
	{%- capture productHandles -%}
		{%- for rtHandle in relatedHandles -%}
			{%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
				{{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{%- assign handles = productHandles | split: ',' -%}
	{%- if handles == blank -%}
		{%- assign cListId = blank -%}
		{%- assign currentProductId = product.id -%}
		{%- assign currentProductType = product.type -%}
		{%- for collection in product.collections -%}
	          {%- comment %}<locksmith:5491>{% endcomment -%}
	            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
	          {%- comment %}</locksmith:5491>{% endcomment -%}
	          {%- for product in collections[collection.handle].products -%}
	            {%- comment %}<locksmith:bb4e>{% endcomment -%}
	              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
	            {%- comment %}</locksmith:bb4e>{% endcomment -%}
	            {%- unless cListId contains product.id or product.id == currentProductId or product.type != currentProductType -%}
	              {%- assign cListId = cListId | append: product.id | append: ',' -%}
				  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
	            {% endunless %}
	          {%- endfor -%}
			  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
			{%- endfor -%}
		{%- unless cListId == blank -%}
	{% assign enable_variant_product = true %}
		<div class="related-products-list nav_style02"  data-cdzwidget = '{"codazon.cdzRelatedProduct": ""}'>
			<div class="cdz-block-title">
				<p class="b-title h4">
				  {{ related_title }}
				</p>
				<div class="block-actions">
					{{ 'products.general.related_head' | t }} <a href="javascript:void(0);" class="action select" role="select-all-related">{{ 'products.general.related_select' | t }}</a>
				</div>
			</div>
			<div class="products items product-items">
			  {% assign limit = related_products_count | times: 1 %}
	          {% assign count = 1 %}
	    	  {%- assign cListId = blank -%}
	    	  {%- assign currentProductId = product.id -%}
	    	  {%- assign currentProductType = product.type -%}
			  {%- comment %}<locksmith:b8e0>{% endcomment -%}
			    {%- assign locksmith_9da1_forloop__size = 0 %}{%- for collection in product.collections -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_9da1_forloop__size = locksmith_9da1_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_9da1_forloop__index = nil -%}
			  {%- comment %}</locksmith:b8e0>{% endcomment -%}
			  {%- for collection in product.collections -%}
	          	{%- comment %}<locksmith:4837>{% endcomment -%}
	          	  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_9da1_forloop__index == nil %}{% assign locksmith_9da1_forloop__index = 1 %}{% assign locksmith_9da1_forloop__index0 = 0 %}{% else %}{% assign locksmith_9da1_forloop__index = locksmith_9da1_forloop__index | plus: 1 %}{% assign locksmith_9da1_forloop__index0 = locksmith_9da1_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_9da1_forloop__index == 1 %}{% assign locksmith_9da1_forloop__first = true %}{% else %}{% assign locksmith_9da1_forloop__first = false %}{% endif %}{% if locksmith_9da1_forloop__index == locksmith_9da1_forloop__size %}{% assign locksmith_9da1_forloop__last = true %}{% else %}{% assign locksmith_9da1_forloop__last = false %}{% endif %}{% assign locksmith_9da1_forloop__rindex = locksmith_9da1_forloop__size | minus: locksmith_9da1_forloop__index | minus: 1 %}{% assign locksmith_9da1_forloop__rindex0 = locksmith_9da1_forloop__size | minus: locksmith_9da1_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	          	{%- comment %}</locksmith:4837>{% endcomment -%}
	          	{%- if count > limit -%}{%- break -%}{%- endif -%}
		  		{%- comment %}<locksmith:46e2>{% endcomment -%}
		  		  {%- assign locksmith_6b89_forloop__size = 0 %}{%- for product in collections[collection.handle].products -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_6b89_forloop__size = locksmith_6b89_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_6b89_forloop__index = nil -%}
		  		{%- comment %}</locksmith:46e2>{% endcomment -%}
		  		{%- for product in collections[collection.handle].products -%}
	      			{%- comment %}<locksmith:1f93>{% endcomment -%}
	      			  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% assign __relatedProduct = relatedProduct %}{% assign relatedProduct = product %}{% assign locksmith_0018_relatedProduct__available = false %}{% assign locksmith_0018_relatedProduct__has_only_default_variant = false %}{% assign _variants_count = 0 %}{% assign locksmith_0018_relatedProduct__first_available_variant = nil %}{% assign locksmith_0018_relatedProduct__selected_variant = nil %}{% assign locksmith_0018_relatedProduct__selected_or_first_available_variant = nil %}{% assign locksmith_0018_relatedProduct__price = nil %}{% assign locksmith_0018_relatedProduct__compare_at_price = nil %}{% assign locksmith_0018_relatedProduct__compare_at_price_max = nil %}{% for variant in relatedProduct.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_0018_relatedProduct__available == false and variant.available %}{% assign locksmith_0018_relatedProduct__available = true %}{% endif %}{% assign _variants_count = _variants_count | plus: 1 %}{% if locksmith_0018_relatedProduct__first_available_variant == nil and variant.available %}{% assign locksmith_0018_relatedProduct__first_available_variant = variant %}{% endif %}{% if locksmith_0018_relatedProduct__selected_variant == nil and variant.selected %}{% assign locksmith_0018_relatedProduct__selected_variant = variant %}{% endif %}{% if variant == relatedProduct.selected_or_first_available_variant %}{% assign locksmith_0018_relatedProduct__selected_or_first_available_variant = relatedProduct.selected_or_first_available_variant %}{% endif %}{% if locksmith_0018_relatedProduct__price == nil %}{% assign locksmith_0018_relatedProduct__price = variant.price %}{% endif %}{% if locksmith_0018_relatedProduct__compare_at_price == nil %}{% assign locksmith_0018_relatedProduct__compare_at_price = variant.compare_at_price %}{% endif %}{% if locksmith_0018_relatedProduct__compare_at_price_max == nil or locksmith_0018_relatedProduct__compare_at_price_max < variant.compare_at_price %}{% assign locksmith_0018_relatedProduct__compare_at_price_max = variant.compare_at_price %}{% endif %}{% endfor %}{% if _variants_count == 1 %}{% assign locksmith_0018_relatedProduct__has_only_default_variant = true %}{% endif %}{% if locksmith_0018_relatedProduct__selected_or_first_available_variant == nil %}{% assign locksmith_0018_relatedProduct__selected_or_first_available_variant = locksmith_0018_relatedProduct__first_available_variant %}{% endif %}{% assign relatedProduct = __relatedProduct %}{% if locksmith_6b89_forloop__index == nil %}{% assign locksmith_6b89_forloop__index = 1 %}{% assign locksmith_6b89_forloop__index0 = 0 %}{% else %}{% assign locksmith_6b89_forloop__index = locksmith_6b89_forloop__index | plus: 1 %}{% assign locksmith_6b89_forloop__index0 = locksmith_6b89_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_6b89_forloop__index == 1 %}{% assign locksmith_6b89_forloop__first = true %}{% else %}{% assign locksmith_6b89_forloop__first = false %}{% endif %}{% if locksmith_6b89_forloop__index == locksmith_6b89_forloop__size %}{% assign locksmith_6b89_forloop__last = true %}{% else %}{% assign locksmith_6b89_forloop__last = false %}{% endif %}{% assign locksmith_6b89_forloop__rindex = locksmith_6b89_forloop__size | minus: locksmith_6b89_forloop__index | minus: 1 %}{% assign locksmith_6b89_forloop__rindex0 = locksmith_6b89_forloop__size | minus: locksmith_6b89_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	      			{%- comment %}</locksmith:1f93>{% endcomment -%}
	      			{%- if count > limit -%}{%- break -%}{%- endif -%}
	          		{%- if cListId contains product.id or product.id == currentProductId or product.type != currentProductType -%}
	          			{%- continue -%}
	         		{%- else -%}
	            		{%- assign cListId = cListId | append: product.id | append: ',' -%}
			  			{% assign relatedProduct = product %}
						  {% assign modulo = locksmith_6b89_forloop__index | modulo: related_total_rows %}
						  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
							{% if modulo == 1 %}
								<div class="items">
							{% endif %}
						  {% endif %}
						  <div class="item" {% if locksmith_0018_relatedProduct__has_only_default_variant or relatedProduct.variants.size == 1  %} data-related="" {% endif %} {{ block.shopify_attributes }} {{ block.shopify_attributes }}>
							<div class="product-item flex-grid" data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ relatedProduct.handle }}","wrap" : "#product-item-{{ locksmith_6b89_forloop__index }}"}}'>
								<div class="product-item-left  flex-grid">
									{% if locksmith_0018_relatedProduct__available %}
										{% if locksmith_0018_relatedProduct__has_only_default_variant or relatedProduct.variants.size == 1  %}
										<div class="field choice related" data-action="relatedProduct"><span type="checkbox" name="{{relatedProduct.title}}" value="{{relatedProduct.handle}}"></span></div>
										{% endif %}
									{% endif %}
									<div class="photo product-item-photo">
										{% assign img_size = related_thumbnail_width | append: 'x' | append: related_thumbnail_height %}
										{% assign img_ratio = related_thumbnail_width | times: 1.0 | divided_by: related_thumbnail_height %}
										{% assign featured_image = locksmith_0018_relatedProduct__selected_or_first_available_variant.featured_image | default: relatedProduct.featured_image %}
										{%- unless relatedProduct.featured_image == blank -%}
										    <a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
										    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
										    		{%- if enable_variant_product -%}
												    	{%- for image in relatedProduct.images -%}
														    {%- comment %}<locksmith:87e0>{% endcomment -%}
														      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
														    {%- comment %}</locksmith:87e0>{% endcomment -%}
														    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}"
														    data-src="{% comment ls-rpl %}{{ image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ image.aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
													    {%- endfor -%}
													{%- else -%}
													    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}"
													    data-src="{% comment ls-rpl %}{{ relatedProduct.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
													    data-aspectratio="{{ relatedProduct.featured_image.aspect_ratio }}"
													    data-sizes="{{img_size}}"
													    tabindex="-1"
													    alt="{% comment ls-rpl %}{{ relatedProduct.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
													{%- endif -%}
													{%- if enable_hover_thumbnail == true -%}
														{% if  relatedProduct.images.size > 1 %}
															<img class="product-image-photo responsive-image__image lazyload hovered-img"
														    data-src="{% comment ls-rpl %}{{ relatedProduct.images[1] | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images[1], img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ relatedProduct.images[1].aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ relatedProduct.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
														{%- else -%}
															<img class="product-image-photo responsive-image__image lazyload hovered-img"
														    data-src="{% comment ls-rpl %}{{ relatedProduct.images.last | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images.last, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
														    data-aspectratio="{{ relatedProduct.images.last.aspect_ratio }}"
														    data-sizes="{{img_size}}"
														    tabindex="-1"
														    alt="{% comment ls-rpl %}{{ relatedProduct.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
														{%- endif -%}
													{%- endif -%}
												</span>
											</a>
										{%- endunless -%}
										{%- if relatedProduct.featured_image == blank -%}
											<a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
												<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
													<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
												    class="product-image-photo responsive-image__image lazyload"
												    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
												    data-aspectratio="{{ featured_image.aspect_ratio }}"
												    data-sizes="{{img_size}}"
												    tabindex="-1"
												    alt="{% comment ls-rpl %}{{ pfeatured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: pfeatured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
												</span>
											</a>
										{%- endif -%} 
									 	 <noscript>
											<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
									  	</noscript>
									</div>
								</div>
								<div class="product-item-right">
									<div class="product-name">
										<a class="product-item-link" href="{{ relatedProduct.url | within: collection }}">{{ relatedProduct.title }}</a>
									</div>
									<div class="product-price">
										<div class="price">
										<div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
											<span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
											<span class="product-single__price" itemprop="price" content="{{ locksmith_0018_relatedProduct__price | divided_by: 100.00 }}">
											  {{ locksmith_0018_relatedProduct__price | money }}
											</span>

											{% if locksmith_0018_relatedProduct__compare_at_price > locksmith_0018_relatedProduct__price %}
											  <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
											  <s class="product-sale-price">
												{{ locksmith_0018_relatedProduct__compare_at_price_max | money }}
											  </s>
											{% else %}
											  <span class="visually-hidden" aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
											  <s class="product-sale-price hide">
												{{ locksmith_0018_relatedProduct__compare_at_price_max | money }}
											  </s>
											{% endif %}
										  </div>
										</div>
									</div>
									<form method="post" enctype="multipart/form-data" data-form="cdz-mini-cart">
										<div class="hide clearfix"> 
										  <select name="id">
										  {% for variant in relatedProduct.variants %}
											{%- comment %}<locksmith:21b4>{% endcomment -%}
											  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
											{%- comment %}</locksmith:21b4>{% endcomment -%}
											{% if variant.available %}
											  <option value="{{ variant.id }}">
												{{ variant.title }} - {{ variant.price | money_with_currency }}
											  </option>
											{% else %}
											  <option disabled="disabled">
												{{ variant.title }} <ls-static-580292>- sold out</ls-static-580292>
											  </option>
											{% endif %}
										  {% endfor %}
										  </select>
										</div>
									</form>
								</div>
							</div>
						  </div>
						  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
							{% if modulo == 0 or locksmith_6b89_forloop__last %}
							  </div>
							  {% endif %}
						  {% endif %}
						  {%- assign count = count | plus: 1 -%}
              		{%- endif -%}
		  		{%- endfor -%}
			  {% endfor %}
			</div>
		</div>
	{%- endunless -%}
	{%- else -%}
		{% assign enable_variant_product = true %}
		<div class="related-products-list nav_style02"  data-cdzwidget = '{"codazon.cdzRelatedProduct": ""}'>
			<div class="cdz-block-title">
				<p class="b-title h4">
				  {{ related_title }}
				</p>
				<div class="block-actions">
					{{ 'products.general.related_head' | t }} <a href="javascript:void(0);" class="action select" role="select-all-related">{{ 'products.general.related_select' | t }}</a>
				</div>
			</div>
			<div class="products items product-items">
			  {% for handle in handles limit: related_products_count %}
			  {% assign relatedProduct = all_products[handle] %}
			  {% assign modulo = forloop.index | modulo: related_total_rows %}
			  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
				{% if modulo == 1 %}
					<div class="items">
				{% endif %}
			  {% endif %}
			  <div class="item" {% if relatedProduct.has_only_default_variant or relatedProduct.variants.size == 1  %} data-related="" {% endif %} {{ block.shopify_attributes }} {{ block.shopify_attributes }}>
				<div class="product-item flex-grid" data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ relatedProduct.handle }}","wrap" : "#product-item-{{ forloop.index }}"}}'>
					<div class="product-item-left  flex-grid">
						{% if relatedProduct.available %}
							{% if relatedProduct.has_only_default_variant or relatedProduct.variants.size == 1  %}
							<div class="field choice related" data-action="relatedProduct"><span type="checkbox" name="{{relatedProduct.title}}" value="{{relatedProduct.handle}}"></span></div>
							{% endif %}
						{% endif %}
						<div class="photo product-item-photo">
							{% assign img_size = related_thumbnail_width | append: 'x' | append: related_thumbnail_height %}
							{% assign img_ratio = related_thumbnail_width | times: 1.0 | divided_by: related_thumbnail_height %}
							{% assign featured_image = relatedProduct.selected_or_first_available_variant.featured_image | default: relatedProduct.featured_image %}
							{%- unless relatedProduct.featured_image == blank -%}
							    <a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
							    	<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
							    		{%- if enable_variant_product -%}
									    	{%- for image in relatedProduct.images -%}
											    {%- comment %}<locksmith:766f>{% endcomment -%}
											      {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
											    {%- comment %}</locksmith:766f>{% endcomment -%}
											    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %} {% if featured_image != image %} hide {% else %} js-showImg {% endif %}"
											    data-src="{% comment ls-rpl %}{{ image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ image.aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" data-image-id="{{ image.id }}">
										    {%- endfor -%}
										{%- else -%}
										    <img class="product-image-photo responsive-image__image lazyload {% if enable_hover_thumbnail == true%}main-img{% endif %}"
										    data-src="{% comment ls-rpl %}{{ relatedProduct.featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
										    data-aspectratio="{{ relatedProduct.featured_image.aspect_ratio }}"
										    data-sizes="{{img_size}}"
										    tabindex="-1"
										    alt="{% comment ls-rpl %}{{ relatedProduct.featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
										{%- endif -%}
										{%- if enable_hover_thumbnail == true -%}
											{% if  relatedProduct.images.size > 1 %}
												<img class="product-image-photo responsive-image__image lazyload hovered-img"
											    data-src="{% comment ls-rpl %}{{ relatedProduct.images[1] | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images[1], img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ relatedProduct.images[1].aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ relatedProduct.images[1].alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images[1] -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
											{%- else -%}
												<img class="product-image-photo responsive-image__image lazyload hovered-img"
											    data-src="{% comment ls-rpl %}{{ relatedProduct.images.last | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: relatedProduct.images.last, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
											    data-aspectratio="{{ relatedProduct.images.last.aspect_ratio }}"
											    data-sizes="{{img_size}}"
											    tabindex="-1"
											    alt="{% comment ls-rpl %}{{ relatedProduct.images.last.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: relatedProduct.images.last -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
											{%- endif -%}
										{%- endif -%}
									</span>
								</a>
							{%- endunless -%}
							{%- if relatedProduct.featured_image == blank -%}
								<a href="{{ relatedProduct.url | within: collection }}" class="product-image-container">
									<span class="product-image-wrapper" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
										<img id="Image-{{ featured_image.id }}-{{ responsive_image_counter }}"
									    class="product-image-photo responsive-image__image lazyload"
									    data-src="{% comment ls-rpl %}{{ featured_image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
									    data-aspectratio="{{ featured_image.aspect_ratio }}"
									    data-sizes="{{img_size}}"
									    tabindex="-1"
									    alt="{% comment ls-rpl %}{{ pfeatured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: pfeatured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
									</span>
								</a>
							{%- endif -%} 
						 	 <noscript>
								<img class="product-image-photo responsive-image__image lazyload" src="{% comment ls-rpl %}{{ featured_image | img_url: img_size, scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: img_size, scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						  	</noscript>
						</div>
					</div>
					<div class="product-item-right">
						<div class="product-name">
							<a class="product-item-link" href="{{ relatedProduct.url | within: collection }}">{{ relatedProduct.title }}</a>
						</div>
						<div class="product-price">
							<div class="price">
							<div class="product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
								<span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
								<span class="product-single__price" itemprop="price" content="{{ relatedProduct.price | divided_by: 100.00 }}">
								  {{ relatedProduct.price | money }}
								</span>

								{% if relatedProduct.compare_at_price > relatedProduct.price %}
								  <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
								  <s class="product-sale-price">
									{{ relatedProduct.compare_at_price_max | money }}
								  </s>
								{% else %}
								  <span class="visually-hidden" aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
								  <s class="product-sale-price hide">
									{{ relatedProduct.compare_at_price_max | money }}
								  </s>
								{% endif %}
							  </div>
							</div>
						</div>
						<form method="post" enctype="multipart/form-data" data-form="cdz-mini-cart">
							<div class="hide clearfix"> 
							  <select name="id">
							  {% for variant in relatedProduct.variants %}
								{%- comment %}<locksmith:79a3>{% endcomment -%}
								  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: relatedProduct, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
								{%- comment %}</locksmith:79a3>{% endcomment -%}
								{% if variant.available %}
								  <option value="{{ variant.id }}">
									{{ variant.title }} - {{ variant.price | money_with_currency }}
								  </option>
								{% else %}
								  <option disabled="disabled">
									{{ variant.title }} <ls-static-357361>- sold out</ls-static-357361>
								  </option>
								{% endif %}
							  {% endfor %}
							  </select>
							</div>
						</form>
					</div>
				</div>
			  </div>
			  {% if related_total_rows >  1 and related_show_slider ==  '1'%}
				{% if modulo == 0 or forloop.last %}
				  </div>
				  {% endif %}
			  {% endif %}
			  {% endfor %}
			</div>
		</div>
	{%- endif -%}
{%- endif -%}
{%- style -%}
	{% if related_show_slider ==  '0' %}
		related-products-list .no_slider.flex-grid{
			display: flex;
			display: -ms-flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-align: stretch;
			-webkit-align-items: stretch;
			-moz-align-items: stretch;
			-ms-align-items: stretch;
			-o-align-items: stretch;
			align-items: stretch;
		}
		@media (min-width: 1900px){
			related-products-list .grid__item{
				width: calc(100% / {{items_1900}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1600px) and (max-width: 1900px){
			related-products-list .grid__item{
				width: calc(100% / {{items_1600}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1440px) and (max-width: 1600px){
			related-products-list .grid__item{
				width: calc(100% / {{items_1440}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1280px) and (max-width: 1440px){
			related-products-list .grid__item{
				width: calc(100% / {{items_1280}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 980px) and (max-width: 1280px){
			related-products-list .grid__item{
				width: calc(100% / {{items_980}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 768px) and (max-width: 980px){
			related-products-list .grid__item{
				width: calc(100% / {{items_768}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 480px) and (max-width: 768px){
			related-products-list .grid__item{
				width: calc(100% / {{items_480}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 320px) and (max-width: 480px){
			related-products-list .grid__item{
				width: calc(100% / {{items_320}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (max-width: 320px){
			related-products-list .grid__item{
				width: calc(100% / {{items_0}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
	{% endif %}
	
{%- endstyle -%}