<ul class="inline-list social-icons">
  {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
        <span class="fa fa-twitter" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-329688>Twitter</ls-static-329688></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
        <span class="fa fa-facebook" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-697697>Facebook</ls-static-697697></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <span class="fa fa-pinterest" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-957441>Pinterest</ls-static-957441></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_google_plus_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_google_plus_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}" rel="publisher">
        <span class="fa fa-google_plus" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-624552>Google</ls-static-624552></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
        <span class="fa fa-instagram" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-581016>Instagram</ls-static-581016></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_snapchat_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <span class="fa fa-snapchat" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-127076>Snapchat</ls-static-127076></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <span class="fa fa-tumblr" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-782445>Tumblr</ls-static-782445></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
        <span class="fa fa-youtube" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-156760>YouTube</ls-static-156760></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_vimeo_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <span class="fa fa-vimeo" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-532734>Vimeo</ls-static-532734></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_fancy_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
        <span class="fa fa-fancy" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-535521>Fancy</ls-static-535521></span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_rss_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_rss_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'RSS' }}">
        <span class="fa fa-rss" aria-hidden="true"></span>
        <span class="fallback-text"><ls-static-786596>RSS</ls-static-786596></span>
      </a>
    </li>
  {% endif %}
</ul>
