{%- if section.settings.upsell_show_collection == '1' -%}
	{%- assign cListId = blank -%}
	{%- assign currentProductId = product.id -%}
	{%- assign currentProductType = product.type -%}
	{%- for collection in product.collections -%}
      {%- comment %}<locksmith:ccdb>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:ccdb>{% endcomment -%}
      {%- for product in collections[collection.handle].products -%}
        {%- comment %}<locksmith:8792>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:8792>{% endcomment -%}
        {%- unless cListId contains product.id or product.id == currentProductId or product.type == currentProductType -%}
          {%- assign cListId = cListId | append: product.id | append: ',' -%}
		  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
        {% endunless %}
      {%- endfor -%}
	  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
	{%- endfor -%}
	{%- unless cListId == blank -%}
	<div class="upsell-products cdzbox-product nav_style01">
		<div class="section-header section-header--small">
			<h2 class="section-header__title">
			  {{ upsell_title }}
			</h2>
		</div>
		{% include 'grid_style' with id: 'upsell-grid' , show_slider: upsell_show_slider , items_1900: upsell_items_1900, items_1600: upsell_items_1600, items_1440: upsell_items_1440, items_1280: upsell_items_1280, items_980: upsell_items_980, items_768: upsell_items_768, items_480: upsell_items_480, items_320: upsell_items_320, items_0: upsell_items_0, items_margin: upsell_items_margin %}
		<div class="style-upsell-grid products items product-items product-grid-style-09{% if upsell_show_slider ==  '0' %} no_slider flex-grid{% elsif upsell_show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if upsell_show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-upsell-products}}}' {% endif %}>
		  {% assign limit = upsell_products_count | times: 1 %}
          {% assign count = 1 %}
    	  {%- assign cListId = blank -%}
    	  {%- assign currentProductId = product.id -%}
    	  {%- assign currentProductType = product.type -%}
          {%- comment %}<locksmith:6c01>{% endcomment -%}
            {%- assign locksmith_0366_forloop__size = 0 %}{%- for collection in product.collections -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_0366_forloop__size = locksmith_0366_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_0366_forloop__index = nil -%}
          {%- comment %}</locksmith:6c01>{% endcomment -%}
          {%- for collection in product.collections -%}
          	{%- comment %}<locksmith:fcda>{% endcomment -%}
          	  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_0366_forloop__index == nil %}{% assign locksmith_0366_forloop__index = 1 %}{% assign locksmith_0366_forloop__index0 = 0 %}{% else %}{% assign locksmith_0366_forloop__index = locksmith_0366_forloop__index | plus: 1 %}{% assign locksmith_0366_forloop__index0 = locksmith_0366_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_0366_forloop__index == 1 %}{% assign locksmith_0366_forloop__first = true %}{% else %}{% assign locksmith_0366_forloop__first = false %}{% endif %}{% if locksmith_0366_forloop__index == locksmith_0366_forloop__size %}{% assign locksmith_0366_forloop__last = true %}{% else %}{% assign locksmith_0366_forloop__last = false %}{% endif %}{% assign locksmith_0366_forloop__rindex = locksmith_0366_forloop__size | minus: locksmith_0366_forloop__index | minus: 1 %}{% assign locksmith_0366_forloop__rindex0 = locksmith_0366_forloop__size | minus: locksmith_0366_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
          	{%- comment %}</locksmith:fcda>{% endcomment -%}
          	{%- if count > limit -%}{%- break -%}{%- endif -%}
	  		{%- comment %}<locksmith:d009>{% endcomment -%}
	  		  {%- assign locksmith_8ddc_forloop__size = 0 %}{%- for product in collections[collection.handle].products -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_8ddc_forloop__size = locksmith_8ddc_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_8ddc_forloop__index = nil -%}
	  		{%- comment %}</locksmith:d009>{% endcomment -%}
	  		{%- for product in collections[collection.handle].products -%}
      			{%- comment %}<locksmith:d5d8>{% endcomment -%}
      			  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_8ddc_forloop__index == nil %}{% assign locksmith_8ddc_forloop__index = 1 %}{% assign locksmith_8ddc_forloop__index0 = 0 %}{% else %}{% assign locksmith_8ddc_forloop__index = locksmith_8ddc_forloop__index | plus: 1 %}{% assign locksmith_8ddc_forloop__index0 = locksmith_8ddc_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_8ddc_forloop__index == 1 %}{% assign locksmith_8ddc_forloop__first = true %}{% else %}{% assign locksmith_8ddc_forloop__first = false %}{% endif %}{% if locksmith_8ddc_forloop__index == locksmith_8ddc_forloop__size %}{% assign locksmith_8ddc_forloop__last = true %}{% else %}{% assign locksmith_8ddc_forloop__last = false %}{% endif %}{% assign locksmith_8ddc_forloop__rindex = locksmith_8ddc_forloop__size | minus: locksmith_8ddc_forloop__index | minus: 1 %}{% assign locksmith_8ddc_forloop__rindex0 = locksmith_8ddc_forloop__size | minus: locksmith_8ddc_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      			{%- comment %}</locksmith:d5d8>{% endcomment -%}
      			{%- if count > limit -%}{%- break -%}{%- endif -%}
          		{%- if cListId contains product.id or product.id == currentProductId or product.type == currentProductType -%}
          			{%- continue -%}
         		{%- else -%}
            		{%- assign cListId = cListId | append: product.id | append: ',' -%}
		  			{%- assign upsellProduct = product -%}
		  			{%- assign modulo = count | modulo: upsell_total_rows -%}
		  			{%- if upsell_total_rows >  1 and upsell_show_slider ==  '1' -%}
						{%- if modulo == 1 -%}
							<div class="items">
						{%- endif -%}
		  			{%- endif -%}
		  			<div class="item" {{ block.shopify_attributes }}>
						{% include 'product-grid-style-09' with product: upsellProduct thumbnail_width: upsell_thumbnail_width, thumbnail_height: upsell_thumbnail_height, enable_hover_thumbnail: true, enable_product_label: true, enable_product_name: true, enable_price: true, enable_sku: false, enable_vendor: false, enable_addto_cart: true, enable_quickshop: false, enable_addto_compare: true, enable_addto_wishlist: true, enable_review: true, enable_quantity_product: false, enable_variant_product: true, enable_short_description: false, short_description_length: 150, show_product_text_align: 'center' %}
		  			</div>
		  			{%- if upsell_total_rows >  1 and upsell_show_slider ==  '1' -%}
						{%- if modulo == 0 or locksmith_8ddc_forloop__last -%}
			 				</div>
			  			{%- endif -%}
		  			{%- endif -%}
		  			{%- assign count = count | plus: 1 -%}
              	{%- endif -%}
		  	{%- endfor -%}
		  {%- endfor -%}
		</div>
	</div>
	{%- endunless -%}
{%- elsif section.settings.upsell_show_collection == '2' -%}
	{%- assign handles = upsell_product | split: ',' -%}
	{%- assign upsellHandles = upsell_product | split: ',' -%}
	{%- assign handles = blank -%}
	{%- capture productHandles -%}
		{%- for rtHandle in upsellHandles -%}
			{%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
				{{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{%- assign handles = productHandles | split: ',' -%}
	{%- unless handles == blank -%}
	<div class="upsell-products cdzbox-product nav_style01">
		<div class="section-header section-header--small">
			<h2 class="section-header__title">
			  {{ upsell_title }}
			</h2>
		</div>
		{% include 'grid_style' with id: 'upsell-grid' , show_slider: upsell_show_slider , items_1900: upsell_items_1900, items_1600: upsell_items_1600, items_1440: upsell_items_1440, items_1280: upsell_items_1280, items_980: upsell_items_980, items_768: upsell_items_768, items_480: upsell_items_480, items_320: upsell_items_320, items_0: upsell_items_0, items_margin: upsell_items_margin %}
		<div class="style-upsell-grid products items product-items product-grid-style-09{% if upsell_show_slider ==  '0' %} no_slider flex-grid{% elsif upsell_show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if upsell_show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-upsell-products}}}' {% endif %}>
		  {% for handle in handles reversed limit: upsell_products_count %}
		  {% assign upsellProduct = all_products[handle] %}
		  {% assign modulo = forloop.index | modulo: upsell_total_rows %}
		  {% if upsell_total_rows >  1 and upsell_show_slider ==  '1'%}
			{% if modulo == 1 %}
				<div class="items">
			{% endif %}
		  {% endif %}
		  <div class="item" {{ block.shopify_attributes }}>
			{% include 'product-grid-style-09' with product: upsellProduct thumbnail_width: upsell_thumbnail_width, thumbnail_height: upsell_thumbnail_height, enable_hover_thumbnail: true, enable_product_label: true, enable_product_name: true, enable_price: true, enable_sku: false, enable_vendor: false, enable_addto_cart: true, enable_quickshop: false, enable_addto_compare: true, enable_addto_wishlist: true, enable_review: true, enable_quantity_product: false, enable_variant_product: true, enable_short_description: false, short_description_length: 150, show_product_text_align: 'center' %}
		  </div>
		  {% if upsell_total_rows >  1 and upsell_show_slider ==  '1'%}
			{% if modulo == 0 or forloop.last %}
			  </div>
			  {% endif %}
		  {% endif %}
		  {% endfor %}
		</div>
	</div>
	{%- endunless -%}
{%- else -%}
	{%- assign handles = upsell_product | split: ',' -%}
	{%- assign upsellHandles = upsell_product | split: ',' -%}
	{%- assign handles = blank -%}
	{%- capture productHandles -%}
		{%- for rtHandle in upsellHandles -%}
			{%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
				{{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endcapture -%}
	{%- assign handles = productHandles | split: ',' -%}
	{%- if handles == blank -%}
		{%- assign cListId = blank -%}
		{%- assign currentProductId = product.id -%}
		{%- assign currentProductType = product.type -%}
		{%- for collection in product.collections -%}
	          {%- comment %}<locksmith:2045>{% endcomment -%}
	            {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
	          {%- comment %}</locksmith:2045>{% endcomment -%}
	          {%- for product in collections[collection.handle].products -%}
	            {%- comment %}<locksmith:f6a5>{% endcomment -%}
	              {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
	            {%- comment %}</locksmith:f6a5>{% endcomment -%}
	            {%- unless cListId contains product.id or product.id == currentProductId or product.type == currentProductType -%}
	              {%- assign cListId = cListId | append: product.id | append: ',' -%}
				  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
	            {% endunless %}
	          {%- endfor -%}
			  {%- if cListId.size > 0 -%}{%- break -%}{%- endif -%}
			{%- endfor -%}
		{%- unless cListId == blank -%}
		<div class="upsell-products cdzbox-product nav_style01">
			<div class="section-header section-header--small">
				<h2 class="section-header__title">
				  {{ upsell_title }}
				</h2>
			</div>
			{% include 'grid_style' with id: 'upsell-grid' , show_slider: upsell_show_slider , items_1900: upsell_items_1900, items_1600: upsell_items_1600, items_1440: upsell_items_1440, items_1280: upsell_items_1280, items_980: upsell_items_980, items_768: upsell_items_768, items_480: upsell_items_480, items_320: upsell_items_320, items_0: upsell_items_0, items_margin: upsell_items_margin %}
			<div class="style-upsell-grid products items product-items product-grid-style-09{% if upsell_show_slider ==  '0' %} no_slider flex-grid{% elsif upsell_show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if upsell_show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-upsell-products}}}' {% endif %}>
			  {% assign limit = upsell_products_count | times: 1 %}
	          {% assign count = 1 %}
	    	  {%- assign cListId = blank -%}
	    	  {%- assign currentProductId = product.id -%}
	    	  {%- assign currentProductType = product.type -%}
	          {%- comment %}<locksmith:0ef2>{% endcomment -%}
	            {%- assign locksmith_e6c4_forloop__size = 0 %}{%- for collection in product.collections -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_e6c4_forloop__size = locksmith_e6c4_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_e6c4_forloop__index = nil -%}
	          {%- comment %}</locksmith:0ef2>{% endcomment -%}
	          {%- for collection in product.collections -%}
	          	{%- comment %}<locksmith:7591>{% endcomment -%}
	          	  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_e6c4_forloop__index == nil %}{% assign locksmith_e6c4_forloop__index = 1 %}{% assign locksmith_e6c4_forloop__index0 = 0 %}{% else %}{% assign locksmith_e6c4_forloop__index = locksmith_e6c4_forloop__index | plus: 1 %}{% assign locksmith_e6c4_forloop__index0 = locksmith_e6c4_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_e6c4_forloop__index == 1 %}{% assign locksmith_e6c4_forloop__first = true %}{% else %}{% assign locksmith_e6c4_forloop__first = false %}{% endif %}{% if locksmith_e6c4_forloop__index == locksmith_e6c4_forloop__size %}{% assign locksmith_e6c4_forloop__last = true %}{% else %}{% assign locksmith_e6c4_forloop__last = false %}{% endif %}{% assign locksmith_e6c4_forloop__rindex = locksmith_e6c4_forloop__size | minus: locksmith_e6c4_forloop__index | minus: 1 %}{% assign locksmith_e6c4_forloop__rindex0 = locksmith_e6c4_forloop__size | minus: locksmith_e6c4_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	          	{%- comment %}</locksmith:7591>{% endcomment -%}
	          	{%- if count > limit -%}{%- break -%}{%- endif -%}
		  		{%- comment %}<locksmith:1b43>{% endcomment -%}
		  		  {%- assign locksmith_3389_forloop__size = 0 %}{%- for product in collections[collection.handle].products -%}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_3389_forloop__size = locksmith_3389_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_3389_forloop__index = nil -%}
		  		{%- comment %}</locksmith:1b43>{% endcomment -%}
		  		{%- for product in collections[collection.handle].products -%}
	      			{%- comment %}<locksmith:eda3>{% endcomment -%}
	      			  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_3389_forloop__index == nil %}{% assign locksmith_3389_forloop__index = 1 %}{% assign locksmith_3389_forloop__index0 = 0 %}{% else %}{% assign locksmith_3389_forloop__index = locksmith_3389_forloop__index | plus: 1 %}{% assign locksmith_3389_forloop__index0 = locksmith_3389_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_3389_forloop__index == 1 %}{% assign locksmith_3389_forloop__first = true %}{% else %}{% assign locksmith_3389_forloop__first = false %}{% endif %}{% if locksmith_3389_forloop__index == locksmith_3389_forloop__size %}{% assign locksmith_3389_forloop__last = true %}{% else %}{% assign locksmith_3389_forloop__last = false %}{% endif %}{% assign locksmith_3389_forloop__rindex = locksmith_3389_forloop__size | minus: locksmith_3389_forloop__index | minus: 1 %}{% assign locksmith_3389_forloop__rindex0 = locksmith_3389_forloop__size | minus: locksmith_3389_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
	      			{%- comment %}</locksmith:eda3>{% endcomment -%}
	      			{%- if count > limit -%}{%- break -%}{%- endif -%}
	          		{%- if cListId contains product.id or product.id == currentProductId or product.type == currentProductType -%}
	          			{%- continue -%}
	         		{%- else -%}
	            		{%- assign cListId = cListId | append: product.id | append: ',' -%}
			  			{%- assign upsellProduct = product -%}
			  			{%- assign modulo = count | modulo: upsell_total_rows -%}
			  			{%- if upsell_total_rows >  1 and upsell_show_slider ==  '1' -%}
							{%- if modulo == 1 -%}
								<div class="items">
							{%- endif -%}
			  			{%- endif -%}
			  			<div class="item" {{ block.shopify_attributes }}>
							{% include 'product-grid-style-09' with product: upsellProduct thumbnail_width: upsell_thumbnail_width, thumbnail_height: upsell_thumbnail_height, enable_hover_thumbnail: true, enable_product_label: true, enable_product_name: true, enable_price: true, enable_sku: false, enable_vendor: false, enable_addto_cart: true, enable_quickshop: false, enable_addto_compare: true, enable_addto_wishlist: true, enable_review: true, enable_quantity_product: false, enable_variant_product: true, enable_short_description: false, short_description_length: 150, show_product_text_align: 'center' %}
			  			</div>
			  			{%- if upsell_total_rows >  1 and upsell_show_slider ==  '1' -%}
							{%- if modulo == 0 or locksmith_3389_forloop__last -%}
				 				</div>
				  			{%- endif -%}
			  			{%- endif -%}
			  			{%- assign count = count | plus: 1 -%}
	              	{%- endif -%}
			  	{%- endfor -%}
			  {%- endfor -%}
			</div>
		</div>
		{%- endunless -%}
	{%- else -%}
		<div class="upsell-products cdzbox-product nav_style01">
			<div class="section-header section-header--small">
				<h2 class="section-header__title">
				  {{ upsell_title }}
				</h2>
			</div>
			{% include 'grid_style' with id: 'upsell-grid' , show_slider: upsell_show_slider , items_1900: upsell_items_1900, items_1600: upsell_items_1600, items_1440: upsell_items_1440, items_1280: upsell_items_1280, items_980: upsell_items_980, items_768: upsell_items_768, items_480: upsell_items_480, items_320: upsell_items_320, items_0: upsell_items_0, items_margin: upsell_items_margin %}
			<div class="style-upsell-grid products items product-items product-grid-style-09{% if upsell_show_slider ==  '0' %} no_slider flex-grid{% elsif upsell_show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if upsell_show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-upsell-products}}}' {% endif %}>
			  {% for handle in handles reversed limit: upsell_products_count %}
			  {% assign upsellProduct = all_products[handle] %}
			  {% assign modulo = forloop.index | modulo: upsell_total_rows %}
			  {% if upsell_total_rows >  1 and upsell_show_slider ==  '1'%}
				{% if modulo == 1 %}
					<div class="items">
				{% endif %}
			  {% endif %}
			  <div class="item" {{ block.shopify_attributes }}>
				{% include 'product-grid-style-09' with product: upsellProduct thumbnail_width: upsell_thumbnail_width, thumbnail_height: upsell_thumbnail_height, enable_hover_thumbnail: true, enable_product_label: true, enable_product_name: true, enable_price: true, enable_sku: false, enable_vendor: false, enable_addto_cart: true, enable_quickshop: false, enable_addto_compare: true, enable_addto_wishlist: true, enable_review: true, enable_quantity_product: false, enable_variant_product: true, enable_short_description: false, short_description_length: 150, show_product_text_align: 'center' %}
			  </div>
			  {% if upsell_total_rows >  1 and upsell_show_slider ==  '1'%}
				{% if modulo == 0 or forloop.last %}
				  </div>
				  {% endif %}
			  {% endif %}
			  {% endfor %}
			</div>
		</div>
	{%- endif -%}
{%- endif -%}


{%- style -%}
	{% if upsell_show_slider ==  '0' %}
		.upsell-products .no_slider.flex-grid{
			display: flex;
			display: -ms-flex;
			display: -webkit-flex;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-align: stretch;
			-webkit-align-items: stretch;
			-moz-align-items: stretch;
			-ms-align-items: stretch;
			-o-align-items: stretch;
			align-items: stretch;
		}
		@media (min-width: 1900px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_1900}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1600px) and (max-width: 1900px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_1600}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1440px) and (max-width: 1600px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_1440}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 1280px) and (max-width: 1440px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_1280}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 980px) and (max-width: 1280px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_980}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 768px) and (max-width: 980px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_768}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 480px) and (max-width: 768px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_480}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (min-width: 320px) and (max-width: 480px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_320}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
		@media (max-width: 320px){
			.upsell-products .grid__item{
				width: calc(100% / {{items_0}} - {{items_margin}}px);
				margin-right: {{items_margin}}px;
			}
		}
	{% endif %}
	
{%- endstyle -%}