<div class="container">

  <div class="login-container box-form text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      us assign a variable 'reset_success' to true, which is used in JS to show our success message.
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm">
      {% form 'customer_login' %}
		<div class="block block-customer-login">
			<div class="block-title">
			  <h1>{{ 'customer.login.title' | t }}</h1>
			  <p class="note">{{ 'customer.login.subtext' | t }}</p>
			</div>

			{{ form.errors | default_errors }}
			<div class="clearfix field">
				<input type="email" name="customer[email]" id="CustomerEmail" placeholder="{{ 'customer.login.email' | t }}"{% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off" autofocus>
				<label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
			</div>
			{% if form.password_needed %}
				<div class="clearfix field">
				  <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.login.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
				  <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
				</div>

			{% endif %}

			<div class="action">
				<input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
				{% if form.password_needed %}
					<a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
				{% endif %}
			</div>
        </div>
		<div class="block block-new-customer"> 
			<div class="block-title">
			  <h1>{{ 'customer.login.create_account_title' | t }}</h1>
			  <p class="note">{{ 'customer.login.create_account_heading' | t }}</p>
			</div>
			<div class="action">
				{{ 'customer.login.create_account' | t | customer_register_link }}
				<a href="{{ shop.url }}">{{ 'customer.login.cancel' | t }}</a>
			</div>
		</div>

      {% endform %}
    </div>

    {% comment %}
      This page uses JavaScript to show/hide the recover password form
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <div class="block-title">
        <h1>{{ 'customer.recover_password.title' | t }}</h1>
		<p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
      </div>

      {% comment %}
        This form must use 'recover_customer_password'
      {% endcomment %}
      {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        {% comment %}
          form.posted_successfully? is true only inside this form, but we want
          to show a success message outside of it. To do so, set the variable
          reset_success to true, then use JS to show our success message above.
        {% endcomment %}
        {% if form.posted_successfully? %}
          {% assign reset_success = true %}
        {% endif %}
		
		<div class="clearfix field">
			<input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
			<label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
		</div>
		<div class="action">
			<input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
			<a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a>
		</div>
      {% endform %}

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
    <div class="block block-guest"> 
		<div class="block-title">
		  <h1>{{ 'customer.login.guest_title' | t }}</h1>
		</div>
		<div class="action">
			 {% form 'guest_login' %}
				<input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
			 {% endform %}
		</div>
	</div>
    {% endif %}

  </div>

</div>

<script>
  /*
    Show/hide the recover password form when requested.
  */
  function showRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'block';
    document.getElementById('CustomerLoginForm').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('RecoverPasswordForm').style.display = 'none';
    document.getElementById('CustomerLoginForm').style.display = 'block';
  }

  // Allow deep linking to the recover password form
  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    document.getElementById('ResetSuccess').style.display = 'block';
  {% endif %}
</script>
