{% comment ls-rpl %}{%- assign img_url_banner = section.settings.image_banner | img_url: 'master'-%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image_banner, img_url: 'master' -%}{%- endcapture -%}{%- assign img_url_banner = LS_IMG_URL-%}{% comment /ls-rpl %}{% endcomment %}
{% assign parallax_alignment = section.settings.parallax_alignment %}
{% assign overlay_opacity = section.settings.overlay_opacity %}
{% assign image_banner = section.settings.image_banner %}
{% assign banner_link = section.settings.banner_link %}
{% assign text_desc_01 = section.settings.text_desc_01 %}
{% assign color_text_01 = section.settings.color_text_01 %}
{% assign text_desc_02 = section.settings.text_desc_02 %}
{% assign color_text_02 = section.settings.color_text_02 %}
{% assign button_text = section.settings.button_text %}
{% assign color_btn = section.settings.color_btn %}
{% assign text_block_align = section.settings.text_block_align %}
{% assign text_block_position = section.settings.text_block_position %}
{% capture block_text_position %}
	{%- case text_block_position -%}
	  {%- when 'top' -%} align-items-start
	  {%- when 'middle' -%} align-items-center
	  {%- when 'bottom' -%} align-items-end
	{%- endcase -%}	
{% endcapture %}
{% capture block_text_align %}
	{%- case text_block_align -%}
	  {%- when 'left' -%} text-left
	  {%- when 'right' -%} text-right
	  {%- when 'center' -%} text-center
	{%- endcase -%}	
{% endcapture %}
<div class="page-template about-us-1">
	<div class="wrapper-slideshow">
	{%- if section.settings.enable_image -%}
		{%- if section.settings.image != blank -%}
			{% comment ls-rpl %}{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
			<img class="img-responsive lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
				src="{% comment ls-rpl %}{{ section.settings.image | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
				data-src="{{ img_url }}"
				data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
				data-aspectratio="{{ section.settings.image.aspect_ratio }}"
				data-sizes="auto"
				alt="{% comment ls-rpl %}{{ section.settings.image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: section.settings.image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
		{%- else -%}
			<span>
				{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
			</span>
		{%- endif -%}
	{%- endif -%}
		{%- if section.settings.heading != blank -%}
			<div class="h1 page-title text-center" style="color: {{ section.settings.heading_color }}">
				{{ section.settings.heading | escape }}
			</div>
		{%- endif -%}
	</div>
	<div class="shopify-section about-us-01-content-wrapper">
		<div class="about-content-inner">
			<div class="container">
				{%- if section.settings.enable_information -%}
					<div class="row text-center information-area">
						<div class="block-title">
							<p class="b-title h1 text-uppercase"><span>{{ section.settings.heading_info | escape }}</span></p>
							<p class="title-desc"><span>{{ section.settings.subheading_info | escape }}</span></p>
						</div>
						{{ section.settings.content_info }}
					</div>
				{%- endif -%}	
				{%- if section.settings.enable_advertising -%}
					<div class="row adv-area">
						<div class="col-12">
							<div class="cdzbox adv-wrapper text-center">
								<div class="block-title">
									<p class="b-title h1 text-uppercase"><span>{{ section.settings.heading_adv | escape }}</span></p>
									<p class="title-desc"><span>{{ section.settings.subheading_adv | escape }}</span></p>
								</div>
								<div class="row">
								{%- for block in section.blocks -%}
									{% case block.type %}
										{% when 'advertising' %}
											{% assign title_adv = block.settings.title_adv %}
											{% assign sub_text_adv = block.settings.sub_text_adv %}
											{% assign image_adv = block.settings.image_adv %}
											{% assign image_size_adv = block.settings.image_size_adv %}
											<div class="{{ block.settings.class_boostrap }}">
												<div class="box-adv text-center">
													<div class="box-thumb">
														<img class="img-responsive" src="{% comment ls-rpl %}{{ image_adv | img_url : image_size_adv }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image_adv, img_url : image_size_adv -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" />
													</div>
													<div class="box-title">
														<p class="b-title h3"><span>{{ title_adv | escape }}</span></p>
														<p class="b-title"><span>{{ sub_text_adv | escape }}</span></p>
													</div>
												</div>
											</div>
									{% endcase %}
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{%- endif -%}
			</div>
			{%- if section.settings.enable_banner -%}
			<div class="cdz-banner-wrapper">
				<div class="cdz-banner banner-style06 parallax-effect cdz-text-inside-wrap space-lg {{ block_text_position }}" style="background-image: url({{ img_url_banner }}); background-position: {{ parallax_alignment }}">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="cdz-banner-text {{ block_text_align }} cdz-text-inside cdz-text-position-insideMiddle col-10">
									<div class="desc01" style="color: {{ color_text_01 }}">{{ text_desc_01 | escape }}</div>
									<div class="desc" style="color: {{ color_text_02 }}">{{ text_desc_02 | escape }}</div>
									{%- if button_text != blank -%}
										<div class="desc-btn" style="margin-bottom: 10px"><a href="{{ banner_link }}" style="background-color: transparent; color: {{ color_btn }}; border-color: {{ color_btn }}">{{ button_text | escape }}</a></div>
									{%- endif -%}				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{%- endif -%}
			<div class="container">
				{%- if section.settings.enable_service -%}
					<div class="row adv-serv text-center">
						<div class="block-title mb-4">
							<p class="b-title h1 text-uppercase"><span>{{ section.settings.heading_serv | escape }}</span></p>
						</div>
						{%- for block in section.blocks -%}
							{% case block.type %}
								{% when 'services' %}
									{% assign title_serv = block.settings.title_serv %}
									{% assign content_serv = block.settings.content_serv %}
									<div class="{{ block.settings.class_boostrap_serv }}">
										<div class="cdzbox cdzborder box-serv text-center">
											<i class="fa fa-4x mb-3 {{ block.settings.class_icon_serv }}" aria-hidden="true"></i>
											<p class="b-title h3"><span>{{ title_serv | escape }}</span></p>
											<p class="content-serv"><span>{{ content_serv | escape }}</span></p>
										</div>
									</div>
							{% endcase %}
						{% endfor %}
					</div>
				{%- endif -%}	
			</div>
		</div>
	</div>
</div>
{%- style -%}
	.wrapper-slideshow  span{width: 100%;}
    .wrapper-slideshow img,
    .wrapper-slideshow  span svg {
	  width: 100%;
	    object-fit: cover;
		height: {{ section.settings.slider_desktop_height | default: 250 }}px;
		object-position: {{ section.settings.slider_position }}
    }
	.wrapper-slideshow {
		margin: 0px 0px 50px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		-ms-flex-align: center!important;
		align-items: center!important;
	}
	.page-title {width: 100%; font-size: 300%;}
	.block-title { width: 100%; }
	.about-content-inner .block-title .title-desc {margin-bottom: 3rem;}
	.box-thumb {margin-bottom: 1rem;}
	.box-thumb img{display: inline-block;}
	{%- if section.settings.enable_image -%}
		.page-title{ position: absolute; left: 1rem; right: 1rem;}
	{%- endif -%}	
    @media screen and (max-width: 767px) {
		.wrapper-slideshow image,
		.wrapper-slideshow  .span svg {
			max-height: 150px;
		}
		.page-title {font-size: 140%;}
    }
    @media screen and (min-width: 768px) {
		.information-area .title-desc {display: inline-block; max-width: 60%;}
    }
	.about-content-inner .block-title p {margin-bottom: 1rem;}
	.about-us-01-content-wrapper {margin-bottom: 1rem;}
	.about-content-inner .block-content {margin-bottom: 1rem;}
	.about-content-inner .block-content p {margin-bottom: 5px;}
	.cdzbox.adv-wrapper{
		margin-top: 50px;
		padding: 5rem 3rem;
		background: #f7f7fd;
	}
	.cdzbox.box-serv{
		background: #f7f7fd;
		margin-bottom: 20px;
	}
	.parallax-effect:after{
		opacity: {{ overlay_opacity | divided_by: 100.00 }}
	}	
{%- endstyle -%}
{% schema %}
{
  "name": "About Us 01",
  "settings": [
	{
	  "type": "text",
	  "id": "heading",
	  "label": "Heading Text",
	  "default" : "About Us 1"
	},
	{
	  "type": "color",
	  "id": "heading_color",
	  "label": "Heading Text Color",
	  "default": "#ffffff"
	},
	{
	  "type": "text",
	  "id": "slider_desktop_height",
	  "default": "250",
	  "label": "Image Max Height"
	},
	{
	  "type": "checkbox",
	  "id": "enable_image",
	  "label": "Enable Top Image",
	  "default" : false
	},
	{
	  "type": "image_picker",
	  "id": "image",
	  "label": "Image"
	},
	{
	  "type": "select",
	  "id": "slider_position",
	  "label": "Image position",
	  "default": "center center",
	  "options": [
		{
		  "label": {
			"de": "Oben links",
			"en": "Top left",
			"es": "Superior izquierda",
			"fr": "En haut à gauche",
			"it": "In alto a sinistra",
			"ja": "左上",
			"nl": "Linksboven",
			"pt-BR": "Superior esquerdo",
			"zh-CN": "左上方",
			"zh-TW": "左上角"
		  },
		  "value": "left top"
		},
		{
		  "label": {
			"de": "Oben Mitte",
			"en": "Top center",
			"es": "Superior al centro",
			"fr": "En haut au centre",
			"it": "In alto al centro",
			"ja": "中央上",
			"nl": "Midden boven",
			"pt-BR": "Superior centro",
			"zh-CN": "顶部居中",
			"zh-TW": "中央上方"
		  },
		  "value": "center top"
		},
		{
		  "label": {
			"de": "Oben rechts",
			"en": "Top right",
			"es": "Superior derecha",
			"fr": "En haut à droite",
			"it": "In alto a destra",
			"ja": "右上",
			"nl": "Rechtsboven",
			"pt-BR": "Superior direito",
			"zh-CN": "右上方",
			"zh-TW": "右上角"
		  },
		  "value": "right top"
		},
		{
		  "label": {
			"de": "Mitte links",
			"en": "Middle left",
			"es": "Al medio a la izquierda",
			"fr": "Au milieu à gauche",
			"it": "Nel mezzo a sinistra",
			"ja": "中央左",
			"nl": "Midden links",
			"pt-BR": "Meio esquerdo",
			"zh-CN": "中间居左",
			"zh-TW": "中央左方"
		  },
		  "value": "left center"
		},
		{
		  "label": {
			"de": "Mitte mittig",
			"en": "Middle center",
			"es": "Al medio al centro",
			"fr": "Centrée au milieu",
			"it": "In mezzo",
			"ja": "中央中",
			"nl": "Midden centrum",
			"pt-BR": "Meio centro",
			"zh-CN": "中间居中",
			"zh-TW": "正中央"
		  },
		  "value": "center center"
		},
		{
		  "label": {
			"de": "Mitte rechts",
			"en": "Middle right",
			"es": "Al medio a la derecha",
			"fr": "Au milieu à droite",
			"it": "Nel mezzo a destra",
			"ja": "中央右",
			"nl": "Midden rechts",
			"pt-BR": "Meio direito",
			"zh-CN": "中间居右",
			"zh-TW": "中央右方"
		  },
		  "value": "right center"
		},
		{
		  "label": {
			"de": "Unten links",
			"en": "Bottom left",
			"es": "Inferior izquierda",
			"fr": "En bas à gauche",
			"it": "In basso a sinistra",
			"ja": "左下",
			"nl": "Linksonder",
			"pt-BR": "Inferior esquerdo",
			"zh-CN": "左下方",
			"zh-TW": "左下角"
		  },
		  "value": "left bottom"
		},
		{
		  "label": {
			"de": "Unten mittig",
			"en": "Bottom center",
			"es": "Inferior al centro",
			"fr": "En bas au centre",
			"it": "In basso al centro",
			"ja": "中央下",
			"nl": "Midden onder",
			"pt-BR": "Inferior centro",
			"zh-CN": "底部居中",
			"zh-TW": "中央下方"
		  },
		  "value": "center bottom"
		},
		{
		  "label": {
			"de": "Unten rechts",
			"en": "Bottom right",
			"es": "Inferior derecha",
			"fr": "En bas à droite",
			"it": "In basso a destra",
			"ja": "右下",
			"nl": "Rechtsonder",
			"pt-BR": "Inferior direito",
			"zh-CN": "右下方",
			"zh-TW": "右下角"
		  },
		  "value": "right bottom"
		}
	  ]
	},
	{
	  "type": "header",
	  "content": "Information Area"
	},
	{
	  "type": "checkbox",
	  "id": "enable_information",
	  "label": "Enable Information Area",
	  "default" : true
	},
	{
	   "type":      "text",
	   "id":        "heading_info",
	   "label":     "Heading Information",
	   "default": 	"Somthing about Us?"
	},
	{
	   "type":      "text",
	   "id":        "subheading_info",
	   "label":     "Sub Heading Information",
	   "default": 	"Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Ssed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit."
	},
	{
	  "type": "html",
	  "id": "content_info",
	  "label": "Content",
	  "default" : "<div class='information col-md-4 col-sm-4 col-xs-12'><i class='fa fa-4x mb-3 fa-user-circle-o' aria-hidden='true'></i><div class='service-block-content'><div class='service-title text-uppercase mb-1 h3'>free resources</div><p class='service-desc mx-3'>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative to corporate strategy to the table win-win survival strategies to ensure</p></div></div><div class='services col-md-4 col-sm-4 col-xs-12'> <i class='fa fa-globe fa-4x mb-3' aria-hidden='true'></i><div class='service-block-content'><div class='service-title text-uppercase mb-1 h3'>multi-purpose</div><p class='service-desc mx-3'>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative to corporate strategy to the table win-win survival strategies to ensure</p></div></div><div class='services col-md-4 col-sm-4 col-xs-12'><i class='fa fa-support fa-4x mb-3' aria-hidden='true'></i><div class='service-block-content'><div class='service-title text-uppercase mb-1 h3'>fully responsive</div><p class='service-desc mx-3'>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative to corporate strategy to the table win-win survival strategies to ensure</p></div></div>"
	},
	{
	  "type": "header",
	  "content": "Banner Area"
	},
	{
	  "type": "checkbox",
	  "id": "enable_banner",
	  "label": "Enable Banner Area",
	  "default" : true
	},
	{
	  "type": "image_picker",
	  "id": "image_banner",
	  "label": "Parallax Image"
	},
	{
	  "type": "select",
	  "id": "parallax_alignment",
	  "label": "Image position",
	  "default": "center center",
	  "options": [
		{
		  "label": "Top left",
		  "value": "left top"
		},
		{
		  "label": "Top center",
		  "value": "center top"
		},
		{
		  "label": "Top right",
		  "value": "right top"
		},
		{
		  "label": "Middle left",
		  "value": "left center"
		},
		{
		  "label": "Middle center",
		  "value": "center center"
		},
		{
		  "label": "Middle right",
		  "value": "right center"
		},
		{
		  "label": "Bottom left",
		  "value": "left bottom"
		},
		{
		  "label": "Bottom center",
		  "value": "center bottom"
		},
		{
		  "label": "Bottom right",
		  "value": "right bottom"
		}
	  ]
	},
	{
	  "type": "range",
	  "id": "overlay_opacity",
	  "label": "Overlay opacity",
	  "min": 0,
	  "max": 100,
	  "step": 1,
	  "unit": "%",
	  "default": 40
	},
	{
	  "type": "url",
	  "id": "banner_link",
	  "label": "Collection"
	},
	{
	  "type": "text",
	  "id": "text_desc_01",
	  "label": "Big Text",
	  "default": "WHO WE ARE"
	},
	{
	  "type": "color",
	  "id": "color_text_01",
	  "label": "Text color",
	  "default": "#ffffff"
	},
	{
	  "type": "text",
	  "id": "text_desc_02",
	  "label": "Small Text",
	  "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet mollis risus, vitae porta ante. Sed tristique ex mauris, mdidv amet feugiat dolor vestibulum egetю Vivamus massa libero, interdum vitae efficitur sapien a, efficitur posuere ante"
	},
	{
	  "type": "color",
	  "id": "color_text_02",
	  "label": "Text color",
	  "default": "#ffffff"
	},
	{
	  "type": "text",
	  "id": "button_text",
	  "label": "Button Text"
	},
	{
	  "type": "color",
	  "id": "color_btn",
	  "label": "Text color",
	  "default": "#ffffff"
	},
	{
	  "type": "select",
	  "id": "text_block_align",
	  "label": "Text Alignment",
	  "options": [
		{
		  "value": "left",
		  "label": "Text Left"
		},
		{
		  "value": "right",
		  "label": "Text Right"
		},
		{
		  "value": "center",
		  "label": "Text Center"
		}
	  ],
	  "default": "center"
	},
	{
	  "type": "select",
	  "id": "text_block_position",
	  "label": "Text Position",
	  "options": [
		{
		  "value": "top",
		  "label": "Top"
		},
		{
		  "value": "middle",
		  "label": "Middle"
		},
		{
		  "value": "bottom",
		  "label": "Bottom"
		}
	  ],
	  "default": "middle"
	},
	{
	  "type": "header",
	  "content": "Advertising Area"
	},
	{
	  "type": "checkbox",
	  "id": "enable_advertising",
	  "label": "Enable Advertising Box",
	  "default" : true
	},
	{
	   "type":      "text",
	   "id":        "heading_adv",
	   "label":     "Heading Advertising",
	   "default": 	"Meet Our Experts"
	},
	{
	   "type":      "text",
	   "id":        "subheading_adv",
	   "label":     "Sub Heading Advertising",
	   "default": 	"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor"
	},
	{
	  "type": "header",
	  "content": "Services Area"
	},
	{
	  "type": "checkbox",
	  "id": "enable_service",
	  "label": "Enable Services Area",
	  "default" : true
	},
	{
	   "type":      "text",
	   "id":        "heading_serv",
	   "label":     "Heading Services",
	   "default": 	"Our Services"
	}
	],
  "blocks": [
	{
      "name": "Advertising",
	  "type": "advertising",
      "settings": [
        {
			"type" : "text",
			"id" : "class_boostrap",
			"label" : "Custom Class",
			"default": "col-xl-3  col-lg-3 col-md-6",
			"info": "Used for container widths [ex: col-1...col-12,..., col-xl-1...col-xl-12]. See [Grid Classes](https://www.w3schools.com/bootstrap4/bootstrap_grid_system.asp)"
		},
		{
          "type": "image_picker",
          "id": "image_adv",
          "label": "Image"
        },
		{
			"type" : "text",
			"id" : "image_size_adv",
			"label" : "Size Image",
			"default": "320x320",
			"info": "Default: [320x320]"
		},
        {
		  "type": "text",
		  "id": "title_adv",
		  "label": "Heading"
		},
        {
          "type": "text",
          "id": "sub_text_adv",
          "label": "Sub Heading"
        }
      ]
    },
	{
      "name": "Services",
	  "type": "services",
      "settings": [
        {
			"type" : "text",
			"id" : "class_boostrap_serv",
			"label" : "Custom Class",
			"default": "col-lg-4 col-md-6 col-sm-6",
			"info": "Used for container widths Ex: col-1...col-12,..., col-xl-1...col-xl-12. See [Grid Classes](https://www.w3schools.com/bootstrap4/bootstrap_grid_system.asp)"
		},
        {
		  "type": "text",
		  "id": "title_serv",
		  "label": "Heading",
		  "default": "Consectetur Lorem"
		},
        {
		  "type": "text",
		  "id": "class_icon_serv",
		  "label": "Font Icon Item",
		  "info" : "Ex: fa-home. Use Font Awesome [see here](https://fontawesome.com/v4.7.0/icons/)",
		  "default": "fa-support"
		},
        {
          "type": "text",
          "id": "content_serv",
          "label": "Content",
		  "default": "Sed ut perspiciatis unde omnis iste natus error sit voluptatem, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Ssed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit."
        }
      ]
    }
	],
	"presets": [
    {
      "name": "About Us 01",
      "category": "About Us"
    }
  ]
}
{% endschema %}
