<footer class="footer cdzamp-footer">
	<div class="footer-middle p-3">
		<div class="container">
			<amp-accordion id="amp-footer-tab" disable-session-states animate>
		        {%- for block in section.blocks -%}
	  				{%- case block.type -%}
			  			{%- when 'link-list' -%}
			  				<section id="section{{forloop.index}}" class="{% if forloop.last%}last{% endif %}">
					          <h3 class="tab-title h5 text-uppercase"><span class="py-3 d-inline-block">{{ block.settings.footer_block_title | escape }}</span>
					          <i class="icon-toggle" aria-hidden="true">{% include 'icon-plus' %}</i>
					          <i class="icon-toggle" aria-hidden="true">{% include 'icon-minus' %}</i>
					        </h3>
					          <div class="footer-content">
					            <ul class="footer-link list-unstyled my-3">
								  {%- for link in linklists[block.settings.footer_block_link_list].links -%}
								  	{%- if link.url contains 'collections' -%}
								  		{%- assign link.url = link.url | append: '?view=amp-collection' -%}
								  	{% endif %}
									<li  class="{% if forloop.last == true %}last pt-0 {% else %} pb-3{% endif %}"><a href="{% if link.url contains '/collections/' %}{{link.url | append: '?view=amp-collection'}}{% elsif link.url contains 'products' %}{{link.url | append: '?view=amp-product'}}{% elsif link.url == '/' %}{{link.url | append: 'pages/amp-home-page'}}{% else %}{{link.url}}{% endif %}">{{ link.title }}</a></li>
								  {%- endfor -%}
								</ul>
					          </div>
					        </section>
					    {%- when 'custom-html' -%}
					    	<section id="section{{forloop.index}}" class="{% if forloop.last%}last{% endif %}">
					         	<h3 class="tab-title h5 text-uppercase"><span class="py-3 d-inline-block">{{ block.settings.footer_block_title | escape }}</span>
					          	<i class="icon-toggle" aria-hidden="true">{% include 'icon-plus' %}</i>
					            <i class="icon-toggle" aria-hidden="true">{% include 'icon-minus' %}</i>
					        	</h3>
					          	<div class="footer-content">
						            {%- assign fcustom_block_logo = block.settings.fcustom_block_logo -%}
									{% comment ls-rpl %}{%- assign sizeimg_url = block.settings.fcustom_block_logo | img_url : block.settings.fcustom_block_logo_size -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block.settings.fcustom_block_logo, img_url : block.settings.fcustom_block_logo_size -%}{%- endcapture -%}{%- assign sizeimg_url = LS_IMG_URL -%}{% comment /ls-rpl %}{% endcomment %}
									{%- unless fcustom_block_logo == blank -%}
										<div class="footer-logo mt-3">
											{%- assign sizeLogo = block.settings.fcustom_block_logo_size | split: 'x' -%}
											<amp-img class="" width="{{sizeLogo[0]}}" height="{{sizeLogo[1]}}" src="{{sizeimg_url}}" /></amp-img>
										</div>
									{%- endunless -%}
									{%- unless block.settings.fcustom_block == blank -%}
										<div class="block-html mt-3">
											{{block.settings.fcustom_block}}
										</div>
									{%- endunless -%}
					          	</div>
					        </section>
		  			{%- endcase -%}
		  		{%- endfor -%}
	      	</amp-accordion>
		</div>
	</div>
		<div class="footer-bottom mt-3 pb-3 text-center">
			<div class="container">
			{%- if section.settings.fshow_copyright -%}<div class="footer-copyright">{{section.settings.fcopyright}}</div>{%- endif -%}
			{%- if section.settings.fshow_payment -%}<div class="footer-payment pt-3">{{section.settings.fpayment}}</div>{%- endif -%}
			{%- if section.settings.fshow_appstore -%}<div class="footer-appstore pt-3">{{section.settings.fappstore}}</div>{%- endif -%}
			</div>
		</div>
</footer>
{% schema %}
  {
    "name": "AMP Footer",
    "settings": [
		{
		  "type": "header",
		  "content": "-- Coppyright --"
		},
		{
			"type": "html",
			"id": "fcopyright",
			"label": "Copyright",
			"default" : "Prices and offers are subject to change. © 2019 Codazon Ltd. Trademarks and brands"
		},
		{
			"type": "checkbox",
			"id": "fshow_copyright",
			"label": "Show Copyright",
			"default" : true
		},
		{
		  "type": "header",
		  "content": "-- HTML Image of Payment --"
		},
		{
			"type": "html",
			"id": "fpayment",
			"label": "Image Payment",
			"default":"<amp-img width=\"249\" height=\"25\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-payment.png?v=1570423488\" alt=\"Accept Payment\">"
		},
		{
			"type": "checkbox",
			"id": "fshow_payment",
			"label": "Show Payment",
			"default" : false
		},
		{
		  "type": "header",
		  "content": "-- HTML Image of App Store --"
		},
		{
			"type": "html",
			"id": "fappstore",
			"label": "Image App Store",
			"default":"<amp-img class=\"mr-1 ml-1\" width=\"140\" height=\"42\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-img-01.jpg?v=1570423488\" alt=\"Accept Payment\"></amp-img><amp-img class=\"mr-1 ml-1\" width=\"140\" height=\"42\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-img-02.jpg?v=1570423488\" alt=\"Accept Payment\"></amp-img>"
		},
		{
			"type": "checkbox",
			"id": "fshow_appstore",
			"label": "Show App Store",
			"default" : true
		}
    ],
    "blocks": [
		{
			"type": "link-list",
			"name": "Link List",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading Block in Section"
				},
				{
					"type": "text",
					"id": "footer_block_title",
					"label": "Heading Link List",
					"default": "Link List"
				},
				{
					"type": "link_list",
					"id": "footer_block_link_list",
					"label": "Select Link List"
				}
			]
		},
		{
			"type": "custom-html",
			"name": "Custom HTML",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading Block in Section",
					"default": "About Us"
				},
				{
					"type": "text",
					"id": "footer_block_title",
					"label": "Heading Link List",
					"default": "About Us"
				},
				{
			      "type": "image_picker",
			      "id": "fcustom_block_logo",
			      "label": "Footer Logo"
			    },
				{
			      "type": "text",
			      "id": "fcustom_block_logo_size",
			      "label": "Footer Logo Size",
				  "default": "240x42",
				  "info": "Default: [240x42] Width: 240px, Height: 42px"
			    },
				{
					"type": "html",
					"id": "fcustom_block",
					"label": "Content",
					"default": "<ul class=\"footer-link list-unstyled m-0 pb-3\"><li class=\"pb-3\">Montergade 19 1140</li><li class=\"pb-3\">Copenhagen, Denmark</li><li class=\"last pb-0\">+45 878-xx-xx</li></ul>"
				}
			]
		}
    ]
  }
{% endschema %}
