  <script type="text/javascript" async src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4def63cd3cf37569"></script>
{% assign blog_sidebar = section.settings.blog_sidebar %}
{%- assign paginate_article = '10' -%}
{% unless section.settings.paginate_article == blank %}
	{% assign paginate_article = section.settings.paginate_article %}
{% endunless %}
{% assign enable_sidebarblog_cate = section.settings.enable_sidebarblog_cate %}
{% assign sidebarblog_cate = section.settings.sidebarblog_cate %}
{% assign enable_sidebarblog_tags = section.settings.enable_sidebarblog_tags %}
{% assign enable_sidebarblog_recent = section.settings.enable_sidebarblog_recent %}
{% assign blog_viewall = section.settings.blog_viewall %}
{% assign blog_cate = section.settings.blog_cate %}
{% assign blog_author = section.settings.blog_author %}
{% assign blog_tags = section.settings.blog_tags %}
{% assign blog_desc = section.settings.blog_desc %}
{% assign blog_readmore = section.settings.blog_readmore %}
{% assign blog_social_sharing = section.settings.blog_social_sharing %}
{% assign blog_date = section.settings.blog_date %}
{%- assign blog_date_format = '%b %e, %Y' -%}
{% unless section.settings.blog_date_format == blank %}
	{% assign blog_date_format = section.settings.blog_date_format %}
{% endunless %}
{% assign enable_short_description = section.settings.enable_short_description %}

{%- assign thumbnail_width = '320' -%}
{% unless section.settings.thumbnail_width == blank %}
	{%- assign thumbnail_width = section.settings.thumbnail_width -%}
{% endunless %}
{%- assign thumbnail_height = '320' -%}
{% unless section.settings.thumbnail_height == blank %}
	{%- assign thumbnail_height = section.settings.thumbnail_height -%}
{% endunless %}
{%- assign short_description_length = '150' -%}
{% unless section.settings.short_description_length == blank %}
	{%- assign short_description_length = section.settings.short_description_length -%}
{% endunless %}
<div class="blog-template">
<div class="page-title-wrapper">
	<h1 class="page-title"><span>{{ blog.title }}</span></h1>
</div>
<div class="row">
	{% if blog_sidebar == 'left' %}
	<div class="sidebar col-sm-3">
		{% include 'blog-sidebar' %}
	</div>
	{% endif %}
	<div class="column-main {% if blog_sidebar == 'disabled' %}col-sm-12 {% else %} col-sm-9 {% endif %}">
		<div class="post-list-wrapper">
			<ul class="post-list">
				{% paginate blog.articles by {{paginate_article}} %}
				{% for article in blog.articles %}
				{%- comment %}<locksmith:7b9c>{% endcomment -%}
				  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: article, subject_parent: blog, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:7b9c>{% endcomment -%}
				<li class="post-holder">
					<div class="post-inner row">
						<div class="col-sm-6">
							<div class="post-top">
							   	{% assign img_size = thumbnail_width | append: 'x' | append: thumbnail_height %}
								{% assign img_ratio = thumbnail_width | times: 1.0 | divided_by: thumbnail_height %}
								<a class="post-img abs-img" href="{{article.url}}" style="padding-bottom:{{ 1 | divided_by: img_ratio | times: 100}}%;">
								<img id="" class="article__image lazyload"
									 src="{% comment ls-rpl %}{{ article.image | img_url: img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: article.image, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
									 alt="{{ image_alt }}"></a>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="post-info-panel">
								<div class="post-header">
									<div class="post-title-holder clearfix">
										<div class="post-title {% if blog_date %}has-date{% endif %}">
											{{ article.title | link_to: article.url }}
										</div>
										{% if blog_date %}
											<div class="post-date">
												<time datetime="{{ article.published_at | date: blog_date_format }}">{{ article.published_at | date: blog_date_format }}</time>
											</div>
										{% endif %}
									</div>
								</div>
								<div class="post-info">
									{% if blog_author %}
									<div class="post-author">
										{{ article.author }}
									</div>
									{% endif %}
									{% if blog_tags %}
									<div class="post-tags">
										{% if article.tags.size > 0 %}
										  {% for tag in article.tags %}
											<a class="post-category" href="{{ blog.url }}/tagged/{{ tag | handle }}">{% comment ls-rpl %}{{ tag }}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: article -%}{%- endcapture -%}{{ LS_TAG }}{% comment /ls-rpl %}{% endcomment %}</a>
										  {% endfor %}
										{% endif %}
									</div>
									{% endif %}
								</div>
								<div class="post-content">
									{% if enable_short_description %}
										<div class="post-description">
											{% if article.excerpt.size > 0 %}
												<div class="clearfix post-desc">
												  {{ article.excerpt | strip_html | truncate: short_description_length }}
												</div>
												{% else %}
												  {{ article.content | strip_html | truncate: short_description_length }}
											{% endif %}
										</div>
									{% endif %}
								</div>
								<div class="post-footer">
									{% if blog_readmore %}
										<a class="post-read-more" href="{{ article.url }}">
									{{ 'blogs.article.read_more' | t }}</a>
									{% endif %}
									{% if blog_social_sharing %}
									<div class="addthis">
										<div class="addthis_toolbox addthis_default_style" addthis:url="{{shop.url | append : article.url}}">
											<a class="addthis_button_facebook"></a>
											<a class="addthis_button_twitter"></a>
											<a class="addthis_button_email"></a>
											<a class="addthis_button_compact"></a>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		{% if paginate.pages > 1 %}
			<div class="toolbar-blog-posts">
				<div class="blog-pages">
					  {{ paginate | default_pagination }}
					</div>
			</div>
		{% endif %}
		{% endpaginate %}
		</div>
	</div>
	{% if blog_sidebar == 'right' %}
	<div class="sidebar col-sm-3">
		{% include 'blog-sidebar' %}
	</div>
	{% endif %}
</div>
</div>
{% schema %}
{
  "name": "Blog Style 02",
  "settings": [
	{
		"type" : "select",
		"id" : "blog_sidebar",
		"options": [
		  { "value": "right", "label": "Show To Right"},
		  { "value": "left", "label": "Show To Left"},
		  { "value": "disabled", "label": "Disable"}
	   ],
		"label": "Blog Sidebar",
		"default" : "left"	
	},
	{
	  "type": "checkbox",
	  "id": "enable_sidebarblog_cate",
	  "label": "Enable Sidebar Blog Category",
	  "default" : true
	},
	{
	  "type": "link_list",
	  "id": "sidebarblog_cate",
	  "label": "Select Blog Category"
	},
	{
	  "type": "checkbox",
	  "id": "enable_sidebarblog_tags",
	  "label": "Enable Sidebar Blog Tags",
	  "default" : true
	},
	{
	  "type": "checkbox",
	  "id": "enable_sidebarblog_recent",
	  "label": "Enable Sidebar Blog Recent Article",
	  "default" : true
	},
    {
      "type": "header",
      "content": "Article on Page"
    },
	{
	  "type": "text",
	  "id": "paginate_article",
	  "label": "Total Article on Page",
	  "default" : "10"
	},
	{
	  "type": "text",
	  "id": "thumbnail_width",
	  "label": "Thumbnail Width",
	  "default" : "300"
	},
	{
	  "type": "text",
	  "id": "thumbnail_height",
	  "label": "Thumbnail Height",
	  "default" : "200"
	},
	{
	  "type": "text",
	  "id": "blog_date_format",
	  "label": "Date Format",
	  "default" : "%b %e, %Y",
	  "info": "Ex: %b %e, %Y. date accepts the same parameters as Ruby's strftime method. [see here](http:\/\/strfti.me\/)"
	},
	{
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show blog post author",
       "default":   true
    },
	{
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show blog post tags",
       "default":   true
    },
	{
	   "type":      "checkbox",
	   "id":        "blog_readmore",
	   "label":     "Show blog post read more link",
	   "default":   true
	},
	{
	   "type":      "checkbox",
	   "id":        "blog_social_sharing",
	   "label":     "Show blog post social sharing",
	   "default":   true
	},
	{
	   "type":      "checkbox",
	   "id":        "blog_date",
	   "label":     "Show blog post date time",
	   "default":   true
	},
	{
	  "type": "checkbox",
	  "id": "enable_short_description",
	  "label": "Show blog post short description",
	  "default" : true
	},
	{
	  "type": "text",
	  "id": "short_description_length",
	  "label": "Blog post description length",
	  "default" : "150"
	}
  ]
}
{% endschema %}