{% comment %}
  This is your page.contact template.
{% endcomment %}
{% assign APIKey = section.settings.APIKey %}
{% assign market_title = section.settings.market_title %}
{% assign market_address = section.settings.market_address %}
{% assign market_lat = section.settings.market_lat %}
{% assign market_long = section.settings.market_long %}
{% assign map_zoom = section.settings.map_zoom %}
{% assign map_ratio = section.settings.map_ratio %}

{% capture data-googleMap %}
	{ "mapLat": {{market_lat}}, "mapLong": {{market_long}}, "mapZoom": {{map_zoom}}, "mapAddress": "{{market_address}}", "markerTitle": "{{market_title}}", "apiKey": "{{APIKey}}", "map_ratio": "{{map_ratio}}" }
{% endcapture %}
<div class="row justify-content-md-center">
	{% if section.settings.title_page %}
	<div class="col-12 page-title text-center">
		<h1>{{ section.settings.title_page | escape }}</h1>
	</div>
	{% endif %}
	<div class="contact-form-wrap col-md-6">
		{% form 'contact' %}
		  {% if form.posted_successfully? %} {{ 'general.form.success' | t}} {% endif %}
		  {{ form.errors | default_errors }}
		  <div class="clearfix field">
			  <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{ 'general.form.label_name' | t}}">
			  <label for="ContactFormName">{{ 'general.form.label_name' | t}}</label>
		  </div>
		  <div class="clearfix field">
			  <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'general.form.label_email' | t}}">
			  <label for="ContactFormEmail">{{ 'general.form.label_email' | t}}</label>
		  </div>
		  <div class="clearfix field">
			  <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{ 'general.form.label_phone' | t}}">
			  <label for="ContactFormPhone">{{ 'general.form.label_phone' | t}}</label>
		  </div>
		  <div class="clearfix large_form">
			  <label for="ContactFormMessage">{{ 'general.form.label_comment' | t}}</label>
			  <textarea rows="3" id="ContactFormMessage" name="contact[body]"></textarea>
		  </div>
		  <div class="clearfix text-right action">
			<input type="submit" value="{{ 'general.form.btn_submit' | t}}" class="btn btn-submit">
		  </div>
		{% endform %}
		{% if section.settings.enable_store_info %}
			<div class="store-info block">
				<div class="block-title">{{ section.settings.title_store_info | escape }}</div>
				<div class="block-content">
					{%- for block in section.blocks -%}
						{% case block.type %}
							{% when 'text' %}
								{% assign store_title = block.settings.store_title %}
								{% assign store_icon = block.settings.store_icon %}
								{% assign store_content = block.settings.store_content %}
								<p>
								<i class="fa {% if store_icon == blank %}fa-check{% else %}{{ block.settings.store_icon | escape }}{% endif %}" aria-hidden="true"></i>
								<strong>{{ block.settings.store_title | escape }}: </strong> 
								<span>{{ block.settings.store_content | escape }}</span>
								</p>
							{% when 'marker' %}
								{% if block.settings.enable_add_store %}							
								<p class="i-store"><strong>{{ block.settings.market_title_add | escape }}: </strong> <span>{{ block.settings.market_address_add | escape }}</span></p>
								{% endif %}
						{% endcase %}
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
	{% if section.settings.enable_google_map %}
	<div class="col-md-6 contact-map-wrap googleMapWrapper mb-4">
		{%- for block in section.blocks -%}
			{% if block.settings.enable_add_marker %}
				{% assign market_title_add = block.settings.market_title_add %}
				{% assign market_address_add = block.settings.market_address_add %}
				{% assign market_lat_add = block.settings.market_lat_add %}
				{% assign market_long_add = block.settings.market_long_add %}
				<div class="hide block-add data-additionalMarkers" data-title="{{market_title_add}}" data-add="{{ market_address_add }}" data-lat="{{ market_lat_add }}" data-long="{{ market_long_add }}"></div>
			{% endif %}
		{% endfor %}
		
		<div class="google-map-wrap abs-frame" style="" data-role='cdz-googlemap'>
			<div class="abs-frame-inner google-map" data-cdzwidget='{"codazon.googleMap" : {{data-googleMap}}}'>				
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% schema %}
{
  "name": "Contact Form",
  "class": "index-section contact",
  "settings": [
    {
      "type": "text",
      "id": "title_page",
      "label": "Heading",
      "default": "Contact Us"
    },
	{
	  "type": "checkbox",
	  "id": "enable_google_map",
	  "label": "Show Google Map",
	  "default" : true
	},
	{
      "type": "text",
      "id": "APIKey",
      "label": "Google API Key",
	  "default" : "AIzaSyDK5UahtlWXSFx4SHa1dW_dQmkPSf2YLfM",
      "info": "Go to https://developers.google.com/maps/documentation/javascript/get-api-key to get key. If this field is empty, Google Map feature won't work"
    },
	{
      "type": "text",
      "id": "map_ratio",
      "label": "Map Ratio",
	  "default" : "0.86",
      "info": "[Map Height]/[Map Width]"
    },
	{
      "type": "text",
      "id": "market_title",
      "label": "Marker Title",
	  "default" : "Main Store"
    },
	{
      "type": "text",
      "id": "market_address",
      "label": "Marker Address",
	  "default" : "6505 boulevard Henri-Bourassa, Montréal, Quebec, H1G2V5"
    },
	{
      "type": "text",
      "id": "market_lat",
      "label": "Marker Latitude",
	  "default" : "45.6107667"
    },
	{
      "type": "text",
      "id": "market_long",
      "label": "Marker Longitude",
	  "default" : "-73.6108024"
    },
	{
      "type": "text",
      "id": "map_zoom",
      "label": "Zoom",
	  "default" : "10"
    },
	{
		"type": "header",
		"content": "Store Information"
	},
	{
	  "type": "checkbox",
	  "id": "enable_store_info",
	  "label": "Show Store Information",
	  "default" : true,
	  "info": "Add Store Information in CONTENT to display"
	},
	{
      "type": "text",
      "id": "title_store_info",
      "label": "Heading Text",
      "default": "Store Information"
    }
	],
  "blocks": [
    {
      "name": "Additional Markers",
	  "type": "marker",
      "settings": [
        {
          "type": "text",
          "id": "market_title_add",
          "label": "Title"
        },
		{
          "type": "text",
          "id": "market_address_add",
          "label": "Address"
        },
		{
		  "type": "checkbox",
		  "id": "enable_add_store",
		  "label": "Show on Store Information Block",
		  "default" : true
		},
		{
		  "type": "checkbox",
		  "id": "enable_add_marker",
		  "label": "Show Additional Markers on Google Map",
		  "default" : false
		},
		{
          "type": "text",
          "id": "market_lat_add",
          "label": "Latitude"
        },
		{
          "type": "text",
          "id": "market_long_add",
          "label": "Longitude"
        }
      ]
    },
	{
      "name": "Add Store Information",
	  "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "store_title",
          "label": "Title"
        },
		{
          "type": "text",
          "id": "store_icon",
          "label": "Icon Title Class",
		  "info": "EX: fa-check. Go [Fontawesome](https://fontawesome.com/v4.7.0/cheatsheet/) to get class icon"
        },
		{
          "type": "text",
          "id": "store_content",
          "label": "Content"
        }
      ]
    }
	]

}
{% endschema %}