{%- if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_google_plus_link != blank or settings.social_instagram_link != blank or settings.social_snapchat_link != blank or settings.social_tumblr_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank or settings.social_rss_link != blank -%}
      {%- assign show_social_icons = true -%}
    {%- else -%}
      {%- assign show_social_icons = false -%}
{%- endif -%}
{%- assign enable_full_width = section.settings.enable_full_width -%} 
{%- assign enable_full_container = section.settings.enable_full_container -%} 
{%- assign enable_full_background = section.settings.enable_full_background -%}
{%- assign fsocial_title = section.settings.fsocial_title -%} 
{%- assign fcopyright = section.settings.fcopyright -%} 
{%- assign fpayment = section.settings.fpayment -%} 
{%- assign fappstore = section.settings.fappstore -%}
{%- assign footer_background = section.settings.footer_background -%}
{%- assign footer_background_image = section.settings.footer_background_image -%}
{%- assign footer_background_image_option = section.settings.footer_background_image_option -%}
{%- assign footer_top_background = section.settings.footer_top_background -%}
{%- assign footer_bottom_background = section.settings.footer_bottom_background -%}
{%- assign footer_text = section.settings.footer_text -%}
{%- assign footer_text_size = section.settings.footer_text_size -%}
{%- assign footer_title_text_size = section.settings.footer_title_text_size -%}
{%- assign footer_title_text = section.settings.footer_title_text -%}
{%- assign footer_hover_text = section.settings.footer_hover_text -%}
{%- assign footer_border = section.settings.footer_border -%}
{%- assign footer_shadow = section.settings.footer_shadow -%}
{%- assign social_text = section.settings.social_text -%}
{%- assign social_background = section.settings.social_background -%}
{%- assign social_hover_text = section.settings.social_hover_text -%}
{%- assign social_hover_background = section.settings.social_hover_background -%}
{%- assign social_font_size = section.settings.social_font_size -%}
{%- assign social_size = section.settings.social_size -%}
{%- assign newsletter_input_text = section.settings.newsletter_input_text -%}
{%- assign newsletter_input_background = section.settings.newsletter_input_background -%}
{%- assign newsletter_button_text = section.settings.newsletter_button_text -%}
{%- assign newsletter_button_background = section.settings.newsletter_button_background -%}
{%- assign newsletter_button_hover_text = section.settings.newsletter_button_hover_text -%}
{%- assign newsletter_button_hover_background = section.settings.newsletter_button_hover_background -%}
{%- assign main_box_radius = settings.main_box_radius -%}
{%- assign btn_radius = settings.btn_radius -%}

<footer class="site-footer small--text-center" role="contentinfo">
	<div class="footer footer-style-03">
	  	<div class="{% if enable_full_width == false %}container{% endif %}">
			<div class="footer-wrapper">
				<div class="footer-content-top">
					<div class="container">
						<div class="row">
							<div class="col-12">
							{% for block in section.blocks %}
								{% assign footer_block_title = block.settings.footer_block_title %}
								{% assign newsletter_position = block.settings.newsletter_position %}
								{% assign fcustom_block_alignment = block.settings.fcustom_block_alignment %}
								{% assign fcustom_block = block.settings.fcustom_block %}
								{% assign fcustom_block_under = block.settings.fcustom_block_under %}
								{% assign show_social = block.settings.show_social %}
								{% assign show_payment = block.settings.show_payment %}
								{% assign show_appstore = block.settings.show_appstore %}
								{% assign show_copyright = block.settings.show_copyright %}
								{% case block.type %}
									{% when 'newsletter' %}
										{% if newsletter_position == 'top' %}
											{% style %}
												.footer-content-top{
													border-bottom: 1px solid {{footer_border}};
												}
											{% endstyle %}
											<div class="footer-alignment-{{fcustom_block_alignment}}">
												<div class="footer-box">
													{% unless footer_block_title == blank %}
														<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
													{% endunless %}
													<div id="footer-{{block.id}}" class="footer-box-wrapper">
														{% unless fcustom_block == blank %}
														<div class="block-html">
															{{fcustom_block}}
														</div>
														{% endunless %}
														<div class="footer-newsletter">
															{% include 'newsletter-form' %}
														</div>
														{% unless fcustom_block_under == blank %}
														<div class="block-html">
															{{fcustom_block_under}}
														</div>
														{% endunless %}
														{% if show_social %}
															<div class="footer-social">
																{% unless fsocial_title == blank %}
																	<p class="h5" data-action="mb-title-toggle">{{ fsocial_title | escape }}</p>
																{% endunless %}
																{% include 'social-links' %}
															</div>
														{% endif %}
														{% if show_payment %}
															<div class="footer-payment">
																{{fpayment}}
															</div>
														{% endif %}
														{% if show_appstore %}
															<div class="footer-appstore">
																{{fappstore}}
															</div>
														{% endif %}
														{% if show_copyright %}
															<div class="footer-address">
																{{fcopyright}}
															</div>
														{% endif %}
														
													</div>
												</div>
											</div>
										{% endif %}
								{% endcase %}
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="footer-content-middle">
					<div class="container">
						<div class="row">
								{% for block in section.blocks %}
								{% assign footer_block_width = block.settings.footer_block_width %}
								{% assign footer_block_tablet_width = block.settings.footer_block_tablet_width %}
								{% assign footer_block_title = block.settings.footer_block_title %}
								{% assign footer_block_sub_title = block.settings.footer_block_sub_title %}
								{% assign newsletter_position = block.settings.newsletter_position %}
								{% assign fcustom_block_alignment = block.settings.fcustom_block_alignment %}
								{% assign fcustom_block = block.settings.fcustom_block %}
								{% assign fcustom_block_under = block.settings.fcustom_block_under %}
								{% assign show_social = block.settings.show_social %}
								{% assign show_payment = block.settings.show_payment %}
								{% assign show_appstore = block.settings.show_appstore %}
								{% assign show_copyright = block.settings.show_copyright %}
								{% case block.type %}
									{% when 'about-us' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% assign fcustom_block_logo = block.settings.fcustom_block_logo %}
													{% comment ls-rpl %}{% assign sizeimg_url = block.settings.fcustom_block_logo | img_url : block.settings.fcustom_block_logo_size %}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block.settings.fcustom_block_logo, img_url : block.settings.fcustom_block_logo_size -%}{%- endcapture -%}{% assign sizeimg_url = LS_IMG_URL %}{% comment /ls-rpl %}{% endcomment %}
													{% unless fcustom_block_logo == blank %}<div class="footer-logo"><img class="img-responsive" src="{{sizeimg_url}}" /></div>{% endunless %}
													{% unless fcustom_block == blank %}
													<div class="block-html">
														{{fcustom_block}}
													</div>
													{% endunless %}
													{% if show_social %}
														<div class="footer-social">
															{% unless fsocial_title == blank %}
																<p class="h5" data-action="mb-title-toggle">{{ fsocial_title | escape }}</p>
															{% endunless %}
															{% include 'social-links' %}
														</div>
													{% endif %}
													{% if show_payment %}
														<div class="footer-payment">
															{{fpayment}}
														</div>
													{% endif %}
													{% if show_appstore %}
														<div class="footer-appstore">
															{{fappstore}}
														</div>
													{% endif %}
													{% if show_copyright %}
														<div class="footer-address">
															{{fcopyright}}
														</div>
													{% endif %}
												</div>
											</div>
										</div>
									{% when 'custom-block' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% unless fcustom_block == blank %}
													<div class="block-html">
														{{fcustom_block}}
													</div>
													{% endunless %}
												</div>
											</div>
										</div>
									{% when 'link-list' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% unless fcustom_block == blank %}
													<div class="block-html">
														{{fcustom_block}}
													</div>
													{% endunless %}
													<ul class="footer-link">
													  {% for link in linklists[block.settings.footer_block_link_list].links %}
														<li {% if forloop.last == true %} class="last"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
													  {% endfor %}
													</ul>
													{% unless fcustom_block_under == blank %}
													<div class="block-html">
														{{fcustom_block_under}}
													</div>
													{% endunless %}
													
												</div>
											</div>
										</div>
									{% when 'newsletter' %}
										{% if newsletter_position == 'middle' %}
											<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
												<div class="footer-box">
													{% unless footer_block_title == blank %}
														<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
													{% endunless %}
													<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
														{% unless fcustom_block == blank %}
														<div class="block-html">
															{{fcustom_block}}
														</div>
														{% endunless %}
														<div class="footer-newsletter">
															{% include 'newsletter-form' %}
														</div>
														{% unless fcustom_block_under == blank %}
														<div class="block-html">
															{{fcustom_block_under}}
														</div>
														{% endunless %}
														{% if show_social %}
															<div class="footer-social">
																{% unless fsocial_title == blank %}
																	<p class="h5" data-action="mb-title-toggle">{{ fsocial_title | escape }}</p>
																{% endunless %}
																{% include 'social-links' %}
															</div>
														{% endif %}
														{% if show_payment %}
															<div class="footer-payment">
																{{fpayment}}
															</div>
														{% endif %}
														{% if show_appstore %}
															<div class="footer-appstore">
																{{fappstore}}
															</div>
														{% endif %}
														{% if show_copyright %}
															<div class="footer-address">
																{{fcopyright}}
															</div>
														{% endif %}
														
													</div>
												</div>
											</div>
										{% endif %}
									{% when 'instagram' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% unless block.settings.footer_block_sub_title == blank %}
														<p class="fsub_text">{{block.settings.footer_block_sub_title}}</p>
													{% endunless %}
													<div class="footer-instagram">
														{% include 'grid_style' with id: block.id, show_slider, items_1900, items_1600, items_1440, items_1280, items_980, items_768, items_480, items_320, items_0, items_margin %}
														{% include 'cdz-instagram' %}
													</div>
												</div>
											</div>
										</div>
									{% when 'twitter' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% unless block.settings.footer_block_sub_title == blank %}
													<p class="fsub_text">{{block.settings.footer_block_sub_title}}</p>
													{% endunless %}
													<div class="footer-twitter">
														{% include 'cdz-twitter' %}
													</div>
												</div>
											</div>
										</div>
									{% when 'facebook' %}
										<div class="footer-col footer-alignment-{{fcustom_block_alignment}} cdz-width-{{footer_block_width}} cdz-tablet-width-{{footer_block_tablet_width}}">
											<div class="footer-box">
												{% unless footer_block_title == blank %}
													<p class="h5" data-action="mb-title-toggle">{{ footer_block_title | escape }}</p>
												{% endunless %}
												<div id="footer-{{block.id}}" class="footer-box-wrapper {% unless footer_block_title == blank %}showhide{% endunless %}">
													{% unless block.settings.footer_block_sub_title == blank %}
													<p class="fsub_text">{{block.settings.footer_block_sub_title}}</p>
													{% endunless %}
													<div class="footer-facebook">
														{% include 'cdz-facebook' %}
													</div>
												</div>
											</div>
										</div>
								{% endcase %}
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="footer-content-bottom">
					{% assign fbottom_show_payment = section.settings.fbottom_show_payment %}
					{% assign fbottom_show_appstore = section.settings.fbottom_show_appstore %}
					{% assign fbottom_show_copyright = section.settings.fbottom_show_copyright %}
					{% style %}
						{% if fbottom_show_payment or fbottom_show_appstore or fbottom_show_copyright %}
						.footer-content-bottom{
							border-top: 1px solid {{footer_border}};
						}
						{% endif %}
					{% endstyle %}
					<div class="container">
						<div class="row">
							
							<div class="col-12 col-sm-6 footer-bottom-left">
								{% if fbottom_show_copyright %}
									<div class="footer-address">
										{{fcopyright}}
									</div>
								{% endif %}
							</div>
							<div class="col-12 col-sm-6 footer-bottom-right">
								{% if fbottom_show_payment %}
									<div class="footer-payment">
										{{fpayment}}
									</div>
								{% endif %}
								{% if fbottom_show_appstore %}
									<div class="footer-appstore">
										{{fappstore}}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>



{% style %}
	.footer{
		clear: both;
		color: {{footer_text}};
		font-size: {{footer_text_size}}px;
		{% if enable_full_width %}
			background: {{footer_background}};
			{% unless footer_background_image == blank %}
			background-image: url({% comment ls-rpl %}{{footer_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: footer_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %});
			{% endunless %}
			background-repeat: no-repeat;
			background-position: {{footer_background_image_option}};
		{% else %}
			padding-bottom: 30px;
		{% endif %}
		
	}
	.footer-wrapper{
		{% if enable_full_width == false %}
			background: {{footer_background}};
			{% unless footer_background_image == blank %}
			background-image: url({% comment ls-rpl %}{{footer_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: footer_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %});
			{% endunless %}
			background-repeat: no-repeat;
			background-position: {{footer_background_image_option}};
			-webkit-border-radius: {{main_box_radius}};
			-moz-border-radius: {{main_box_radius}};
			border-radius: {{main_box_radius}};
			box-shadow: {{footer_shadow}};
			-moz-box-shadow: {{footer_shadow}};
			-webkit-box-shadow: {{footer_shadow}};
			-o-box-shadow: {{footer_shadow}};
			-ms-box-shadow: {{footer_shadow}};
		{% endif %}
		
	}
	.footer-alignment-left{
		text-align: left;
	}
	.footer-alignment-right{
		text-align: right;
	}
	.rtl-layout .footer-alignment-left{
		text-align: right;
	}
	.rtl-layout .footer-alignment-right{
		text-align: left;
	}
	.footer-alignment-center{
		text-align: center;
	}
	.footer-content-top{
		background-color: {{footer_top_background}};
		-webkit-border-radius: {{main_box_radius}} {{main_box_radius}} 0 0;
		-moz-border-radius: {{main_box_radius}} {{main_box_radius}} 0 0;
		border-radius: {{main_box_radius}} {{main_box_radius}} 0 0;
	}
	.footer-content-bottom{
		background-color: {{footer_bottom_background}};
		-webkit-border-radius: 0 0 {{main_box_radius}} {{main_box_radius}};
		-moz-border-radius: 0 0 {{main_box_radius}} {{main_box_radius}};
		border-radius: 0 0 {{main_box_radius}} {{main_box_radius}};
	}
	.footer-content-top,
	.footer-content-middle,
	.footer-content-bottom{
		{% if enable_full_width %}
			padding: 10px 0;
		{% else %}
			padding: 10px;
		{% endif %}
	}
	
	.footer-box{
		{% if enable_full_width %}
			padding: 20px 0;
		{% else %}
			padding: 20px 0;
		{% endif %}
	}
	
	.footer a{
		color: {{footer_text}};
		
	}
	.footer a:hover{
		color: {{footer_hover_text}};
	}
	.footer .h5{
		color: {{footer_title_text}};
		text-transform: uppercase;
		margin-bottom: 15px;
		font-size: {{footer_title_text_size}}px;
	}
	
	.footer-link{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	.footer-link li{
		padding: 5px 0;
	}
	.footer-content-top{
		text-align: center;
	}
	
	.footer-box-wrapper > div ~ div{
		padding-top: 15px;
	}
	
	.footer-newsletter .input-group{
		background: {{newsletter_input_background}};
		position: relative;
		flex-direction: row;
		flex-wrap: nowrap;
		border-bottom: 1px solid {{newsletter_input_text}};
	}
	.footer-newsletter .input-group:before{
		color: {{newsletter_input_text}};
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f003";
		font-size: 15px;
		vertical-align: middle;
		line-height: 40px;
		width: 35px;
		position: absolute;
		left: 0;
		top: 0;
		text-align: left;
	}
	.rtl-layout .footer-newsletter .input-group:before{
		left: auto;
		right: 0;
		text-align: right;
	}
	.footer-newsletter input[type="email"]{
		background: {{newsletter_input_background}};
		border: 0;
		-webkit-border-radius: {{btn_radius}};
		-moz-border-radius: {{btn_radius}};
		border-radius: {{btn_radius}};
		color: {{newsletter_input_text}};
		margin-bottom: 0;
		padding: 0 30px;
		margin: 0;
	}
	.footer-newsletter input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: {{newsletter_input_text}};
	}

	.footer-newsletter input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	  color: {{newsletter_input_text}};
	}

	.footer-newsletter input::-ms-input-placeholder { /* Microsoft Edge */
	 color: {{newsletter_input_text}};
	}
	
	.footer-newsletter .actions{
		position: absolute;
		top: 0;
		right: 0;
	}
	.rtl-layout .footer-newsletter .actions{
		right: auto;
		left: 0;
	}
	.footer-newsletter .actions .subscribe{
		font-size: 0;
		padding: 0;
		width: 38px;
		height: 38px;
		line-height: 38px;
		border: 0;
		background: transparent;
		color: {{newsletter_button_text}};
		background: {{newsletter_button_background}};
		border: 1px solid {{newsletter_button_background}};
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		/*font-size: 120%;
		font-weight: 600;
		padding: 11px 30px;
		min-height: 40px;
		*/
	}
	.footer-newsletter .actions .subscribe:hover{
		color: {{newsletter_button_hover_text}};
		background: {{newsletter_button_hover_background}};
		border-color: {{newsletter_button_hover_background}};
		-moz-transform: translateX(-5px);
		-webkit-transform: translateX(-5px);
		-o-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	.footer-newsletter .actions .subscribe:before{
		display: inline-block;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: '\f1d8';
		font-size: 16px;
		vertical-align: middle;
		line-height: 38px;
	}
	.footer-instagram .photo-item-link{
		position: relative;
		display: block;
	}
	.footer-instagram .photo-item-link img{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.footer-instagram .photo-item-link:before{
		display: inline-block;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    line-height: 1;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    content: "\f16d";
	    font-size: 30px;
	    vertical-align: middle;
	    -moz-transform: translateY(100%);
	    -webkit-transform: translateY(100%);
	    -o-transform: translateY(100%);
	    transform: translateY(100%);
	    -moz-transition: all 500ms ease;
	    -webkit-transition: all 500ms ease;
	    -o-transition: all 500ms ease;
	    transition: all 500ms ease;
	    -moz-backface-visibility: hidden;
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    background: -webkit-linear-gradient(to bottom left, rgba(164,63,185,0.8), rgba(238,194,113,0.8));
	    background: linear-gradient(to bottom left, rgba(164,63,185,0.8), rgba(238,194,113,0.8));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    position: absolute;
	    left: 50%;
	    top: 100%;
	    transform: translate(-50%, -100%);
	    -webkit-opacity: 0;
	    -moz-opacity: 0;
	    opacity: 0;
	    font-weight: 700;
	    z-index: 1;
	}

	.footer-instagram .photo-item-link:hover:before {
	    top: 50%;
	    transform: translate(-50%, -50%);
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	.footer-content-bottom .footer-box{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.footer .footer-app-store{
		margin: 0 -10px;
	}
	.footer .footer-app-store a {
		margin: 0 10px;
		display: inline-block;
		vertical-align: top;
		max-width: 40%;
	}
	.footer-social .social-icons{
		display: inline-block;
		vertical-align: top;
		margin: 0 -5px;
	}
	.footer-social .social-icons li{
		display: inline-block;
		vertical-align: top;
		margin: 2px 5px;
		font-size: 20px;
	}
	.footer-social .social-icons li a{
		width: {{social_size}}px;
		height: {{social_size}}px;
		display: block;
		text-align: center;
		border-radius: {{social_size}}px;
		color: {{social_text}};
		background-color: {{social_background}};
		border: 1px solid transparent;
		line-height: {{social_size}}px;
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	.footer-social .social-icons li .fa:before{
		font-size: {{social_font_size}}px;
	}
	.footer-social .social-icons li a:hover{	
		//border: 1px solid #fff;
		color: {{social_hover_text}};
		background-color: {{social_hover_background}};
		-moz-transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		-o-transform: translateY(-5px);
		transform: translateY(-5px);
		
	}
	.footer-social .social-icons .fallback-text{
		display: none;
	}
	.footer-payment {
		display: inline-block;
		vertical-align: top;
	}
	.footer-bottom-right > div ~ div{
		padding-top: 15px	
	}
	.footer-bottom-right{
		text-align: right;
	}
	.rtl-layout .footer-bottom-right{
		text-align: left;
	}
	@media (max-width: 767px){
		.footer-box{
			padding: 0;
		}
		.footer-col{
			width: 100% !important;
		}
		.footer-box-wrapper{
			padding-bottom: 10px;
		}
		.footer-bottom-right,
		.footer-bottom-left{
			text-align: center;
		}
		.rtl-layout .footer-bottom-right,
		.rtl-layout .footer-bottom-left{
			text-align: center;
		}
		.footer-content-bottom .footer-alignment-left,
		.footer-content-bottom .footer-alignment-right{
			text-align: center;
		}
		.footer-content-middle .footer-box p.h5{
			cursor:pointer;
			text-transform: capitalize;
			font-style: italic;
			margin-bottom: 10px;
			padding: 5px 0;
		}
		.footer-content-middle .footer-box p.h5:after{
			display: inline-block;
			font-family: FontAwesome;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\f105';
			font-size: 20px;
			vertical-align: middle;
			float: right;
			margin-top: -6px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			-moz-transition: all 500ms ease;
			-webkit-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			transition: all 500ms ease;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			font-style: normal;
		}
		.rtl-layout .footer-content-middle .footer-box p.h5:after{
			float: left;
			content: '\f104';
		}
		.footer-content-middle .footer-box p.h5.active:after{
			-moz-transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.footer-newsletter .actions .subscribe{
			font-size: 0;
			padding: 0;
			width: 38px;
			height: 38px;
			line-height: 38px;
			border: 0;
			background: transparent;
		}
		.footer-newsletter .actions .subscribe:hover{
			background: transparent;
			border-color: #transparent;
		}
		.footer-newsletter .actions .subscribe:before{
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\f178';
			font-size: 16px;
			vertical-align: middle;
			line-height: 38px;
		}
	}
	
	
	@media (min-width: 768px){
		.footer .footer-address{
			padding-top: 15px;
		}
		.footer-newsletter{
			display: inline-block;
			vertical-align: top;
		}
		.footer-content-middle .footer-newsletter{
			width: 100%;
		}
		.footer-content-top .footer-newsletter input[type="email"]{
			min-width: 400px;
		}
	}
	
{% endstyle %}

{% schema %}
{
  "name": "Footer Style 03",
  "settings": [
	{
		"type": "checkbox",
		"id": "enable_full_width",
		"label": "Enable Full Width",
		"default" : true
	},
	{
	  "type": "header",
	  "content": "-- Color Varriables --"
	},
	{
		"type": "color",
		"id": "footer_background",
		"label": "Footer Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
      "type": "image_picker",
      "id": "footer_background_image",
      "label": "Footer Background Image"
    },
	{
		"type": "text",
		"id": "footer_background_image_option",
		"label": "Footer Background Image Option",
		"default": "center center"
	},
	{
		"type": "color",
		"id": "footer_top_background",
		"label": "Footer Top Background"
	},
	{
		"type": "color",
		"id": "footer_bottom_background",
		"label": "Footer Bottom Background"
	},
	{
		"type": "color",
		"id": "footer_text",
		"label": "Footer Text",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "range",
		"id": "footer_text_size",
		"label": "Footer Text Size",
		"min": 10,
		"max": 24,
		"step": 1,
		"default": 13
	},
	{
		"type": "color",
		"id": "footer_title_text",
		"label": "Footer Title Text",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "range",
		"id": "footer_title_text_size",
		"label": "Footer Title Text Size",
		"min": 10,
		"max": 24,
		"step": 1,
		"default": 14
	},
	{
		"type": "color",
		"id": "footer_hover_text",
		"label": "Footer Hover Text",
		"default": "#a8aeba",
		"info": "Default: [#a8aeba]"
	},
	{
		"type": "color",
		"id": "footer_border",
		"label": "Footer Border",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "text",
		"id": "footer_shadow",
		"label": "Footer Shadow",
		"default": "0px 10px 25px 0px rgba(0,0,0,0.5)",
		"info": "Default: [0px 10px 25px 0px rgba(0,0,0,0.5)]. If you don't use shadow, please input \"none\""
	},
	{
	  "type": "header",
	  "content": "-- Newsletter --"
	},
	{
		"type": "color",
		"id": "newsletter_input_text",
		"label": "Newsletter Input Text",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "color",
		"id": "newsletter_input_background",
		"label": "Newsletter Input Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
		"type": "color",
		"id": "newsletter_button_text",
		"label": "Newsletter Button Text",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "color",
		"id": "newsletter_button_background",
		"label": "Newsletter Button Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
		"type": "color",
		"id": "newsletter_button_hover_text",
		"label": "Newsletter Button Hover Text",
		"default": "#a8aeba",
		"info": "Default: [#a8aeba]"
	},
	{
		"type": "color",
		"id": "newsletter_button_hover_background",
		"label": "Newsletter Button Hover Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
	  "type": "header",
	  "content": "-- Social --"
	},
	{
		"type": "paragraph",
		"content": "Edit your social settings and accounts in General settings"
	},
	{
		"type": "text",
		"id": "fsocial_title",
		"label": "Social Title"
	},
	{
		"type": "range",
		"id": "social_font_size",
		"label": "Social Font Size Icon",
		"min": 12,
	    "max": 40,
	    "step": 1,
	    "unit": "px",
		"default": 17
	},
	{
		"type": "range",
		"id": "social_size",
		"label": "Social Size Icon",
		"min": 20,
	    "max": 70,
	    "step": 2,
	    "unit": "px",
		"default": 30
	},
	{
		"type": "color",
		"id": "social_text",
		"label": "Social Text",
		"default": "#ffffff",
		"info": "Default: [#ffffff]"
	},
	{
		"type": "color",
		"id": "social_background",
		"label": "Social Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
		"type": "color",
		"id": "social_hover_text",
		"label": "Social Hover Text",
		"default": "#a8aeba",
		"info": "Default: [#a8aeba]"
	},
	{
		"type": "color",
		"id": "social_hover_background",
		"label": "Social Hover Background",
		"default": "#009688",
		"info": "Default: [#009688]"
	},
	{
	  "type": "header",
	  "content": "-- Coppyright --"
	},
	{
		"type": "richtext",
		"id": "fcopyright",
		"label": "Copyright",
		"default" : "<p>© 2019 Codazon Ltd. Trademarks and brands</p>"
	},
	{
	  "type": "header",
	  "content": "-- HTML Image of Payment --"
	},
	{
		"type": "html",
		"id": "fpayment",
		"label": "Image Payment",
		"default":"<div class=\"footer-payment\"><img class=\"img-responsive\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-payment.png?v=1570423488\" alt=\"Accept Payment\"></div>"
	},
	{
	  "type": "header",
	  "content": "-- HTML Image of App Store --"
	},
	{
		"type": "html",
		"id": "fappstore",
		"label": "Image App Store",
		"default":"<div class=\"footer-app-store\"><a href=\"#\"><img class=\"img-responsive\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-img-01.jpg?v=1567132233\" alt=\"\"></a><a href=\"#\"><img class=\"img-responsive\" src=\"\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/footer-img-02.jpg?v=1567132226\" alt=\"\"></a></div>"
	},
	{
	  "type": "header",
	  "content": "-- Footer Bottom --"
	},
	{
		"type": "checkbox",
		"id": "fbottom_show_copyright",
		"label": "Show Copyright",
		"default" : false
	},
	{
		"type": "checkbox",
		"id": "fbottom_show_payment",
		"label": "Show Payment",
		"default" : false
	},
	{
		"type": "checkbox",
		"id": "fbottom_show_appstore",
		"label": "Show App Store",
		"default" : false
	}
  ],
  "blocks": [
    {
		"type": "custom-block",
		"name": "Custom Block",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Heading Block in Section"
			},
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading Block",
				"default": "Custom Block"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "html",
				"id": "fcustom_block",
				"label": "Custom Block HTML",
				"default": "<ul class=\"footer-link\"><li><a href=\"#\">Order Status</a></li><li><a href=\"#\">Shipping, Delivery &amp; Store Pickup</a></li><li><a href=\"#\">Return &amp; Exchange Promise</a></li><li><a href=\"#\">Price Match Guarantee</a></li><li class=\"last\"><a href=\"#\">Pay with Points</a></li></ul>"
			},
			{
				"type": "select",
				"id": "fcustom_block_alignment",
				"label": "Custom Block Alignment",
				"options": [
					{ "value": "left", "label": "Left"},
					{ "value": "right", "label": "Right"},
					{ "value": "center", "label": "Center"}
				],
				"default" : "left"
			}
		]
	},
	{
		"type": "link-list",
		"name": "Link List",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Heading Block in Section"
			},
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading Link List",
				"default": "Link List"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "link_list",
				"id": "footer_block_link_list",
				"label": "Select Link List"
			},
			{
				"type": "html",
				"id": "fcustom_block_under",
				"label": "Custom Block under Link List"
			},
			{
				"type": "select",
				"id": "fcustom_block_alignment",
				"label": "Block Alignment",
				"options": [
					{ "value": "left", "label": "Left"},
					{ "value": "right", "label": "Right"},
					{ "value": "center", "label": "Center"}
				],
				"default" : "left"
			}
		]
	},
	{
		"type": "about-us",
		"name": "About Us",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Heading Block in Section",
				"default": "About Us"
			},
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading Link List",
				"default": "About Us"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
		      "type": "image_picker",
		      "id": "fcustom_block_logo",
		      "label": "Footer Logo"
		    },
			{
		      "type": "text",
		      "id": "fcustom_block_logo_size",
		      "label": "Footer Logo Size",
			  "default": "240x42",
			  "info": "Default: [240x42] Width: 240px, Height: 42px"
		    },
			{
				"type": "html",
				"id": "fcustom_block",
				"label": "Content",
				"default": "<ul class=\"footer-link\"><li>Montergade 19 1140</li><li>Copenhagen, Denmark</li><li class=\"last\">+45 878-xx-xx</li></ul>"
			},
			{
				"type": "select",
				"id": "fcustom_block_alignment",
				"label": "Block Alignment",
				"options": [
					{ "value": "left", "label": "Left"},
					{ "value": "right", "label": "Right"},
					{ "value": "center", "label": "Center"}
				],
				"default" : "left"
			},
			{
				"type": "checkbox",
				"id": "show_social",
				"label": "Show social",
				"default" : true
			},
			{
				"type": "checkbox",
				"id": "show_payment",
				"label": "Show Payment",
				"default" : false
			},
			{
				"type": "checkbox",
				"id": "show_appstore",
				"label": "Show App Store",
				"default" : false
			},
			{
				"type": "checkbox",
				"id": "show_copyright",
				"label": "Show Copyright",
				"default" : true
			}
		]
	},
	{
		"type": "newsletter",
		"name": "Newsletter Signup",
		"limit": 1,
		"settings": [
			{
				"type": "select",
				"id": "newsletter_position",
				"label": "Position Newsletter on Footer",
				"options": [
					{ "value": "top", "label": "Top"},
					{ "value": "middle", "label": "Middle"}
				],
				"default" : "middle"
			},
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading",
				"default": "Subscribe Us"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "html",
				"id": "fcustom_block",
				"label": "Content"
			},
			{
				"type": "html",
				"id": "fcustom_block_under",
				"label": "Custom Block under Newsletter"
			},
			{
				"type": "select",
				"id": "fcustom_block_alignment",
				"label": "Block Alignment",
				"options": [
					{ "value": "left", "label": "Left"},
					{ "value": "right", "label": "Right"},
					{ "value": "center", "label": "Center"}
				],
				"default" : "left"
			},
			{
				"type": "checkbox",
				"id": "show_social",
				"label": "Show social",
				"default" : false
			},
			{
				"type": "checkbox",
				"id": "show_payment",
				"label": "Show Payment",
				"default" : true
			},
			{
				"type": "checkbox",
				"id": "show_appstore",
				"label": "Show App Store",
				"default" : false
			},
			{
				"type": "checkbox",
				"id": "show_copyright",
				"label": "Show Copyright",
				"default" : false
			}
		]
	},
	{	
		"type": "instagram",
		"name": "Instagram",
		"settings": [
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading",
				"default": "Instagram"
			},
			{
				"type": "textarea",
				"id": "footer_block_sub_title",
				"label": "Describe Heading"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
			  "type": "text",
			  "id": "ins_access_token",
			  "label": "Access Token",
			  "info" : "Please login to your Instagram account. Then go to [http://instagram.pixelunion.net](http:\/\/instagram.pixelunion.net) to get access token.",
			  "default" : "7292707175.1677ed0.5c6babe4008e488ab25533f8ba6ce5c6"
			},
			{
			  "type": "checkbox",
			  "id": "enable_list_photo",
			  "label": "Replace Instagram Photo By List Photo",
			  "default": true
			},
			{
			  "type": "textarea",
			  "id": "ins_list_photo",
			  "label": "List Photo Instagram",
			  "default": "\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins9.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSj-PxlyRx\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins8.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjzb3FinK\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins7.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjsoZlJ2b\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins6.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjpjLlvui\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins5.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjkmdlOto\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins4.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjiGIF6Lc\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins3.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjdXHF3_i\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins2.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjOL4Fa3X\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins1.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjMhDFfPV\/;",
			  "info" : "Syntax: \<img_url\>:#\<page_url\>;"
			},
			{
				"type" : "header",
				"content" : "-- Setting Slider --"
			},
			{
			   "type": "select",
			   "id": "show_slider",
			   "options": [
				  { "value": "0", "label": "No"},
				  { "value": "1", "label": "Yes"}
			   ],
			   "label": "Show As Slider",
			   "default" : "0"
			},
			{
			   "type":      "text",
			   "id":        "products_count",
			   "label":     "Number of Instagram to Display",
			   "default" : "8"
			},
			{
			   "type":      "text",
			   "id":        "items_slider",
			   "label":     "Instagram Items",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_1900",
			   "label":     "Desktop 1900 view",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_1600",
			   "label":     "Desktop 1600 view",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_1440",
			   "label":     "Desktop 1440 view",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_1280",
			   "label":     "Desktop 1280 view",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_980",
			   "label":     "Desktop Small View",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_768",
			   "label":     "Tablet Lanscape View",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_480",
			   "label":     "Tablet Portrait View",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_320",
			   "label":     "Mobile Lanscape View",
			   "default": 	"4"
			},
			{
			   "type":      "text",
			   "id":        "items_0",
			   "label":     "Mobile Portrait View",
			   "default": 	"4"
			},
			{
			  "type": "range",
			  "id": "total_rows",
			  "label": "Total Rows",
			  "min": 1,
			  "max": 6,
			  "step": 1,
			  "default": 2
			},
			{
			   "type":      "text",
			   "id":        "items_margin",
			   "label":     "Items Margin",
			   "default": "10"
			},
			{
			   "type":      "select",
			   "id":        "slider_dots",
			   "options": [
				  { "value": "0", "label": "No"},
				  { "value": "1", "label": "Yes"}
			   ],
			   "label":     "Show Slider Dots",
			   "default" : "0"
			},
			{
			   "type":      "select",
			   "id":        "slider_nav",
			   "options": [
				  { "value": "0", "label": "No"},
				  { "value": "1", "label": "Yes"}
			   ],
			   "label":     "Show Slider Arrows",
			   "default" : "1"
			}
		]
	},
	{	
		"type": "twitter",
		"name": "Twitter",
		"settings": [
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading"
			},
			{
				"type": "textarea",
				"id": "footer_block_sub_title",
				"label": "Describe Heading"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
			  "type": "url",
			  "id": "twitter_account_link",
			  "label": "Twitter Account URL",
			  "info":"http://twitter.com/twitter"
			},
			{
			   "type":      "text",
			   "id":        "twitter_width",
			   "label":     "Width",
			   "default" :  "300"
			},
			{
			   "type":      "text",
			   "id":        "twitter_height",
			   "label":     "Height",
			   "default": 	"400"
			}
		]
	},
	{	
		"type": "facebook",
		"name": "Facebook",
		"settings": [
			{
				"type": "text",
				"id": "footer_block_title",
				"label": "Heading"
			},
			{
				"type": "textarea",
				"id": "footer_block_sub_title",
				"label": "Describe Heading"
			},
			{
				"type": "select",
				"id": "footer_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "footer_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "25",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
			  "type": "url",
			  "id": "facebook_account_link",
			  "label": "Facebook Account URL",
			  "info": "https://www.facebook.com/shopify/"
			},
			{
			   "type":      "text",
			   "id":        "facebook_width",
			   "label":     "Width",
			   "default" :  "300"
			},
			{
			   "type":      "text",
			   "id":        "facebook_height",
			   "label":     "Height",
			   "default": 	"400"
			}
		]
	}
	]
	
}
{% endschema %}
