{%- assign header-logo = section.settings.logo -%}
{%- assign header-logo-mb = section.settings.logo_mb -%}
{%- assign displaycartStyle = settings.mini_cart_style -%}
{%- assign displayAccountStyle = settings.account_header_style -%}
{%- assign displayWishlistStyle = settings.wishlist_header_style -%}
{%- assign nav_menu = linklists[section.settings.nav_menu] -%}
{%- assign menus_type = section.settings.menus_type -%}
{%- assign cdz_megamenu_identifier = section.settings.cdz_megamenu_identifier -%}
{%- assign cdz_megamenu_vertical_title = section.settings.cdz_megamenu_vertical_title -%}
{%- assign cdz_megamenu_vertical_identifier = section.settings.cdz_megamenu_vertical_identifier -%}


{%- assign header_background = section.settings.header_background -%}
{%- assign header_background_file = section.settings.header_background_file -%}
{%- assign header_background_image_option = section.settings.header_background_image_option -%}
{%- assign header_top_background = section.settings.header_top_background -%}
{%- assign header_top_text = section.settings.header_top_text -%}
{%- assign header_border = section.settings.header_border -%}
{%- assign header_cart_background = section.settings.header_cart_background -%}
{%- assign header_cart_border = section.settings.header_cart_border -%}
{%- assign header_cart_icon = section.settings.header_cart_icon -%}
{%- assign header_cart_quality_background = section.settings.header_cart_quality_background -%}
{%- assign header_cart_text = section.settings.header_cart_text -%}
{%- assign header_drop_background = section.settings.header_drop_background -%}
{%- assign header_drop_border_color = section.settings.header_drop_border_color -%}
{%- assign header_drop_hover_text = section.settings.header_drop_hover_text -%}
{%- assign header_drop_text = section.settings.header_drop_text -%}
{%- assign header_hover_text = section.settings.header_hover_text -%}
{%- assign header-font = section.settings.header_font -%}


{%- assign header_mobile_background = section.settings.header_mb_background -%}
{%- assign header_mobile_icon = section.settings.header_mb_text -%}
{%- assign header_search_background = section.settings.header_search_background -%}
{%- assign header_search_button_background = section.settings.header_search_button_background -%}
{%- assign header_search_button_text = section.settings.header_search_button_text -%}
{%- assign header_search_text = section.settings.header_search_text -%}
{%- assign header_shadow = section.settings.header_shadow -%}
{%- assign header_text = section.settings.header_text -%}
{%- assign header_text_cart = section.settings.header_text_cart -%}
{%- assign menu_background = section.settings.menu_background -%}
{%- assign menu_text = section.settings.menu_text -%}
{%- assign menu_hover_background = section.settings.menu_hover_background -%}
{%- assign menu_hover_text = section.settings.menu_hover_text -%}
{%- assign menu_border = section.settings.menu_border -%}
{%- assign menu_vertical_background = section.settings.menu_vertical_background -%}
{%- assign menu_vertical_text = section.settings.menu_vertical_text -%}
{%- assign menu_vertical_hover_background = section.settings.menu_vertical_hover_background -%}
{%- assign menu_vertical_hover_text = section.settings.menu_vertical_hover_text -%}
{%- assign menu_vertical_border = section.settings.menu_vertical_border -%}
{%- assign menu_drop_background = section.settings.menu_drop_background -%}
{%- assign menu_drop_border = section.settings.menu_drop_border -%}
{%- assign menu_drop_font = section.settings.menu_drop_font -%}
{%- assign menu_drop_hover_text = section.settings.menu_drop_hover_text -%}
{%- assign menu_drop_shadow = section.settings.menu_drop_shadow -%}
{%- assign menu_drop_text = section.settings.menu_drop_text -%}
{%- assign menu_drop_text_title = section.settings.menu_drop_text_title -%}
{%- assign menu_font = section.settings.menu_font -%}


{% include 'header-style04'%}

<header id="header" class="page-header header-style-04 {% if settings.enable_sticky_header_top  %}mb-fixed-header{% endif %} {% if settings.enable_sticky_menu  %}dt-fixed-menu{% endif %}">
    <div class="container sticky-menu js-sticky-menu" data-cdzwidget='{"codazon.stickyMenu" : {}}'>
        <div class="page-header-container">
            <div class="mobile-header">
                <div class="mb-main-panel">
					<div class="mobi-nav-toggle-container">
						<span class="action nav-toggle" data-role="cdz-sidebar-trigger" data-sidebar="utilies-mobi-panel-container"><span>{{ 'menu.general.mobile-title' | t }}</span></span>
						<div data-role="utilies-section" class="utilies-section utilies-mobi-panel-container" id="utilies-mobi-panel-container" data-cdzwidget='{"codazon.sideBar" : {"side" : "left", "section" : "mobi-panel-container"}}'>
							{% include 'mb-toggle-panel'%}
						</div>
					</div>
					
                    <div id="mobi_logo-wrap" class="mb-logo-wrap"></div>
                    {% if section.settings.search_enabled %}
					<div class="mb-search-wrap mb-header-search">
						<a class="mb-search-btn" data-action="mb-search-btn" href="javascript:void(0);" data-cdzwidget='{"codazon.cdzToogleSearch" : {"wrapper" : "mb-header-search"}}'>
							<span class="icon icon-search"></span>
						</a>
						<div class="mb-search-content" data-role="popup-search-content">
						  {% include 'search-bar' with "popup" %}
						</div>
					</div>
					{% endif %}
					<div class="wrap-mb-cart {% if section.settings.cart_enabled == false %}d-none{% endif %}">
						<span class="mb-flying-destination" data-role="mb-flying-destination" style="position: absolute; right: 0; top: 15px; width: 1px;height: 1px;"></span>
						<div id="mobi_cart" class="mb-cart-wrap"></div>
					</div>
                </div>
            </div>
			<div class="d-none" id="desk_top-links">
                <div class="header-account" id="header-account">
                    <div class="links">
						<ul>
							<li class="{% if section.settings.cart_enabled == false %}d-none{% endif %}"><a href="/cart" class="top-link-cart">{{ 'general.header.title_cart' | t }}</a></li>
							<li><a href="/?view=compare" class="top-link-compare">{{ 'general.header.account_menu_compare' | t }}</a></li> 
							<li><a href="/checkout" class="top-link-checkout">{{ 'cart.general.checkout' | t }}</a></li>
							{% if shop.customer_accounts_enabled %} 
								<li><a href="/account" title="{{ 'general.header.account_menu_account' | t }}">{{ 'general.header.account_menu_account' | t }}</a></li>
								{% if customer  %}
								<li class=" last"><a href="/account/logout">{{ 'general.header.account_logout' | t }}</a></li>
								{% else %}
								<li><a href="/account/register">{{ 'general.header.account_menu_register' | t }}</a></li>
								<li class=" last"><a href="/account/login">{{ 'general.header.account_menu_login' | t }}</a></li>
								{% endif %}
							{% endif %}
                        </ul>
					</div>
                </div>
				{% if settings.show_multiple_currencies %}		
				<div class="cdz-currency">
					{% include 'currency-list-click' %}
				</div>
				{% endif %}
            </div>
            <div class="desktop-header">
                <div class="desktop-header-inner">
					<div class="row align-items-center">
						<div class="col-3 header-panel-left" id="desk_logo-wrap">
							{% if template.name == 'index' %}
								  <h1 class="logo" itemscope itemtype="http://schema.org/Organization">
								{% else %}
								  <div class="h1 logo" itemscope itemtype="http://schema.org/Organization">
								{% endif %}
								{% if header-logo != blank %}
									<noscript>
									  {% capture image_size %}{{ logo_width | escape }}x{% endcapture %}
									  <div class="logo__image-wrapper">
										{% comment ls-rpl %}{{ header-logo | img_url: image_size | img_tag: shop.name }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: header-logo, img_url: image_size -%}{%- endcapture -%}{{ LS_IMG_URL | img_tag: shop.name }}{% comment /ls-rpl %}{% endcomment %}
									  </div>
									</noscript>
									<div class="logo__image-wrapper supports-js">
									  <a href="/" itemprop="url">
										{% comment ls-rpl %}{% assign img_url = header-logo | img_url: '300x' %}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: header-logo, img_url: '300x' -%}{%- endcapture -%}{% assign img_url = LS_IMG_URL %}{% comment /ls-rpl %}{% endcomment %}
										<img class="logo__image img-responsive {% if header-logo-mb != blank %}d-mb-none{% endif %}"
											 src="{{ img_url }}"
											 alt="{{ shop.name | escape }}"
											 itemprop="logo">
										{% if header-logo-mb != blank %}										
										{% comment ls-rpl %}{% assign img_url_mb = header-logo-mb | img_url: '300x' %}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: header-logo-mb, img_url: '300x' -%}{%- endcapture -%}{% assign img_url_mb = LS_IMG_URL %}{% comment /ls-rpl %}{% endcomment %}
										<img class="logo__image_mb img-responsive d-desktop-none"
											 src="{{ img_url_mb }}"
											 alt="{{ shop.name | escape }}"
											 itemprop="logo">
										{% endif %}
									  </a>
									</div>
								  {% else %}
									<a href="/" itemprop="url">{{ shop.name }}</a>
								  {% endif %}
								{% if template.name == 'index' %}
								  </h1>
								{% else %}
								  </div>
								{% endif %}
						</div>
						<div class="col-9 header-panel-right">
							<div class="account-cart-wrapper">
								<ul class="features-links items hidden-xs">
									{% if section.settings.wishlist_enabled %}
									<li class="link wishlist">
									  {% include 'wishlist-header' with displayWishlistStyle %}
									</li>
									{% endif %}
									{% if settings.show_multiple_currencies %}								
									<li class="store-language-currency">
										{% include 'header-cur-lang' %}
									</li>
									{% endif %}
									{% if shop.customer_accounts_enabled %}   
									  <li class="authorization-link authorization-style-01">
										  {% include 'account-header' with displayAccountStyle %}
									  </li>
									{% endif %}  
									<li class="header-wrapper-minicart {% if section.settings.cart_enabled == false %}d-none{% endif %}">
										<span class="headSide-flying-destination" data-role="headSide-flying-destination"></span>
										<div class="link cart-link" id="desk_cart">
										<div id="header-cart-content">
										{% include 'mini-cart' with displaycartStyle %}
										</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 ">
							<div id="header-panel-bottom" class="header-panel-bottom cdz-fix-left" data-megamenu='container-mmenu'>
								<div class="row">
									{% if section.settings.menu_left_enabled %} 
									<div class="col-3 header-vertical-menu-wrap">
										<div id="desk_vertcial-menu-container" class="desk-vertcial-menu-container">
											<div class="main-content-top-left parent" data-cdzwidget='{"codazon.cdzToggleMenuLeftTitleMb" : {}}'>
												<div class="menu-title" data-action="toggleMenuLeft" data-title-megamenu="{{ cdz_megamenu_vertical_identifier }}">
													{{ cdz_megamenu_vertical_title | escape }}
												</div>
												<ul class="menu-container groupmenu-drop" data-action="toggleMenuContent">
													<li class="header-megamenu-left" data-move-megamenu="{{ cdz_megamenu_vertical_identifier }}"></li>
												</ul>
											</div>
										</div>
									</div>
									{% endif %}
									<div class="{% if section.settings.search_enabled and section.settings.menu_left_enabled %}col-6 {% elsif section.settings.search_enabled or section.settings.menu_left_enabled %} col-9 {% else %} col-12 {% endif %} header-menu-wrap" id="desk_header-nav" data-role="top-sticky-menu">
										<div id="header-nav" class="header-nav header-menu">
											{% if menus_type == 'navigation_menu'  %}
												{% include 'site-nav' with nav_menu %}
											{% else %}	
												<div class="header-megamenu" data-move-megamenu="{{ cdz_megamenu_identifier }}"></div>
											{% endif %}								 
										</div>
									</div>
									{% if section.settings.search_enabled %}
									<div class="col-3 header-search-wrap">
										<div id="desk_search" class="desk-search-wrap">
											<div id="header-search" class="header-search header-bar__module header-bar__search">
											  {% include 'search-bar' %}
											</div>
											<div class="desk-sticky-search-wrap">
												<a class="desk-search-btn" data-action="desk-search-btn" href="javascript:void(0);" data-cdzwidget='{"codazon.cdzToogleSearch" : {"wrapper" : "desk-sticky-search-wrap"}}'>
													<i class="fa fa-search"></i>
												</a>
												<div class="desk-search-content" data-role="popup-search-content">
												  {% include 'search-bar' with "popup" %}
												</div>
											</div>
										</div>
										
									</div>
									{% endif %}		
								</div>
							</div>
						</div>					
					</div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mb-vertcial-menu-container-wrapper">
	<div id="mobi_vertcial-menu-container" class="mb-vertcial-menu-container"></div>
</div>
{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header Style 04",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "pt-BR": "Cabeçalho"
  },
  "settings": [	
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "230 x 32px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mb",
      "label": "Logo Mobile",
      "info": "180 x 27px recommended"
    },
    {
      "type": "header",
      "content": "Menu Left"
    },
    {
      "type": "text",
      "id" : "cdz_megamenu_vertical_title",
      "label" : "Menu Left Title",
	  "default": "All Categories"
    },
    {
      "type": "text",
      "id" : "cdz_megamenu_vertical_identifier",
      "label" : "Menu Left Identifier",
	  "default": "cdzmegamenu03",
	  "info": "Input your [Menu Left Identifier](http://www.codazon.com/document/infinit/shopify/#megamenu)"
    },
    {
      "type": "header",
      "content": "Main Menu"
    },
      {
        "type": "select",
        "id": "menus_type",
        "label": "Choose Menus Type",
        "options": [
          {
            "value": "navigation_menu",
            "label": "Default Navigation Menus"
          },
          {
            "value": "cdz_megamenu",
            "label": "Codazon MegaMenu"
          }
        ]
      },
	  {
        "type": "text",
        "id": "cdz_megamenu_identifier",
        "label": "Codazon MegaMenu Identifier",
		"default": "cdzmegamenu01",
		"info": "Input your [MegaMenu Identifier](https://en.wikipedia.org/wiki/Favicon)"
      },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": "Menu",
      "default": "main-menu",
	  "info": "Choose Default Navigation Menus"
    },
    {
      "type": "header",
      "content" : "Enable/Disable Header Items"
    },
    {
      "type": "checkbox",
      "id" : "search_enabled",
      "label" : "Enable Search on Header",
	  "default": true
    },
    {
      "type": "checkbox",
      "id" : "menu_left_enabled",
      "label" : "Enable Menu Left on Header",
	  "default": true
    },
    {
      "type": "checkbox",
      "id" : "wishlist_enabled",
      "label" : "Enable Wishlist on Header",
	  "default": true
    },
    {
      "type": "checkbox",
      "id" : "cart_enabled",
      "label" : "Enable Cart on Header",
	  "default": true
    },
	{
        "type": "header",
        "content": {
          "de": "Hintergrund",
          "en": "Header Theme Setting",
          "es": "Fondo",
          "fr": "Arrière-plan",
          "it": "Sfondo",
          "ja": "背景",
          "pt-BR": "Plano de fundo"
        }
      },
	  {
        "type": "color",
        "id": "header_background",
        "label": "Header Background",
        "default": "#ffffff"
      },
	  {
        "type": "image_picker",
        "id": "header_background_file",
        "label": "Header Background Image"
      },
	  {
        "type": "text",
        "id": "header_background_image_option",
        "label": "Header Background Image Option",
        "default": "0 0"
      },
	  {
        "type": "color",
        "id": "header_top_background",
        "label": " Header Background Top Color",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_top_text",
        "label": " Header Top Text Color",
        "default": "#7c7c8d"
      },
	  {
        "type": "color",
        "id": "header_text",
        "label": " Header Text Color",
        "default": "#34343c"
      },
	  {
        "type": "color",
        "id": "header_hover_text",
        "label": " Header Hover Text Color",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "header_border",
        "label": " Header Border",
        "default": "#ffffff"
      },
	  {
        "type": "text",
        "id": "header_shadow",
        "label": " Header Shadow ",
        "default": "0 -8px 10px #4f5eb0"
      },
	  {
        "type": "color",
        "id": "header_cart_background",
        "label": " Header Cart Background ",
        "default": "transparent"
      },
	  {
        "type": "color",
        "id": "header_cart_quality_background",
        "label": " Header Cart Quality Background ",
        "default": "#0d0d0d"
      },
	  {
        "type": "color",
        "id": "header_cart_text",
        "label": " Header Cart Text Color ",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_cart_icon",
        "label": " Header Cart Icon Color ",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "header_cart_border",
        "label": "  Header Cart Border ",
        "default": "transparent"
      },
	  {
        "type": "color",
        "id": "header_search_text",
        "label": "Header Search Text Color ",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_search_background",
        "label": "Header Search Background",
        "default": "#f83"
      },
	  {
        "type": "color",
        "id": "header_search_button_text",
        "label": " Header Search Button Text Color",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_search_button_background",
        "label": "  Header Search Button Background ",
        "default": "transparent"
      },
	  {
        "type": "color",
        "id": "header_drop_text",
        "label": "  Header Drop Text Color ",
        "default": "#282828"
      },
	  {
        "type": "color",
        "id": "header_drop_background",
        "label": "  Header Drop Background ",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_drop_hover_text",
        "label": "  Header Drop Hover Text Color ",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "header_drop_border_color",
        "label": " Header Drop Border Color ",
        "default": "#dbdbdb"
      },
	  {
        "type": "text",
        "label": "Header Text",
        "id": "header_font",
		"default" : "500 11px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif",
		"info" : "Default: [500 11px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif]"
      },
	  {
        "type": "header",
        "content": "Header Mobile Theme Setting"
      },
	  {
        "type": "color",
        "id": "header_mb_background",
        "label": "Header Mobile Background",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "header_mb_text",
        "label": "Header Mobile Text Color",
        "default": "#ff6a00"
      },
	  {
        "type": "header",
        "content": "Vertical Menu"
      },
	  {
        "type": "color",
        "id": "menu_vertical_background",
        "label": "Vertical Menu Background",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "menu_vertical_hover_background",
        "label": " Vertical Menu Hover Background",
        "default": "#eaeaea"
      },
	  {
        "type": "color",
        "id": "menu_vertical_text",
        "label": " Vertical Menu Text Color",
        "default": "#282828"
      },
	  {
        "type": "color",
        "id": "menu_vertical_hover_text",
        "label": " Vertical Menu Hover Text",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "menu_vertical_border",
        "label": " Vertical Menu Boder",
        "default": "#eaeaea"
      },
	  {
        "type": "header",
        "content": {
          "de": "Hintergrund",
          "en": "Menu",
          "es": "Fondo",
          "fr": "Arrière-plan",
          "it": "Sfondo",
          "ja": "背景",
          "pt-BR": "Plano de fundo"
        }
      },
	  {
        "type": "color",
        "id": "menu_background",
        "label": "Menu Background",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "menu_hover_background",
        "label": " Menu Hover Background",
        "default": "#f06400"
      },
	  {
        "type": "color",
        "id": "menu_text",
        "label": " Menu Text Color",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "menu_hover_text",
        "label": " Menu Hover Text",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "menu_border",
        "label": " Menu Boder",
        "default": "#e35300"
      },
      {
        "type": "text",
        "label": "Menu Font",
        "id": "menu_font",
		"default" : "600 14px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif",
		"info" : "Default: [600 14px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif]"
      },
	  {
        "type": "color",
        "id": "menu_drop_background",
        "label": " Menu Dropdown Background",
        "default": "#ffffff"
      },
	  {
        "type": "color",
        "id": "menu_drop_text_title",
        "label": " Menu Dropdown Title",
        "default": "#282828"
      },
	  {
        "type": "color",
        "id": "menu_drop_text",
        "label": " Menu Dropdown Text",
        "default": "#999999"
      },
	  {
        "type": "color",
        "id": "menu_drop_hover_text",
        "label": " Menu Dropdown Hover Text",
        "default": "#ff6a00"
      },
	  {
        "type": "color",
        "id": "menu_drop_border",
        "label": " Menu Dropdown Border",
        "default": "#e1e1e1"
      },
	  {
        "type": "text",
        "id": "menu_drop_shadow",
        "label": " Menu Dropdown Shadow",
        "default": "0 3px 3px #e1e1e1"
      },
      {
        "type": "text",
        "label": "Dropdown Font",
        "id": "menu_drop_font",
		"default" : "400 12px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif",
		"info" : "Default: [400 12px/1.55em Rajdhani, Helvetica Neue, Verdana, Arial, sans-serif]"
      }
  ]
}
{% endschema %}