{%- assign title_text_align = section.settings.title_text_align -%}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
{%- assign enable_background_image_fullwidth = section.settings.enable_background_image_fullwidth -%}
<div data-section-id="{{ section.id }}" data-section-type="home-advertising-section" id="{{ section.id }}"> 
	<div class="cdz-home-block wrapper-adv-style-04 {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% if enable_background_image_fullwidth %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
		<div class="container{% if enable_full_container %}-fluid{% endif %}">
			<div class="home-block" style="{% if enable_background_image_fullwidth == false %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
				{%- unless section.settings.title_block == blank and section.settings.sub_title == blank -%}
				<div class="cdz-block-title block-title-{{title_text_align}}">
					<p class="b-title h2"><span>{{ section.settings.title_block | escape }}</span></p>
					<p class="title-desc"><span>{{ section.settings.sub_title | escape }}</span></p>
				</div>
				{%- endunless -%}
				<div class="block-wrapper service-banner">
					<div class="row">
						{%- for block in section.blocks -%}
							{%- assign title = block.settings.title -%}
							{%- assign title_link = block.settings.title_link -%}
							{%- assign ads_block_width = block.settings.ads_block_width -%}
							{%- assign ads_block_tablet_width = block.settings.ads_block_tablet_width -%}
							{%- assign image = block.settings.image -%}
							{%- assign image_link = block.settings.image_link -%}
							{%- assign image_size = block.settings.image_size -%}
							{%- assign content = block.settings.content -%}
							{%- assign icon_font = block.settings.icon_font -%}
							{%- assign ads_itemicon = block.settings.ads_itemicon -%}
							<div class="item cdz-width-{{ads_block_width}} cdz-tablet-width-{{ads_block_tablet_width}}">
								<div class="item-icon">
									{%-  if ads_itemicon == 'ads_imgicon' -%}
										{%- unless image == blank -%}
											<div class="item-image">
												<a href="{% if image_link == blank %}#{% else %}{{image_link}}{% endif %}" class="img-wrap"><img class="img-responsive lazyload" data-src="{% comment ls-rpl %}{{ image | img_url : image_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url : image_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-sizes="{{image_size}}" /></a>
											</div>
										{%- endunless -%}
									{%- endif -%}
									{%- if ads_itemicon == 'ads_fonticon' and icon_font != blank -%}
										<div class="item-icon-font">
											<span class="fa {{icon_font}}"></span>
										</div>
									{%- endif -%}
								</div>
								<div class="item-wrapper">
									{%- unless title == blank -%}
									<div class="item-title">
										<a class="title-link" href="{% if title_link == blank %}#{% else %}{{title_link}}{% endif %}"><span>{{title}}</span></a>
									</div>
									{%- endunless -%}
									{%- unless content == blank -%}
										<div class="item-content">{{content}}</div>
									{%- endunless -%}
								</div>
							</div>
						{%- endfor -%}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Home Advertising Style 04",
  "class": "index-section home-advertising-style04",
  "max_blocks": 20,
  "settings": [
	{
	  "type": "text",
	  "id": "title",
	  "label": "Heading",
	  "default": "Home Advertising Style 04"
	},
	{
	  "type": "text",
	  "id": "title_block",
	  "label": "Heading Advertising"
	},
	{
	  "type": "textarea",
	  "id": "sub_title",
	  "label": "Describe Heading"
	},
	{
		"type": "select",
		"id": "title_text_align",
		"label": "Hedding Alignment",
		"options": [
			{ "value": "left", "label": "Left"},
			{ "value": "right", "label": "Right"},
			{ "value": "center", "label": "Center"}
		],
		"default" : "center"
	},
	{
	  "type": "checkbox",
	  "id": "enable_full_container",
	  "label": "Enable Full Container Block",
	  "default" : false
	},
	{
	  "type": "text",
	  "id": "custom_class",
	  "label": "Custom Class"
	},
	{
	  "type": "text",
	  "id": "custom_css_inline",
	  "label": "Custom CSS Inline Style",
	  "info": "padding: 20px; margin: 30px;"
	},
	{
	  "type": "color",
	  "id": "block_background_color",
	  "label": "Block Background Color"
	},
	{
	  "type": "image_picker",
	  "id": "block_background_image",
	  "label": "Block Background Image"
	},
	{
	  "type": "text",
	  "id": "block_background_image_option",
	  "label": "Block Background Image Option",
	  "info": "Default: [0 0 no-repeat fixed]"
	},
	{
	  "type": "checkbox",
	  "id": "enable_background_image_fullwidth",
	  "label": "Display Background Full Width",
	  "default" : false
	}
  ],
  "blocks": [
    {
      "type": "advertising",
      "name": "Advertising",
      "settings": [
        {
		  "type": "text",
		  "id": "title",
		  "label": "Heading"
		},
		{
          "type": "url",
          "id": "title_link",
          "label": "Title Link"
        },
			{
				"type": "select",
				"id": "ads_block_width",
				"label": "Block Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "20",
				"info":"Total percentage of all Blocks = 100%"
			},
			{
				"type": "select",
				"id": "ads_block_tablet_width",
				"label": "Block Tablet Width",
				"options": [
					{ "value": "10", "label": "10%"},
					{ "value": "16", "label": "16.66%"},
					{ "value": "20", "label": "20%"},
					{ "value": "25", "label": "25%"},
					{ "value": "30", "label": "30%"},
					{ "value": "33", "label": "33.33%"},
					{ "value": "40", "label": "40%"},
					{ "value": "50", "label": "50%"},
					{ "value": "60", "label": "60%"},
					{ "value": "70", "label": "70%"},
					{ "value": "75", "label": "75%"},
					{ "value": "80", "label": "80%"},
					{ "value": "90", "label": "90%"},
					{ "value": "100", "label": "100%"}
				],
				"default" : "20",
				"info":"Total percentage of all Blocks = 100%"
			},
		{
		   "type":      "select",
		   "id":        "ads_itemicon",
		   "options": [
			  { "value": "ads_fonticon", "label": "Show Font Icon"},
			  { "value": "ads_imgicon", "label": "Show Image Icon"}
		   ],
		   "label":     "Show Font or Image Icon",
		   "default" : "ads_fonticon"
		},
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image link"
        },
		{
			"type" : "text",
			"id" : "image_size",
			"label" : "Size Image",
			"default": "70x70",
			"info": "Default: [70x70]"
		},
		{
			"type" : "text",
			"id" : "icon_font",
			"label" : "Menu Font Icon Item",
			"info": "Ex: fa-home. Use Font Awesome [see here](http:\/\/fontawesome.com\/v4.7.0\/cheatsheet\/)."
		},
        {
          "type": "html",
          "id": "content",
          "label": "Content",
		  "default" : "<p>100% Secured</p><p>Payment</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Advertising Style 04",
      "category": "Codazon Advertising",
      "blocks": [
        {
			"type": "advertising",
			"settings" : {
				"icon_font": "fa-lock",
				"content" : "<p>100% Secured</p><p>Payment</p>"
			}
        },
		{
			"type": "advertising",
			"settings" : {
				"icon_font": "fa-phone",
				"content" : "<p>Customer Service</p><p>Mail &amp; Telephone</p>"
			}
        },
		{
			"type": "advertising",
			"settings" : {
				"icon_font": "fa-exchange",
				"content" : "<p>14 Days to Change</p><p>Your Mind</p>"
			}
        },
		{
			"type": "advertising",
			"settings" : {
				"icon_font": "fa-thumbs-o-up",
				"content" : "<p>Highest Quality</p><p>Guarantee</p>"
			}
        },
		{
			"type": "advertising",
			"settings" : {
				"content" : "<div class=\"app-store\"><a href=\"#\"><img class=\"img-responsive\" src=\"https://cdn.shopify.com/s/files/1/0192/1181/2928/files/app02.png?90962\" alt=\"\"></a><a href=\"#\"><img class=\"img-responsive\" src=\"https://cdn.shopify.com/s/files/1/0192/1181/2928/files/app01.png?90962\" alt=\"\"></a></div>"
			}
        }
      ]
    }
  ]
}
{% endschema %}
