
{%- assign title_text_align = section.settings.title_text_align -%}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
{%- assign enable_background_image_fullwidth = section.settings.enable_background_image_fullwidth -%}


<div data-section-id="{{ section.id }}" data-section-type="home-tab-05-section" id="{{ section.id }}"> 
	<div class="cdz-home-block home-tab-style05 {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% if enable_background_image_fullwidth %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
		<div class="container{% if enable_full_container %}-fluid{% endif %}">
			<div class="home-block" style="{% if enable_background_image_fullwidth == false %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
				{% unless section.settings.title_block == blank and section.settings.sub_title == blank %}
				<div class="cdz-block-title block-title-{{title_text_align}}">
					<p class="b-title h2"><span>{{ section.settings.title_block | escape }}</span></p>
					<p class="title-desc"><span>{{ section.settings.sub_title | escape }}</span></p>
				</div>
				{% endunless %}
			<div class="block-wrapper">
				{% assign tabmobile_dropdown = section.settings.tabmobile_dropdown %}
				{% assign tab_alignment = section.settings.tab_alignment %}
				{% assign tab_style = section.settings.tab_style %}
				
				{% case tab_style %}
					{% when '01' %}
						{% assign cdz_tab_style = 'cdztab-style01' %}
					{% when '02' %}
						{% assign cdz_tab_style = 'cdztab-style02' %}
					{% when '03' %}
						{% assign cdz_tab_style = 'cdztab-style03' %}
					{% when '04' %}
						{% assign cdz_tab_style = 'cdztab-style04' %}
					{% when '05' %}
						{% assign cdz_tab_style = 'cdztab-style05' %}
					{% when '06' %}
						{% assign cdz_tab_style = 'cdztab-style06' %}
					{% when '07' %}
						{% assign cdz_tab_style = 'cdztab-style07' %}
				{% endcase %}
				{% assign block_custom_class = '' %}
				<div class="codazon-dynamic-tabs {{cdz_tab_style}} {% if tabmobile_dropdown == false %} no_ddmobile {% endif %}"  data-cdzwidget='{"codazon.builDynamicTabs" : {"show_ddmobile" : {{tabmobile_dropdown}}}}'>
					<ul class="cdztab tab_alignment tab_alignment_{{tab_alignment}}">
						{%- for label in section.blocks -%}
							{% assign label_title = label.settings.title %}
							{% assign url_title = label.settings.url_title %}
							{% assign tabitem_type_icon = label.settings.tabitem_type_icon %}
							{% assign tabitem_fonticon = label.settings.tabitem_fonticon %}
							{% assign tabitem_imgicon = label.settings.tabitem_imgicon %}
							{% assign tabitem_imgicon_size = label.settings.tabitem_imgicon_size %}
							{% comment ls-rpl %}{%- assign size_icon_url = tabitem_imgicon | img_url : tabitem_imgicon_size -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: tabitem_imgicon, img_url : tabitem_imgicon_size -%}{%- endcapture -%}{%- assign size_icon_url = LS_IMG_URL -%}{% comment /ls-rpl %}{% endcomment %}
							<li class="tab-item {% if url_title == blank %}has-content {% endif %}{% if forloop.first %} active{% endif %} {{block_custom_class}}" {% if url_title == blank %}data-itemtab="cdztab-{{label.id}}"{% endif %}>
								<a class="tab-title" href="{% if url_title == blank %}javascript:void(0){% else %}{{url_title}}{% endif %}">
									{% if tabitem_type_icon == 'title_font_icon' %}
										{% unless tabitem_fonticon == blank %}<span class="tab-icon fa {{tabitem_fonticon}}"></span>{% endunless %}
									{% else %}
										{% unless tabitem_imgicon == blank %}<img class="tab-icon" src="{{size_icon_url}}" />{% endunless %}
									{% endif %}
									<span>{{label_title}}</span> 
								</a>
							</li>
						{%- endfor -%}
					</ul>
					<div class="tab-content">
						{%- for block in section.blocks -%}
						{% if block.settings.url_title == blank %}
							<div class="tab-content-item {% if forloop.first %} active{% endif %} {{block_custom_class}}" id="cdztab-{{block.id}}">
							{% include 'cdz-grid-products' with: block %}
						</div>
						{% endif %}
						{%- endfor -%}
					</div>
				</div>
					
			</div>
		</div>
	</div>
	</div>
</div>


{% schema %}
{
	"name": "Home Tab Style 05",
    "class": "index-section cdz-tab-product-style05",
    "settings": [
		{
		  "type": "text",
		  "id": "title",
		  "label": "Heading Section",
		  "default": "Home Tab Style 05"
		},
		{
		  "type": "text",
		  "id": "title_block",
		  "label": "Heading Block"
		},
		{
		  "type": "textarea",
		  "id": "sub_title",
		  "label": "Describe Heading"
		},
		{
			"type": "select",
			"id": "title_text_align",
			"label": "Heading Alignment",
			"options": [
				{ "value": "left", "label": "Left"},
				{ "value": "right", "label": "Right"},
				{ "value": "center", "label": "Center"}
			],
			"default" : "center"
		},
		{
		  "type": "checkbox",
		  "id": "enable_full_container",
		  "label": "Enable Full Container Block",
		  "default" : false
		},
		{
		  "type": "text",
		  "id": "custom_class",
		  "label": "Custom Class"
		},
		{
		  "type": "text",
		  "id": "custom_css_inline",
		  "label": "Custom CSS Inline Style",
		  "info": "padding: 20px; margin: 30px;"
		},
		{
		  "type": "color",
		  "id": "block_background_color",
		  "label": "Block Background Color"
		},
		{
		  "type": "image_picker",
		  "id": "block_background_image",
		  "label": "Block Background Image"
		},
		{
		  "type": "text",
		  "id": "block_background_image_option",
		  "label": "Block Background Image Option",
		  "info": "Default: [0 0 no-repeat fixed]"
		},
		{
		  "type": "checkbox",
		  "id": "enable_background_image_fullwidth",
		  "label": "Display Background Full Width",
		  "default" : true
		},
		{
			"type" : "header",
			"content" : "-- Setting Tab Products --"
		},
		{
		   "type": "select",
		   "id": "tab_style",
		   "options": [
			  { "value": "01", "label": "Style 01"},
			  { "value": "02", "label": "Style 02"},
			  { "value": "03", "label": "Style 03"},
			  { "value": "04", "label": "Style 04"},
			  { "value": "05", "label": "Style 05"},
			  { "value": "06", "label": "Style 06"},
			  { "value": "07", "label": "Style 07"}
		   ],
		   "label": "Show Tab Style",
		   "default" : "05"
		},
		{
		  "type": "select",
		  "id": "tab_alignment",
		  "label": "Tab alignment",
		  "options": [
				{ "value": "left", "label": "Left"},
				{ "value": "right", "label": "Right"},
				{ "value": "center", "label": "Center"}
			  ],
		  "default" : "center"
		},
		{
		  "type": "checkbox",
		  "id": "tabmobile_dropdown",
		  "label": "Show dropdown Title Tab on mobile",
		  "default" : true
		}
	],
	"blocks": [
		{	
			"type": "tab",
			"name": "Tab Products",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Heading Tab",
					"default": "Heading Tab"
				},
				{
					"type": "url",
					"id": "url_title",
					"label": "Link Title Tab",
					"info": "Only use when doesn't show content tab"
				},
				{
				   "type":      "select",
				   "id":        "tabitem_type_icon",
				   "options": [
					  { "value": "title_font_icon", "label": "Show Font Icon"},
					  { "value": "title_img_icon", "label": "Show Image Icon"}
				   ],
				   "label":     "Type Icon on Title Tab",
				   "default" : "title_font_icon"
				},
				{
					"type" : "text",
					"id" : "tabitem_fonticon",
					"label" : "Font Icon on Title Tab",
					"info": "Ex: fa-home. Use Font Awesome [see here](http:\/\/fontawesome.com\/v4.7.0\/cheatsheet\/)."
				},
				{
				  "type": "image_picker",
				  "id": "tabitem_imgicon",
				  "label": "Image Icon on Title Tab"
				},
				{
					"type" : "text",
					"id" : "tabitem_imgicon_size",
					"label" : "Image Icon Size on Title Tab",
					"default": "40x40",
					"info": "Default: [40x40]"
				},
				{
					"type" : "header",
					"content" : "-- Setting Product Item --"
				},
				{
				  "type": "collection",
				  "id": "slider_collection",
				  "label": "Collection"
				},
				{
					"type": "select",
					"id": "text_align",
					"label": "Text Alignment",
					"options": [
						{ "value": "left", "label": "Left"},
						{ "value": "right", "label": "Right"},
						{ "value": "center", "label": "Center"}
					],
					"default" : "center"
				},
				{
					"type": "textarea",
					"id": "class_sameheight",
					"label": "Classes Set The Heights",
					"default" : ".product-item-description,.product-reviews-summary,.product-item-name, .product-options,.product-item-bottom",
					"info": "Set the heights of input elements using classes like '.product-item-description' and '.product-item-name'"
				},
				{
				   "type": "select",
				   "id": "show_prostyle",
				   "options": [
					  { "value": "01", "label": "Style 01"},
					  { "value": "02", "label": "Style 02"},
					  { "value": "03", "label": "Style 03"},
					  { "value": "04", "label": "Style 04"},
					  { "value": "05", "label": "Style 05"},
					  { "value": "06", "label": "Style 06"},
					  { "value": "07", "label": "Style 07"},
					  { "value": "08", "label": "Style 08"},
					  { "value": "09", "label": "Style 09"},
					  { "value": "10", "label": "Style 10"},
					  { "value": "11", "label": "Style 11"},
					  { "value": "12", "label": "Style 12"},
					  { "value": "13", "label": "Style 13"},
					  { "value": "14", "label": "Style 14"},
					  { "value": "15", "label": "Style 15"},
					  { "value": "16", "label": "Style 16"},
					  { "value": "17", "label": "Style 17"}
				   ],
				   "label": "Product Listing Style",
				   "default" : "12"
				},
				{
				  "type": "select",
				  "id": "order_by",
				  "label": "Order by",
				  "options": [
						{ "value": "title", "label": "Name"},
						{ "value": "price", "label": "Price"},
						{ "value": "published_at", "label": "Publish time"},
						{ "value": "id", "label": "Product's ID"}
					  ],
				  "default" : "id"
				},
				{
				  "type": "select",
				  "id": "order",
				  "label": "Order",
				  "options": [
						{ "value": "asc", "label": "ASC"},
						{ "value": "desc", "label": "DESC"}
					  ],
				  "default" : "asc"
				},
				{
				  "type": "text",
				  "id": "thumbnail_width",
				  "label": "Thumbnail Width",
				  "default" : "280"
				},
				{
				  "type": "text",
				  "id": "thumbnail_height",
				  "label": "Thumbnail Height",
				  "default" : "280"
				},
				{
				  "type": "checkbox",
				  "id": "enable_product_name",
				  "label": "Enable Product Name",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_price",
				  "label": "Enable Price",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_hover_thumbnail",
				  "label": "Enable Hover Thumbnail",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_product_label",
				  "label": "Enable Product Label",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_sku",
				  "label": "Enable SKU",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_vendor",
				  "label": "Enable Vendor",
				  "default" : false
				},
				{
				  "type": "checkbox",
				  "id": "enable_addto_cart",
				  "label": "Enable Add to cart",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_quickshop",
				  "label": "Enable Quickshop",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_addto_compare",
				  "label": "Enable Add to Compare",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_addto_wishlist",
				  "label": "Enable Add to Wishlist",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_review",
				  "label": "Enable Review Product",
				  "default" : true
				},
				{
				  "type": "checkbox",
				  "id": "enable_quantity_product",
				  "label": "Enable Quantity Product",
				  "default" : false
				},
				{
				  "type": "checkbox",
				  "id": "enable_variant_product",
				  "label": "Enable Variant",
				  "default" : false
				},
				{
				  "type": "checkbox",
				  "id": "enable_short_description",
				  "label": "Enable Short Description",
				  "default" : true
				},
				{
				  "type": "text",
				  "id": "short_description_length",
				  "label": "Description Length",
				  "default" : "30"
				},
				{
					"type" : "header",
					"content" : "-- Setting Slider --"
				},
				{
				   "type": "select",
				   "id": "show_slider",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label": "Show As Slider",
				   "default" : "1"
				},
				{
				   "type":      "text",
				   "id":        "products_count",
				   "label":     "Number of Products to Display",
				   "default" : "8"
				},
				{
				   "type":      "text",
				   "id":        "items_slider",
				   "label":     "Product Items",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1900",
				   "label":     "Desktop 1900 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1600",
				   "label":     "Desktop 1600 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1440",
				   "label":     "Desktop 1440 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1280",
				   "label":     "Desktop 1280 view",
				   "default": 	"4"
				},
				{
				   "type":      "text",
				   "id":        "items_980",
				   "label":     "Desktop Small View",
				   "default": 	"4"
				},
				{
				   "type":      "text",
				   "id":        "items_768",
				   "label":     "Tablet Lanscape View",
				   "default": 	"3"
				},
				{
				   "type":      "text",
				   "id":        "items_480",
				   "label":     "Tablet Portrait View",
				   "default": 	"2"
				},
				{
				   "type":      "text",
				   "id":        "items_320",
				   "label":     "Mobile Lanscape View",
				   "default": 	"2"
				},
				{
				   "type":      "text",
				   "id":        "items_0",
				   "label":     "Mobile Portrait View",
				   "default": 	"1"
				},
				{
				  "type": "range",
				  "id": "total_rows",
				  "label": "Total Rows",
				  "min": 1,
				  "max": 6,
				  "step": 1,
				  "default": 1
				},
				{
				   "type":      "text",
				   "id":        "items_margin",
				   "label":     "Items Margin",
				   "default": "20"
				},
				{
				   "type":      "select",
				   "id":        "slider_dots",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label":     "Show Slider Dots",
				   "default" : "0"
				},
				{
				   "type":      "select",
				   "id":        "slider_nav",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label":     "Show Slider Arrows",
				   "default" : "1"
				}
				
			]
		}
	],
	"presets": [
    {
      "name": "Home Tab Style 05",
      "category": "Codazon Block Products",
      "settings": {
        "title": "Home Tab Style 05",
		"title_block": "Kid Clothing",
		"custom_class": "space-lg  nav_style07"
      },
	  "blocks": [
			{
				"type": "tab",
				"settings": {
					"title": "Girls"
				}
			},
			{
				"type": "tab",
				"settings": {
					"title": "Babies"
				}
			},
			{
				"type": "tab",
				"settings": {
					"title": "Accessories"
				}
			},
			{
				"type": "tab",
				"settings": {
					"title": "Boys"
				}
			}
	    ]
    }
  ]
}
{% endschema %}

