<!-- Genaral Setting -->
{%- assign title_text_align = section.settings.title_text_align -%}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
<!-- Setting Blogs -->
{%- assign cate_blogs = section.settings.blogs -%}
{%- assign order_by = section.settings.order_by -%}
{%- assign order = section.settings.order -%}
{%- assign blog_date_format = section.settings.blog_date_format -%}
{%- assign block_title_alignment = section.settings.block_title_alignment -%}
{%- assign blog_viewall = section.settings.blog_viewall -%}
{%- assign blog_cate = section.settings.blog_cate -%}
{%- assign blog_author = section.settings.blog_author -%}
{%- assign blog_desc = section.settings.blog_desc -%}
{%- assign blog_readmore = section.settings.blog_readmore -%}
{%- assign blog_date = section.settings.blog_date -%}
{%- assign enable_short_description = section.settings.enable_short_description -%}
{%- assign thumbnail_width = '320' -%}
{%- unless section.settings.thumbnail_width == blank -%}
	{%- assign thumbnail_width = section.settings.thumbnail_width -%}
{%- endunless -%}
{%- assign thumbnail_height = '320' -%}
{%- unless section.settings.thumbnail_height == blank -%}
	{%- assign thumbnail_height = section.settings.thumbnail_height -%}
{%- endunless -%}
{%- assign short_description_length = '150' -%}
{%- unless section.settings.short_description_length == blank -%}
	{%- assign short_description_length = section.settings.short_description_length -%}
{%- endunless -%}
{%- assign slider_collection = section.settings.slider_collection -%}
{%- assign special_product = section.settings.special_product -%}
{%- assign show_special_product = section.settings.show_special_product -%}
{%- assign products_count = '8' -%}
{%- unless section.settings.products_count == blank -%}
	{%- assign products_count = section.settings.products_count -%}
{%- endunless -%}
{%- assign items_slider = '4' -%}
{%- unless section.settings.items_slider == blank -%}
	{%- assign items_slider = section.settings.items_slider -%}
{%- endunless -%}
{%- assign items_1900 = '4' -%}
{%- unless section.settings.items_1900 == blank -%}
	{%- assign items_1900 = section.settings.items_1900 -%}
{%- endunless -%}
{%- assign items_1600 = '4' -%}
{%- unless section.settings.items_1600 == blank -%}
	{%- assign items_1600 = section.settings.items_1600 -%}
{%- endunless -%}
{%- assign items_1440 = '4' -%}
{%- unless section.settings.items_1440 == blank -%}
	{%- assign items_1440 = section.settings.items_1440 -%}
{%- endunless -%}
{%- assign items_1280 = '4' -%}
{%- unless section.settings.items_1280 == blank -%}
	{%- assign items_1280 = section.settings.items_1280 -%}
{%- endunless -%}
{%- assign items_980 = '3' -%}
{%- unless section.settings.items_980 == blank -%}
	{%- assign items_980 = section.settings.items_980 -%}
{%- endunless -%}
{%- assign items_768 = '2' -%}
{%- unless section.settings.items_768 == blank -%}
	{%- assign items_768 = section.settings.items_768 -%}
{%- endunless -%}
{%- assign items_480 = '2' -%}
{%- unless section.settings.items_480 == blank -%}
	{%- assign items_480 = section.settings.items_480 -%}
{%- endunless -%}
{%- assign items_320 = '2' -%}
{%- unless section.settings.items_320 == blank -%}
	{%- assign items_320 = section.settings.items_320 -%}
{%- endunless -%}
{%- assign items_0 = '2' -%}
{%- unless section.settings.items_0 == blank -%}
	{%- assign items_0 = section.settings.items_0 -%}
{%- endunless -%}
{%- assign items_margin = '20' -%}
{%- unless section.settings.items_margin == blank -%}
	{%- assign items_margin = section.settings.items_margin -%}
{%- endunless -%}
{%- assign show_slider = section.settings.show_slider -%}
{%- assign slider_dots = section.settings.slider_dots -%}
{%- assign slider_nav = section.settings.slider_nav -%}
{%- assign total_rows = section.settings.total_rows -%}
{%- capture data-owlslider -%}
	{ "items": {{items_slider}}, "items_1900": {{items_1900}}, "items_1600": {{items_1600}}, "items_1440": {{items_1440}}, "items_1280": {{items_1280}}, "items_980": {{items_980}}, "items_768": {{items_768}}, "items_480": {{items_480}}, "items_320": {{items_320}}, "items_0": {{items_0}}, "margin": {{items_margin}}, "nav": {{slider_nav}}, "dots": {{slider_dots}}, "rtl": {{settings.enable_rtl_layout}}}
{%- endcapture -%}
<div data-section-id="{{ section.id }}" data-section-type="cdz-blogs-section" id="{{ section.id }}"> 
	<div class="cdz-blogs post-list-style08 {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}">
	<div class="container{% if enable_full_container %}-fluid{% endif %}">
		<div class="cdz-blogs-content">
			{%- unless section.settings.title == blank and section.settings.sub_title == blank -%}
			<div class="cdz-block-title block-title-{{title_text_align}}">
				{%- unless section.settings.title_block == blank -%}
					<p class="b-title h2"><span>{{ section.settings.title_block | escape }}</span></p>
				{%- endunless -%}
				{%- unless section.settings.sub_title == blank -%}
					<p class="title-desc"><span>{{ section.settings.sub_title | escape }}</span></p>
				{%- endunless -%}
			</div>
			{%- endunless -%}
			<div class="block-wrapper blogs-wrapper">
				{% include 'grid_style' with id: section.id %}
				<div class="blog-post-grid blogs-style-08 {% if show_slider ==  '1' %}no-loaded{% endif %}">
					{%- if show_slider ==  '1' -%}
						<div class='brand-loader double-bounce-spinner'>
							<div class='double-bounce1'></div>
							<div class='double-bounce2'></div>
						</div>
					{% endif %}
					<div data-sameheight=".post-title, .post-desc" class="style-{{section.id}}{% if show_slider ==  '0' %} no_slider flex-grid{% elsif show_slider ==  '1' %} cdzowlslider owl-carousel{% endif %}" {% if show_slider ==  '1' %} data-cdzwidget = '{"codazon.owlSlider": {{data-owlslider}}}' {% endif %}>
					{%- if blogs[cate_blogs].articles == blank -%}
						{%- for i in (1..8) -%}
							{%- assign article = blank -%}
							{%- assign modulo = forloop.index | modulo: total_rows -%}
							  {%- if total_rows >  1 and show_slider ==  '1' -%}
								{%- if modulo == 1 -%}
									<div class="items">
								{%- endif -%}
							  {%- endif -%}
							  <div class="item post-item">
								{% include 'blog-list05' with blog_viewall, blog_cate, blog_author, blog_desc, blog_readmore, blog_date, blog_date_format, short_description_length, enable_short_description  %}
							  </div>
							  {%- if total_rows >  1 and show_slider ==  '1' -%}
								{%- if modulo == 0 or forloop.last -%}
								  </div>
								  {%- endif -%}
							  {%- endif -%}
						{%- endfor -%}
					{%- else -%}
						{%- if order == 'asc' -%}
							{%- assign articles = blogs[cate_blogs].articles | sort: order_by -%}
						{%- else -%}
							{%- assign articles = blogs[cate_blogs].articles | sort: order_by | reverse -%}
						{%- endif -%}
						{%- for article in articles limit: products_count -%}
							  {%- assign modulo = forloop.index | modulo: total_rows -%}
							  {%- if total_rows >  1 and show_slider ==  '1' -%}
								{%- if modulo == 1 -%}
									<div class="items">
								{%- endif -%}
							  {%- endif -%}
							  <div class="item post-item">
								{%- include 'blog-list05' with blog_viewall, blog_cate, blog_author, blog_desc, blog_readmore, blog_date, blog_date_format, short_description_length, enable_short_description  %}
							  </div>
							  {%- if total_rows >  1 and show_slider ==  '1' -%}
								{%- if modulo == 0 or forloop.last -%}
								  </div>
								  {%- endif -%}
							  {%- endif -%}	
						{%- endfor -%}
					{%- endif -%}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% schema %}
{
	"name": "Home Blog Style 08",
    "class": "index-section home-blog-style-08",
    "settings": [
		{
		  "type": "text",
		  "id": "title",
		  "label": "Heading Section",
		  "default": "Home Blog Style 08"
		},
		{
		  "type": "text",
		  "id": "title_block",
		  "label": "Heading Blogs",
		  "default": "Our Recent Work"
		},
		{
		  "type": "textarea",
		  "id": "sub_title",
		  "label": "Describe Heading",
		  "default" : "Finish off with our hats, watches, bags and accessories"
		},
		{
			"type": "select",
			"id": "title_text_align",
			"label": "Heading Alignment",
			"options": [
				{ "value": "left", "label": "Left"},
				{ "value": "right", "label": "Right"},
				{ "value": "center", "label": "Center"}
			],
			"default" : "center"
		},
		{
		  "type": "checkbox",
		  "id": "enable_full_container",
		  "label": "Enable Full Container Block",
		  "default" : false
		},
		{
		  "type": "text",
		  "id": "custom_class",
		  "label": "Custom Class",
		  "default": "space-lg nav_style06"
		},
		{
		  "type": "text",
		  "id": "custom_css_inline",
		  "label": "Custom CSS Inline Style",
		  "info": "padding: 20px; margin: 30px;",
		  "default" : "padding: 30px 0;"
		},
		{
		  "type": "color",
		  "id": "block_background_color",
		  "label": "Block Background Color",
		  "default" : "#ffffff"
		},
		{
		  "type": "image_picker",
		  "id": "block_background_image",
		  "label": "Block Background Image"
		},
		{
		  "type": "text",
		  "id": "block_background_image_option",
		  "label": "Block Background Image Option",
		  "info": "Default: [0 0 no-repeat fixed]"
		},
		{
			"type" : "header",
			"content" : "-- Setting Blog Item --"
		},
		{
			"type": "blog",
			"id": "blogs",
			"label" : "Blogs Collection"
		},
		{
		  "type": "select",
		  "id": "order_by",
		  "label": "Order by",
		  "options": [
				{ "value": "title", "label": "Name"},
				{ "value": "published_at", "label": "Publish time"},
				{ "value": "id", "label": "Product's ID"}
			  ],
		  "default" : "published_at"
		},
		{
		  "type": "select",
		  "id": "order",
		  "label": "Order",
		  "options": [
				{ "value": "asc", "label": "ASC"},
				{ "value": "desc", "label": "DESC"}
			  ],
		  "default" : "asc"
		},
		{
		  "type": "text",
		  "id": "thumbnail_width",
		  "label": "Thumbnail Width",
		  "default" : "447"
		},
		{
		  "type": "text",
		  "id": "thumbnail_height",
		  "label": "Thumbnail Height",
		  "default" : "310"
		},
		{
		  "type": "text",
		  "id": "blog_date_format",
		  "label": "Date Format",
		  "default" : "%b %e, %Y",
		  "info": "Ex: %b %e, %Y. date accepts the same parameters as Ruby's strftime method. [see here](http:\/\/strfti.me\/)"
		},
		{
		   "type":      "checkbox",
		   "id":        "blog_cate",
		   "label":     "Enable Post Category",
		   "default":   false
		},
		{
		   "type":      "checkbox",
		   "id":        "blog_author",
		   "label":     "Enable Post Author",
		   "default":   true
		},
		{
		   "type":      "checkbox",
		   "id":        "blog_readmore",
		   "label":     "Enable Read More Link",
		   "default":   false
		},
		{
		   "type":      "checkbox",
		   "id":        "blog_date",
		   "label":     "Enable Date Time",
		   "default":   true
		},
		{
		  "type": "checkbox",
		  "id": "enable_short_description",
		  "label": "Enable Short Description",
		  "default" : true
		},
		{
		  "type": "text",
		  "id": "short_description_length",
		  "label": "Description Length",
		  "default" : "100"
		},
		{
			"type" : "header",
			"content" : "-- Setting Slider --"
		},
		{
		   "type": "select",
		   "id": "show_slider",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label": "Show As Slider",
		   "default" : "1"
		},
		{
		   "type":      "text",
		   "id":        "products_count",
		   "label":     "Number of Products to Display",
		   "default" : "6"
		},
		{
		   "type":      "text",
		   "id":        "items_slider",
		   "label":     "Product Items",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_1900",
		   "label":     "Desktop 1900 view",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_1600",
		   "label":     "Desktop 1600 view",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_1440",
		   "label":     "Desktop 1440 view",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_1280",
		   "label":     "Desktop 1280 view",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_980",
		   "label":     "Desktop Small View",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_768",
		   "label":     "Tablet Lanscape View",
		   "default": 	"2"
		},
		{
		   "type":      "text",
		   "id":        "items_480",
		   "label":     "Tablet Portrait View",
		   "default": 	"1"
		},
		{
		   "type":      "text",
		   "id":        "items_320",
		   "label":     "Mobile Lanscape View",
		   "default": 	"1"
		},
		{
		   "type":      "text",
		   "id":        "items_0",
		   "label":     "Mobile Portrait View",
		   "default": 	"1"
		},
		{
		  "type": "range",
		  "id": "total_rows",
		  "label": "Total Rows",
		  "min": 1,
		  "max": 6,
		  "step": 1,
		  "default": 1
		},
		{
		   "type":      "text",
		   "id":        "items_margin",
		   "label":     "Items Margin",
		   "default": "40"
		},
		{
		   "type":      "select",
		   "id":        "slider_dots",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label":     "Show Slider Dots",
		   "default" : "0"
		},
		{
		   "type":      "select",
		   "id":        "slider_nav",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label":     "Show Slider Arrows",
		   "default" : "1"
		}
	],
	"presets": [
    {
      "name": "Home Blog Style 08",
      "category": "Codazon Blogs",
      "settings": {
        "title": "Home Blog Style 08",
		"blogs": "News"
      }
    }
  ]
}
{% endschema %}
