{% assign banner_heading = section.settings.banner_heading %}
{% assign heading_align = section.settings.heading_align %}
{% assign effect_style = section.settings.effect_style %}
{% assign banner_link = section.settings.banner_link %}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
{%- assign enable_background_image_fullwidth = section.settings.enable_background_image_fullwidth -%}
{% assign color_text = section.settings.color_text %}

{% capture headText_align %}
	{%- case heading_align -%}
	  {%- when 'left' -%} text-left
	  {%- when 'right' -%} text-right
	  {%- when 'center' -%} text-center
	{%- endcase -%}	
{% endcapture %}
{% capture effect %}
	{%- case effect_style -%}
	  {%- when '01' -%} shine-effect
	  {%- when '02' -%} effect_style02
	  {%- when '03' -%} effect_style04
	{%- endcase -%}	
{% endcapture %}



<div class="cdz-banner-wrapper" data-section-id="{{ section.id }}">
	<div class="cdz-banner {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% if enable_background_image_fullwidth %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
		<div class="container{% if enable_full_container %}-fluid{% endif %}">
			<div class="banner-wrapper" style="{% if enable_background_image_fullwidth == false %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
			  <div class="row flex-grid flex-grid-row">
				  <div class="{%- if section.settings.image_position == 'left' -%}order-md-2 col-sm-6 {%- else -%} col-sm-6 {%- endif -%}">
					<div class="cdz-banner banner-style09 cdz-banner-text {{ headText_align }}"   style="color: {{ color_text }}">
						<p class="h2">{{ section.settings.banner_heading | escape }}</p>
						<div class="desc">
						<p>{{ section.settings.subtext01 | escape }}</p>
						<p>{{ section.settings.subtext02 | escape }}</p>
						</div>
						{%- if section.settings.btn != blank -%}
						<div class="actions"><a class="action btn primary" href="{{ banner_link }}"><span><span>{{ section.settings.btn | escape }}</span></span></a></div>
						{%- endif -%}
					</div>
				  </div>
				  <div class="col-sm-6 {% if enable_full_container %}px-0{% endif %}">
					<div class="cdz-banner banner-style09 {{ effect }}">
						<div class="cdz-banner-img">
							{% comment ls-rpl %}{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
							{% assign banner_link = section.settings.banner_link %}
							{%- if section.settings.image != blank -%}
							<a class="" href="{{ banner_link }}">
							  <img class="slides__image lazyload lz-img {% unless forloop.first == true %} lazypreload{% endunless %}"
									data-src="{{ img_url }}"
									data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
									data-aspectratio="{{ section.settings.image.aspect_ratio }}"
									data-sizes="auto"
									alt="{% comment ls-rpl %}{{ section.settings.image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: section.settings.image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
							</a>
							{%- else -%}
							<a class="" href="{{ banner_link }}">
							  <span>
								{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
							  </span>
							 </a>
							{%- endif -%}
						</div>
					</div>
				  </div>
			  </div>
			</div>
		</div>
	</div>
</div>



{% schema %}
{
  "name": "Banner Style 09",
  "class": "index-section banner-section",
  "settings": [
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading Text"
    },
	{
      "type": "text",
      "id": "subtext01",
      "label": "Sub Text 01"
    },
	{
      "type": "text",
      "id": "subtext02",
      "label": "Sub Text 02"
    },
	{
	  "type": "text",
	  "id": "btn",
	  "label": "Button Text"
	},
	{
	  "type": "color",
	  "id": "color_text",
	  "label": "Text color",
	  "default": "#282828"
	},
	{
	  "type": "checkbox",
	  "id": "enable_full_container",
	  "label": "Enable Full Container Block",
	  "default" : false
	},
	{
	  "type": "text",
	  "id": "custom_class",
	  "label": "Custom Class"
	},
	{
	  "type": "text",
	  "id": "custom_css_inline",
	  "label": "Custom CSS Inline Style",
	  "info": "padding: 20px; margin: 30px;"
	},
	{
	  "type": "color",
	  "id": "block_background_color",
	  "label": "Block Background Color"
	},
	{
	  "type": "image_picker",
	  "id": "block_background_image",
	  "label": "Block Background Image"
	},
	{
	  "type": "text",
	  "id": "block_background_image_option",
	  "label": "Block Background Image Option",
	  "info": "Default: [0 0 no-repeat fixed]"
	},
	{
	  "type": "checkbox",
	  "id": "enable_background_image_fullwidth",
	  "label": "Display Background Full Width",
	  "default" : true
	},
	{
	  "type": "select",
	  "id": "heading_align",
	  "label": "Heading Alignment",
	  "options": [
	    {
	  	  "value": "left",
		  "label": "Text Left"
	    },
	    {
		  "value": "right",
		  "label": "Text Right"
	    },
	    {
		  "value": "center",
		  "label": "Text Center"
	    }
	  ]
	},
	{
	  "type": "select",
	  "id": "effect_style",
	  "label": "Effect Style",
	  "default": "02",
	  "options": [
		{
		  "label": "Style 01",
		  "value": "01"
		},
		{
		  "label": "Style 02",
		  "value": "02"
		},
		{
		  "label": "Style 03",
		  "value": "03"
		}
	  ]
	},
	{
	  "type": "image_picker",
	  "id": "image",
	  "label": "Image"
	},
	{
	  "type": "url",
	  "id": "banner_link",
	  "label": "Banner Link"
	},
	{
	  "type": "select",
	  "id": "image_position",
	  "label": "Position",
	  "default": "left",
	  "options": [
		{
		  "label": "Image Left",
		  "value": "left"
		},
		{
		  "label": "Image Right",
		  "value": "right"
		}
	  ]
	}
  ],
  "presets": [
    {
      "name": "Banner Section Style 09",
      "category": "Image",
	  "settings": {
			"effect_style": "05",
			"heading_align": "center",
			"banner_heading": "COMMING SOON",
			"subtext01": "Dailyroutine Stockholm will be available at Nordiska Kompaniet, Stockholm and in Gothenburg beginning 2018.",
			"subtext02": "When Josef Sachs founded Nordiska Kompaniet in 1902 he had a clear vision: the great department store NK was to be a commercial and cultural theatre - a contemporary stage. Grand words maybe, but they still permeate through every aspect of NK",
			"btn": "Shop Now"
		}
    }
  ]
}
{% endschema %}
