{%- assign heading_align = section.settings.heading_align -%}
{%- capture headText_align -%}
	{%- case heading_align -%}
	  {%- when 'left' -%} text-left
	  {%- when 'right' -%} text-right
	  {%- when 'center' -%} text-center
	{%- endcase -%}	
{%- endcapture -%}
<div class="cdz-banner-wrapper" data-section-id="{{ section.id }}">
	<div class="container">
	  {% if section.settings.banner_heading != blank %}
	  <div class="row">
		  <div class="col-12">
			<div class="cdz-block-title {{ headText_align }}">
				<p class="b-title h2"><span>{{ section.settings.banner_heading | escape }}</span></p>
			</div>
		  </div>
	  </div>
	  {% endif %}
	</div>
	<div class="container">
		<div class="row">
			{%- for block in section.blocks -%}				
				{%- assign custom_class = block.settings.custom_class -%}
				{%- assign banner_link01 = block.settings.banner_link01 -%}
				{%- assign banner_link02 = block.settings.banner_link02 -%}
				{%- assign text_block_position_img01 = block.settings.text_block_position_img01 -%}
				{%- assign text_block_position_img02 = block.settings.text_block_position_img02 -%}
				{%- assign text_block_align_img01 = block.settings.text_block_align_img01 -%}
				{%- assign text_block_align_img02 = block.settings.text_block_align_img02 -%}
				{%- assign effect_style_img01 = block.settings.effect_style_img01 -%}
				{%- assign effect_style_img02 = block.settings.effect_style_img02 -%}
				{%- assign width_image01 = block.settings.width_image01 | times: 1 -%}
				{%- assign height_image01 = block.settings.height_image01 | times: 1 -%}
				{%-  assign img_size01 = width_image01 | append: 'x' | append: height_image01 -%}
					{%-  assign img_ratio01 = width_image01 | times: 1.0 | divided_by: height_image01 -%}
				
				{% comment ls-rpl %}{%- assign img_url01 = block.settings.image01 | img_url: img_size01 -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block.settings.image01, img_url: img_size01 -%}{%- endcapture -%}{%- assign img_url01 = LS_IMG_URL -%}{% comment /ls-rpl %}{% endcomment %}
				{%- assign text_tag_img01 = block.settings.text_tag_img01 -%}
				{%- assign color_text_tag_img01 = block.settings.color_text_tag_img01 -%}
				{%- assign fontsize_text_tag_img01 = block.settings.fontsize_text_tag_img01 -%}
				{%- assign fontweight_text_tag_img01 = block.settings.fontweight_text_tag_img01 -%}
				{%- assign text_title_img01 = block.settings.text_title_img01 -%}
				{%- assign color_text_title_img01 = block.settings.color_text_title_img01 -%}
				{%- assign fontsize_text_title_img01 = block.settings.fontsize_text_title_img01 -%}
				{%- assign fontweight_text_title_img01 = block.settings.fontweight_text_title_img01 -%}
				{%- assign text_desc_img01 = block.settings.text_desc_img01 -%}
				{%- assign color_text_desc_img01 = block.settings.color_text_desc_img01 -%}
				{%- assign fontsize_text_desc_img01 = block.settings.fontsize_text_desc_img01 -%}
				{%- assign fontweight_text_desc_img01 = block.settings.fontweight_text_desc_img01 -%}

				{% capture effect01 %}
					{%- case effect_style_img01 -%}
					  {%- when '01' -%} shine-effect
					  {%- when '02' -%} effect_style06
					  {%- when '03' -%} effect_style04
					  {%- when '04' -%} effect_style02
					  {%- when '05' -%} effect_style03
					  {%- when '06' -%} effect_style05
					  {%- when '07' -%} effect_style07
					{%- endcase -%}	
				{% endcapture %}
				{% capture effect02 %}
					{%- case effect_style_img02 -%}
					  {%- when '01' -%} shine-effect
					  {%- when '02' -%} effect_style06
					  {%- when '03' -%} effect_style04
					  {%- when '04' -%} effect_style02
					  {%- when '05' -%} effect_style03
					  {%- when '06' -%} effect_style05
					  {%- when '07' -%} effect_style07
					{%- endcase -%}	
				{% endcapture %}
				{% capture block_text_position01 %}
					{%- case text_block_position_img01 -%}
					  {%- when 'top' -%} align-items-start
					  {%- when 'middle' -%} align-items-center
					  {%- when 'bottom' -%} align-items-end
					{%- endcase -%}	
				{% endcapture %}
				{% capture block_text_position02 %}
					{%- case text_block_position_img02 -%}
					  {%- when 'top' -%} align-items-start
					  {%- when 'middle' -%} align-items-center
					  {%- when 'bottom' -%} align-items-end
					{%- endcase -%}	
				{% endcapture %}
				{% capture block_text_align01 %}
					{%- case text_block_align_img01 -%}
					  {%- when 'left' -%} text-left
					  {%- when 'right' -%} text-right
					  {%- when 'center' -%} text-center
					{%- endcase -%}	
				{% endcapture %}
				{% capture block_text_align02 %}
					{%- case text_block_align_img02 -%}
					  {%- when 'left' -%} text-left
					  {%- when 'right' -%} text-right
					  {%- when 'center' -%} text-center
					{%- endcase -%}	
				{% endcapture %}
			{%- style -%}
				{%- unless block.settings.btn_img01 == blank -%}
				.block-{{block.id}} .cdz-banner-text .actions.btn_01 .action:hover{
					color: {{block.settings.background_btn_img01}} !important; 
					background-color: {{block.settings.color_btn_img01}} !important; 
					border-color:{{block.settings.background_btn_img01}}  !important
				}
				{%- endunless -%}
				{%- unless block.settings.btn_img01 == blank -%}
				.block-{{block.id}} .cdz-banner-text .actions.btn_02 .action:hover{
					color: {{block.settings.background_btn_img02}} !important; 
					background-color: {{block.settings.color_btn_img02}} !important; 
					border-color:{{block.settings.background_btn_img02}}  !important
				}
				{%- endunless -%}
			{%- endstyle -%}
			{%- assign img_ratio = 330 | times: 1.0 | divided_by: 680 -%}
			<div class="{{custom_class}} block-{{block.id}}">
				<div class="cdz-banner banner-style10 cdz-text-inside-wrap {{ effect01 }} {{ block_text_position01 }}  {% if block.settings.image02 != blank %} banner-first{% endif %}">
					<div class="cdz-banner-img">
						{%- if block.settings.image01 != blank -%}
						<a class="abs-img" href="{{ banner_link01 }}" style="padding-bottom:{{ 1 | divided_by: img_ratio01 | times: 100}}%;">
						  <img class="slides__image lazyload lz-img {% unless forloop.first == true %} lazypreload{% endunless %}"
								data-src="{{ img_url01 }}"
								data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
								data-aspectratio="{{ block.settings.image01.aspect_ratio }}"
								data-sizes="auto"
								alt="{% comment ls-rpl %}{{ block.settings.image01.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block.settings.image01 -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						</a>
						{%- else -%}
						<a class="" href="{{ banner_link01 }}">
						  <span>
							{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
						  </span>
						 </a>
						{%- endif -%}
					</div>
					<div class="cdz-banner-text cdz-text-inside {{ block_text_align01 }}">
						{%- unless text_tag_img01 == blank -%}
						<div class="h5" style="color: {{color_text_tag_img01}}; font-size: {{fontsize_text_tag_img01}}px; font-weight: {{fontweight_text_tag_img01}}">{{ text_tag_img01 | escape }}</div>
						{%- endunless -%}
						{%- unless text_title_img01 == blank -%}
						<div class="desc01 h1" style="color: {{color_text_title_img01}}; font-size: {{fontsize_text_title_img01}}px; font-weight: {{fontweight_text_title_img01}}">{{ text_title_img01 | escape }}</div>
						{%- endunless -%}
						{%- unless text_desc_img01 == blank -%}
						<div class="desc02" style="color: {{color_text_desc_img01}}; font-size: {{fontsize_text_desc_img01}}px; font-weight: {{fontweight_text_desc_img01}}">{{ text_desc_img01 }}</div>
						{%- endunless -%}
						{%- unless block.settings.btn_img01 == blank -%}
							<div class="actions btn_01"><a class="action btn primary" href="{{ block.settings.btn_link_img01 }}" style="color: {{block.settings.color_btn_img01}}; background-color: {{block.settings.background_btn_img01}}; border-color:{{block.settings.background_btn_img01}}"><span><span>{{block.settings.btn_img01 | escape }}</span></span></a></div>
						{%- endunless -%}
					</div>
				</div>
				{%- if block.settings.image02 != blank -%}
				{%- assign width_image02 = block.settings.width_image02 | times: 1 -%}
				{%- assign height_image02 = block.settings.height_image02 | times: 1 -%}
				{%-  assign img_size02 = width_image02 | append: 'x' | append: height_image02 -%}
					{%-  assign img_ratio02 = width_image02 | times: 1.0 | divided_by: height_image02 -%}
				
				{% comment ls-rpl %}{%- assign img_url02 = block.settings.image02 | img_url: img_size02 -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block.settings.image02, img_url: img_size02 -%}{%- endcapture -%}{%- assign img_url02 = LS_IMG_URL -%}{% comment /ls-rpl %}{% endcomment %}
				{%- assign text_tag_img02 = block.settings.text_tag_img02 -%}
				{%- assign color_text_tag_img02 = block.settings.color_text_tag_img02 -%}
				{%- assign fontsize_text_tag_img02 = block.settings.fontsize_text_tag_img02 -%}
				{%- assign fontweight_text_tag_img02 = block.settings.fontweight_text_tag_img02 -%}
				{%- assign text_title_img02 = block.settings.text_title_img02 -%}
				{%- assign color_text_title_img02 = block.settings.color_text_title_img02 -%}
				{%- assign fontsize_text_title_img02 = block.settings.fontsize_text_title_img02 -%}
				{%- assign fontweight_text_title_img02 = block.settings.fontweight_text_title_img02 -%}
				{%- assign text_desc_img02 = block.settings.text_desc_img02 -%}
				{%- assign color_text_desc_img02 = block.settings.color_text_desc_img02 -%}
				{%- assign fontsize_text_desc_img02 = block.settings.fontsize_text_desc_img02 -%}
				{%- assign fontweight_text_desc_img02 = block.settings.fontweight_text_desc_img02 -%}
				<div class="cdz-banner banner-style10  cdz-text-inside-wrap {{ effect02 }} {{ block_text_position02 }}">
					<div class="cdz-banner-img">
						<a class="abs-img" href="{{ banner_link02 }}" style="padding-bottom:{{ 1 | divided_by: img_ratio02 | times: 100}}%;">
						  <img class="slides__image lazyload lz-img {% unless forloop.first == true %} lazypreload{% endunless %}"
								data-src="{{ img_url02 }}"
								data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
								data-aspectratio="{{ block.settings.image02.aspect_ratio }}"
								data-sizes="auto"
								alt="{% comment ls-rpl %}{{ block.settings.image02.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block.settings.image02 -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						</a>
					</div>
					<div class="cdz-banner-text cdz-text-inside {{ block_text_align02 }}">
						{%- unless text_tag_img02 == blank -%}
						<div class="h5" style="color: {{color_text_tag_img02}}; font-size: {{fontsize_text_tag_img02}}px; font-weight: {{fontweight_text_tag_img02}}">{{ text_tag_img02 | escape }}</div>
						{%- endunless -%}
						{%- unless text_title_img02 == blank -%}
						<div class="desc01 h1" style="color: {{color_text_title_img02}}; font-size: {{fontsize_text_title_img02}}px; font-weight: {{fontweight_text_title_img02}}">{{ text_title_img02 | escape }}</div>
						{%- endunless -%}
						{%- unless text_desc_img02 == blank -%}
						<div class="desc02" style="color: {{color_text_desc_img02}}; font-size: {{fontsize_text_desc_img02}}px; font-weight: {{fontweight_text_desc_img02}}">{{ text_desc_img02 }}</div>
						{%- endunless -%}
						{%- unless block.settings.btn_img02 == blank -%}
							<div class="actions btn_02"><a class="action btn primary" href="{{ block.settings.btn_link_img02 }}" style="color: {{block.settings.color_btn_img02}}; background-color: {{block.settings.background_btn_img02}}; border-color:{{block.settings.background_btn_img02}}"><span><span>{{block.settings.btn_img02 | escape }}</span></span></a></div>
						{%- endunless -%}
					</div>
				</div>
				{%- endif -%}
			</div>
			{%- endfor -%}
		</div>
	</div>
</div>



{% schema %}
{
  "name": "Banner Style 10",
  "class": "index-section banner-section",
  "settings": [
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading Text"
    },
	{
	  "type": "select",
	  "id": "heading_align",
	  "label": "Heading Alignment",
	  "options": [
	    {
	  	  "value": "left",
		  "label": "Text Left"
	    },
	    {
		  "value": "right",
		  "label": "Text Right"
	    },
	    {
		  "value": "center",
		  "label": "Text Center"
	    }
	  ]
	}
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Banner",
      "settings": [
        {
          "type": "header",
          "content": "Banner 01"
        },
	    {
          "type": "text",
          "id": "custom_class",
          "label": "Custom Class"
        },
	    {
          "type": "image_picker",
          "id": "image01",
          "label": "Image"
        },
	    {
          "type": "text",
          "id": "width_image01",
          "label": "Width Image",
          "default": "680"
        },
	    {
          "type": "text",
          "id": "height_image01",
          "label": "Height Image",
          "default": "300"
        },
		{
          "type": "url",
          "id": "banner_link01",
          "label": "Collection"
        },
		{
		  "type": "text",
		  "id": "text_tag_img01",
		  "label": "Tag Text"
		},
		{
		  "type": "color",
		  "id": "color_text_tag_img01",
		  "label": "Tag Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_tag_img01",
			"label": "Tag Text Font Size ",
			"min": 10,
		    "max": 30,
		    "step": 1,
		    "unit": "px",
			"default": 12
		},
		{
			"type": "range",
			"id": "fontweight_text_tag_img01",
			"label": "Tag Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 500
		},
		{
		  "type": "text",
		  "id": "text_title_img01",
		  "label": "Title Text"
		},
		{
		  "type": "color",
		  "id": "color_text_title_img01",
		  "label": "Title Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_title_img01",
			"label": "Title Text Font Size ",
			"min": 16,
		    "max": 80,
		    "step": 1,
		    "unit": "px",
			"default": 70
		},
		{
			"type": "range",
			"id": "fontweight_text_title_img01",
			"label": "Title Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 600
		},
		{
		  "type": "textarea",
		  "id": "text_desc_img01",
		  "label": "Description Text"
		},
		{
		  "type": "color",
		  "id": "color_text_desc_img01",
		  "label": "Description Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_desc_img01",
			"label": "Description Text Font Size ",
			"min": 10,
		    "max": 30,
		    "step": 1,
		    "unit": "px",
			"default": 14
		},
		{
			"type": "range",
			"id": "fontweight_text_desc_img01",
			"label": "Description Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 500
		},
		{
		  "type": "text",
		  "id": "btn_img01",
		  "label": "Button Text"
		},
		{
          "type": "url",
          "id": "btn_link_img01",
          "label": "Button Link"
        },
		{
		  "type": "color",
		  "id": "color_btn_img01",
		  "label": "Button Text Color",
		  "default": "#ffffff"
		},
		{
		  "type": "color",
		  "id": "background_btn_img01",
		  "label": "Button Text Background",
		  "default": "#282828"
		},
		{
		  "type": "select",
		  "id": "text_block_align_img01",
		  "label": "Text Alignment",
		  "options": [
			{
			  "value": "left",
			  "label": "Text Left"
			},
			{
			  "value": "right",
			  "label": "Text Right"
			},
			{
			  "value": "center",
			  "label": "Text Center"
			}
		  ]
		},
		{
		  "type": "select",
		  "id": "text_block_position_img01",
		  "label": "Text Position",
		  "options": [
			{
			  "value": "top",
			  "label": "Top"
			},
			{
			  "value": "middle",
			  "label": "Middle"
			},
			{
			  "value": "bottom",
			  "label": "Bottom"
			}
		  ]
		},
		{
		  "type": "select",
		  "id": "effect_style_img01",
		  "label": "Effect Style",
		  "default": "07",
		  "options": [
			{
			  "label": "Style 01",
			  "value": "01"
			},
			{
			  "label": "Style 02",
			  "value": "02"
			},
			{
			  "label": "Style 03",
			  "value": "03"
			},
			{
			  "label": "Style 04",
			  "value": "04"
			},
			{
			  "label": "Style 05",
			  "value": "05"
			},
			{
			  "label": "Style 06",
			  "value": "06"
			},
			{
			  "label": "Style 07",
			  "value": "07"
			}
		  ]
		},
		{
          "type": "header",
          "content": "Banner 02"
        },
	    {
          "type": "image_picker",
          "id": "image02",
          "label": "Image"
        },
	    {
          "type": "text",
          "id": "width_image02",
          "label": "Width Image",
          "default": "680"
        },
	    {
          "type": "text",
          "id": "height_image02",
          "label": "Height Image",
          "default": "300"
        },
		{
          "type": "url",
          "id": "banner_link02",
          "label": "Collection"
        },
		{
		  "type": "text",
		  "id": "text_tag_img02",
		  "label": "Tag Text"
		},
		{
		  "type": "color",
		  "id": "color_text_tag_img02",
		  "label": "Tag Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_tag_img02",
			"label": "Tag Text Font Size ",
			"min": 10,
		    "max": 30,
		    "step": 1,
		    "unit": "px",
			"default": 12
		},
		{
			"type": "range",
			"id": "fontweight_text_tag_img02",
			"label": "Tag Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 500
		},
		{
		  "type": "text",
		  "id": "text_title_img02",
		  "label": "Title Text"
		},
		{
		  "type": "color",
		  "id": "color_text_title_img02",
		  "label": "Title Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_title_img02",
			"label": "Title Text Font Size ",
			"min": 16,
		    "max": 80,
		    "step": 1,
		    "unit": "px",
			"default": 70
		},
		{
			"type": "range",
			"id": "fontweight_text_title_img02",
			"label": "Title Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 600
		},
		{
		  "type": "textarea",
		  "id": "text_desc_img02",
		  "label": "Description Text"
		},
		{
		  "type": "color",
		  "id": "color_text_desc_img02",
		  "label": "Description Text Color",
		  "default": "#282828"
		},
		{
			"type": "range",
			"id": "fontsize_text_desc_img02",
			"label": "Description Text Font Size ",
			"min": 10,
		    "max": 30,
		    "step": 1,
		    "unit": "px",
			"default": 14
		},
		{
			"type": "range",
			"id": "fontweight_text_desc_img02",
			"label": "Description Text Font Weight ",
			"min": 400,
		    "max": 900,
		    "step": 100,
			"default": 500
		},
		{
		  "type": "text",
		  "id": "btn_img02",
		  "label": "Button Text"
		},
		{
          "type": "url",
          "id": "btn_link_img02",
          "label": "Button Link"
        },
		{
		  "type": "color",
		  "id": "color_btn_img02",
		  "label": "Button Text Color",
		  "default": "#ffffff"
		},
		{
		  "type": "color",
		  "id": "background_btn_img02",
		  "label": "Button Text Background",
		  "default": "#282828"
		},
		{
		  "type": "select",
		  "id": "text_block_align_img02",
		  "label": "Text Alignment",
		  "options": [
			{
			  "value": "left",
			  "label": "Text Left"
			},
			{
			  "value": "right",
			  "label": "Text Right"
			},
			{
			  "value": "center",
			  "label": "Text Center"
			}
		  ]
		},
		{
		  "type": "select",
		  "id": "text_block_position_img02",
		  "label": "Text Position",
		  "options": [
			{
			  "value": "top",
			  "label": "Top"
			},
			{
			  "value": "middle",
			  "label": "Middle"
			},
			{
			  "value": "bottom",
			  "label": "Bottom"
			}
		  ]
		},
		{
		  "type": "select",
		  "id": "effect_style_img02",
		  "label": "Effect Style",
		  "default": "07",
		  "options": [
			{
			  "label": "Style 01",
			  "value": "01"
			},
			{
			  "label": "Style 02",
			  "value": "02"
			},
			{
			  "label": "Style 03",
			  "value": "03"
			},
			{
			  "label": "Style 04",
			  "value": "04"
			},
			{
			  "label": "Style 05",
			  "value": "05"
			},
			{
			  "label": "Style 06",
			  "value": "06"
			},
			{
			  "label": "Style 07",
			  "value": "07"
			}
		  ]
		}
	  ]
	}
  ],
  "presets": [
    {
      "name": "Banner Section Style 10",
      "category": "Image",
	  "blocks": [
			{
				"type": "image",
				"settings": {
					"custom_class": "space-lg col-6"
				}
			},
			{
				"type": "image",
				"settings": {
					"custom_class": "space-lg col-3"
				}
			},
			{
				"type": "image",
				"settings": {
					"custom_class": "space-lg col-3"
				}
			}
	   ]
    }
  ]
}
{% endschema %}
