{%- assign title_text_align = section.settings.title_text_align -%}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
{%- assign enable_background_image_fullwidth = section.settings.enable_background_image_fullwidth -%}
<div data-section-id="{{ section.id }}" data-section-type="home-instagram-section" id="{{ section.id }}"> 
	<div class="cdz-home-block home-instagram-style03 {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% if enable_background_image_fullwidth %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
		<div class="container{% if enable_full_container %}-fluid{% endif %}">
			<div class="home-block" style="{% if enable_background_image_fullwidth == false %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
				{% unless section.settings.title_block == blank and section.settings.sub_title == blank %}
					<div class="cdz-block-title block-title-{{title_text_align}}">
						<p class="b-title h2"><span>{{ section.settings.title_block | escape }}</span></p>
						<p class="title-desc"><span>{{ section.settings.sub_title | escape }}</span></p>
					</div>
				{% endunless %}
			<div class="block-wrapper">
				<div class="row">
					{%- for block in section.blocks -%}
						{% assign block_custom_class = block.settings.block_custom_class %}
						{% case block.type %}
							{% when 'image' %}
								{% include 'cdz-image' %}
							{% when 'html' %}
								{% include 'cdz-block-html' %}
							{% when 'twitter' %}
								{% include 'cdz-twitter' %}
							{% when 'facebook' %}
								{% include 'cdz-facebook' %}
							{% when 'instagram' %}
								{% include 'cdz-instagram' %}
						{% endcase %}
					{%- endfor -%}
				</div>
			</div>
		</div>
	</div>
	</div>
</div>


{% schema %}
{
	"name": "Home Instagram Style 03",
    "class": "index-section home-instagram-style03",
    "settings": [
		{
		  "type": "text",
		  "id": "title",
		  "label": "Heading Section",
		  "default": "Home Instagram Style 03"
		},
		{
		  "type": "text",
		  "id": "title_block",
		  "label": "Heading Instagram"
		},
		{
		  "type": "textarea",
		  "id": "sub_title",
		  "label": "Describe Heading"
		},
		{
			"type": "select",
			"id": "title_text_align",
			"label": "Heading Alignment",
			"options": [
				{ "value": "left", "label": "Left"},
				{ "value": "right", "label": "Right"},
				{ "value": "center", "label": "Center"}
			],
			"default" : "left"
		},
		{
		  "type": "checkbox",
		  "id": "enable_full_container",
		  "label": "Enable Full Container Block",
		  "default" : false
		},
		{
		  "type": "text",
		  "id": "custom_class",
		  "label": "Custom Class",
		  "default": "nav_style04"
		},
		{
		  "type": "text",
		  "id": "custom_css_inline",
		  "label": "Custom CSS Inline Style",
		  "info": "padding: 20px; margin: 30px;"
		},
		{
		  "type": "color",
		  "id": "block_background_color",
		  "label": "Block Background Color"
		},
		{
		  "type": "image_picker",
		  "id": "block_background_image",
		  "label": "Block Background Image"
		},
		{
		  "type": "text",
		  "id": "block_background_image_option",
		  "label": "Block Background Image Option",
		  "info": "Default: [0 0 no-repeat fixed]"
		},
		{
		  "type": "checkbox",
		  "id": "enable_background_image_fullwidth",
		  "label": "Display Background Full Width",
		  "default" : true
		}
	],
	"blocks": [
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "text",
					"id": "block_custom_class",
					"label": "Custom Class",
					"default": "col-sm-12",
					"info": "Used for container widths [ex: col-sm-1, col-sm-2, ..., col-sm-12]"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "image_url",
					"label": "Image URL"
				}
				
			]
		},
		{
			"type": "html",
			"name": "HTML",
			"settings": [
				{
					"type": "text",
					"id": "block_custom_class",
					"label": "Custom Class",
					"default": "col-sm-12",
					"info": "Used for container widths [ex: col-sm-1, col-sm-2, ..., col-sm-12]"
				},
				{
					"type": "html",
					"id": "html_content",
					"label": "Content"
				},
				{
					"type": "select",
					"id": "html_alignment",
					"label": "HTML alignment",
					"options": [
						{ "value": "left", "label": "Left"},
						{ "value": "right", "label": "Right"},
						{ "value": "center", "label": "Center"}
					],
					"default" : "left"
				}
			]
		},
		{	
			"type": "twitter",
			"name": "Twitter",
			"settings": [
				{
					"type": "text",
					"id": "block_title",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "block_sub_title",
					"label": "Describe Heading"
				},
				{
					"type": "text",
					"id": "block_custom_class",
					"label": "Twitter - Custom Class",
					"default": "col-sm-12",
					"info": "Used for container widths [ex: col-sm-1, col-sm-2, ..., col-sm-12]"
				},
				{
				  "type": "url",
				  "id": "twitter_account_link",
				  "label": "Twitter Account URL"
				},
				{
				   "type":      "text",
				   "id":        "twitter_width",
				   "label":     "Width",
				   "default" :  "300"
				},
				{
				   "type":      "text",
				   "id":        "twitter_height",
				   "label":     "Height",
				   "default": 	"300"
				}
			]
		},
		{	
			"type": "facebook",
			"name": "Facebook",
			"settings": [
				{
					"type": "text",
					"id": "block_title",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "block_sub_title",
					"label": "Describe Heading"
				},
				{
					"type": "text",
					"id": "block_custom_class",
					"label": "Facebook - Custom Class",
					"default": "col-sm-12",
					"info": "Used for container widths [ex: col-sm-1, col-sm-2, ..., col-sm-12]"
				},
				{
				  "type": "url",
				  "id": "facebook_account_link",
				  "label": "Facebook Account URL"
				},
				{
				   "type":      "text",
				   "id":        "facebook_width",
				   "label":     "Width",
				   "default" :  "300"
				},
				{
				   "type":      "text",
				   "id":        "facebook_height",
				   "label":     "Height",
				   "default": 	"300"
				}
			]
		},
		{	
			"type": "instagram",
			"name": "Instagram",
			"settings": [
				{
					"type": "text",
					"id": "block_title",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "block_sub_title",
					"label": "Describe Heading"
				},
				{
					"type": "text",
					"id": "block_custom_class",
					"label": "Instagram - Custom Class",
					"default": "col-sm-12",
					"info": "Used for container widths [ex: col-sm-1, col-sm-2, ..., col-sm-12]"
				},
				{
				  "type": "text",
				  "id": "ins_access_token",
				  "label": "Access Token",
				  "info" : "Please login to your Instagram account. Then go to [http://instagram.pixelunion.net](http:\/\/instagram.pixelunion.net) to get access token.",
				  "default" : "3893338542.38fb276.e8dbfaac57214bf69c0439027ee39d85"
				},
			{
			  "type": "checkbox",
			  "id": "enable_list_photo",
			  "label": "Replace Instagram Photo By List Photo",
			  "default": true
			},
			{
			  "type": "textarea",
			  "id": "ins_list_photo",
			  "label": "List Photo Instagram",
			  "default": "\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins9.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSj-PxlyRx\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins8.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjzb3FinK\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins7.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjsoZlJ2b\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins6.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjpjLlvui\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins5.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjkmdlOto\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins4.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjiGIF6Lc\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins3.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjdXHF3_i\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins2.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjOL4Fa3X\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins1.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjMhDFfPV\/;",
			  "info" : "Syntax: \<img_url\>:#\<page_url\>;"
			},
				{
					"type" : "header",
					"content" : "-- Setting Slider --"
				},
				{
				   "type": "select",
				   "id": "show_slider",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label": "Show As Slider",
				   "default" : "1"
				},
				{
				   "type":      "text",
				   "id":        "products_count",
				   "label":     "Number of Instagram to Display",
				   "default" : "10"
				},
				{
				   "type":      "text",
				   "id":        "items_slider",
				   "label":     "Instagram Items",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1900",
				   "label":     "Desktop 1900 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1600",
				   "label":     "Desktop 1600 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1440",
				   "label":     "Desktop 1440 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_1280",
				   "label":     "Desktop 1280 view",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_980",
				   "label":     "Desktop Small View",
				   "default": 	"4"
				},
				{
				   "type":      "text",
				   "id":        "items_768",
				   "label":     "Tablet Lanscape View",
				   "default": 	"5"
				},
				{
				   "type":      "text",
				   "id":        "items_480",
				   "label":     "Tablet Portrait View",
				   "default": 	"4"
				},
				{
				   "type":      "text",
				   "id":        "items_320",
				   "label":     "Mobile Lanscape View",
				   "default": 	"3"
				},
				{
				   "type":      "text",
				   "id":        "items_0",
				   "label":     "Mobile Portrait View",
				   "default": 	"1"
				},
				{
				  "type": "range",
				  "id": "total_rows",
				  "label": "Total Rows",
				  "min": 1,
				  "max": 6,
				  "step": 1,
				  "default": 2
				},
				{
				   "type":      "text",
				   "id":        "items_margin",
				   "label":     "Items Margin",
				   "default": "10"
				},
				{
				   "type":      "select",
				   "id":        "slider_dots",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label":     "Show Slider Dots",
				   "default" : "0"
				},
				{
				   "type":      "select",
				   "id":        "slider_nav",
				   "options": [
					  { "value": "0", "label": "No"},
					  { "value": "1", "label": "Yes"}
				   ],
				   "label":     "Show Slider Arrows",
				   "default" : "1"
				}
				
			]
		}
	],
	"presets": [
    {
      "name": "Home Instagram Style 03",
      "category": "Codazon Instagram",
      "settings": {
        "title": "Home Instagram Style 03"
      },
	  "blocks": [
		{
			"type" : "instagram",
			"settings": {
				"block_custom_class": "col-12 col-md-12 col-lg-4 col-xl-6",
				"block_title" : "#Follow us on Instagram",
				"block_sub_title" : "This is your UO: your favourite looks, spaces, music and more. Share your our pics for a change to be featured"
			}
		},
		{
			"type" : "twitter",
			"settings": {
				"block_custom_class": "col-12 col-md-6 col-lg-4 col-xl-3",
				"block_title" : "Twitter",
				"twitter_account_link" : "http://twitter.com/twitter"
			}
		},
		{
			"type" : "facebook",
			"settings": {
				"block_custom_class": "col-12 col-md-6 col-lg-4 col-xl-3",
				"block_title" : "Facebook",
				"facebook_account_link" : "https://www.facebook.com/shopify/"
			}
		}
	  ]
    }
  ]
}
{% endschema %}
