{%- assign title_text_align = section.settings.title_text_align -%}
{%- assign enable_full_container = section.settings.enable_full_container -%}
{%- assign custom_class = section.settings.custom_class -%}
{%- assign custom_css_inline = section.settings.custom_css_inline -%}
{%- assign block_background_color = section.settings.block_background_color -%}
{%- assign block_background_image = section.settings.block_background_image -%}
{%- assign block_background_image_option = section.settings.block_background_image_option -%}
{%- assign enable_background_image_fullwidth = section.settings.enable_background_image_fullwidth -%}
{%- assign products_count = '8' -%}
{%- unless section.settings.products_count == blank -%}
	{%- assign products_count = section.settings.products_count -%}
{%- endunless -%}
{%- assign items_slider = '4' -%}
{%- unless section.settings.items_slider == blank -%}
	{%- assign items_slider = section.settings.items_slider -%}
{%- endunless -%}
{%- assign items_1900 = '4' -%}
{%- unless section.settings.items_1900 == blank -%}
	{%- assign items_1900 = section.settings.items_1900 -%}
{%- endunless -%}
{%- assign items_1600 = '4' -%}
{%- unless section.settings.items_1600 == blank -%}
	{%- assign items_1600 = section.settings.items_1600 -%}
{%- endunless -%}
{%- assign items_1440 = '4' -%}
{%- unless section.settings.items_1440 == blank -%}
	{%- assign items_1440 = section.settings.items_1440 -%}
{%- endunless -%}
{%- assign items_1280 = '4' -%}
{%- unless section.settings.items_1280 == blank -%}
	{%- assign items_1280 = section.settings.items_1280 -%}
{%- endunless -%}
{%- assign items_980 = '3' -%}
{%- unless section.settings.items_980 == blank -%}
	{%- assign items_980 = section.settings.items_980 -%}
{%- endunless -%}
{%- assign items_768 = '2' -%}
{%- unless section.settings.items_768 == blank -%}
	{%- assign items_768 = section.settings.items_768 -%}
{%- endunless -%}
{%- assign items_480 = '2' -%}
{%- unless section.settings.items_480 == blank -%}
	{%- assign items_480 = section.settings.items_480 -%}
{%- endunless -%}
{%- assign items_320 = '2' -%}
{%- unless section.settings.items_320 == blank -%}
	{%- assign items_320 = section.settings.items_320 -%}
{%- endunless -%}
{%- assign items_0 = '2' -%}
{%- unless section.settings.items_0 == blank -%}
	{%- assign items_0 = section.settings.items_0 -%}
{%- endunless -%}
{%- assign items_margin = '20' -%}
{%- unless section.settings.items_margin == blank -%}
	{%- assign items_margin = section.settings.items_margin -%}
{%- endunless -%}
{%- assign slider_stage_padding = '50' -%}
{% unless section.settings.slider_stage_padding == blank %}
	{%- assign slider_stage_padding = section.settings.slider_stage_padding -%}
{% endunless %}
{%- assign show_slider = section.settings.show_slider -%}
{%- assign slider_dots = section.settings.slider_dots -%}
{%- assign slider_nav = section.settings.slider_nav -%}
{%- assign total_rows = section.settings.total_rows -%}
{%- assign slider_loop = section.settings.slider_loop -%}
{%- assign slider_center = section.settings.slider_center -%}
{%- assign ins_access_token = section.settings.ins_access_token -%}
{%- assign ins_list_photo = section.settings.ins_list_photo -%}
{%- assign enable_list_photo = section.settings.enable_list_photo -%}
{%- assign listPhoto = ins_list_photo | split: ';' -%}
{%- if enable_list_photo -%}
	{%- assign ins_access_token = '' -%}
{%- endif -%}
{%- capture data-instagramphotos -%}
	{"ins_accesstoken": "{{ins_access_token}}", "ins_count" : {{products_count}}, "show_slider" : {{show_slider}}, "total_rows": {{total_rows}}, "items": {{items_slider}}, "items_1900": {{items_1900}}, "items_1600": {{items_1600}}, "items_1440": {{items_1440}}, "items_1280": {{items_1280}}, "items_980": {{items_980}}, "items_768": {{items_768}}, "items_480": {{items_480}}, "items_320": {{items_320}}, "items_0": {{items_0}}, "margin": {{items_margin}}, "nav": {{slider_nav}}, "dots": {{slider_dots}}, "center": {{slider_center}}, "loop": {{slider_loop}}, "stagePadding": {{slider_stage_padding}}, "rtl": {{settings.enable_rtl_layout}}, "id": {{section.id}}}
{%- endcapture -%}
<div data-section-id="{{ section.id }}" data-section-type="home-instagram-section" id="{{ section.id }}"> 
	<div class="cdz-home-block home-instagram-style01 {% unless custom_class == blank %}{{custom_class}}{% endunless %}" style="{% if enable_background_image_fullwidth %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
		<div class="container{% if enable_full_container %}-fluid{% endif %}">
			<div class="home-block" style="{% if enable_background_image_fullwidth == false %}{% unless block_background_color == blank %}background-color: {{block_background_color}};{% endunless %}{% unless block_background_image == blank %}background: {{block_background_color}} url({% comment ls-rpl %}{{block_background_image | img_url: 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_background_image, img_url: 'master' -%}{%- endcapture -%}{{LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}) {{block_background_image_option}};{% endunless%}{{custom_css_inline}}{% endif %}">
				{% unless section.settings.title_block == blank and section.settings.sub_title == blank %}
					<div class="cdz-block-title block-title-{{title_text_align}}">
						<p class="b-title h2"><span>{{ section.settings.title_block | escape }}</span></p>
						<p class="title-desc"><span>{{ section.settings.sub_title | escape }}</span></p>
					</div>
				{% endunless %}
				<div class="block-wrapper instagram-wrapper" {% if show_slider ==  '1' %} data-cdzwidget = '{"codazon.cdzInstagram": {{data-instagramphotos}}}' {% else %} data-cdzwidget = '{"codazon.cdzInstagram": {"ins_accesstoken": "{{ins_access_token}}", "ins_count" : {{products_count}}, "show_slider" : {{show_slider}}, "id": {{section.id}}}}' {% endif %} data-role='cdz-instagram'>
						<div class="cdz-block-content style-{{section.id}}">
							{% include 'grid_style' with id: section.id, show_slider, items_1900, items_1600, items_1440, items_1280, items_980, items_768, items_480, items_320, items_0, items_margin %}
							{%- if enable_list_photo -%}
								<div class="instagram-slider instagram-static-photos {% if show_slider ==  '0' %} no_slider flex-grid{% elsif show_slider ==  '1' %} owl-carousel{% endif %}" >
									{%- for item_ins in listPhoto limit:products_count -%}
									{%- assign ins_img = item_ins | split: ':#' -%}
									<div class="photo-item item"><a class="photo-item-link" href="{{ins_img[1]}}" target="_blank">
										<img class="img-responsive lazyload" 
											    data-src="{{ins_img[0]}}"
											    data-sizes="auto">
									</a></div>
									{%- endfor -%}
								</div>
								{%- else -%}
									<div class="instagram-slider instagram-photos {% if show_slider ==  '0' %} no_slider flex-grid{% elsif 	show_slider ==  '1' %} owl-carousel{% endif %}" >
									</div>
							{%- endif -%}
						</div>							
				</div>
				<script id="instagram-tmpl-{{section.id}}" type="text/tmpl-script">
					<% _.each(instagram, function(element, index) { %>
						<% if (total_rows > 1 && show_slider == 1) { %>
							<% if ((index + 1) % total_rows == 1) { %>
								<div class="group__item items">
							<% } %>
						<% } %>
						<div class="photo-item item"><a class="photo-item-link" href="<%- element.link %>" target="_blank"><img class="img-responsive lazyload" data-src="<%- element.images.low_resolution.url%>"></a></div>
						<% if (total_rows > 1 && show_slider == 1) { %>
							<% if ((index + 1) % total_rows == 0 || index == instagram.length) { %>
								</div>
							<% } %>
						<% } %>
					<% }); %>
				</script>
			</div>
		</div>
	</div>
</div>
{% schema %}
{
	"name": "Home Instagram Style 01",
    "class": "index-section home-instagram-style01",
    "settings": [
		{
		  "type": "text",
		  "id": "title",
		  "label": "Heading Section",
		  "default": "Home Instagram Style 01"
		},
		{
		  "type": "text",
		  "id": "title_block",
		  "label": "Heading Instagram"
		},
		{
		  "type": "textarea",
		  "id": "sub_title",
		  "label": "Describe Heading"
		},
		{
			"type": "select",
			"id": "title_text_align",
			"label": "Heading Alignment",
			"options": [
				{ "value": "left", "label": "Left"},
				{ "value": "right", "label": "Right"},
				{ "value": "center", "label": "Center"}
			],
			"default" : "center"
		},
		{
		  "type": "checkbox",
		  "id": "enable_full_container",
		  "label": "Enable Full Container Block",
		  "default" : true
		},
		{
		  "type": "text",
		  "id": "custom_class",
		  "label": "Custom Class",
		  "default": "nav_style01"
		},
		{
		  "type": "text",
		  "id": "custom_css_inline",
		  "label": "Custom CSS Inline Style",
		  "info": "padding: 20px; margin: 30px;"
		},
		{
		  "type": "color",
		  "id": "block_background_color",
		  "label": "Block Background Color"
		},
		{
		  "type": "image_picker",
		  "id": "block_background_image",
		  "label": "Block Background Image"
		},
		{
		  "type": "text",
		  "id": "block_background_image_option",
		  "label": "Block Background Image Option",
		  "info": "Default: [0 0 no-repeat fixed]"
		},
		{
		  "type": "checkbox",
		  "id": "enable_background_image_fullwidth",
		  "label": "Display Background Full Width",
		  "default" : true
		},
		{
			"type" : "header",
			"content" : "-- Setting Instagram --"
		},
		{
		  "type": "text",
		  "id": "ins_access_token",
		  "label": "Access Token",
		  "info" : "Please login to your Instagram account. Then go to [http://instagram.pixelunion.net](http:\/\/instagram.pixelunion.net) to get access token.",
		  "default" : "3893338542.38fb276.e8dbfaac57214bf69c0439027ee39d85"
		},
			{
			  "type": "checkbox",
			  "id": "enable_list_photo",
			  "label": "Replace Instagram Photo By List Photo",
			  "default": true
			},
			{
			  "type": "textarea",
			  "id": "ins_list_photo",
			  "label": "List Photo Instagram",
			  "default": "\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins9.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSj-PxlyRx\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins8.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjzb3FinK\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins7.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjsoZlJ2b\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins6.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjpjLlvui\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins5.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjkmdlOto\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins4.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjiGIF6Lc\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins3.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjdXHF3_i\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins2.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjOL4Fa3X\/;\/\/cdn.shopify.com\/s\/files\/1\/0192\/1181\/2928\/files\/sport-ins1.jpg?92332:#https:\/\/www.instagram.com\/p\/BgSjMhDFfPV\/;",
			  "info" : "Syntax: \<img_url\>:#\<page_url\>;"
			},
		{
			"type" : "header",
			"content" : "-- Setting Slider --"
		},
		{
		   "type": "select",
		   "id": "show_slider",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label": "Show As Slider",
		   "default" : "1"
		},
		{
		   "type":      "text",
		   "id":        "products_count",
		   "label":     "Number of Instagram to Display",
		   "default" : "16"
		},
		{
		   "type":      "text",
		   "id":        "items_slider",
		   "label":     "Instagram Items",
		   "default": 	"9"
		},
		{
		   "type":      "text",
		   "id":        "items_1900",
		   "label":     "Desktop 1900 view",
		   "default": 	"11"
		},
		{
		   "type":      "text",
		   "id":        "items_1600",
		   "label":     "Desktop 1600 view",
		   "default": 	"11"
		},
		{
		   "type":      "text",
		   "id":        "items_1440",
		   "label":     "Desktop 1440 view",
		   "default": 	"10"
		},
		{
		   "type":      "text",
		   "id":        "items_1280",
		   "label":     "Desktop 1280 view",
		   "default": 	"9"
		},
		{
		   "type":      "text",
		   "id":        "items_980",
		   "label":     "Desktop Small View",
		   "default": 	"8"
		},
		{
		   "type":      "text",
		   "id":        "items_768",
		   "label":     "Tablet Lanscape View",
		   "default": 	"6"
		},
		{
		   "type":      "text",
		   "id":        "items_480",
		   "label":     "Tablet Portrait View",
		   "default": 	"5"
		},
		{
		   "type":      "text",
		   "id":        "items_320",
		   "label":     "Mobile Lanscape View",
		   "default": 	"3"
		},
		{
		   "type":      "text",
		   "id":        "items_0",
		   "label":     "Mobile Portrait View",
		   "default": 	"3"
		},
		{
		  "type": "range",
		  "id": "total_rows",
		  "label": "Total Rows",
		  "min": 1,
		  "max": 6,
		  "step": 1,
		  "default": 1
		},
		{
		   "type":      "text",
		   "id":        "items_margin",
		   "label":     "Items Margin",
		   "default": "3"
		},
		{
		   "type":      "select",
		   "id":        "slider_dots",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label":     "Show Slider Dots",
		   "default" : "0"
		},
		{
		   "type":      "select",
		   "id":        "slider_nav",
		   "options": [
			  { "value": "0", "label": "No"},
			  { "value": "1", "label": "Yes"}
		   ],
		   "label":     "Show Slider Arrows",
		   "default" : "1"
		},
		{
		   "type":      "select",
		   "id":        "slider_center",
		   "options": [
			  { "value": "false", "label": "No"},
			  { "value": "true", "label": "Yes"}
		   ],
		   "label":     "Show Slider Item Center",
		   "default" : "true"
		},
		{
		   "type":      "select",
		   "id":        "slider_loop",
		   "options": [
			  { "value": "false", "label": "No"},
			  { "value": "true", "label": "Yes"}
		   ],
		   "label":     "Show Slider Loop",
		   "default" : "true"
		},
		{
		   "type":      "text",
		   "id":        "slider_stage_padding",
		   "label":     "Slider Stage Padding",
		   "default": "50"
		}
	],
	"presets": [
		{
		  "name": "Home Instagram Style 01",
		  "category": "Codazon Instagram"
		}
	]
}
{% endschema %}
