{%- assign newsletter_image = section.settings.image -%}
{%- assign newsletter_enable_image = section.settings.enable_image -%}
{%- assign enable_social_link = section.settings.enable_social_link -%}
{%- assign delay_time = section.settings.delay_time -%}
{%- assign frequency_time = section.settings.frequency_time -%}
{%- assign newsletter_mailchimp = section.settings.mailchimp -%}
{%- assign newsletter_mailchimp_link = section.settings.mailchimp_link -%}

{%- if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_google_plus_link != blank or settings.social_instagram_link != blank or settings.social_snapchat_link != blank or settings.social_tumblr_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_fancy_link != blank or settings.social_rss_link != blank -%}
  {%- assign show_social_icons = true -%}
  {%- else -%}
  {%- assign show_social_icons = false -%}
{%- endif -%}
<div data-role="cdz-popup-section" class="cdz-popup popup-newsletter" id="popup-newsletter" data-cdzwidget='{"codazon.cdzPopUp" : {"overrideOthers" : "false", "section" : "newsletter"}}'>
	<div class="newsletter-wrapper" data-cdzwidget='{"codazon.newsletterPopup" : {"cookieName" : "newsletter", "delay" : "{{delay_time}}", "frequency" : "{{frequency_time}}"}}'>
		<div class="newsletter-container row">
			{%- if newsletter_enable_image -%}
				<div class="col-sm-6">
					{%- if newsletter_image != blank -%}
						{% comment ls-rpl %}{%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
						<!--<img class="newsletter__image lazyload{% unless forloop.first == true %} lazypreload{% endunless %}"
						src="{% comment ls-rpl %}{{ section.settings.image | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: section.settings.image, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
						data-src="{{ img_url }}"
						data-widths="[180, 360, 470, 600, 770, 970, 1060, 1280, 1512, 1728, 2048]"
						data-aspectratio="{{ section.settings.image.aspect_ratio }}"
						data-sizes="auto">-->
						<img class="newsletter__image responsive-image__image lazyload"
				   		src="{{ 'loading-image.gif' | asset_url }}"
				    	data-src="{{ img_url }}"
					    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
					    data-sizes="auto">
					{%- else -%}
						<span>
							{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
						</span>
					{%- endif -%}
				</div>
			{%- endif -%}
			<div class="{% if newsletter_enable_image %} col-sm-6 {% else %} col-sm-12 {% endif %}">
			  <div class="popup-content">
                <div class="popup-title">
                  <h3>{{ section.settings.title_newsletter }}</h1>
                  <h5 class="popup-content-desc">{{ section.settings.subtitle_newsletter }}</h5>
                </div>
				{% include 'newsletter-form' %}
				<p>{{ section.settings.label_newsletter }}</p>
			  </div>
              {%- if enable_social_link and show_social_icons == true -%}
              <div class="popup-bottom text-center">
                {% include 'social-links' %}
              </div>
              {%- endif -%}
          </div>
		</div>
	</div>
</div>
{%- style -%}
    .newsletter__image{
		width: 100%;
		max-width: 100%;
		margin: 0 auto;
		display: block;
		object-fit: cover;
	}
{%- endstyle -%}

{% schema %}
{
  "name": {
    "de": "Newsletter PopUp",
    "en": "Newsletter PopUp"
  },
  "settings": [
	{
	  "type": "text",
	  "id": "delay_time",
	  "default": "0",
	  "label": {
		"de": "Überschrift",
		"en": "Delay time display Newsletter PopUp (seconds)",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  }
	},
	{
	  "type": "text",
	  "id": "frequency_time",
	  "default": "0",
	  "label": {
		"de": "Überschrift",
		"en": "Frequency time display Newsletter PopUp (minutes)",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  }
	},
    {
		"type": "checkbox",
		"id": "enable_image",
		"label": "Enable Newsletter Image",
		"default": true
    },
	{
	  "type": "image_picker",
	  "id": "image",
	  "label": {
		"de": "Foto",
		"en": "Image",
		"es": "Imagen",
		"fr": "Image",
		"it": "Immagine",
		"ja": "画像",
		"pt-BR": "Imagem"
	  }
	},
	{
	  "type": "text",
	  "id": "title_newsletter",
	  "default": "Sign up for our Newsletter",
	  "label": {
		"de": "Überschrift",
		"en": "Title Newsletter",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  }
	}, 
	{
	  "type": "text",
	  "id": "subtitle_newsletter",
	  "default": "Be the first to learn about our latest trends and get exclusive offers",
	  "label": {
		"de": "Überschrift",
		"en": "Subtitle Newsletter",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  }
	},
	{
	  "type": "text",
	  "id": "label_newsletter",
	  "default": "1 UK only; 2. Offar expiras 23:59(GMT) 10/02/16; 3.",
	  "label": {
		"de": "Überschrift",
		"en": "Text Newsletter",
		"es": "Título",
		"fr": "En-tête",
		"it": "Heading",
		"ja": "見出し",
		"pt-BR": "Título"
	  }
	},
    {
    "type": "checkbox",
    "id": "mailchimp",
    "label": "Enable Newsletter Mailchimp",
    "default": true
    },
    {
    "type": "text",
    "label": "Mailchimp link",
    "id": "mailchimp_link",
    "info": "Input your mailchimp link to using Mailchimp"
    },
    {
    "type": "checkbox",
    "id": "enable_social_link",
    "label": "Show social icons",
    "default": true
    }
  ]
}
{% endschema %}
