{% assign enable_hover_thumbnail = settings.search_enable_hover_thumbnail %}
{% assign enable_product_label = settings.search_enable_product_label %}
{% assign enable_product_name = settings.search_enable_product_name %}
{% assign enable_price = settings.search_enable_price %}
{% assign enable_sku = settings.search_enable_sku %}
{% assign enable_vendor = settings.search_enable_vendor %}
{% assign enable_addto_cart = settings.search_enable_addto_cart %}
{% assign enable_quickshop = settings.search_enable_quickshop %}
{% assign enable_addto_compare = settings.search_enable_addto_compare %}
{% assign enable_addto_wishlist = settings.search_enable_addto_wishlist %}
{% assign enable_review = settings.search_enable_review %}
{% assign enable_quantity_product = settings.search_enable_quantity_product %}
{% assign enable_short_description = settings.search_enable_short_description %}
{% assign enable_variant_product = settings.search_enable_variant_product %}
{%- assign show_product_text_align = settings.search_text_align -%}

{% assign thumbnail_width = '320' %}
{% unless settings.search_thumbnail_width == blank %}
	{% assign thumbnail_width = settings.search_thumbnail_width %}
{% endunless %}
{% assign thumbnail_height = '320' %}
{% unless settings.search_thumbnail_height == blank %}
	{% assign thumbnail_height = settings.search_thumbnail_height %}
{% endunless %}
{% assign short_description_length = '150' %}
{% unless settings.search_short_description_length == blank %}
	{% assign short_description_length = settings.search_short_description_length %}
{% endunless %}

{%- assign product_item_per_page = settings.search_product_item_per_page -%}
{%- assign enable_ajax_loading = settings.search_enable_ajax_loading -%}
{%- assign type_ajaxloading = settings.search_type_ajaxloading -%}

{%- assign styles_product_grid = settings.search_styles_product_grid -%}
{%- assign column_layout = settings.search_column_layout -%}
{%- assign column_layout_tablet = settings.search_column_layout_tablet -%}
{%- assign column_layout_mb = settings.search_column_layout_mb -%}

{% paginate search.results by product_item_per_page %}
<div id="SearchSection" class="search-template" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="container">
   <div class="row">
     <div class="col-12">
      	<div class="section-header section-header--breadcrumb">
        {% include 'breadcrumb' %}
       </div>
	 </div>
	

	<div class="col-12">
		{% if search.performed %}
		<h1 class="h2 text-center  mb-4" {{ search.results_count }}>
			{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
		</h1>
		<div class="main clearfix" id="collection-filter">
          {% if search.results_count > 1 %}
		  <div class="toolbar">
            {% if settings.search_enable_column_layout %}
              <div class="collection-layout d-none d-md-block" data-cdzwidget='{"codazon.cdzCollectionLayout" : {"column_pc" : "{{column_layout}}","column_tablet" : "{{column_layout_tablet}}","column_mb" : "{{column_layout_mb}}"}}'>
                <span class="collection-layout-title">{{ 'collections.general.columns' | t }}</span>
                <a class="collection-layout-button pointer" data-collection-layout="list">1</a>
                <a class="collection-layout-button pointer" data-collection-layout="grid-2">2</a>
                <a class="collection-layout-button pointer" data-collection-layout="grid-3">3</a>
                <a class="collection-layout-button pointer active" data-collection-layout="grid-4">4</a>
                <a class="collection-layout-button pointer hide-for-custom" data-collection-layout="grid-5">5</a>
                <a class="collection-layout-button pointer hide-for-custom" data-collection-layout="grid-6">6</a>
              </div>
            {% endif %}
          </div>
		  {% endif %}
        <div class="products items product-items clearfix product-grid-style-{{styles_product_grid}}" data-column="{{column_layout}}">
			<ul class="flex-grid">
			  {% for product in search.results %}
				{%- comment %}<locksmith:c7f5>{% endcomment -%}
				  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: search, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
				{%- comment %}</locksmith:c7f5>{% endcomment -%}
				{% if product.object_type == 'article' %}
				{% comment %}
				  'item' is an article
				  All article object properties can be accessed.
				{% endcomment %}

				{% if product.image %}
				  <div class="product-miniature">
					  <div class="product-item">
						<div class="product-item-top">
							<a href="{{ product.url }}" title="{{ product.title | escape }}">
							  {% comment ls-rpl %}{{ product | img_url: 'large' | img_tag: product.title }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL | img_tag: product.title }}{% comment /ls-rpl %}{% endcomment %}
							</a>
						</div>
						<div class="product-item-bottom">
							<div class="product name product-item-name">{{ product.title | link_to: product.url }}</div>
							<div class="product description product-item-description">{{ product.content | strip_html | truncatewords: 30 }}</div>
						</div>
					  </div>
				  </div>
				{% endif %}

			  {% elsif product.object_type == 'page' %}
				{% comment %}
				  'item' is a page.
				  All page object properties can be accessed.
				{% endcomment %}

			  {% else %}
				{% comment %}
				  'item' is a product.
				  All product object properties can be accessed.
				{% endcomment %}
				{%- case styles_product_grid -%}
				  {%- when '01' -%}
					{% include 'product-grid-style-01' %}
				  {%- when '02' -%}
					{% include 'product-grid-style-02' %}
				  {%- when '03' -%}
					{% include 'product-grid-style-03' %}
				  {%- when '04' -%}
					{% include 'product-grid-style-04' %}
				  {%- when '05' -%}
					{% include 'product-grid-style-05' %}
				  {%- when '06' -%}
					{% include 'product-grid-style-06' %}
				  {%- when '07' -%}
					{% include 'product-grid-style-07' %}
				  {%- when '08' -%}
					{% include 'product-grid-style-08' %}
				  {%- when '09' -%}
					{% include 'product-grid-style-09' %}
				  {%- when '10' -%}
					{% include 'product-grid-style-10' %}
				  {%- when '11' -%}
					{% include 'product-grid-style-11' %}
				  {%- when '12' -%}
					{% include 'product-grid-style-12' %}
				  {%- when '13' -%}
					{% include 'product-grid-style-13' %}
				  {%- when '14' -%}
					{% include 'product-grid-style-14' %}
				{%- endcase -%}	
			{% endif %}
		  {% endfor %}
			</ul>
		</div>
		
		{% if paginate.pages > 1 %}
          {% include 'pagination-custom' %}
        {% endif %}
		
		</div>
		{% else %}
		<div class="container">
			<p  class="h2 text-center mb-5">{{ 'general.search.results' | t }}</p>
		</div>
		{% endif %}
		{% if search.performed and search.results_count == 0 %}
			<div class="container">
			  <p class="h4 text-center mb-5">{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
			</div>
		{% endif %}
	</div>
  </div>
  </div>
</div>
{% endpaginate %}