{%- assign slider_dots_style = section.settings.slider_dots_style -%}
{%- assign slider_arrow_style = section.settings.slider_arrow_style -%}
{% assign slider_image_ratio = section.settings.slider_image_ratio %}
{% assign slider_image_ratio_mb = section.settings.slider_image_ratio_mb %}
{% assign slider_width = section.settings.slider_width %}
{%- assign cdz_megamenu_vertical_identifier = section.settings.menu_vertical -%}
{% assign custom_class = section.settings.custom_class %}

 {%- style -%} 
    .slideshow__slide {position: relative;overflow: hidden;}
	.cdz-slideshow-outer{position: relative;display: block;overflow: hidden;border-radius: {{section.settings.custom_radius}};}
	.cdz-slideshow-inner{position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
	.slideshow {position: relative;  z-index: 1;}
	.icon-loading-wrapper {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
	.slick-slide{float: left; height: 100%;min-height: 1px;display: none;}
	.slideshow:not(.slick-initialized) .slick-list{display:none;}
	.slick-initialized .slick-slide{display:block;}
	.slick-initialized + .icon-loading-wrapper{opacity: 0;}
	.slideshow-wrapper,.slideshow, .slideshow .slideshow__slide, .slideshow .slick-list, .slideshow .slick-track {height: 100%;}
	.slideshow__image {
		transition: opacity 0.8s cubic-bezier(0.44, 0.13, 0.48, 0.87);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: transparent;
		z-index: 1;
	}
    .slick-track:before, .slick-track:after {
        content: "";
        display: table;
    }
	.slideshow__overlay{position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: #000;}
	.slides__text-content{opacity: 0;}
	.slick-initialized .slideshow__image,.slick-initialized .slides__text-content, .no-js .slideshow__image {opacity: 1;}
	
	.slides__btn {display: inline-block; min-height: 1px; min-width: 200px;}
	.slides__subtitle,.slides__title, .slides__subtext {display: block;line-height:1.55em}
	.slides__text-content .slides__subtext p {font-size: inherit;margin:0;}
	.slides__title{font-size:200%; font-weight:600;}
	@media only screen and (min-width: 768px){
		.slides__text--small{font-size: 150%}
		.slides__text--medium{font-size: 200%}
		.slides__text--large{font-size: 250%}
	}
	@media only screen and (max-width: 767px){
		.slides__text-content .slides__btn{margin-top: 1rem!important;}
		{% unless slider_image_ratio_mb == blank %}
			.cdz-slideshow-outer{ padding-bottom:{{ slider_image_ratio_mb | times: 100}}%!important; }
			.slides__text-content{top:10%;-webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%);}
		{% endunless %}
	}
{%- endstyle -%}

<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="cdz-slideshow-03 {{custom_class}}" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1">
		<div class="cdz-slideshow-wrapper main-slideshow {% if slider_width ==  'box' %} container{% endif %}">
			<div class="row">
				{%- if section.settings.menu_vertical != blank -%}
					<div class="col-sm-3 d-none d-md-block">
					  <div class="slideshow-vertical-menu-wrap">
						<div class="main-content-top-left">
						  <ul class="menu-container groupmenu-drop">
							<li class="header-megamenu-left" data-move-megamenu="{{ cdz_megamenu_vertical_identifier }}"></li>
						  </ul>
						</div>
					  </div>
					</div>
				{%- endif -%}
			<div class="cdz-slideshow main-slideshow-inner {% if section.settings.menu_vertical != blank and section.settings.enable_grid_products %} col-12 col-sm-8 col-md-8 col-lg-8 col-xl-6 xl-no-padding {% elsif section.settings.menu_vertical == blank and section.settings.enable_grid_products == false %} col-sm-12 {% else %} col-sm-9{% endif %}">
				<div class="cdz-slideshow-outer" style="padding-bottom:{{ slider_image_ratio | times: 100}}%;">
					<div class="cdz-slideshow-inner">  
						<div class="slideshow-wrapper slideshow--{{ section.settings.slider_width }} slide-dots-style{{ slider_dots_style }} slide-arrow-style{{ slider_arrow_style }}">
      <div class="slideshow"
           id="Slideshow-{{ section.id }}"
           data-autorotate="{{ section.settings.slider_autorotate }}"
		   data-speed="{{ section.settings.slider_autorotate_rate | times: 1000 }}"
           data-slide-nav-a11y="{{ 'home_page.slideshow.load_slide' | t: slide_number: '[slide_number]' }}">
        {%- for block in section.blocks -%}
          {%- assign block_image = block.settings.image -%}
		  {%- assign block_image_mb = block.settings.image_mb -%}
          {%- assign overlay_opacity = block.settings.overlay_opacity -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }} {{overlay_opacity}}>
            {% if block_image == blank %}
              <div class="slideshow__image js">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% else %}
				<div
                   {% unless block_image.alt == blank %}
                   role="img"
                   aria-label="{% comment ls-rpl %}{{ block_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}"
                   data-alt="{% comment ls-rpl %}{{ block_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}"
                   {% endunless %}
                   class="slideshow__image {% unless block_image_mb == blank %} d-md-block d-none{% endunless %} box ratio-container lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                   data-bg="{% comment ls-rpl %}{{ block_image | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_image, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
                   data-bgset="{% include 'bgset', image: block_image %}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   style="background-position: {{ block.settings.alignment }};
                          background-image: url('{% comment ls-rpl %}{{ block_image | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_image, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}');">
                {% if overlay_opacity != 0 %}<div class="slideshow__overlay" style="opacity:{{ overlay_opacity | divided_by: 100.00 }}"></div>{% endif %}
				</div>
				{% unless block_image_mb == blank %}
				<div
                   {% unless block_image_mb.alt == blank %}
                   role="img"
                   aria-label="{% comment ls-rpl %}{{ block_image_mb.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block_image_mb -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}"
                   data-alt="{% comment ls-rpl %}{{ block_image_mb.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block_image_mb -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}"
                   {% endunless %}
                   class="slideshow__image d-md-none box ratio-container lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                   data-bg="{% comment ls-rpl %}{{ block_image_mb | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_image_mb, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
                   data-bgset="{% include 'bgset', image: block_image_mb %}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   style="background-position: {{ block.settings.alignment }};
                          background-image: url('{% comment ls-rpl %}{{ block_image_mb | img_url: '300x300' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_image_mb, img_url: '300x300' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}');">
                {% if overlay_opacity != 0 %}<div class="slideshow__overlay" style="opacity:{{ overlay_opacity | divided_by: 100.00 }}"></div>{% endif %}
				</div>
			  {% endunless %}
            {% endif %}

            <noscript>
              <div class="slideshow__image"{% if block_image %}{% unless block_image.alt == blank %} role="img" aria-label="{% comment ls-rpl %}{{ block_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: block_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}"{% endunless %} style="background-image: url('{% comment ls-rpl %}{{ block_image | img_url: '2048x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: block_image, img_url: '2048x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                {% if block_image == blank %}
                  <div class="placeholder-background">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            </noscript>
			{%- style -%}
				.slideshow__slide--{{ block.id }} .slides__text-content .slides__title{
				  color: {{ block.settings.color_heading_text }};
				}
				.slideshow__slide--{{ block.id }} .slides__text-content .slides__subtitle{
				  color: {{ block.settings.color_subheading_text }};
				}
				.slideshow__slide--{{ block.id }} .slides__text-content .slides__subtext{
				  color: {{ block.settings.color_sub_text }};
				}
				.slideshow__slide--{{ block.id }} .slides__btn{
				  color: {{ block.settings.color_btn_text }};
				  border: 1px solid {{ block.settings.color_btn_border }};
				  background: {{ block.settings.color_btn_bkg }};
				}
			{%- endstyle -%}
            {%- assign show_link_button = false -%}
            {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
              {%- assign show_link_button = true -%}
            {%- endif -%}
            {%- unless block.settings.slide_heading == blank and show_link_button == false -%}
              <div class="slides__text-content text-{{ block.settings.text_alignment }} slides__text--{{ section.settings.text_size }}">
                <div class="slides-text-content-wrapper text-{{ block.settings.text_alignment }}">
                  {%- unless block.settings.slide_subheading == blank -%}
                    <div class="slides__subtitle">
                      {{ block.settings.slide_subheading | escape }}
                    </div>
                  {%- endunless -%}
				  {%- unless block.settings.slide_heading == blank -%}
                    <div class="slides__title">
                      {{ block.settings.slide_heading | escape }}
                    </div>
                  {%- endunless -%}
				  {%- unless block.settings.slide_sub_text == blank -%}
                    <div class="slides__subtext">
                      {{ block.settings.slide_sub_text }}
                    </div>
                  {%- endunless -%}
                  {%- if show_link_button -%}
                    <a href="{{ block.settings.button_link }}" class="slides__btn btn mt-5">
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            {%- endunless -%}
          </div>
        {%- endfor -%}
      </div>
	  <div class="icon-loading-wrapper"><div class="icon-loading"><span><span><ls-static-799745>Loading...</ls-static-799745></span></span></div></div>
      <div class="slideshow__controls slider__controls-container">
        {%- if section.blocks.size > 1 -%}
          <div class="slideshow__arrows slider-navigation">
            <button class="slideshow__arrow slideshow__arrow-left slider__controls-button slider__controls-button--prev" aria-label="{{ 'home_page.slideshow.previous_slide' | t }}"></button>
            <button class="slideshow__arrow slideshow__arrow-right slider__controls-button slider__controls-button--next" aria-label="{{ 'home_page.slideshow.next_slide' | t }}"></button>
          </div>
          {%- if section.settings.autorotate -%}
            <button type="button" class="slideshow__pause" data-id="{{ section.id }}" aria-live="polite" aria-pressed="false">
				<span class="slideshow__pause-stop icon icon-pause" aria-hidden="true"></span>
				<span class="slideshow__pause-rotate icon icon-play" aria-hidden="true"></span>
            </button>
          {%- endif -%}
        {%- endif -%}
      </div>
						</div>
					</div>
				</div>
			</div>
			{%- if section.settings.enable_grid_products -%}
				<div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-3">
				  <div class="block-wrapper nav_style01">
					{% include 'cdz-grid-products' with block: section %}
				  </div>
				</div>
			{%- endif -%}
			</div>
		</div>
    </div>
	<div class="slideshow__text-wrap slideshow__text-wrap--mobile d-none">
      {% if section.blocks.size > 1 %}
        <div class="slideshow__arrows slideshow__arrows--mobile">
          <button class="slideshow__arrow slideshow__arrow-left" aria-label="{{ 'home_page.slideshow.previous_slide' | t }}"></button>
          <button class="slideshow__arrow slideshow__arrow-right" aria-label="{{ 'home_page.slideshow.next_slide' | t }}"></button>
        </div>
      {% endif %}
    </div>
  {%- endif -%}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": {
    "de": "Slideshow Style 03",
    "en": "Slideshow Style 03",
    "es": "Diapositivas",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "pt-BR": "Apresentação de slides"
  },
  "max_blocks": 6,
  "settings": [
	{
      "type": "text",
      "id" : "menu_vertical",
      "label" : "Menu Left Identifier",
	  "default": "cdzmegamenu03",
	  "info": "Input your [Menu Left Identifier](http://www.codazon.com/document/infinit/shopify/#megamenu)"
    },
	{
	  "type": "select",
      "id": "slider_width",
      "label": {
        "en": "Slide width"
	  },
	  "options": [
        {
          "value": "box",
          "label": {
            "en": "Box"
          }
        },
        {
          "value": "wide",
          "label": {
            "en": "Wide"
          }
        }
		]
	},
	{
	  "type": "text",
	  "id": "slider_image_ratio",
      "label": "Image Aspect Ratio Desktop",
	  "default" : "0.396",
      "info": "[Image Height]/[Image Width]"
	},
	{
	  "type": "text",
	  "id": "slider_image_ratio_mb",
      "label": "Image Aspect Ratio Mobile",
	  "default" : "1",
      "info": "[Image Height]/[Image Width]"
	},
	{
	  "type": "text",
	  "id": "custom_class",
      "label": "Custom Class",
	  "default" : "space-lg"
	},
	{
	  "type": "text",
	  "id": "custom_radius",
      "label": "Border Radius",
	  "default" : "0",
      "info": "5px"
	},
    {
      "type": "checkbox",
      "id": "slider_autorotate",
      "default": false,
      "label": {
        "de": "Auto-rotieren der Slides",
        "en": "Auto-rotate slides",
        "es": "Rotar las diapositivas automáticamente",
        "fr": "Rotation automatique des diapositives",
        "it": "Ruota slide automaticamente",
        "ja": "スライドの自動切り替え",
        "pt-BR": "Girar os slides automaticamente"
      }
    },
    {
      "type": "range",
      "id": "slider_autorotate_rate",
      "label": {
        "de": "Slides überall ändern",
        "en": "Change slides every",
        "es": "Cambiar diapositivas cada",
        "fr": "Changer de diapositive toutes les",
        "it": "Cambia slide ogni",
        "ja": "スライドを変更する間隔",
        "pt-BR": "Mudar os slides a cada"
      },
      "max": 9,
      "min": 3,
      "step": 2,
      "unit": {
        "de": " s",
        "en": " s",
        "es": " s",
        "fr": " s",
        "it": " s",
        "ja": " s",
        "pt-BR": " s"
      },
      "default": 5
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fr": "Taille du texte",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "pt-BR": "Tamanho do texto"
      },
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": {
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "pt-BR": "Pequeno"
          }
        },
        {
          "value": "medium",
          "label": {
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fr": "Moyenne",
            "it": "Medium",
            "ja": "中",
            "pt-BR": "Médio"
          }
        },
        {
          "value": "large",
          "label": {
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "pt-BR": "Grande"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_dots_style",
      "label": "Slider Dots Style",
      "options": [
        {
          "value": "01",
          "label": "Style 1"
        },
        {
          "value": "02",
          "label": "Style 2"
        },
        {
          "value": "03",
          "label": "Style 3"
        },
        {
          "value": "04",
          "label": "Style 4"
        }
      ],
	  "default": "01"
    },
    {
      "type": "select",
      "id": "slider_arrow_style",
      "label": "Slider Arrows Style",
      "options": [
        {
          "value": "01",
          "label": "Style 1"
        },
        {
          "value": "02",
          "label": "Style 2"
        },
		{
          "value": "03",
          "label": "Style 3"
        },
        {
          "value": "04",
          "label": "Style 4"
        },
        {
          "value": "05",
          "label": "Style 5"
        }
      ],
	  "default": "01"
    },
    {
      "type": "header",
      "content": "Grid Products"
    },
    {
      "type": "checkbox",
      "id": "enable_grid_products",
      "label": "Enable Grid Products",
      "default": true
    },
    {
      "type": "text",
      "id": "block_title",
      "label": "Heading",
      "default": "Daily Deal"
    },
    {
      "type": "textarea",
      "id": "block_sub_title",
      "label": "Grid Products - Describe Heading"
    },
    {
      "type": "collection",
      "id": "slider_collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text Alignment",
      "options": [
        { "value": "left", "label": "Left"},
        { "value": "right", "label": "Right"},
        { "value": "center", "label": "Center"}
      ],
      "default" : "center"
    },
    {
      "type": "textarea",
      "id": "class_sameheight",
      "label": "Classes Set The Heights",
      "default" : ".product-item-description,.product-reviews-summary,.product-item-name, .product-options,.product-item-bottom",
      "info": "Set the heights of input elements using classes like '.product-item-description' and '.product-item-name'"
    },
    {
       "type": "select",
       "id": "show_prostyle",
       "options": [
        { "value": "01", "label": "Style 01"},
        { "value": "02", "label": "Style 02"},
        { "value": "03", "label": "Style 03"},
        { "value": "04", "label": "Style 04"},
        { "value": "05", "label": "Style 05"},
        { "value": "06", "label": "Style 06"},
        { "value": "07", "label": "Style 07"},
        { "value": "08", "label": "Style 08"},
        { "value": "09", "label": "Style 09"},
        { "value": "10", "label": "Style 10"},
        { "value": "11", "label": "Style 11"},
        { "value": "12", "label": "Style 12"},
        { "value": "13", "label": "Style 13"},
        { "value": "14", "label": "Style 14"},
        { "value": "15", "label": "Style 15"}
       ],
       "label": "Product Listing Style",
       "default" : "13"
    },
    {
      "type": "select",
      "id": "order_by",
      "label": "Order by",
      "options": [
        { "value": "title", "label": "Name"},
        { "value": "price", "label": "Price"},
        { "value": "published_at", "label": "Publish time"},
        { "value": "id", "label": "Product's ID"}
        ],
      "default" : "id"
    },
    {
      "type": "select",
      "id": "order",
      "label": "Order",
      "options": [
        { "value": "asc", "label": "ASC"},
        { "value": "desc", "label": "DESC"}
        ],
      "default" : "asc"
    },
    {
      "type": "text",
      "id": "thumbnail_width",
      "label": "Thumbnail Width",
      "default" : "280"
    },
    {
      "type": "text",
      "id": "thumbnail_height",
      "label": "Thumbnail Height",
      "default" : "280"
    },
    {
      "type": "checkbox",
      "id": "enable_product_name",
      "label": "Enable Product Name",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_price",
      "label": "Enable Price",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_hover_thumbnail",
      "label": "Enable Hover Thumbnail",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_product_label",
      "label": "Enable Product Label",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_sku",
      "label": "Enable SKU",
      "default" : false
    },
    {
      "type": "checkbox",
      "id": "enable_vendor",
      "label": "Enable Vendor",
      "default" : false
    },
    {
      "type": "checkbox",
      "id": "enable_addto_cart",
      "label": "Enable Add to cart",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_quickshop",
      "label": "Enable Quickshop",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_addto_compare",
      "label": "Enable Add to Compare",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_addto_wishlist",
      "label": "Enable Add to Wishlist",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_review",
      "label": "Enable Review Product",
      "default" : true
    },
    {
      "type": "checkbox",
      "id": "enable_quantity_product",
      "label": "Enable Quantity Product",
      "default" : false
    },
    {
      "type": "checkbox",
      "id": "enable_variant_product",
      "label": "Enable Variant",
      "default" : false
    },
    {
      "type": "checkbox",
      "id": "enable_short_description",
      "label": "Enable Short Description",
      "default" : false
    },
    {
      "type": "text",
      "id": "short_description_length",
      "label": "Description Length",
      "default" : "150"
    },
    {
      "type" : "header",
      "content" : "-- Setting Slide Product --"
    },
    {
       "type": "select",
       "id": "show_slider",
       "options": [
        { "value": "0", "label": "No"},
        { "value": "1", "label": "Yes"}
       ],
       "label": "Show As Slider",
       "default" : "1"
    },
    {
       "type":      "text",
       "id":        "products_count",
       "label":     "Number of Products to Display",
       "default" : "2"
    },
    {
       "type":      "text",
       "id":        "items_slider",
       "label":     "Product Items",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_1900",
       "label":     "Desktop 1900 view",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_1600",
       "label":     "Desktop 1600 view",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_1440",
       "label":     "Desktop 1440 view",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_1280",
       "label":     "Desktop 1280 view",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_980",
       "label":     "Desktop Small View",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_768",
       "label":     "Tablet Lanscape View",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_480",
       "label":     "Tablet Portrait View",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_320",
       "label":     "Mobile Lanscape View",
       "default":   "1"
    },
    {
       "type":      "text",
       "id":        "items_0",
       "label":     "Mobile Portrait View",
       "default":   "1"
    },
    {
      "type": "range",
      "id": "total_rows",
      "label": "Total Rows",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 1
    },
    {
       "type":      "text",
       "id":        "items_margin",
       "label":     "Items Margin",
       "default": "0"
    },
    {
       "type":      "select",
       "id":        "slider_dots",
       "options": [
        { "value": "0", "label": "No"},
        { "value": "1", "label": "Yes"}
       ],
       "label":     "Show Slider Dots",
       "default" : "0"
    },
    {
       "type":      "select",
       "id":        "slider_nav",
       "options": [
        { "value": "0", "label": "No"},
        { "value": "1", "label": "Yes"}
       ],
       "label":     "Show Slider Arrows",
       "default" : "1"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "de": "Folie",
        "en": "Slide",
        "es": "Diapositiva",
        "fr": "Diapositive",
        "it": "Slide",
        "ja": "スライド",
        "pt-BR": "Slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Desktop View"
        },
		{
          "type": "image_picker",
          "id": "image_mb",
          "label": "Image Mobile View"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "de": "Foto-Position",
            "en": "Image position",
            "es": "Posición de la imagen",
            "fr": "Position de l'image",
            "it": "Posizione Immagine",
            "ja": "画像の位置",
            "pt-BR": "Posição da imagem"
          },
          "default": "center center",
          "options": [
            {
              "label": {
                "de": "Oben links",
                "en": "Top left",
                "es": "Superior izquierda",
                "fr": "En haut à gauche",
                "it": "In alto a sinistra",
                "ja": "左上",
                "pt-BR": "Superior esquerdo"
              },
              "value": "left top"
            },
            {
              "label": {
                "de": "Oben Mitte",
                "en": "Top center",
                "es": "Superior al centro",
                "fr": "En haut au centre",
                "it": "In alto al centro",
                "ja": "中央上",
                "pt-BR": "Superior centro"
              },
              "value": "center top"
            },
            {
              "label": {
                "de": "Oben rechts",
                "en": "Top right",
                "es": "Superior derecha",
                "fr": "En haut à droite",
                "it": "In alto a destra",
                "ja": "右上",
                "pt-BR": "Superior direito"
              },
              "value": "right top"
            },
            {
              "label": {
                "de": "Mitte links",
                "en": "Middle left",
                "es": "Al medio a la izquierda",
                "fr": "Au milieu à gauche",
                "it": "Nel mezzo a sinistra",
                "ja": "中央左",
                "pt-BR": "Meio esquerdo"
              },
              "value": "left center"
            },
            {
              "label": {
                "de": "Mitte mittig",
                "en": "Middle center",
                "es": "Al medio al centro",
                "fr": "Centrée au milieu",
                "it": "In mezzo",
                "ja": "中央中",
                "pt-BR": "Meio centro"
              },
              "value": "center center"
            },
            {
              "label": {
                "de": "Mitte rechts",
                "en": "Middle right",
                "es": "Al medio a la derecha",
                "fr": "Au milieu à droite",
                "it": "Nel mezzo a destra",
                "ja": "中央右",
                "pt-BR": "Meio direito"
              },
              "value": "right center"
            },
            {
              "label": {
                "de": "Unten links",
                "en": "Bottom left",
                "es": "Inferior izquierda",
                "fr": "En bas à gauche",
                "it": "In basso a sinistra",
                "ja": "左下",
                "pt-BR": "Inferior esquerdo"
              },
              "value": "left bottom"
            },
            {
              "label": {
                "de": "Unten mittig",
                "en": "Bottom center",
                "es": "Inferior al centro",
                "fr": "En bas au centre",
                "it": "In basso al centro",
                "ja": "中央下",
                "pt-BR": "Inferior centro"
              },
              "value": "center bottom"
            },
            {
              "label": {
                "de": "Unten rechts",
                "en": "Bottom right",
                "es": "Inferior derecha",
                "fr": "En bas à droite",
                "it": "In basso a destra",
                "ja": "右下",
                "pt-BR": "Inferior direito"
              },
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": {
            "de": "Überlagerungsdeckkraft",
            "en": "Overlay opacity",
            "es": "Opacidad superpuesta",
            "fr": "Opacité de la superposition",
            "it": "Opacità della sovrapposizione",
            "ja": "オーバーレイ不透明率",
            "pt-BR": "Opacidade de sobreposição"
          },
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": {
            "de": "%",
            "en": "%",
            "es": "%",
            "fr": "%",
            "it": "%",
            "ja": "%",
            "pt-BR": "%"
          },
          "default": 30
        },
        {
          "type": "header",
          "content": {
            "de": "Textfarbe",
            "en": "Text",
            "es": "texto",
            "fr": "Couleur du texte",
            "it": "Testo",
            "ja": "テキスト",
            "pt-BR": "Texto"
          }
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": {
            "de": "Textausrichtung",
            "en": "Text alignment",
            "es": "Alineación de texto",
            "fr": "Alignement du texte",
            "it": "Allineamento del testo",
            "ja": "テキストアラインメント",
            "pt-BR": "Alinhamento de texto"
          },
          "default": "center",
          "options": [
            {
              "label": {
                "de": "Links",
                "en": "Left",
                "es": "Izquierda",
                "fr": "Gauche",
                "it": "Sinistra",
                "ja": "左",
                "pt-BR": "Esquerda"
              },
              "value": "left"
            },
            {
              "label": {
                "de": "Mitte",
                "en": "Center",
                "es": "Centrar",
                "fr": "Centre",
                "it": "Al centro",
                "ja": "中央",
                "pt-BR": "Centro"
              },
              "value": "center"
            },
            {
              "label": {
                "de": "Rechts",
                "en": "Right",
                "es": "Derecha",
                "fr": "Droite",
                "it": "Destra",
                "ja": "右",
                "pt-BR": "Direita"
              },
              "value": "right"
            }
          ]
        },
		{
          "type": "text",
          "id": "slide_heading",
          "default": "Heading text",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "color_heading_text",
          "label": "Color Heading text",
          "default": "#ffffff"
        },
		{
          "type": "text",
          "id": "slide_subheading",
          "default": "Tell your brand's story through images",
          "label": "Subheading"
        },
        {
          "type": "color",
          "id": "color_subheading_text",
          "label": "Color Subheading text",
          "default": "#ffffff"
        },
        {
          "type": "richtext",
          "id": "slide_sub_text",
          "default": "<p>Select text that relates to your style and story.</p>",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color_sub_text",
          "label": "Color Text",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "de": "Schaltflächenbezeichnung",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンラベル",
            "pt-BR": "Etiqueta do botão"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "de": "Schaltflächenlink",
            "en": "Button link",
            "es": "Enlace de botón",
            "fr": "Lien du bouton",
            "it": "Link pulsante",
            "ja": "ボタンリンク",
            "pt-BR": "Link do botão"
          }
        },
        {
          "type": "color",
          "id": "color_btn_text",
          "label": "Button Text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_btn_border",
          "label": "Button Text Border",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "color_btn_bkg",
          "label": "Button Background Color",
          "default": "transparent"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow Style 03",
      "category": "Slideshow",
      "settings": {
        "slider_autorotate": false,
        "slider_autorotate_rate": 5
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}