<!DOCTYPE html>
<html amp>
  <head>
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <link rel="canonical" href="{{ shop.url }}">
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
	{% if settings.favicon %}
	<link rel="shortcut icon" href="{% comment ls-rpl %}{{ settings.favicon | img_url: '32x32' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: settings.favicon, img_url: '32x32' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" type="image/png" />
	{% endif %}
    <style amp-custom>
      {% include 'amp-defaultGrids.scss' %}
      {% include 'amp-baseStyle.scss' %}
      {% include 'amp-headerStyle.scss' %}
      {% include 'amp-homePageStyle.scss' %}
      {% include 'amp-footerStyle.scss' %}   
    </style>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	{%- assign google_font_loaded = ',' -%}
	{%- if settings.primary_font contains 'Google' -%}
	  {%- assign type_base_parts = settings.primary_font | split: '_' -%}
	  {% capture baseGoogleUrl %}{{ type_base_parts[1] }}{% if settings.primary_font_weight != blank %}:{{ settings.primary_font_weight }}{% endif %}&display=swap{% endcapture %}
	  {%- assign google_font_loaded = google_font_loaded | append: baseGoogleUrl | append: ',' -%}
	  {{ 'https://fonts.googleapis.com/css?family=' | append: baseGoogleUrl | stylesheet_tag }}
	{%- endif -%}
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
	<script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js" async></script>
    <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async></script>
	<script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async></script>
	<script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>

    <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript><style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
	{% if settings.enable_amp_custom == true %}
		{{ content_for_header }}
	{% else %}
		{% comment %} {{ content_for_header }} {% endcomment %}
	{% endif %}
  </head>
  <body class="{% if settings.enable_rtl_layout == true %}rtl-layout{% endif %}">
    <div class="target">
    <a class="target-anchor" id="top"></a>
    <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay">
    </amp-position-observer>
    </div>
    {% section 'amp-header' %}
    {% section 'amp-homePage' %}
    {% section 'amp-footer' %}

    <amp-animation id="showAnim" layout="nodisplay">
    <script type="application/json">
      {
        "duration": "200ms",
         "fill": "both",
         "iterations": "1",
         "direction": "alternate",
         "animations": [
           {
             "selector": "#scrollToTopButton",
             "keyframes": [
               { "opacity": "1", "visibility": "visible" }
             ]
           }
         ]
      }
    </script>
  </amp-animation>
  <amp-animation id="hideAnim" layout="nodisplay">
    <script type="application/json">
      {
       "duration": "200ms",
         "fill": "both",
         "iterations": "1",
         "direction": "alternate",
         "animations": [
           {
             "selector": "#scrollToTopButton",
             "keyframes": [
               { "opacity": "0", "visibility": "hidden" }
             ]
           }
         ]
     }
    </script>
  </amp-animation>
    
  <button id="scrollToTopButton"
  on="tap:top.scrollTo(duration=200)"
  class="scrollToTop">{% include 'icon-down-arrow' %}</button>
  </body>
</html>