{%- comment %}<locksmith:8769>{% endcomment -%}
  {%- assign locksmith_fd59_product__available = false %}{% assign locksmith_fd59_product__first_available_variant = nil %}{% assign locksmith_fd59_product__selected_variant = nil %}{% assign locksmith_fd59_product__selected_or_first_available_variant = nil %}{% assign locksmith_fd59_product__price = nil %}{% for variant in product.variants %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif %}{% if locksmith_fd59_product__available == false and variant.available %}{% assign locksmith_fd59_product__available = true %}{% endif %}{% if locksmith_fd59_product__first_available_variant == nil and variant.available %}{% assign locksmith_fd59_product__first_available_variant = variant %}{% endif %}{% if locksmith_fd59_product__selected_variant == nil and variant.selected %}{% assign locksmith_fd59_product__selected_variant = variant %}{% endif %}{% if variant == product.selected_or_first_available_variant %}{% assign locksmith_fd59_product__selected_or_first_available_variant = product.selected_or_first_available_variant %}{% endif %}{% if locksmith_fd59_product__price == nil %}{% assign locksmith_fd59_product__price = variant.price %}{% endif %}{% endfor %}{% if locksmith_fd59_product__selected_or_first_available_variant == nil %}{% assign locksmith_fd59_product__selected_or_first_available_variant = locksmith_fd59_product__first_available_variant %}{% endif -%}
{%- comment %}</locksmith:8769>{% endcomment -%}

{% layout none %}
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
{% assign product_viewmore = settings.quickshop_viewmore %}
{% assign moreview_img_width = settings.quickshop_moreview_img_width %}
{% assign moreview_img_height = settings.quickshop_moreview_img_height %}
{% assign moreview_thumbnail_margin = settings.quickshop_thumbnail_margin %}
{% assign product_manifier = settings.quickshop_manifier %}
{% assign product_img_width = settings.quickshop_img_width %}
{% assign product_img_height = settings.quickshop_img_height %}
{% assign product_manifier_width = settings.quickshop_manifier_width %}
{% assign product_zoom_ratio = settings.quickshop_zoom_ratio %}
{% assign enable_productinfo_review = settings.qs_enable_productinfo_review %}
{% assign enable_productinfo_vender = settings.qs_enable_productinfo_vender %}
{% assign enable_productinfo_sku = settings.qs_enable_productinfo_sku %}
{% assign enable_productinfo_stock = settings.qs_enable_productinfo_stock %}
{% assign enable_productnumber_stock = settings.qs_enable_productnumber_stock %}
{% assign enable_process_bar = false %}
{% assign protime_countdown_enable = false %}
{% assign enable_productinfo_wishlist = settings.qs_enable_productinfo_wishlist %}
{% assign enable_productinfo_compare = settings.qs_enable_productinfo_compare %}
{% capture data-cdzproductmedia %}
	{ "viewMoreStyle": "{{product_viewmore}}", "mvImgWidth": {{moreview_img_width}}, "mvThumbMargin": {{moreview_thumbnail_margin}}, "productManifier": {{product_manifier}}{% unless product_manifier_width == blank %}, "productManifierWidth" : {{product_manifier_width}}{% endunless %}, "productZoomRatio" : {{product_zoom_ratio}}, "rtl": {{settings.enable_rtl_layout}}}
{% endcapture %}

<div class="cdz-quickshop product-item">
<div class="product-single cdzbox-product">
	<div class="row">
		<div class="col-sm-6">
			<div class="grid product-media row" data-cdzwidget = '{"codazon.cdzProductMedia": {{data-cdzproductmedia}}}'>
				 {% if product_viewmore == 'vertical' %}
				<div class="view-more ver-viewmore col-md-3 col-lg-2">
					<ul class="view-more-list list-unstyled">
					  {%- comment %}<locksmith:fdc3>{% endcomment -%}
					    {%- assign locksmith_327b_forloop__size = 0 %}{% for image in product.images %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_327b_forloop__size = locksmith_327b_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_327b_forloop__index = nil -%}
					  {%- comment %}</locksmith:fdc3>{% endcomment -%}
					  {% for image in product.images %}
					  {%- comment %}<locksmith:ab6c>{% endcomment -%}
					    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_327b_forloop__index == nil %}{% assign locksmith_327b_forloop__index = 1 %}{% assign locksmith_327b_forloop__index0 = 0 %}{% else %}{% assign locksmith_327b_forloop__index = locksmith_327b_forloop__index | plus: 1 %}{% assign locksmith_327b_forloop__index0 = locksmith_327b_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_327b_forloop__index == 1 %}{% assign locksmith_327b_forloop__first = true %}{% else %}{% assign locksmith_327b_forloop__first = false %}{% endif %}{% if locksmith_327b_forloop__index == locksmith_327b_forloop__size %}{% assign locksmith_327b_forloop__last = true %}{% else %}{% assign locksmith_327b_forloop__last = false %}{% endif %}{% assign locksmith_327b_forloop__rindex = locksmith_327b_forloop__size | minus: locksmith_327b_forloop__index | minus: 1 %}{% assign locksmith_327b_forloop__rindex0 = locksmith_327b_forloop__size | minus: locksmith_327b_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
					  {%- comment %}</locksmith:ab6c>{% endcomment -%}
					  <li  data-item="{{locksmith_327b_forloop__index }}" {% if locksmith_327b_forloop__first == true %}class="first selected-thumb"{% endif %} data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-role="thumb-item">
						<img data-src="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" style="width: 100%" class="vm-image lazyload">
					  </li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
				<div class="{% if product_viewmore == 'horizontal' %} col-sm-12 hoz-main-image{% else %} col-md-9 col-lg-10{% endif %}">
					<div class="product-main-image nav_style01">
						{% if settings.enable_product_label %}
						{% include 'product-label' %}
						{% endif %}
						{% assign featured_image = locksmith_fd59_product__selected_or_first_available_variant.featured_image | default: product.featured_image %}
						{%- assign featured_media = locksmith_fd59_product__selected_or_first_available_variant.featured_media | default: product.featured_media -%}
						<div class="product-photo">
							{% if product.media.size > 0 %}
		                        {%- for media in product.media -%}
		                          {%- case media.media_type -%}
		                            {%- when 'image' -%}
		                            {%- assign image = media -%}
		                                {% comment ls-rpl %}{%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: '1x1' -%}{%- endcapture -%}{%- assign img_url = LS_IMG_URL | replace: '_1x1.', '_{width}x.' -%}{% comment /ls-rpl %}{% endcomment %}
		                                {%- assign img_size = product_img_width | append: 'x' | append: product_img_height -%}
		                                <div class="gallery-image product-single__image-wrapper {% if featured_image == image %} show{% endif %} {% if forloop.first == true %}item-image{% endif %}" data-image-id="{{ image.id }}" data-thumb="{% comment ls-rpl %}{{ image.src | img_url: 'compact' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'compact' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-item="{{forloop.index }}" data-src="{% comment ls-rpl %}{{ image.src | img_url: 'large' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'large' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
		                                    <a class="main-link" href="{% comment ls-rpl %}{{ image.src | img_url : 'master' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url : 'master' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" ><img src="{% comment ls-rpl %}{{ image.src | img_url: img_size}}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: img_size -%}{%- endcapture -%}{{ LS_IMG_URL}}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" style="width: 100%" class="product-image"></a>
		                                    <div class="magnify"></div>
		                                </div>
		                    		{%- endcase -%}
						          {% endfor %}
					        {% else %}
								<img class="img-responsive" src="{% comment ls-rpl %}{{ featured_image | img_url: '400x400' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: '400x400' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
							{% endif %}

						</div>
						<noscript>
							<img class="img-responsive" src="{% comment ls-rpl %}{{ featured_image | img_url: '400x400' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: featured_image, img_url: '400x400' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ featured_image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: featured_image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
						</noscript>
						
						
					</div>
				</div>
				{% if product_viewmore == 'horizontal' %}
				<div class="view-more hoz-viewmore col-sm-12">
					<ul class="view-more-list list-unstyled">
					  {%- comment %}<locksmith:32cd>{% endcomment -%}
					    {%- assign locksmith_863e_forloop__size = 0 %}{% for image in product.images %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_863e_forloop__size = locksmith_863e_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_863e_forloop__index = nil -%}
					  {%- comment %}</locksmith:32cd>{% endcomment -%}
					  {% for image in product.images %}
					  {%- comment %}<locksmith:1f04>{% endcomment -%}
					    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: image, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_863e_forloop__index == nil %}{% assign locksmith_863e_forloop__index = 1 %}{% assign locksmith_863e_forloop__index0 = 0 %}{% else %}{% assign locksmith_863e_forloop__index = locksmith_863e_forloop__index | plus: 1 %}{% assign locksmith_863e_forloop__index0 = locksmith_863e_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_863e_forloop__index == 1 %}{% assign locksmith_863e_forloop__first = true %}{% else %}{% assign locksmith_863e_forloop__first = false %}{% endif %}{% if locksmith_863e_forloop__index == locksmith_863e_forloop__size %}{% assign locksmith_863e_forloop__last = true %}{% else %}{% assign locksmith_863e_forloop__last = false %}{% endif %}{% assign locksmith_863e_forloop__rindex = locksmith_863e_forloop__size | minus: locksmith_863e_forloop__index | minus: 1 %}{% assign locksmith_863e_forloop__rindex0 = locksmith_863e_forloop__size | minus: locksmith_863e_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
					  {%- comment %}</locksmith:1f04>{% endcomment -%}
					  {% assign moreview_img_size = moreview_img_width | append: 'x' | append: moreview_img_height %}
					  <li  data-item="{{locksmith_863e_forloop__index }}" {% if locksmith_863e_forloop__first == true %}class="first selected-thumb"{% endif %} data-thumb="{% comment ls-rpl %}{{ image.src | img_url: moreview_img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: moreview_img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" data-role="thumb-item">
						<img src="{% comment ls-rpl %}{{ image.src | img_url: moreview_img_size }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: moreview_img_size -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}" class="vm-image">
					  </li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
		</div>
		<!--Product Info-->
		<div class="col-sm-6">
			<div class="product-info-main" {% unless product.variants.size == 1 %} data-cdzwidget='{"codazon.cdzCartOption" : {"handle" : "{{ product.handle }}","wrap" : "#ProductSection-{{ section.id }}"}}'{% endunless %} >
				<h1 class="page-title" itemprop="name">{{ product.title }}</h1>
				{%- if enable_productinfo_review -%}
					{% assign product__reviews-count = 0 %}
					{%- if product.metafields.spr.reviews -%}
					<div class="product-reviews">
						{% capture review_data %}{{ product.metafields.spr.reviews }}{% endcapture %}
						  {% if review_data contains '"votes"' %}
							  {% assign keyword = '"votes"' %}
						  {% else  %}
							  {% assign keyword = '"reviewCount"' %}
						  {% endif %}

						  {% assign rd_a1 = review_data | split: keyword %} 
						  {% assign rd_a2 = rd_a1[1] | split: ":" %}
						  {% assign rd_a3 = rd_a2[1] | split: '"' %}
						  {% assign product__reviews-count = rd_a3[1] | plus: 1 | minus: 1 %}
						<a href="{{ product.url | within: collection }}#reviews" class="" data-role="cdz-reviews">
						<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span><span class="review-count">{{product__reviews-count}} {% if product__reviews-count > 1 %}{{ 'products.product.reviews' | t }}{% else %}{{ 'products.product.review' | t }}{% endif%} | {{ 'products.product.add_review' | t }}</span></a>
						</div>
						{%- else -%}
						<div class="product-reviews">
							<a href="{{ product.url | within: collection }}#reviews" class="" data-role="cdz-reviews">
							</span><span class="review-count">{{ 'products.product.add_first_review' | t }}</span></a>
						</div>
					{%- endif -%} 
				{%- endif -%}
				{%- if enable_productinfo_vender -%}
					<div class="product-vender">
				        <span itemprop="brand">{{ product.vendor }}</span>
				    </div>
			    {%- endif -%}
				<div class="product-info-stock-sku">
					{%- if enable_productinfo_sku -%}
						<div class="product-sku"><strong>SKU: </strong><span>{{product.variants[0].sku}}</span></div>
					{%- endif -%}
					{%- if .enable_productinfo_stock -%}
						<div class="product-stock">
							<span class="{% if locksmith_fd59_product__available %}available{% else %}out-of-stock{% endif %}">
							{%- if locksmith_fd59_product__available -%}
								<span class="qty-stock {% unless enable_productnumber_stock %}hide{% endunless %}">{% if locksmith_fd59_product__selected_or_first_available_variant.inventory_quantity > 0 %}{{ locksmith_fd59_product__selected_or_first_available_variant.inventory_quantity }}{% endif %} </span>
								<span> </span>
								{%- if locksmith_fd59_product__selected_or_first_available_variant.inventory_quantity > 0 -%}
									<span class="label-stock">{{ 'products.product.product_stock' | t }}</span>
								{%- else -%}
									<span class="label-stock">{{ 'cart.general.btn_preorder' | t }}</span>
								{%- endif -%}
							{%- else -%}
								<span class="label-stock">{{ 'products.product.product_outofstock' | t }}</span>
							{%- endif -%}
							</span>
						</div>
					{%- endif -%}
				</div>

				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		          {% assign variant = locksmith_fd59_product__selected_or_first_available_variant %}

		          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
		          <link itemprop="availability" href="http://schema.org/{% if locksmith_fd59_product__available %}InStock{% else %}OutOfStock{% endif %}">

		          <div class="product-main-price product-single__prices{% if shop.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
			            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
			            <span class="product-single__price product-price price-box" itemprop="price" content="{{ locksmith_fd59_product__price | divided_by: 100.00 }}">
			              {{ variant.price | money }}
			            </span>

			            <span class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
							  <s class="product-single__sale-price {% if variant.compare_at_price < variant.price %}hide{% endif %}">
								{{ variant.compare_at_price | money }}
							  </s>
						{% include 'product-unit-price', variant: variant, wrapper_class: 'h5 mt-2 d-block' %}
			        </div>
		          	<!-- Countdown -->
					{% if protime_countdown_enable %}
						{% include 'product-countdown' with product %}
					{% endif %}
					<!-- Process Bar --> 
					{% if enable_process_bar %}
						{% assign totalQty = 0 %}
						{% for variant in product.variants  %}
						{%- comment %}<locksmith:8906>{% endcomment -%}
						  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
						{%- comment %}</locksmith:8906>{% endcomment -%}
						{% assign totalQty = totalQty | plus: variant.inventory_quantity %}
						{% endfor %}
						{% unless cdz_max_quantity == blank %}
						{% if totalQty < cdz_max_quantity %}
							{% assign qtySold = cdz_max_quantity | minus: totalQty %}
							<div class="deal-process">
								<div class="deal-process-title h3">{{qtySold}} {{ 'products.product.sold' | t }}</div>
								{% assign percentQty = qtySold | times: 1.0 | divided_by: cdz_max_quantity %}
								<div class="deal-process-bar"><span style="width:{{ percentQty | times: 100}}%"></span></div>
							</div>
						{% endif %}
						{% endunless %}
					{% endif %}

		          <form method="post" enctype="multipart/form-data" data-form="cdz-mini-cart">
		            <div class="product-main-options product-options">
		                <input type="hidden" name="id" value="{{ locksmith_fd59_product__selected_or_first_available_variant.id }}">
						{%- unless product.variants.size == 1 -%}
		                {% for option in product.options_with_values %}
		                    {% include 'swatch-option' with option.name, option_index : forloop.index0 %}

		                {% endfor %}
						{% assign data_stock = "" %}
						{% for variant in product.variants %}
							{%- comment %}<locksmith:60c2>{% endcomment -%}
							  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: variant, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
							{%- comment %}</locksmith:60c2>{% endcomment -%}
							{% assign data_stock = data_stock | append: "," | append:  variant.id | append: ":" | append: variant.inventory_quantity %}
						{% endfor %}
						{% assign data_stock = data_stock  | replace_first: ',', '' %}
						<label class="cdz-stock-qty d-none" data-stock-product="{{ data_stock }}">
						</label>
		                {% endunless %}
		            </div>
		            <div class="product-main-qty-sizechart">
			            <div class="qty-box">
			            	<label class="">{{ 'cart.label.qty' | t }}</label>
							<div class="cart-qty">
								<div class="qty-ctl">
									<button title="Decrease" type="button" data-role="change_cart_qty" class="decrease" data-qty="-1"></button>
								</div>
								<input class="qty input-text" type="text" name="quantity" value="1">
								<div class="qty-ctl">
									<button title="Increase" type="button" data-role="change_cart_qty" data-qty="1" class="increase"></button>
								</div>
							</div>
						</div>
					</div>
					<div class="groups-button">
						<div class="actions-primary">
						 {% if locksmith_fd59_product__available %}
							{% if locksmith_fd59_product__selected_or_first_available_variant.inventory_quantity > 0 %}
								<a class="btn btn-cart" title="{{ 'cart.general.btn_addcart' | t }}" href="javascript:void(0)"  type="button" data-addCart data-cartHandle="{{ product.handle }}">
									<span>{{ 'cart.general.btn_addcart' | t }}</span>
								</a>
							{% else %}
								<a class="btn btn-cart" title="{{ 'cart.general.btn_preorder' | t }}"  href="javascript:void(0)"  type="button" data-addCart data-cartHandle="{{ product.handle }}">
									<span>{{ 'cart.general.btn_preorder' | t }}</span>
								</a>
							{% endif %}
						{% else %}
							<button class="btn-cart disabled" disabled="disabled" type="button">
								<span>{{ 'cart.general.btn_sold_out' | t }}</span>
							</button>
						{% endif %}
						</div>
					</div>
					<div class="product-addto-links actions-secondary">
							{% if enable_productinfo_wishlist %}
							<a class="action towishlist " href="javascript:void(0);" data-title="{{ product.title }}"  data-post="{{ product.handle }}" data-action="add-to-wishlist" title="{{ 'wishlist.general.add_wishlist' | t }}">
							  <span>{{ 'wishlist.general.add_wishlist' | t }}</span>
							</a>
							{% endif %}
							{% if enable_productinfo_compare %}
							<a class="action tocompare" href="javascript:void(0);" data-title="{{ product.title }}"  data-post="{{ product.handle }}" data-action="add-to-compare" title="{{ 'compare.general.add_compare' | t }}">
							  <span>{{ 'compare.general.add_compare' | t }}</span>
							</a>
							{% endif %}
							
					</div>
		        </form>
				</div>
				<div class="product-social-sharing">
					<h2 class="h5">{{ 'products.general.share_title' | t }}</h2>
					{% include 'social-sharing' %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
